<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<!-- modale inserimento numero del verbale -->
		<!-- modale inserimento giorni per effettuare l'integrazione -->
		<div th:unless="${sedutaWrapper.seduta.numeroVerbale != null and #strings.isEmpty(sedutaWrapper.seduta.numeroVerbale)}" id="numeroVerbale-modal"
			class="modal fade modal-numeroVerbale"
			data-model-index="1" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"
							th:text="#{label.inserimento_numero_verbale}"></h4>
					</div>
					<div class="modal-body">
						<form id="formNumeroVerbale" class="form-horizontal"
							th:action="@{|/seduta/${sedutaWrapper.seduta.id}/validate|}"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">

							<input type="text" th:field="${sedutaWrapper.seduta.numeroVerbale}" class="" />

							<input id="submitButtonModal" type="submit" style="display: none;" />

						</form>
					</div>
					<div class="modal-footer">
        				<label for="submitButtonModal" class="btn btn-success pull-right" th:text="#{label.invia}">Inviak</label>
        				<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
      				</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.visualizzazione_seduta(${#temporals.format(sedutaWrapper.seduta.data, 'dd/MM/yyyy')})}">Seduta</h2>
						<div class="pull-right buttons-header">
							<a th:if="${sedutaWrapper.canBloccaSeduta == true}" class="btn btn-warning pull-right" th:href="@{|/seduta/${sedutaWrapper.seduta.id}/bloccaSeduta|}">Blocca Seduta</a>
							<div class="dropdown pull-right">
								<a class="btn btn-primary" th:text="#{label.indietro}" th:href="@{|/seduta/list|}"></a>

								<button th:if="${sedutaWrapper.canEdit == true || sedutaWrapper.canValidate == true || #sets.isEmpty(sedutaWrapper.seduta.valutazioniCommissione)}" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a th:if="${#sets.isEmpty(sedutaWrapper.seduta.valutazioniCommissione)}" th:text="#{label.elimina}" th:href="@{|/seduta/${sedutaWrapper.seduta.id}/remove|}"></a></li>
									<li><a th:if="${sedutaWrapper.canEdit == true}" th:text="#{label.modifica}" th:href="@{|/seduta/${sedutaWrapper.seduta.id}/edit|}"></a></li>
									<li><a th:if="${sedutaWrapper.canEdit == true}" th:text="#{label.gestione_domande}" th:href="@{|/seduta/${sedutaWrapper.seduta.id}/handle|}"></a></li>
									<li><a th:text="#{label.invia_email_commissione_seduta}" th:href="@{|/seduta/${sedutaWrapper.seduta.id}/convocazioneCommissione|}"></a></li>
									<th:block th:if="${sedutaWrapper.canValidate == true and !#lists.isEmpty(sedutaWrapper.seduta.valutazioniCommissione)}">
									<li><a th:if="${sedutaWrapper.seduta.numeroVerbale != null and !#strings.isEmpty(sedutaWrapper.seduta.numeroVerbale)}" th:text="#{label.inserisci_valutazione}" th:href="@{|/seduta/${sedutaWrapper.seduta.id}/validate|}"></a></li>
									<li><a th:if="${sedutaWrapper.seduta.numeroVerbale == null or #strings.isEmpty(sedutaWrapper.seduta.numeroVerbale)}" th:text="#{label.inserisci_valutazione}" data-toggle="modal" data-target=".modal-numeroVerbale"></a></li>
									</th:block>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="seduta/sedutaFragment :: seduta('show')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				$(document).ready(function() {
					$(".domande-table-show").DataTable( {
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
						"ordering" : false,
						"columnDefs": [
							{"targets": 0, "width": "1px", "sClass": "center" }
						],
					})

					if([[${errorNumeroVerbale}]] == true) {
						$("#numeroVerbale-modal").modal("show");
					}
				})

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>