<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.lista_comunicazioni_tipo(#{__${tipologiaLista}__})}"></h2>
						<div class="pull-right buttons-header">
							<a class="btn btn-primary pull-right"
									th:href="@{__${returnLink}__}"
									th:text="#{label.indietro}">Indietro</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<table th:unless="${#lists.isEmpty(listaComunicazioni)}" id="datatable-comunicazione" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th th:text="#{label.oggetto_list}"></th>
										<th th:text="#{label.mittente}"></th>
										<th th:text="#{label.destinatari}"></th>
										<th th:text="#{label.ambito_list}"></th>
										<th th:text="#{label.tipologia_list}"></th>
										<th th:text="#{label.data_ultima_risposta}"></th>
										<th th:text="#{label.stato}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="comunicazione, row : ${listaComunicazioni}">
										<td><a th:text="${comunicazione.oggetto}" th:href="@{|/comunicazione/${comunicazione.id}/show|}"></a></td>
										<td th:text="${comunicazione.mittente.isSegreteria()} ? #{label.segreteria_ecm} : ${comunicazione.mittente.getFullName()}"></td>
										<td>
											<div th:each="destinatario, row : ${comunicazione.destinatari}" th:if="${row.index &lt; 3}">
												<span th:text="${destinatario.isSegreteria()} ? #{label.segreteria_ecm} : ${destinatario.getFullName()}"></span>
											</div>
											<div th:if="${#sets.size(comunicazione.destinatari) &gt; 3}">
												<span th:text="#{label.altri_n_destinatari(${#sets.size(comunicazione.destinatari) - 3})}"></span>
											</div>
										</td>
										<td th:text="${comunicazione.ambito.nome}"></td>
										<td th:text="${comunicazione.tipologia.nome}"></td>
										<td th:text="${#temporals.format(comunicazione.dataUltimaModifica, 'dd/MM/yyyy - HH:mm')}"></td>
										<td th:text="${comunicazione.chiusa == true} ? #{label.chiusa} : #{label.aperta}"></td>
									</tr>
								</tbody>
							</table>
							<div th:if="${#lists.isEmpty(listaComunicazioni)}">
								<h2 class="col-xs-12 text-center">
									<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessuna_comunicazione_tipologia(#{__${tipologiaLista}__})}">Non ci sono comunicazioni + tipologia!</i>
								</h2>
							</div>

						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

			     $(document).ready(function() {
					$('#datatable-comunicazione').DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
					});
			     });

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>