<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" id="main-container" th:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.composizione_comunicazione}">label.composizione_comunicazione</h2>
						<div class="pull-right buttons-header">
							<label class="btn btn-success pull-right" for="submitButton"><i class="fa fa-paper-plane"></i> <span class="white" th:text="#{label.invia}"></span></label>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/comunicazione/dashboard|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<form
							id="formComunicazione" class="form-horizontal form-label-left"
							th:action="@{/comunicazione/send}"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">

							<input type="hidden" name="editId" th:value="${comunicazioneWrapper.comunicazione.id}" />
							<input type="hidden" th:field="${comunicazioneWrapper.comunicazione.mittente}" />
							<input type="hidden" th:field="${comunicazioneWrapper.ambitoList}" />
							<input type="hidden" th:field="${comunicazioneWrapper.tipologiaList}" />

							<div class="header row">
								<div class="header-comunicazione col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="mittente-container item form-group">
										<div class="col-sm-2 col-xs-2 text-right">
											<label class="control-label" th:text="#{label.from}"></label>
										</div>
										<div class="col-xs-12 col-sm-10">
											<div class="fixed-value" th:unless="${comunicazioneWrapper.comunicazione.mittente.isSegreteria()}"
												th:text="${comunicazioneWrapper.comunicazione.mittente.getFullName()} + ' &lt;' + ${comunicazioneWrapper.comunicazione.mittente.email} + '&gt;'">
											</div>
											<div class="fixed-value" th:if="${comunicazioneWrapper.comunicazione.mittente.isSegreteria()}"
												th:text="#{label.segreteria_ecm} + ' &lt;' + #{label.segreteria_ecm_mail} + '&gt;' ">
											</div>
										</div>
									</div>

									<div th:if="${comunicazioneWrapper.comunicazione.mittente.isSegreteria()}" class="filter-destinatari-container item form-group">
										<div class="col-sm-2 col-xs-2 text-right">
											<label class="control-label" th:text="#{label.filtri}"></label>
										</div>
										<div class="col-xs-12 col-sm-10">
											<select class="selectpicker" multiple="multiple"
												data-width="100%" data-style="btn-primary"
												data-size="10" data-hide-disabled="false"
												id="filterSelect" onchange="showHideDestinatari($(this).val())"
												title="Nessun filtro">
												<option th:text="#{label.commissione}"></option>
												<option th:text="#{label.osservatori}"></option>
												<option th:text="#{label.provider}"></option>
												<option th:text="#{label.referee_ecm}"></option>
											</select>
										</div>
									</div>

									<th:block th:if="${comunicazioneWrapper.comunicazione.mittente.isSegreteria()}">
										<div class="providerFilter-container item form-group" style="display: none;">
											<div class="col-sm-2 col-xs-2 text-right">
												<label class="control-label" th:text="#{label.provider_filter}"></label>
											</div>
											<div class="col-xs-12 col-sm-10">
												<div class="checkbox col-xs-6">
													<label>
														<input type="checkbox" class="flat" name="filtroProvider" value="A"/>
														<span th:text="#{label.provider_gruppoA}"></span>
													</label>
												</div>
												<div class="checkbox col-xs-6">
													<label>
														<input type="checkbox" class="flat" name="filtroProvider" value="B"/>
														<span th:text="#{label.provider_gruppoB}"></span>
													</label>
												</div>
												<div class="checkbox col-xs-6">
													<label>
														<input type="checkbox" class="flat" name="filtroProvider" value="ACCREDITATO_STANDARD"/>
														<span th:text="#{label.provider_standard}"></span>
													</label>
												</div>
												<div class="checkbox col-xs-6">
													<label>
														<input type="checkbox" class="flat" name="filtroProvider" value="ACCREDITATO_PROVVISORIAMENTE"/>
														<span th:text="#{label.provider_provvisorio}"></span>
													</label>
												</div>
											</div>
										</div>
									</th:block>

									<div class="destinatari-container item comunicazioneAlert form-group" th:classappend="${#fields.hasErrors('comunicazioneWrapper.comunicazione.destinatari')} ? 'bad'">
										<div class="col-sm-2 col-xs-2 text-right">
											<label class="control-label" th:text="#{label.to}"></label>
										</div>
										<div class="col-xs-12 col-sm-10">
											<th:block th:if="${comunicazioneWrapper.comunicazione.mittente.isSegreteria()}">
												<div class="col-xs-5 no-padding">
													<select name="from" id="optgroup" class="form-control selectMulti" size="9" multiple="multiple">
														<optgroup class="optgroup-multiselect" th:each="gruppo, gindex : ${comunicazioneWrapper.destinatariDisponibili}" th:label="${gruppo.key}" th:unless="${#sets.isEmpty(gruppo.value)}">
															<option class="option-multiselect" th:each="account, aindex : ${gruppo.value}"
																th:value="${account.id}" th:text="${account.getFullName()}"
																th:attr="gruppo=${account.provider?.gruppo},
																tipo=${account.provider?.status}"></option>
														</optgroup>
													</select>
												</div>
												<div class="col-xs-2">
													<button type="button" id="optgroup_rightAllOpt" class="btn btn-block btn-selectMulti">
														<i class="glyphicon glyphicon-forward"></i>
													</button>
													<button type="button" id="optgroup_rightSelected" class="btn btn-block btn-selectMulti">
														<i class="glyphicon glyphicon-chevron-right"></i>
													</button>
													<button type="button" id="optgroup_leftSelected" class="btn btn-block btn-selectMulti">
														<i class="glyphicon glyphicon-chevron-left"></i>
													</button>
													<button type="button" id="optgroup_leftAllOpt" class="btn btn-block btn-selectMulti">
														<i class="glyphicon glyphicon-backward"></i>
													</button>
												</div>
												<div class="col-xs-5 no-padding">
													<select th:field="${comunicazioneWrapper.comunicazione.destinatari}" name="to" id="optgroup_to" class="form-control selectMulti" size="9" multiple="multiple"></select>
												</div>
											</th:block>
											<div class="fixed-value" th:unless="${comunicazioneWrapper.comunicazione.mittente.isSegreteria()}"
												th:text="#{label.segreteria_ecm} + ' &lt;' + #{label.segreteria_ecm_mail} + '&gt;' ">
											</div>
											<div th:if="${#fields.hasErrors('comunicazioneWrapper.comunicazione.destinatari')}" class="alert" th:errors="${comunicazioneWrapper.comunicazione.destinatari}"></div>
										</div>
									</div>

									<div class="oggetto-container item comunicazioneAlert form-group" th:classappend="${#fields.hasErrors('comunicazioneWrapper.comunicazione.oggetto')} ? 'bad'">
										<div class="col-sm-2 col-xs-2 text-right">
											<label class="control-label" th:text="#{label.oggetto}"></label>
										</div>
										<div class="col-xs-12 col-sm-10">
											<div class="no-padding">
												<input th:field="${comunicazioneWrapper.comunicazione.oggetto}" type="text"
													class="form-control comunicazione-input"/>
											</div>
											<div th:if="${#fields.hasErrors('comunicazioneWrapper.comunicazione.oggetto')}" class="alert" th:errors="${comunicazioneWrapper.comunicazione.oggetto}"></div>
										</div>
									</div>
								</div>

								<div class="subheader-comunicazione col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="ambito-container item comunicazioneAlert form-group" th:classappend="${#fields.hasErrors('comunicazioneWrapper.comunicazione.ambito')} ? 'bad'">
										<div class="col-sm-4 col-xs-2 text-right">
											<label class="control-label" th:text="#{label.ambito}"></label>
										</div>
										<div class="col-xs-12 col-sm-8">
											<div class="no-padding">
												<select
													class="selectpicker"
													th:field="${comunicazioneWrapper.comunicazione.ambito}"
													data-width="100%" data-style="btn-primary"
													data-actions-box="true" data-size="10"
													data-hide-disabled="false"
													id="ambitoSelect" onchange="abilitaTipologia();"
													title="Seleziona un ambito...">
													<option
														th:each="ambito, row: ${comunicazioneWrapper.ambitoList}"
														th:value="${ambito}"
														th:text="${ambito.nome}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('comunicazioneWrapper.comunicazione.ambito')}" class="alert" th:errors="${comunicazioneWrapper.comunicazione.ambito}"></div>
										</div>
									</div>

									<div class="tipologia-container item comunicazioneAlert form-group" th:classappend="${#fields.hasErrors('comunicazioneWrapper.comunicazione.tipologia')} ? 'bad'">
										<div class="col-sm-4 col-xs-2 text-right">
											<label class="control-label" th:text="#{label.tipologia}"></label>
										</div>
										<div class="col-xs-12 col-sm-8">
											<div class="no-padding">
												<select
													class="selectpicker"
													th:field="${comunicazioneWrapper.comunicazione.tipologia}"
													data-width="100%" data-style="btn-primary"
													data-actions-box="true" data-size="10"
													data-hide-disabled="false"
													th:disabled="${comunicazioneWrapper.comunicazione.ambito == null}"
													id="tipologiaSelect"
													title="Seleziona una tipologia...">
													<option
														th:each="tipo, row: ${comunicazioneWrapper.tipologiaList}"
														th:value="${tipo}"
														th:text="${tipo.nome}"
														th:name="${tipo.ambito}">
													</option>
												</select>
												<div th:if="${#fields.hasErrors('comunicazioneWrapper.comunicazione.tipologia')}" class="alert" th:errors="${comunicazioneWrapper.comunicazione.tipologia}"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="divider"></div>

							<div class="comunicazione-content row">
								<div class="col-xs-12">
									<textarea class="comunicazione-testo" th:field="${comunicazioneWrapper.comunicazione.messaggio}"></textarea>
								</div>

								<th:block th:include="fragments/allegati :: allegati(comunicazioneWrapper, false, allegatoComunicazione, null, null, null, false, null, false)" ></th:block>
							</div>

							<input id="submitButton" type="submit" style="display: none;" />

						</form>

					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/
				var destinatariIds = [[${comunicazioneWrapper.comunicazione.destinatari}]];
				var filtriProvider = []
				$(document).ready(function() {
					$("#optgroup").multiselect({
						keepRenderingSort: true,
						ignoreDisabled: true
					});

					$(".tipologia-container").on("hidden.bs.select", function() {
						$(this).removeClass('bad').find('div.alert').fadeOut(150, function() {
							$(this).remove();
						});
					});

					$(".ambito-container").on("changed.bs.select", function() {
						abilitaTipologia();
					});

					$(".ambito-container").on("hidden.bs.select", function() {
						$(this).removeClass('bad').find('div.alert').fadeOut(150, function() {
							$(this).remove();
						});
					});

					if([[${comunicazioneWrapper.comunicazione.ambito}]]) {
						initTipologia();
					}

					//riseleziona i destinatari selezionati in caso di errore
					if(destinatariIds != null) {
						for(var i = 0; i < destinatariIds.length; i++) {
							moveToRightOptions($('option[value="'+ destinatariIds[i].id +'"]'));
						}
					}

					$('input[name="filtroProvider"]').on("ifChecked", function() {
						filtriProvider.push(this.value);
						applyFilters(filtriProvider);
					})
					$('input[name="filtroProvider"]').on("ifUnchecked", function() {
						var filterValue = this.value
						//rimuove elemento dalla lista
						filtriProvider = $.grep(filtriProvider, function(value) {
							return value != filterValue;
						});
						applyFilters(filtriProvider);
					})

				});

				function removeAlerts() {
					$(".destinatari-container").removeClass('bad-remade').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
				}

				//abilita le tipologia al change dell'ambito
				function abilitaTipologia(){
					// abilita la select della tipologia
					$("#tipologiaSelect").prop("disabled", false);
					// cicla le tipologie mostrando quelle relative all'ambito e nascondendo le altre
					$.each($("#tipologiaSelect option"), function() {
						if($(this).attr("name") == $("#ambitoSelect").val())
							$(this).show();
						else $(this).hide();
					});
					$("#tipologiaSelect").selectpicker('deselectAll');
					$("#tipologiaSelect").selectpicker("refresh");
				}

				//mostra nasconde le tipologia al doc ready se ambito non è null
				function initTipologia() {
					$.each($("#tipologiaSelect option"), function() {
						if($(this).attr("name") == $("#ambitoSelect").val())
							$(this).show();
						else $(this).hide();
					});
					$("#tipologiaSelect").selectpicker("refresh");
				}

				//seleziona le option con il plugin multiselect
				function moveToRightOptions(options) {
					options.each(function(index, option) {
                        var $option = $(option);
                        if ($option.is(':disabled')) {
                            return true;
                        }
                        if ($option.parent().is('optgroup')) {
                            var $leftGroup = $option.parent();
                            var $rightGroup = $("#optgroup_to").find('optgroup[label="' + $leftGroup.prop('label') + '"]');
                            if (!$rightGroup.length) {
                                $rightGroup = $leftGroup.clone();
                                $rightGroup.children().remove();
                            }
                            $option = $rightGroup.append($option);
                            $leftGroup.removeIfEmpty();
                        }
                        $("#optgroup_to").move($option);
					})
				}

				function showHideDestinatari(criteria) {
					console.log(criteria);
					hideAllOptgroups();
					if(criteria == null) {
						showAllOptgroups();
					}
					else {
						$.each(criteria, function(index, group) {
							var $optgroup = $("#optgroup").find('optgroup[label="'+ group +'"]');
							$optgroup.show();
							$optgroup.prop('disabled', false);
							var $options = $optgroup.children();
							$options.each(function(i, option) {
								$(option).show().prop('disabled', false).removeClass("hidden");
							})
						})
					}
					enableDisableFilterProvider(criteria);
				}

				function hideAllOptgroups() {
					$("#optgroup > optgroup").each(function(index, optgroup) {
						var $optgroup = $(optgroup);
						$optgroup.hide();
						$optgroup.prop('disabled', true);
						var $options = $optgroup.children();
						$options.each(function(i, option) {
							$(option).hide().prop('disabled', true).addClass("hidden");
						})
					})
				}

				function showAllOptgroups() {
					$("#optgroup > optgroup").each(function(index, optgroup) {
						var $optgroup = $(optgroup);
						$optgroup.show();
						$optgroup.prop('disabled', false);
						var $options = $optgroup.children();
						$options.each(function(i, option) {
							$(option).show().prop('disabled', false).removeClass("hidden");
						})
					})
				}

				function enableDisableFilterProvider(criteria) {
					if($.inArray("Provider", criteria) != -1) {
						$(".providerFilter-container").slideDown("slow");
						applyFilters(filtriProvider);
					}
					else {
						$(".providerFilter-container").slideUp("slow");
						$('input[name="filtroProvider"]').each(function(i, check) {
							$(check).iCheck('uncheck');
						})
					}
				}

				function applyFilters(criteria) {
					console.log(criteria);
					hideAllProviders();
					if(criteria.length == 0) {
						showAllProviders();
					}
					else {
						var $providers = $('#optgroup > optgroup[label="Provider"] > option');
						$.each(criteria, function(index, filter) {
							$providers.each(function(i, provider) {
								var $provider = $(provider);
								if($provider.attr("gruppo") == filter) {
									$provider.show().prop("disabled", false).removeClass("hidden");
								}
								else if($provider.attr("tipo") == filter) {
									$provider.show().prop("disabled", false).removeClass("hidden");
								}
							})
						})
					}
				}

				function hideAllProviders() {
					var $providers = $('#optgroup > optgroup[label="Provider"] > option');
					$providers.each(function(index, provider) {
						$(provider).hide().prop("disabled", true).addClass("hidden");
					})
				}

				function showAllProviders() {
					var $providers = $('#optgroup > optgroup[label="Provider"] > option');
					$providers.each(function(index, provider) {
						$(provider).show().prop("disabled", false).removeClass("hidden");
					})
				}


			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>