<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.cerca_comunicazione}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
								<a class="btn btn-primary" th:if="${ricercaComunicazioneWrapper.providerId != null}" th:href="@{|/provider/${ricercaComunicazioneWrapper.providerId}/comunicazione/list|}" th:text="#{label.indietro}"></a>
  								<a class="btn btn-primary" th:unless="${ricercaComunicazioneWrapper.providerId != null}" th:href="@{/comunicazione/all/list}" th:text="#{label.indietro}"></a>
  								<a class="btn btn-success" th:text="#{label.cerca}" onclick="submitCerca()"></a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

				<th:block th:fragment="ricercaComunicazione">
			
					<div class="x_content">
			
						<form id="formRicercaComunicazione" class="form-horizontal form-label-left form-evento"
							th:action="@{|/comunicazione/ricerca|}"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">
							
								<input type="hidden" th:field="${ricercaComunicazioneWrapper.providerId}" />
							
								<th:block th:if="${ricercaComunicazioneWrapper.providerId == null}">
									<!-- ID PROVIDER -->
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="providerId">
											<span th:text="${'ID '} + #{label.provider}">Provider</span>
										</label>
				
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="providerId">
											<input type="text" pattern="numeric" class="form-control" th:field="${ricercaComunicazioneWrapper.campoIdProvider}" />
										</div>
									</div>
								
									<!-- DENOMINAZIONE LEGALE PROVIDER -->
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="denominazioneLegale">
											<span th:text="#{label.denominazione_legale} + ${' '}  + #{label.provider}">Provider</span>
										</label>
				
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="denominazioneLegale">
											<input type="text" class="form-control" th:field="${ricercaComunicazioneWrapper.denominazioneLegale}" />
										</div>
									</div>
									
									<div class="divider-dashed"></div>
								</th:block>	
									
								<!-- OGGETTO -->
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-11" for="oggetto">
										<span th:text="#{label.oggetto}">Oggetto</span>
									</label>
			
									<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="oggetto">
										<input type="text" class="form-control" th:field="${ricercaComunicazioneWrapper.oggetto}" />
									</div>
								</div>
								
								<!-- Ambito Comunicazione -->
								<div class="item form-group select-ambito-comunicazione">
									<label class="control-label col-md-3 col-sm-3 col-xs-11" for="ambito">
										<span th:text="#{label.ambito}">ambito</span>
									</label>

									<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
										<select id="ambito" 
											multiple="multiple"
											class="selectpicker"
											th:field="${ricercaComunicazioneWrapper.ambitiSelezionati}"
											data-width="100%" data-style="btn-primary"
											data-actions-box="true" data-size="10"
											data-hide-disabled="false"
											title="Seleziona un ambito...">
											<option
												th:each="ambito, row: ${T(it.tredi.ecm.dao.enumlist.ComunicazioneAmbitoEnum).values()}"
												th:value="${ambito}"
												th:text="${ambito.nome}">
											</option>
										</select>
									</div>
								</div>
								
								<!-- Tipologia Comunicazione -->
								<div class="item form-group select-tipologia-comunicazione">
									<label class="control-label col-md-3 col-sm-3 col-xs-11" for="tipologia">
										<span th:text="#{label.tipologia}">tipologia</span>
									</label>

									<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
										<select id="tipologia" 
											multiple="multiple"
											class="selectpicker"
											th:field="${ricercaComunicazioneWrapper.tipologieSelezionate}"
											data-width="100%" data-style="btn-primary"
											data-actions-box="true" data-size="10"
											data-hide-disabled="false"
											title="Seleziona una tipologia...">
											<option
												th:each="tipologia, row: ${T(it.tredi.ecm.dao.enumlist.ComunicazioneTipologiaEnum).values()}"
												th:value="${tipologia}"
												th:text="${tipologia.nome}">
											</option>
										</select>
									</div>
								</div>
								
								<div class="divider-dashed"></div>
								
								<!-- START - DATA CREAZIONE -->
								<div class="item form-group">
									<label class="control-label col-sm-2 col-xs-11" for="dataCreazioneStart">
										<span th:text="#{label.da}">Da</span>
									</label>
									<div class="col-sm-4 col-xs-12 input-group datapick">
										<input type="text" id="dataCreazioneStart" class="form-control"
											name="data" th:field="${ricercaComunicazioneWrapper.dataCreazioneStart}" />
										<span class="input-group-addon" id="dataCreazioneStartButton" onclick="$('#dataCreazioneStart').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
									<label class="control-label col-sm-2 col-xs-11" for="dataCreazioneEnd">
										<span th:text="#{label.a}">A</span>
									</label>
									<div class="col-sm-4 col-xs-12 input-group datapick">
										<input type="text" id="dataCreazioneEnd" class="form-control"
											name="data" th:field="${ricercaComunicazioneWrapper.dataCreazioneEnd}" />
										<span class="input-group-addon" id="dataCreazioneEndButton" onclick="$('#dataCreazione').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
								</div>
								
							<input id="submitButton" type="submit" style="display: none;" />
			
						</form>
			
						<script src="../static/js/province.js" th:src="@{/js/province.js}"></script>
						<script th:inline="javascript">
						/*<![CDATA[*/
						     var days;
							 var months;    
						           
						    $(document).ready(function() {
								//init selecpicker
							    $('select').selectpicker({
									selectAllText : 'Seleziona tutti',
									deselectAllText : 'Deseleziona tutti',
									countSelectedText : '{0} selezionate'
								});
								
							    days = getDayNamesShort();
								months = getMonthNames();

								$('#dataCreazioneStart').daterangepicker({
							        singleDatePicker: true,
							        autoApply: true,
							        autoUpdateInput: true,
							        format: "DD/MM/YYYY",
							        locale: {
								        daysOfWeek: days,
						                monthNames: months,
							        }
							    })

							    $('#dataCreazioneEnd').daterangepicker({
							        singleDatePicker: true,
							        autoApply: true,
							        autoUpdateInput: true,
							        format: "DD/MM/YYYY",
							        locale: {
								        daysOfWeek: days,
						                monthNames: months,
							        }
							    })
							    

							});       
						           
							function submitCerca(){
								$("#submitButton").click();
							}
							
						/*]]>*/
						</script>
			
			
					</div>
			
				</th:block>
			</div>
		</div>
	</div>
</div>
</body>
</html>