<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" id="main-container" th:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.dati_del} + ' ' + ${personaWrapper.persona.ruolo.nome}">Dati del persona.ruolo</h2>
						<div class="pull-right buttons-header">
							<th:block th:unless="${#lists.isEmpty(personaWrapper.idEditabili)}">
								<button class="btn btn-success pull-right" th:text="#{label.salva}" form="formPersona" type="submit"></button>
							</th:block>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|${returnLink}|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="persona/personaFragment :: persona('edit')"></th:block>

				</div>
			</div>
		</div>
	</div>
</body>
</html>