<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" th:with="counter=${personaWrapper.idOffset - 1}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.dati_del} + ' ' + ${personaWrapper.persona.ruolo.nome}">Dati del persona.ruolo</h2>
						<a class="btn btn-primary pull-right" th:text="#{label.nuovo}" th:href="@{|/accreditamento/${personaWrapper.accreditamentoId}/provider/${personaWrapper.providerId}/persona/newAnagrafica?ruolo=${personaWrapper.persona.ruolo}|}"></a>
						<a class="btn btn-primary pull-right" th:text="#{label.annulla}" th:href="@{|/accreditamento/${personaWrapper.accreditamentoId}|}"></a>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form id="formPersona" class="form-horizontal form-label-left" th:action="@{|/accreditamento/${personaWrapper.accreditamentoId}/provider/${personaWrapper.providerId}/persona/save|}"
								method="post" enctype="multipart/form-data" novalidate="novalidate">
								
							<input type="hidden" name="editId" th:value="${personaWrapper.persona.id}" />
							<input type="hidden" name="editId_Anagrafica" th:value="${personaWrapper.persona.anagrafica.id}" /> 
							<input type="hidden" th:field="${personaWrapper.accreditamentoId}" /> 
							<input type="hidden" th:field="${personaWrapper.providerId}" /> 
							<input type="hidden" th:field="${personaWrapper.ruolo}" /> 
							<input type="hidden" th:field="${personaWrapper.idEditabili}" />
							<input type="hidden" th:field="${personaWrapper.idOffset}" />
							
							<!--	
							<input type="hidden" name="editIdFileAtto" th:value="${personaWrapper.nomina.id}" />
							<input type="hidden" name="editIdFileCV" th:value="${personaWrapper.curriculumVitae.id}" />
							<input type="hidden" name="editIdFileDelega" th:value="${personaWrapper.delega.id}" />
							 -->
							
							<!-- cognome -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.cognome')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">1</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="cognome_persona"><span th:text="#{label.cognome}">Cognome</span> <span	class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="cognome_persona"	name="cognome_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="text" th:field="${personaWrapper.persona.anagrafica.cognome}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="cognome_persona"	
											class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.anagrafica.cognome}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.cognome')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.cognome}"></div>
							</div>
							
							<!-- nome -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.nome')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">2</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="cognome_persona"><span th:text="#{label.nome}">Nome</span> <span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="nome_persona" name="nome_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="text" th:field="${personaWrapper.persona.anagrafica.nome}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="nome_persona" class="control-label left-align col-md-7 col-xs-12"
											 th:text="${personaWrapper.persona.anagrafica.nome}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.nome')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.nome}"></div>
							</div>
							
							<!-- codice fiscale -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.codiceFiscale')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">3</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="codiceFiscale_persona"><span th:text="#{label.codice_fiscale}">Codice Fiscale</span> <span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">									
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="codiceFiscale_persona" name="codiceFiscale_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="text" th:field="${personaWrapper.persona.anagrafica.codiceFiscale}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="codiceFiscale_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.anagrafica.codiceFiscale}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.codiceFiscale')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.codiceFiscale}"></div>
							</div>
							
							<!-- checkbox flag straniero -->
							<div th:if="${personaWrapper.persona.coordinatoreComitatoScientifico} or
										${personaWrapper.persona.componenteComitatoScientifico}"
								class="item form-group">
								<label class="control-label col-xs-1"></label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="isStraniero_persona"><span th:text="#{label.cf_straniero}">Ha un codice fiscale non italiano</span> <span class="required">*</span></label>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="isStraniero_persona" name="isStraniero_persona" 
										class="form-control col-md-7 col-xs-12"
										type="checkbox" th:checked="${personaWrapper.persona.anagrafica.isStraniero}" />
								</div>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.codiceFiscale')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.codiceFiscale}"></div>
							</div>
							
							<!-- telefono -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.telefono')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">4</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="telefono_persona"><span th:text="#{label.telefono}">Telefono</span> <span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">																	
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="telefono_persona" name="telefono_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="tel" th:field="${personaWrapper.persona.anagrafica.telefono}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="telefono_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.anagrafica.telefono}"></label>
									</div>
								</th:block>								
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.telefono')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.telefono}"></div>
							</div>
							
							<!-- cellulare -->
							<div th:unless="${personaWrapper.persona.responsabileSegreteria} or 
											${personaWrapper.persona.responsabileFormazione} or
											${personaWrapper.persona.responsabileSistemaInformatico} or
											${personaWrapper.persona.responsabileQualita}" 
								class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.cellulare')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">5</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="cellulare_persona"><span th:text="#{label.cellulare}">Cellulare</span> <span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">																									
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="cellulare_persona" name="cellulare_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="tel" th:field="${personaWrapper.persona.anagrafica.cellulare}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="cellulare_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.anagrafica.cellulare}"></label>
									</div>
								</th:block>					
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.cellulare')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.cellulare}"></div>
							</div>
							
							<!-- email -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.email')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">6</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="email_persona"><span th:text="#{label.email}">Email</span> <span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">									
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="email_persona" name="email_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="email" th:field="${personaWrapper.persona.anagrafica.email}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="email_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.anagrafica.email}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.email')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.email}"></div>
							</div>
							
							<!-- posta elettronica certificata (PEC) -->
							<div th:if="${personaWrapper.persona.legaleRappresentante} or
										${personaWrapper.persona.delegatoLegaleRappresentante}"
								class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.pec')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">7</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="pec_persona"><span th:text="#{label.posta_elettronica_certificata}">Posta elettronica certificata (PEC)</span> <span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="pec_persona" name="pec_persona" 
											required="required"	class="form-control col-md-7 col-xs-12"
											type="email" th:field="${personaWrapper.persona.anagrafica.pec}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="pec_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.anagrafica.pec}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.pec')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.pec}"></div>
							</div>
							
							<!-- professione -->	
							<div th:if="${personaWrapper.persona.coordinatoreComitatoScientifico} or
										${personaWrapper.persona.componenteComitatoScientifico} or
										${personaWrapper.persona.responsabileSistemaInformatico} or
										${personaWrapper.persona.responsabileQualita}"
								class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.professione')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">8</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="professione_persona"><span th:text="#{label.professione}">Professione</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<select id="professione_persona" class="form-control required" th:field="${personaWrapper.persona.professione}">
			                          			<option value="" th:text="#{label.seleziona}">label.seleziona</option>
			                          			<option th:each="professione : ${elencoProfessioni}" th:value="${professione}" th:text="${professione}">Choose option</option>
			                        	</select>
								  	</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="professione_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.persona.professione}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.persona.professione')}" class="alert" th:errors="${personaWrapper.persona.professione}"></div>
							</div>
																
							<!-- allegato 1 (atto di nomina) -->
							<div th:unless="${personaWrapper.persona.delegatoLegaleRappresentante}"
								class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.attoNomina')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">9</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11" for="attoNomina_persona">
									<span th:text="#{label.atto_nomina}">Atto di nomina</span>
									<span class="required">*</span>
								</label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
											<input th:unless="${personaWrapper.attoNomina.data}" type="file" id="attoNomina_persona" name="attoNomina_persona" required="required"
												class="form-control col-md-7 col-xs-12 btn"/>
												
											<span th:if="${personaWrapper.attoNomina.data}" id="attoNominaFile" class="form-control col-md-5 col-xs-10">
												<span class="col-md-11 col-xs-11">
													<a th:text="${personaWrapper.attoNomina.nomeFile}" th:href="@{|/files/${personaWrapper.attoNomina.id}|}"></a>
												</span>
												<span class="col-md-1 col-xs-1">
													<a th:href="@{|/files/${personaWrapper.attoNomina.id}/delete|}">
														<i class="fa fa-remove red icon"></i>
													</a>
												</span>
											</span>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="attoNomina_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.attoNomina.nomeFile}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.attoNomina')}" class="alert" th:errors="${personaWrapper.attoNomina}"></div>
							</div>
							
							<!-- allegato 2 (curriculum vitae) -->
							<div th:unless="${personaWrapper.persona.legaleRappresentante}"
								class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.cv.data')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">10</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11" for="cv_persona">
									<span th:text="#{label.curriculum_vitae}">Curriculum vitae</span>
									<span class="required">*</span>
								</label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
											<input type="file" id="cv_persona" name="cv_persona" required="required"
												class="form-control col-md-7 col-xs-12 btn" th:field="${personaWrapper.cv.nomeFile}"/>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="cv_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.cv.nomeFile}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.cv.data')}" class="alert" th:errors="${personaWrapper.cv.data}"></div>
							</div>
							
							<!-- allegato 3 (atto di delega) -->
							<div th:if="${personaWrapper.persona.delegatoLegaleRappresentante}"
								class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.delega.data')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${++counter}">11</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11" for="delega_persona">
									<span th:text="#{label.atto_delega}">Atto di delega</span>
									<span class="required">*</span>
								</label>
								<th:block th:if="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
											<input type="file" id="delega_persona" name="delega_persona" required="required"
												class="form-control col-md-7 col-xs-12 btn" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(personaWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="delega_persona" class="control-label left-align col-md-7 col-xs-12"
											th:text="${personaWrapper.delega.nomeFile}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('personaWrapper.delega.data')}" class="alert" th:errors="${personaWrapper.delega.data}"></div>
							</div>
							
							<!-- Registra Persona -->
							<div class="item form-group text-right">
								<input class="btn btn-primary right" name="save_persona" type="submit" th:value="#{label.salva}"/>
							</div>							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>