<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- fragment interno della persona, la parte di paginazione è gestita dai file personaShow e personaEdit -->
	<!-- parametri del fragment: boolean passato come parametro e prende personaWrapper dal module del chiamante -->
	<th:block th:fragment="persona(editabile)">
		<!-- ogni parte non in comune tra le due sarà gestito in maniera appropriata -->
		<th:block th:with="counter=${(editabile == true) ? (personaWrapper.idOffset-1) : null}">

					<div class="x_content">
						<!-- rimove il tag form se la persona NON è editabile -->
						<div class="form-horizontal form-label-left" th:remove="${!editabile} ? none : tag">
							<form th:remove="${editabile} ? none : tag"
								id="formPersona" class="form-horizontal form-label-left"
								th:action="@{|/accreditamento/${personaWrapper.accreditamentoId}/provider/${personaWrapper.providerId}/persona/save|}"
								method="post" enctype="multipart/form-data"
								novalidate="novalidate">

						<!-- gli input hidden non sono necessari se NON editabile -->
						<th:block th:if="${editabile}">
							<input type="hidden" name="editId" th:value="${personaWrapper.persona.id}" />
							<input type="hidden" name="editId_Anagrafica" th:value="${personaWrapper.persona.anagrafica.id}" />
							<input type="hidden" th:field="${personaWrapper.accreditamentoId}" />
							<input type="hidden" th:field="${personaWrapper.providerId}" />
							<input type="hidden" th:field="${personaWrapper.ruolo}" />
							<input type="hidden" th:field="${personaWrapper.idEditabili}" />
							<input type="hidden" th:field="${personaWrapper.idOffset}" />
							<input id="hidden-lookup" type="hidden" th:field="${personaWrapper.isLookup}" />
						</th:block>

						<!-- CHECKBOX FLAG COORDINATORE -->
						<div th:if="${personaWrapper.persona.coordinatoreComitatoScientifico} or
									${personaWrapper.persona.componenteComitatoScientifico}"
							class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.coordinatoreComitatoScientifico')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="isCoordinatore_comitato">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${editabile ? #messages.msg('label.is_coordinatore') : #messages.msg('label.inserito_come_coordinatore')}">Inserisci come Coordinatore del Comitato Scientifico</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="checkbox">
										<input id="isCoordinatore_comitato" name="isCoordinatore_comitato"
											class="flat" type="checkbox" th:field="${personaWrapper.persona.coordinatoreComitatoScientifico}" th:disabled="${#lists.isEmpty(personaWrapper.idEditabili)}" />
									</div>
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.coordinatoreComitatoScientifico ? #messages.msg('label.sì') : #messages.msg('label.no')}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.coordinatoreComitatoScientifico')}" class="alert" th:errors="${personaWrapper.persona.coordinatoreComitatoScientifico}"></div>
						</div>

						<!-- COGNOME -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.cognome')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.cognome',personaWrapper.ruolo) : ''}"></label>
							
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="cognome_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.cognome}">Cognome</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="cognome_persona"	name="cognome_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="text" th:field="${personaWrapper.persona.anagrafica.cognome}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.cognome}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.cognome')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.cognome}"></div>
						</div>

						<!-- NOME -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.nome')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.nome',personaWrapper.ruolo) : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="cognome_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.nome}">Nome</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="nome_persona" name="nome_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="text" th:field="${personaWrapper.persona.anagrafica.nome}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.nome}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.nome')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.nome}"></div>
						</div>

						<!-- CODICE FISCALE -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.codiceFiscale')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.codiceFiscale',personaWrapper.ruolo) : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="codiceFiscale_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.codice_fiscale}">Codice Fiscale</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="codiceFiscale_persona" name="codiceFiscale_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter) or personaWrapper.isLookup}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="text" th:field="${personaWrapper.persona.anagrafica.codiceFiscale}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.codiceFiscale}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.codiceFiscale')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.codiceFiscale}"></div>
						</div>

						<!-- CHECKBOX FLAG STRANIERO -->
						<div th:if="${personaWrapper.persona.coordinatoreComitatoScientifico} or
									${personaWrapper.persona.componenteComitatoScientifico}" class="item form-group">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="isStraniero_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.cf_straniero}">Ha un codice fiscale non italiano</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="checkbox">
										<input id="isStraniero_persona" name="isStraniero_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
											class="flat" type="checkbox" th:field="${personaWrapper.persona.anagrafica.straniero}" />
									</div>
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.straniero ? #messages.msg('label.sì') : #messages.msg('label.no')}">Sì</div>
								</div>
							</th:block>
						</div>

						<!-- TELEFONO -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.telefono')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.telefono',personaWrapper.ruolo)  : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="telefono_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.telefono}">Telefono</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="telefono_persona" name="telefono_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="tel" th:field="${personaWrapper.persona.anagrafica.telefono}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.telefono}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.telefono')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.telefono}"></div>
						</div>

						<!-- CELLULARE -->
						<div th:unless="${personaWrapper.persona.responsabileSegreteria} or
										${personaWrapper.persona.responsabileFormazione} or
										${personaWrapper.persona.responsabileSistemaInformatico} or
										${personaWrapper.persona.responsabileQualita}"
							class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.cellulare')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.cellulare',personaWrapper.ruolo)  : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="cellulare_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.cellulare}">Cellulare</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="cellulare_persona" name="cellulare_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="tel" th:field="${personaWrapper.persona.anagrafica.cellulare}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.cellulare}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.cellulare')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.cellulare}"></div>
						</div>

						<!-- EMAIL -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.email')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.email',personaWrapper.ruolo)  : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="email_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.email}">Email</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="email_persona" name="email_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="email" th:field="${personaWrapper.persona.anagrafica.email}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.email}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.email')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.email}"></div>
						</div>

						<!-- POSTA ELETTRONICA CERTIFICATA (PEC) -->
						<div th:if="${personaWrapper.persona.legaleRappresentante}"
							class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.anagrafica.pec')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.anagrafica.pec',personaWrapper.ruolo)  : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="pec_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.posta_elettronica_certificata}">Posta elettronica certificata (PEC)</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input id="pec_persona" name="pec_persona" th:disabled="${!#lists.contains(personaWrapper.idEditabili, counter)}"
										required="required"	class="form-control col-md-7 col-xs-12"
										type="email" th:field="${personaWrapper.persona.anagrafica.pec}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.anagrafica.pec}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.anagrafica.pec')}" class="alert" th:errors="${personaWrapper.persona.anagrafica.pec}"></div>
						</div>

						<!-- PROFESSIONE -->
						<div th:if="${personaWrapper.persona.coordinatoreComitatoScientifico} or
									${personaWrapper.persona.componenteComitatoScientifico} or
									${personaWrapper.persona.responsabileSistemaInformatico} or
									${personaWrapper.persona.responsabileQualita}"
							class="item form-group" th:classappend="${#fields.hasErrors('personaWrapper.persona.professione')} ? 'bad'">
							<label class="control-label col-xs-1" th:text="${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.professione',personaWrapper.ruolo)  : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="professione_persona">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.professione}">Professione</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
		                        	<select id="professione_persona" class="selectpicker"
										data-width="100%" data-style="btn-primary" data-actions-box="true"
										data-size="10" title="Seleziona una professione..."
										th:remove="all-but-first"
										th:field="${personaWrapper.persona.professione}"
										th:disabled="${!editabile or !#lists.contains(personaWrapper.idEditabili, counter)}">
										<option th:each="professione, row: ${professioneList}"
											th:value="${professione.id}" th:text="${professione.nome}">Professione selezionata</option>
									</select>
							  	</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="value" th:text="${personaWrapper.persona.professione.nome}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('personaWrapper.persona.professione')}" class="alert" th:errors="${personaWrapper.persona.professione}"></div>
						</div>

						<!-- ALLEGATO 1 (ATTO DI NOMINA) -->
						<div th:unless="${personaWrapper.persona.delegatoLegaleRappresentante}">
							<div th:if="${editabile}" class="divider-dashed"></div>
							<th:block th:include="fragments/allegati :: allegati(personaWrapper, true, attoNomina, ${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.file.attoNomina',personaWrapper.ruolo) : null}, null, true, ${editabile})" ></th:block>
						</div>

						<!-- ALLEGATO 2 (CURRICULUM VITAE) -->
						<div th:if="${editabile}" class="divider-dashed"></div>
						<th:block th:include="fragments/allegati :: allegati(personaWrapper, true, cv, ${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.file.cv',personaWrapper.ruolo) : null}, null, true, ${editabile})"></th:block>

						<!-- ALLEGATO 3 (DELEGA) -->
						<div th:if="${personaWrapper.persona.delegatoLegaleRappresentante}">
							<div th:if="${editabile}" class="divider-dashed"></div>
							<th:block th:include="fragments/allegati :: allegati(personaWrapper, true, delega, ${counter != null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('persona.file.delega',personaWrapper.ruolo) : null}, null, true, ${editabile})"></th:block>
						</div>
					</form>
				</div>
			</div>
		</th:block>
	</th:block>
</body>
</html>