<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" id="main-container" th:fragment="content" th:with="counter=${personaWrapper.idOffset - 1}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.dati_del} + ' ' + ${personaWrapper.persona.ruolo.nome}">Dati del persona.ruolo</h2>
						<div class="pull-right buttons-header">
							<th:block th:unless="${#lists.isEmpty(personaWrapper.idEditabili)}">
								<button class="btn btn-success pull-right" th:text="#{label.salva}" form="formPersona" type="submit"></button>
								<button id="cerca-persona-btn" class="btn btn-primary pull-right" th:text="#{label.lookup}" data-toggle="modal" data-target=".modal-lookup">lookup</button>
								<a class="btn btn-primary pull-right" th:text="#{label.nuovo}" onclick="unsetIsLookup()" th:href="@{|/accreditamento/${personaWrapper.accreditamentoId}/provider/${personaWrapper.providerId}/persona/${personaWrapper.persona.ruolo}/setAnagrafica|}"></a>
							</th:block>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/accreditamento/${personaWrapper.accreditamentoId}|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<!-- finestra modale di lookup delle anagrafiche -->
					<div id="persona-modal" class="modal fade modal-lookup" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
									</button>
									<h4 class="modal-title" id="myModalLabel" th:text="#{label.cerca_persona}">Cerca anagrafica</h4>
								</div>
								<div class="modal-body">
									<table id="tabella-modale" class="datatable-responsive-search table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th th:text="#{label.codice_fiscale}">Codice fiscale</th>
												<th th:text="#{label.nome}">Nome</th>
												<th th:text="#{label.cognome}">Cognome</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<!-- popolata con una request ajax -->
										</tbody>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
								</div>
							</div>
						</div>
					</div>

					<th:block th:include="persona/personaFragment :: persona(true)"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			$("#cerca-persona-btn").one("click", function(){
				var table = $('#tabella-modale').DataTable();
				$.get( "/provider/" + [[${personaWrapper.providerId}]] + "/anagraficaList", function(data){
					var accreditamentoId = [[${personaWrapper.accreditamentoId}]];
					var providerId = [[${personaWrapper.providerId}]];
					var ruolo = [[${personaWrapper.persona.ruolo}]].$name;

					for(item in data){
						var obj = data[item];
						table.row.add([
							obj.codiceFiscale,
							obj.nome,
							obj.cognome,
							//'<a class="btn btn-primary" th:text="#{label.seleziona}" href="loadPersona('+ obj.id +')"></a>'
							'<a class="btn btn-primary btn-lookup" onclick="setIsLookup()" th:text="#{label.seleziona}" href="/accreditamento/' + accreditamentoId + '/provider/' + providerId + '/persona/' + ruolo + '/setAnagrafica?anagraficaId=' + obj.id +'"></a>'
						]).draw(false);
					}
				});
			});

			function loadPersona(id){
				//var url = "/accreditamento/" + [[${personaWrapper.accreditamentoId}]] + "/provider/" + [[${personaWrapper.providerId}]] + "/anagrafica/" + id +"/copia";
				var RUOLO = [[${personaWrapper.persona.ruolo}]];
				var url = "/accreditamento/" + [[${personaWrapper.accreditamentoId}]] + "/provider/" + [[${personaWrapper.providerId}]] + "/persona/" + RUOLO.$name + "/setAnagrafica?anagraficaId=" + id;
				//$("#main-container").load(url);
				//$("#persona-modal").modal('hide');<!-- Registra Dati Accreditamento -->
				return url;
			}

			function setIsLookup() {
				$("#hidden-lookup").val(true);
				$("codiceFiscale_persona").prop('disabled', 'disabled');
			}

			function unsetIsLookup() {
				$("#hidden-lookup").val(false);
				$("codiceFiscale_persona").removeProp('disabled');
			}

			</script>
		</div>
	</div>
</body>
</html>