<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Avviso di scadenza di Accreditamento <span th:text="${isStandard} ? 'Standard' : 'Provvisorio'"></span> come Provider ECM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Gentile Provider,</p>
    <p>
     La informiamo che si sta avvicinando il termine di scadenza dello stato di accreditamento <span th:text="${isStandard} ? 'standard' : 'provvisorio'"></span>.<br />
     La scrivente struttura provveder&agrave; a breve ad abilitarla alla presentazione della domanda di accreditamento standard.
    </p>
    <p>
      Cordiali saluti, <br />
      <em>Area ECM<br />UOC Formazione e Sviluppo delle Professioni Sanitarie<br />Azienda Zero</em>
    </p>
  </body>
</html>