<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Avviso di scadenza termini per il pagamento e la rendicontazione di un evento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Gentile Provider,</p>
    <p>
     La informiamo tra 15 giorni scadranno i termini  per procedere al pagamento e alla rendicontazione dell'evento <span th:text="${eventoIdentificativo}"></span> con titolo <span th:text="${eventoTitolo}"></span>
    </p>
    <p>
      Cordiali saluti, <br />
      <em>Area ECM<br />UOC Formazione e Sviluppo delle Professioni Sanitarie<br />Azienda Zero</em>
    </p>
  </body>
</html>