<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Avviso di scadenza termini per reinvio integrazioni<span th:if="${isPreavvisoDiRigetto}"> relative al preavviso di rigetto</span> richieste sulla domanda di Accreditamento <span th:text="${isStandard} ? 'Standard' : 'Provvisorio'"></span> presentata</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Gentile Provider,</p>
    <p>
      La informiamo che sono in scadenza i termini per procedere all'invio delle integrazioni<span th:if="${isPreavvisoDiRigetto}"> relative al preavviso di rigetto</span> richieste sulla domanda di Accreditamento <span th:text="${isStandard} ? 'Standard' : 'Provvisorio'"></span>. Una volta scaduti i termini, non sarà possibile procedere con la modifica dei dati/documenti.
    </p>
    <p>
      Distinti Saluti, <br />
      <em>Segreteria ECM</em>
    </p>
  </body>
</html>