<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Avviso di scadenza di Accreditamento <span th:text="${isStandard} ? 'Standard' : 'Provvisorio'"></span> come Provider ECM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Gentile Provider,</p>
    <p>
     La informiamo che mancano 90 giorni alla scadenza del suo Accreditamento <span th:text="${isStandard} ? 'Standard' : 'Provvisorio'"></span>.
    </p>
    <p>
      Distinti Saluti, <br />
      <em>Segreteria ECM</em>
    </p>
  </body>
</html>