<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Cambio Password Account ECM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
    	Come da sua richiesta &egrave; stata cambiata la password di accesso al <b><a th:href="${applicationBaseUrl}">Sistema ECM</a></b>
    </p>
<!--     <p>Le sue credenziali d'accesso sono: </p> -->
<!--     <p>username: <span th:text="${username}"></span><br /> -->
<!--    	   password: <span th:text="${password}"></span></p> -->
    <p>
      Distinti Saluti, <br />
      <em>Segreteria ECM</em>
    </p>
  </body>
</html>