<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Corretto re-invio domanda di Accreditamento <span th:text="${isStandard} ? 'standard' : 'provvisorio'"></span> in stato <span th:text="${isPreavvisoDiRigetto} ? 'Preavviso di Rigetto' : 'Richiesta di Integrazioni'"></span> alla Area ECM<br />UOC Formazione e Sviluppo delle Professioni Sanitarie<br />Azienda Zero.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Gentile Provider,</p>
    <p>
     Le integrazioni richieste sulla domanda di Accreditamento <span th:text="${isStandard} ? 'standard' : 'provvisorio'"></span> presentata sono state correttamente inviate alla scrivente Struttura.
    </p>
    <p>
      Cordiali saluti, <br />
      <em>Area ECM<br />UOC Formazione e Sviluppo delle Professioni Sanitarie<br />Azienda Zero</em>
    </p>
  </body>
</html>