<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Assegna domanda a Referee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  	<p>Gentile Componente della Commissione ECM,</p>
  	<p>
	  	Le e' stata assegnata la valutazione della domanda di accreditamento provvisorio del Provider <span th:text="${provider}"></span>.<br/>
	  	E’ necessario collegarsi all’ <b><a th:href="${applicationBaseUrl}">applicativo gestionale ECM</a></b> per procedere con la valutazione della domanda entro il termine di 15 giorni.
  	</p>
    <p>
      Distinti Saluti, <br />
      <em>Segreteria ECM</em>
    </p>
  </body>
</html>