<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Creazione Account ECM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Complimenti la registrazione al portale ECM &egrave; avvenuta con successo!</p>
    <p>
      Cliccare sul seguente link per attivare il suo account (<b><a th:href="${applicationBaseUrl}">Portale ECM</a></b>)
    </p>
    <p>Le sue credenziali d'accesso sono: </p>
    <p>username: <span th:text="${username}"></span><br />
   	   password: <span th:text="${password}"></span></p>
    <p>
      Cordiali saluti, <br />
      <em>Area ECM<br />UOC Formazione e Sviluppo delle Professioni Sanitarie<br />Azienda Zero</em>
    </p>
  </body>
</html>