<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">

</head>
<body>
	<div layout:fragment="content" id="test" th:fragment="content" >
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="${sedeWrapper.tipologiaSede == 'SedeLegale'} ? #{label.sede_legale} : #{label.sede_operativa}">label.info_sede</h2>
						
						<input type="button" class="btn btn-success pull-right" onclick="loadSedeLegale()" name="copia_dati" th:if="${sedeWrapper.tipologiaSede == 'SedeOperativa'}" th:value="#{label.coincide_con_sede_legale}" />
						<a class="btn btn-primary pull-right" th:text="#{label.nuovo}" th:href="@{|/accreditamento/${sedeWrapper.accreditamentoId}/sede/new?tipologiaSede=${sedeWrapper.tipologiaSede}|}"></a>
						<a class="btn btn-primary pull-right" th:text="#{label.annulla}" th:href="@{|/accreditamento/${sedeWrapper.accreditamentoId}|}"></a>
						<div class="clearfix"></div>
					</div>
					
					<div class="x_content">
						<form id="formSede" class="form-horizontal form-label-left" th:action="@{|/accreditamento/${sedeWrapper.accreditamentoId}/sede/save|}"
								method="post" enctype="multipart/form-data" novalidate="novalidate">
								
							<input type="hidden" name="editId" th:value="${sedeWrapper.sede.id}" />
							<input type="hidden" th:field="${sedeWrapper.accreditamentoId}" />
							<input type="hidden" th:field="${sedeWrapper.tipologiaSede}" />
							<input type="hidden" th:field="${sedeWrapper.idEditabili}" />
							<input type="hidden" th:field="${sedeWrapper.idOffset}" />
							
							<!-- provincia -->	
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.provincia')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset}">1</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="provincia_sede"><span th:text="#{label.provincia}">Provincia</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset)}">	
									<div class="col-md-4 col-sm-4 col-xs-12">
										<select id="provincia_sede" class="form-control required" th:field="${sedeWrapper.sede.provincia}">
			                          			<option value="" th:text="#{label.seleziona}">label.seleziona</option>
			                          			<option th:each="provincia : ${elencoProvince}" th:value="${provincia}" th:text="${provincia}">Choose option</option>
			                        	</select>
								  	</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="provincia_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.provincia}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.provincia')}" class="alert" th:errors="${sedeWrapper.sede.provincia}"></div>
							</div>
							
							<!-- comune -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.comune')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset + 1}">2</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="comune_sede"><span th:text="#{label.comune}">Comune</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 1)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<select id="comune_sede" class="form-control required" th:field="${sedeWrapper.sede.comune}">
											<option th:value="${sedeWrapper.sede.comune}" th:text="${sedeWrapper.sede.comune}"/>
			                        	</select>
								  	</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 1)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="comune_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.comune}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.comune')}" class="alert" th:errors="${sedeWrapper.sede.comune}"></div>
							</div>
								
							<!-- indirizzo -->	
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.indirizzo')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset + 2}">3</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="indirizzo_sede"><span th:text="#{label.indirizzo}">Indirizzo</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 2)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="indirizzo_sede" name="indirizzo_sede"
											required="required" class="form-control col-md-7 col-xs-12"
											type="text" th:field="${sedeWrapper.sede.indirizzo}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 2)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="indirizzo_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.indirizzo}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.indirizzo')}" class="alert" th:errors="${sedeWrapper.sede.indirizzo}"></div>
							</div>
							
							<!-- CAP -->	
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.cap')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset + 3}">4</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="CAP_sede"><span th:text="#{label.cap}">CAP</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 3)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<select id="CAP_sede" class="form-control required" th:field="${sedeWrapper.sede.cap}">
											<option th:value="${sedeWrapper.sede.cap}" th:text="${sedeWrapper.sede.cap}"/>
			                        	</select>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 3)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="CAP_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.cap}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.cap')}" class="alert" th:errors="${sedeWrapper.sede.cap}"></div>
							</div>
							
							<!-- telefono -->	
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.telefono')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset + 4}">5</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="telefono_sede"><span th:text="#{label.telefono}">Telefono</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 4)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="telefono_sede" name="telefono_sede"
											required="required" class="form-control col-md-7 col-xs-12"
											type="tel" th:field="${sedeWrapper.sede.telefono}"/>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 4)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="telefono_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.telefono}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.telefono')}" class="alert" th:errors="${sedeWrapper.sede.telefono}"></div>
							</div>
							
							<!-- FAX -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.fax')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset + 5}">7</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="fax_sede"><span th:text="#{label.fax}">FAX</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 5)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="fax_sede" name="fax_sede" required="required"
											class="form-control col-md-7 col-xs-12" type="tel" th:field="${sedeWrapper.sede.fax}" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 5)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="fax_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.fax}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.fax')}" class="alert" th:errors="${sedeWrapper.sede.fax}"></div> 	
							</div>
							
							<!-- email -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('sedeWrapper.sede.email')} ? 'bad'">
								<label class="control-label col-xs-1" th:text="${sedeWrapper.idOffset + 6}">8</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="email_sede"><span th:text="#{label.email}">E-mail</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 6)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="email_sede" name="email_sede"
											required="required" class="form-control col-md-7 col-xs-12"
											type="email" th:field="${sedeWrapper.sede.email}"/>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(sedeWrapper.idEditabili, sedeWrapper.idOffset + 6)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="email_sede" class="control-label left-align col-md-7 col-xs-12"
											th:text="${sedeWrapper.sede.email}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.email')}" class="alert" th:errors="${sedeWrapper.sede.email}"></div>
							</div>	
							
							<!-- Registra Sede -->
							<div class="item form-group text-right">
								<input th:if="${sedeWrapper.tipologiaSede == 'SedeLegale'}" class="btn btn-primary right" name="SedeLegale" type="submit" th:value="#{label.salva}"/>
								<input th:if="${sedeWrapper.tipologiaSede == 'SedeOperativa'}" class="btn btn-primary right" name="SedeOperativa" type="submit" th:value="#{label.salva}"/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			function sendAjaxRequestProvincia(){
				var provincia = $("#provincia_sede").val();
				$.get( "/comuni?provincia=" + provincia, function(data){
					$("#comune_sede").empty();
					$("#comune_sede").append('<option value = "">' + "---" + "</option>")
					
					for(item in data){
						console.log(item);
						var option = '<option value = "' + data[item] + '">' + data[item] + "</option>";
						$("#comune_sede").append(option);
					}
				});
			};
			function sendAjaxRequestCAP(){
				var comune = $("#comune_sede").val();
				$.get( "/cap?comune=" + comune, function(data){
					$("#CAP_sede").empty();
					$("#CAP_sede").append('<option value = "">' + "---" + "</option>")
					
					for(item in data){
						console.log(item);
						var option = '<option value = "' + data[item] + '">' + data[item] + "</option>";
						$("#CAP_sede").append(option);
					}
				});
			};
			
			
			function loadSedeLegale(){
				var url = "/accreditamento/" + [[${sedeWrapper.accreditamentoId}]] + "/sede/copia";
				
				$("#test").load(url);
			}
			
			$(document).ready(
				function() {
					$("#provincia_sede").click(function() {
						sendAjaxRequestProvincia();
					});
					$("#comune_sede").click(function() {
						sendAjaxRequestCAP();
					});
				}
			);
		</script>
		</div>
	</div>
</body>
</html>