<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- fragment interno della sede, la parte di paginazione è gestita dai file sedeShow, sedeEdit e sedeValidate -->
	<!-- parametri del fragment: String passato come parametro che specifica la modalità e prende sedeWrapper dal module del chiamante -->
	<th:block th:fragment="sede(mode)">
		<th:block th:with="editabile=${mode == 'edit'},
			valutabile=${mode == 'validate'},
			showOnly=${mode == 'show'}">

			<!-- ogni parte non in comune sarà gestita in maniera appropriata -->
			<div class="x_content">
				<!-- rimove il tag form se il sede NON è editabile -->
				<div class="form-horizontal form-label-left" th:remove="${showOnly} ? none : tag">
					<form th:remove="${!showOnly} ? none : tag"
						id="formSede" class="form-horizontal form-label-left"
						th:action="@{|/accreditamento/${sedeWrapper.accreditamentoId}/provider/${sedeWrapper.providerId}/sede/|} + ${valutabile ? 'validate' : 'save'}"
						method="post" enctype="multipart/form-data"
						novalidate="novalidate">

						<!-- gli input hidden non sono necessari se NON editabile -->
						<th:block th:unless="${showOnly}">
							<input type="hidden" name="editId" th:value="${sedeWrapper.sede.id}" />
							<input type="hidden" th:field="${sedeWrapper.accreditamentoId}" />
							<input type="hidden" th:field="${sedeWrapper.idEditabili}" />
						</th:block>

						<!-- RADIO FLAG SEDELEGALE -->
						<div th:if="${!valutabile and !showOnly}" th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.sedeLegale')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="${editabile ? #messages.msg('label.is_sede_legale') : #messages.msg('label.inserita_come_sede_legale')}">Inserisci come Sede Legale</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="radio">
										<label th:class="${#lists.isEmpty(sedeWrapper.idEditabili)} ? 'label-disabled'">
											<input id="isSedeLegale" name="isSedeLegale" class="flat" type="radio" th:field="${sedeWrapper.sede.sedeLegale}" value="true" th:disabled="${#lists.isEmpty(sedeWrapper.idEditabili)}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${#lists.isEmpty(sedeWrapper.idEditabili)} ? 'label-disabled'">
											<input id="isNotSedeLegale" name="isSedeLegale" class="flat" type="radio" th:field="${sedeWrapper.sede.sedeLegale}" value="false" th:disabled="${#lists.isEmpty(sedeWrapper.idEditabili)}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.sedeLegale ? #messages.msg('label.sì') : #messages.msg('label.no')}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.sedeLegale')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.sedeLegale}"></div>
						</div>

						<!-- RADIO FLAG SEDEOPERATIVA -->
						<div th:if="${!valutabile and !showOnly}" id="operativaRadioContainer" th:classappend="${sedeWrapper.sede.sedeLegale == false ? 'hidden' : ''}">
							<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.sedeOperativa')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12">
									<span th:class="${showOnly ? 'label-show' : ''}" th:text="${editabile ? #messages.msg('label.is_sede_operativa') : #messages.msg('label.inserita_come_sede_operativa')}">Inserisci come Sede Operativa</span>
								</label>
								<th:block th:if="${editabile}">
									<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
										<div class="radio">
											<label th:class="${#lists.isEmpty(sedeWrapper.idEditabili)} ? 'label-disabled'">
												<input id="isSedeOperativa" name="isSedeOperativa" class="flat" type="radio" th:field="${sedeWrapper.sede.sedeOperativa}" value="true" th:disabled="${#lists.isEmpty(sedeWrapper.idEditabili)}" />
												<span th:text="#{label.sì}">Sì</span>
											</label>
										</div>
										<div class="radio">
											<label th:class="${#lists.isEmpty(sedeWrapper.idEditabili)} ? 'label-disabled'">
												<input id="isNotSedeOperativa" name="isSedeOperativa" class="flat" type="radio" th:field="${sedeWrapper.sede.sedeOperativa}" value="false" th:disabled="${#lists.isEmpty(sedeWrapper.idEditabili)}" />
												<span th:text="#{label.no}">No</span>
											</label>
										</div>
									</div>
								</th:block>
								<th:block th:if="${showOnly}">
									<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
										<div class="value" th:text="${sedeWrapper.sede.sedeOperativa ? #messages.msg('label.sì') : #messages.msg('label.no')}"></div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('sedeWrapper.sede.sedeOperativa')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.sedeOperativa}"></div>
							</div>
						</div>

						<div th:if="${editabile}" class="divider-dashed"></div>

						<!-- PROVINCIA -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.provincia')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.provincia') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="provincia_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.provincia}">Provincia</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<select id="provincia_sede" class="form-control required" th:field="${sedeWrapper.sede.provincia}"
										th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.provincia'))}">
	                          			<option value="" th:text="#{label.seleziona}">label.seleziona</option>
	                          			<option th:each="provincia : ${elencoProvince}" th:value="${provincia}" th:text="${provincia}">Choose option</option>
		                        	</select>
							  	</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.provincia}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.provincia}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.provincia')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.provincia')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}"  />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.provincia')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.provincia')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.provincia')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.provincia}"></div>
						</div>

						<div th:if="${valutabile}" class="divider"></div>

						<!-- COMUNE -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.comune')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.comune') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="comune_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.comune}">Comune</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block  th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<select th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.comune'))}" id="comune_sede" class="form-control required" th:field="${sedeWrapper.sede.comune}">
										<option th:value="${sedeWrapper.sede.comune}" th:text="${sedeWrapper.sede.comune}"/>
		                        	</select>
							  	</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.comune}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.comune}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.comune')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.comune')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}"  />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.comune')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.comune')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.comune')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.comune}"></div>
						</div>

						<div th:if="${valutabile}" class="divider"></div>

						<!-- INDIRIZZO -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.indirizzo')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.indirizzo') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="indirizzo_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.indirizzo}">Indirizzo</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block  th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="indirizzo_sede" name="indirizzo_sede"
										required="required" class="form-control col-md-7 col-xs-12"
										type="text" th:field="${sedeWrapper.sede.indirizzo}"
										th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.indirizzo')) }"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.indirizzo}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.indirizzo}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.indirizzo')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.indirizzo')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}"  />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.indirizzo')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.indirizzo')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.indirizzo')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.indirizzo}"></div>
						</div>

						<div th:if="${valutabile}" class="divider"></div>

						<!-- CAP -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.cap')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.cap') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="CAP_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.cap}">CAP</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block  th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<select id="CAP_sede" class="form-control required" th:field="${sedeWrapper.sede.cap}"
										th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.cap')) }">
										<option th:value="${sedeWrapper.sede.cap}" th:text="${sedeWrapper.sede.cap}"/>
		                        	</select>
								</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.cap}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.cap}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.cap')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.cap')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}"  />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.cap')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.cap')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.cap')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.cap}"></div>
						</div>

						<div th:if="${valutabile}" class="divider"></div>

						<!-- TELEFONO -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.telefono')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.telefono') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="telefono_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.telefono}">Telefono</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block  th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="telefono_sede" name="telefono_sede"
										required="required" class="form-control col-md-7 col-xs-12"
										type="tel" th:field="${sedeWrapper.sede.telefono}"
										th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.telefono')) }"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.telefono}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.telefono}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.telefono')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.telefono')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}"  />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.telefono')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.telefono')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.telefono')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.telefono}"></div>
						</div>

						<div th:if="${valutabile}" class="divider"></div>

						<!-- FAX -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.fax')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.fax') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="fax_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.fax}">FAX</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block  th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="fax_sede" name="fax_sede" required="required"
										class="form-control col-md-7 col-xs-12" type="tel" th:field="${sedeWrapper.sede.fax}"
										th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.fax')) }"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.fax}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.fax}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.fax')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.fax')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}"  />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.fax')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.fax')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.fax')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.fax}"></div>
						</div>

						<div th:if="${valutabile}" class="divider"></div>

						<!-- EMAIL -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('sedeWrapper.sede.email')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('sede.email') : ''}"></label>
							 <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="email_sede">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.email}">E-mail</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block  th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="email_sede" name="email_sede"
										required="required" class="form-control col-md-7 col-xs-12"
										type="email" th:field="${sedeWrapper.sede.email}"
										th:disabled="${!#lists.contains(sedeWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.email')) }"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${sedeWrapper.sede.email}"></div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${sedeWrapper.sede.email}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.email')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.email')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.email')}__].note}" th:disabled="${!canValutaDomanda}"></textarea>
								</div>
								<input type="hidden" th:field="${sedeWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('sede.email')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('sedeWrapper.sede.email')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${sedeWrapper.sede.email}"></div>

							<input id="submitButton" type="submit" style="display: none;" />

						</div>
					</form>
				</div>
			</div>
		</th:block>
	</th:block>
</body>
</html>