<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">

</head>
<body>
	<div layout:fragment="content" id="main-container" th:fragment="content" th:with="counter=${sedeWrapper.idOffset - 1}, coincide=${#lists.contains(sedeWrapper.idEditabili, 0)}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:unless="${(sedeWrapper.tipologiaSede == 'SedeOperativa') and coincide}" th:text="${sedeWrapper.tipologiaSede == 'SedeLegale'} ? #{label.sede_legale} : #{label.sede_operativa}">label.info_sede</h2>
						<h2 th:if="${(sedeWrapper.tipologiaSede == 'SedeOperativa') and coincide}" th:text="#{label.sede_operativa_coincide}">label.sede_operativa_coincide</h2>
						<div class="pull-right buttons-header">
							<th:block th:if="${!#lists.isEmpty(sedeWrapper.idEditabili) and !((#lists.size(sedeWrapper.idEditabili) == 1) and coincide)}">
								<button class="btn btn-success pull-right" th:text="#{label.salva}" form="formSede" type="submit"></button>
								<button class="btn btn-primary pull-right" onclick="loadSedeLegale()" th:if="${sedeWrapper.tipologiaSede == 'SedeOperativa'}" th:text="#{label.coincide_con_sede_legale}"></button>
							</th:block>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/accreditamento/${sedeWrapper.accreditamentoId}/edit|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="sede/sedeFragment :: sede(true)"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			function sendAjaxRequestProvincia(){
				var provincia = $("#provincia_sede").val();
				var start = [[@{/comuni?provincia=}]];
				var end = provincia;
				var url = start + end;
				$.get(url, function(data){
					$("#comune_sede").empty();
					$("#comune_sede").append('<option value = "">' + "---" + "</option>")

					for(item in data){
						console.log(item);
						var option = '<option value = "' + data[item] + '">' + data[item] + "</option>";
						$("#comune_sede").append(option);
					}
				});
			};
			function sendAjaxRequestCAP(){
				var comune = $("#comune_sede").val();
				var start = [[@{/cap?comune=}]];
				var end = comune;
				var url = start + end;
				$.get(url, function(data){
					$("#CAP_sede").empty();
					$("#CAP_sede").append('<option value = "">' + "---" + "</option>")

					for(item in data){
						console.log(item);
						var option = '<option value = "' + data[item] + '">' + data[item] + "</option>";
						$("#CAP_sede").append(option);
					}
				});
			};


			function loadSedeLegale(){
				var url = [[@{|/accreditamento/${sedeWrapper.accreditamentoId}/provider/${sedeWrapper.providerId}/sede/copia|}]];
				$("#main-container").load(url);
			}

			$(document).ready(
				function() {
					$("#provincia_sede").click(function() {
						sendAjaxRequestProvincia();
					});
					$("#comune_sede").click(function() {
						sendAjaxRequestCAP();
					});
				}
			);
		</script>
		</div>
	</div>
</body>
</html>