<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
				  <div class="x_title">
					<h2 th:text="#{label.sposta}"></h2>   
					 <div class="pull-right buttons-header">
					   <a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href=" @{|/quotaAnnuale/list|}"></a>
					    </div>
						<div class="clearfix"></div>
						 <form method="post" th:action="@{/quotaAnnuale/conferma}">
					      <div class="form-group"> 
					        <label class="control-label" for="date">Data</label>
					        <input class="form-control" id="date" name="date" type="text"/>
					      </div>
					      <div class="form-group"> 
					        <button class="btn btn-primary " name="submit" type="submit" formmethod="post" formaction="/quotaAnnuale/conferma">Conferma</button>
					      </div>
					     </form>
					</div>
				  </div>
				</div>
			</div>
			 <script th:inline="javascript">
				 $(document).ready(function(){
				      
				      var days = getDayNamesShort();
					  var months = getMonthNames();

						$('#date').daterangepicker({
					        singleDatePicker: true,
					        autoApply: true,
					        autoUpdateInput: true,
					        format: "DD/MM/YYYY",
					        locale: {
						        daysOfWeek: days,
				                monthNames: months,
					        }
					    })
				    });
		    </script>
	    </div>
  </body>
</html>
		