<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.quotaAnnuale_list}"></h2>
						<div class="pull-right buttons-header">
							<a data-toggle="modal" class="btn btn-success pull-right" onclick="openModal()">Sposta</a>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/home|}"></a>
							<div class="modal fade" id="myModal">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" th:text="#{label.sposta_data_scadenza_pagamento}">Sposta data scadenza pagamento</h4>
										</div>
										<div class="modal-body">
											<form id="form" method="post" th:action="@{/quotaAnnuale/scaduteENonPagate/confermaSposta}" >
												<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('scadenzaPagamentoProviderWrapper.dataScadenzaPagamento')} ? 'bad'">
														<input id="qa_Id" name="qa_Id" type="hidden" class="form-control" readonly="readonly"/>
														<label class="control-label" for="date">Data</label>
														<div>
															<input id="date" class="form-control" type="text" th:field="${scadenzaPagamentoProviderWrapper.dataScadenzaPagamento}" readonly="readonly"/>
														</div>
													<div th:if="${#fields.hasErrors('scadenzaPagamentoProviderWrapper.dataScadenzaPagamento')}" class="alert pull-right" th:errors="${scadenzaPagamentoProviderWrapper.dataScadenzaPagamento}"></div>
												</div>
												<div class="form-group">
													<input id="submitDateButton" class="btn btn-primary" name="submit1" type="submit" style="display: none;"/>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<label for="submitDateButton" class="btn btn-success pull-right">Conferma</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div style="padding-bottom: 40px">
							<table id="tableA" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width: 100%">
								<caption> <h5 align="center" style="color: #73879c;" th:text="#{label.provider_gruppoA}">Gruppo A</h5></caption>
								<thead>
									<tr>
										<th><input type="checkbox" value = "1" id="select-allA"/></th>
										<th th:text="#{label.id_quotaAnnuale_provider}"></th>
										<th th:text="#{label.denominazioneLegale}"></th>
										<th th:text="#{label.dataScadenzaPagamento}"></th>
										<th th:text="#{label.importo}"></th>
									</tr>
								</thead>
								<tbody th:remove="all-but-first">
									<tr th:each="quotaAnnuale, row : ${quotaAnnualeList}" th:if="${quotaAnnuale.provider.gruppo == 'A'}">
										<td><input type="checkbox" th:value="${quotaAnnuale.id}"/></td>
										<td th:text="${quotaAnnuale.provider.id}"></td>
										<td th:text="${quotaAnnuale.provider.denominazioneLegale}"></td>
										<td th:text="${quotaAnnuale.pagamento.dataScadenzaPagamento}"></td>
										<td th:text="${#numbers.formatDecimal(quotaAnnuale.pagamento.importo, 0, 2,'POINT')}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<table id="tableB" class="table table-striped table-bordered dt-responsive nowrap"
							cellspacing="0" style="width: 100%">
							<caption> <h5 align="center" style="color: #73879c;" th:text="#{label.provider_gruppoB}">Gruppo B</h5></caption>
							<thead>
								<tr>
									<th><input type="checkbox" id="select-allB"/></th>
									<th th:text="#{label.id_quotaAnnuale_provider}"></th>
									<th th:text="#{label.denominazioneLegale}"></th>
									<th th:text="#{label.dataScadenzaPagamento}"></th>
									<th th:text="#{label.importo}"></th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each="quotaAnnuale, row : ${quotaAnnualeList}" th:if="${quotaAnnuale.provider.gruppo == 'B'}">
									<td><input type="checkbox" th:value="${quotaAnnuale.id}" class="checkB"/></td>
									<td th:text="${quotaAnnuale.provider.id}"></td>
									<td th:text="${quotaAnnuale.provider.denominazioneLegale}"></td>
									<td th:text="${quotaAnnuale.pagamento.dataScadenzaPagamento}"></td>
									<td th:text="${#numbers.formatDecimal(quotaAnnuale.pagamento.importo,3,2,'POINT')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/

				//Handle selecting events using iCheck.
				//Target -- location of checkbox columns
				//table -- table id or class
				//selectAll -- Select All object
				//inputClass -- Class of checkboxes
				function initiCheckEvents(target, tableInst, selectAll, inputClass){
			         // Handle iCheck change event for "select all" control
			         selectAll.on('ifChecked', function(event){
			        	 	var table = tableInst.DataTable();
			        	 	var col = table.column( target ).nodes();
			            var element;
			            for (i = 0; i < col.length; i++) {
			                element = col[i];
			                var jqueryObject = $(element);
		                		jqueryObject.find('input[type="checkbox"]').iCheck('check');
		                		if(!jqueryObject.parent().hasClass('selected'))
			                		jqueryObject.parent().addClass('selected');
			            }
			         });

			         selectAll.on('ifUnchecked', function(event){
				            var element;
				            var table = tableInst.DataTable();
			        	 		var col = table.column( target ).nodes();
				            for (i = 0; i < col.length; i++) {
				                element = col[i];
				                var jqueryObject = $(element);
				                	jqueryObject.find('input').iCheck('uncheck');
				                	if(jqueryObject.parent().hasClass('selected'))
				                		jqueryObject.parent().removeClass('selected');
				            }
				        });

			         //Handle single iCheck change event
			         $('.' + inputClass).on('ifUnchecked', function(event){
			        	 		//Remove select all check if not all events are selected
			        	  		selectAll.removeProp('checked');
			        	  		if($(this).parent().parent().parent().hasClass("selected"))
			        	 			$(this).parent().parent().parent().removeClass("selected");
			        	  		selectAll.iCheck('update');
			          });

			         $('.' + inputClass).on('ifChecked', function(event){
			        	 var table = tableInst.DataTable();
		        	 	 var col = table.column( target ).nodes(); // get all events in the table
			        	 var cells = $(col)
			        	 var checked = cells.find('input').filter(':checked').length; // get number of events selected
			        	 //add select all check if all events are selected
			        	 	if(checked == col.length)
			        	 		selectAll.prop('checked', 'checked');
			        	 	if(!$(this).parent().parent().parent().hasClass("selected"))
		        	 			$(this).parent().parent().parent().addClass("selected");
			        	 	selectAll.iCheck('update');
		         	 });
				}

				$(document).ready(function() {

					if([[${scadenzaPagamentoProviderWrapper.ids}]] != "")
						$("#myModal").find('input[id="qa_Id"]').val([[${scadenzaPagamentoProviderWrapper.ids}]]);

					if([[${scadenzaPagamentoProviderWrapper.submitScadenzePagamentoProviderError}]])
						$('#myModal').modal('show');

					var days = getDayNamesShort();
					var months = getMonthNames();

					$('#date').daterangepicker({
						singleDatePicker : true,
						autoApply : true,
						autoUpdateInput : true,
						format : "DD/MM/YYYY",
						locale : {
							daysOfWeek : days,
							monthNames : months,
						}

					});

					 tableA = $('#tableA').DataTable({
						"bFilter" : true,
						"bInfo" : false,
						"bPaginate" : true,
						"drawCallback": function() {
							$('.checkboxA').iCheck({
								checkboxClass: 'icheckbox_flat-green',
							});

							initiCheckEvents(0, $("#tableA"), $("#select-allA"), 'checkboxA');
					    },
		                  "aoColumnDefs": [
		                       { 'bSortable': false, 'aTargets': [ 0 ] },
		                       { 'sClass': "checkboxA", 'aTargets': [ 0 ] },
		                    ]
					});
					tableB = $('#tableB').DataTable({
						"bFilter" : true,
						"bInfo" : false,
						"bPaginate" : true,
						"drawCallback": function() {
							$('.checkboxB').iCheck({
								checkboxClass: 'icheckbox_flat-green',
							});

							initiCheckEvents(0, $("#tableB"), $("#select-allB"), 'checkboxB');
					    },
					    "aoColumnDefs": [
		                       { 'bSortable': false, 'aTargets': [ 0 ] },
		                       { 'sClass': "checkboxB", 'aTargets': [ 0 ] },
		                    ],
					});
				});

				initSelectableDataTable();

				//Selectable rows
				function initSelectableDataTable() {
					$('#tableA tbody').on('click', 'tr', function () {
				        if ($(this).hasClass('selected')) {
				            $(this).removeClass('selected');
				            $(this).iCheck("uncheck");
				        }
				        else {
				            $(this).addClass('selected');
				            $(this).iCheck("check");
				        }
					});

					$('#tableB tbody').on('click', 'tr', function () {
				        if ($(this).hasClass('selected')) {
				            $(this).removeClass('selected');
				            $(this).iCheck("uncheck");
				        }
				        else {
				            $(this).addClass('selected');
				            $(this).iCheck("check");
				        }
					});

				}



				function openModal() {
					var array = tableToArray();

					if(array.length > 0){
						writeInput(array);
						$('#myModal').modal('show');
					}else{
						$("#myModal").find('input[id="qa_Id"]').val(array);
						alert([[#{label.nessun_provider_selezionato}]])
					}

				}

				function writeInput(array) {
					$("#myModal").find('input[id="qa_Id"]').val(array);

				}
				/*[+
				function tableToArray() {
					var ids = [];
					var $rowsA = tableA.rows('.selected').data();
					for(var i = 0; i < $rowsA.length; i++) {
						var id = Number.parseInt((($rowsA[i][0]).match(/\d+\.\d+|\d+\b|\d+(?=\w)/g) || [] ).map(function (v) {return +v;}).shift());
						ids.push(id);
					}

					var $rowsB = tableB.rows('.selected').data();
					for(var i = 0; i < $rowsB.length; i++) {
						var id = Number.parseInt((($rowsB[i][0]).match(/\d+\.\d+|\d+\b|\d+(?=\w)/g) || [] ).map(function (v) {return +v;}).shift());
						ids.push(id);
					}

					return ids;
				}

			+]*/

	    /*]]>*/
		</script>
	</div>
</body>
</html>