<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" th:with="counter=${datiAccreditamentoWrapper.idOffset - 1}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.dati_attività}">Dati relativi all’attività</h2>
						<a class="btn btn-primary pull-right" th:text="#{label.annulla}" th:href="@{|/accreditamento/${datiAccreditamentoWrapper.accreditamentoId}|}"></a>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form id="formAccreditamento" class="form-horizontal form-label-left" th:action="@{|/accreditamento/${accreditamentoId}/dati/save|}"
								method="post" enctype="multipart/form-data" novalidate="novalidate">
							
							<input type="hidden" name="editId" th:value="${datiAccreditamentoWrapper.datiAccreditamento.id}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.accreditamentoId}" /> 
							<input type="hidden" th:field="${datiAccreditamentoWrapper.idEditabili}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.idOffset}" />	
							
							<!-- tipologia accreditamento -->	
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento')} ? 'bad'">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">1</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="accreditamento_tipologia"><span th:text="#{label.accreditamento_tipologia}">Accreditamento per tipologia</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_tipologia">
										<div class="radio">
											<label>
												<input type="radio" class="flat"
													id="generaleTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
													<span th:text="#{label.generale}">Generale </span>
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" class="flat"
													id="settorialeTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Settoriale" />
												<span th:text="#{label.settoriale}">Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_tipologia">
										<div class="radio">
											<label>
												<input type="radio" class="flat" disabled="disabled"
													id="generaleTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
													<span th:text="#{label.generale}">Generale </span>
											</label>
											<input type="hidden" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
										</div>
										<div class="radio">
											<label>
												<input type="radio" class="flat" disabled="disabled"
													id="settorialeTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Settoriale" />
												<span th:text="#{label.settoriale}">Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}"></div>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- procedure formative -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.procedureFormative')} ? 'bad'">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">2</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="procedure_formative_checkbox"><span th:text="#{label.procedure_formative}">Procedure formative</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">	
									<div class="col-md-4 col-sm-4 col-xs-12" id="procedure_formative_checkbox">
										<div class="checkbox" th:each="proceduraFormativa, row : ${proceduraFormativaList}">
											<label>
												<input type="checkbox" class="flat" th:field="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}" th:value="${proceduraFormativa}"
													th:disabled="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Generale'  or
																	(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null)}" /> 
												<span th:text="${proceduraFormativa.nome}">formazione residenziale (RES)</span>
												<input type="hidden" name="datiAccreditamento.procedureFormative" th:value="${proceduraFormativa}"
													th:disabled="${(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Settoriale') or
																	(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null)}"/>
											</label> 
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12" id="procedure_formative_checkbox">
										<div class="checkbox" th:each="proceduraFormativa, row : ${proceduraFormativaList}">
											<label>
												<input type="checkbox" class="flat" th:field="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}"
												th:value="${proceduraFormativa}"
												disabled="disabled" /> <span th:text="${proceduraFormativa.nome}">formazione
													residenziale (RES)</span>
											</label> 
										</div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.procedureFormative')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}"></div>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- professioni accreditamento -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento')} ? 'bad'">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">3</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="accreditamento_professioni"><span th:text="#{label.accreditamento_professioni}">Accreditamento per professioni</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_professioni">
										<div class="radio">
											<label> <input type="radio" class="flat" id="generaleProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" th:value="Generale" /> <span
												th:text="#{label.generale}">
													Generale </span>
											</label>
										</div>
										<div class="radio">
											<label> <input type="radio" class="flat" id="settorialeProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" th:value="Settoriale" /> <span
												th:text="#{label.settoriale}">
													Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_professioni">
										<div class="radio">
											<label> <input type="radio" class="flat" id="generaleProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" value="Generale" disabled="disabled" /> <span
												th:text="#{label.generale}">
													Generale </span>
											</label>
										</div>
										<div class="radio">
											<label> <input type="radio" class="flat" id="settorialeProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" value="Settoriale" disabled="disabled" /> <span
												th:text="#{label.settoriale}">
													Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}"></div>								
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- professioni DA FARE! -->
							<div class="item form-group">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">4</label>
								<label th:text="#{label.professioni}"
									class="control-label col-md-3 col-sm-3 col-xs-11"
									for="accreditamento_professioni">Professioni</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_professioni">
										<div class="col-xs-12">
											<select id="professioni" class="selectpicker"
												multiple="multiple" data-width="100%"
												data-style="btn-primary" data-actions-box="true"
												data-size="10" title="Seleziona una professione..."
												onchange="abilitaDiscipline(this)" data-selected-text-format="count"
												th:remove="all-but-first">
												<option th:each="professione, row: ${professioneList}"
													th:value="${professione.id}" th:text="${professione.nome}" 
													th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniSelezionate}">Medico chirurgo</option>
												<option>2: Odontoiatra</option>
												<option>3: Farmacista</option>
												<option>4: Veterinario</option>
												<option>5: Psicologo</option>
												<option>6: Biologo</option>
												<option>7: Chimico</option>
												<option>8: Fisico</option>
												<option>9: Assistente sanitario</option>
												<option>10: Dietista</option>
												<option>11: Educatore professionale</option>
												<option>12: Fisioterapista</option>
												<option>13: Igienista dentale</option>
												<option>14: Infermiere</option>
												<option>15: Infermiere pediatrico</option>
												<option>16: Logopedista</option>
												<option>17: Ortottista/Assistente di oftalmologia</option>
												<option>18: Ostetrica/o</option>
												<option>19: Podologo</option>
												<option>20: Tecnico audiometrista</option>
												<option>21: Tecnico audioprotesista</option>
												<option>22: Tecnico della fisiopatologia
													cardiocircolatoria e perfusione cardiovascolare</option>
												<option>23: Tecnico della prevenzione nell'ambiente
													e nei luoghi di lavoro</option>
												<option>24: Tecnico della riabilitazione
													psichiatrica</option>
												<option>25: Tecnico di neurofisiopatologia</option>
												<option>26: Tecnico ortopedico</option>
												<option>27: Tecnico sanitario di radiologia medica</option>
												<option>28: Tecnico sanitario laboratorio biomedico</option>
												<option>29: Terapista della neuro e psicomotricità
													dell'età evolutiva</option>
												<option>30: Terapista occupazionale</option>
											</select>
										</div>
										<div class="col-xs-12">
											<select id="discipline" class="selectpicker"
												multiple="multiple" data-width="100%"
												data-style="btn-success" data-actions-box="true"
												data-size="10" data-hide-disabled="true"
												title="Seleziona una disciplina..." disabled="disabled"
												data-selected-text-format="count"
												th:remove="all-but-first">
												<optgroup disabled="disabled"
													th:each="professione, row: ${professioneList}"
													th:label="${professione.nome}"
													th:remove="all-but-first">
													<option th:each="disciplina, row: ${disciplinaList}"
													th:if="${disciplina.professione == professione}"
													th:value="${disciplina.id}" th:text="${disciplina.nome}" 
													th:field="${datiAccreditamentoWrapper.datiAccreditamento.discipline}">1: Allergologia ed immunologia clinica</option>
													<option>2: Angiologia</option>
													<option>3: Cardiologia</option>
													<option>4: Dermatologia e venereologia</option>
													<option>5: Ematologia</option>
													<option>6: Endocrinologia</option>
													<option>7: Gastroenterologia</option>
													<option>8: Genetica medica</option>
													<option>9: Geriatria</option>
													<option>10: Malattie metaboliche e diabetologia</option>
													<option>11: Malattie dell'apparato respiratorio</option>
													<option>12: Malattie infettive</option>
													<option>13: Medicina e chirurgia di accettazione e
														di urgenza</option>
													<option>14: Medicina fisica e riabilitazione</option>
													<option>15: Medicina interna</option>
													<option>16: Medicina termale</option>
													<option>17: Medicina aeronautica e spaziale</option>
													<option>18: Medicina dello sport</option>
													<option>19: Nefrologia</option>
													<option>20: Neonatologia</option>
													<option>21: Neurologia</option>
													<option>22: Neuropsichiatria infantile</option>
													<option>23: Oncologia</option>
													<option>24: Pediatria</option>
													<option>25: Psichiatria</option>
													<option>26: Radioterapia</option>
													<option>27: Reumatologia</option>
													<option>29: Cardiochirurgia</option>
													<option>30: Chirurgia generale</option>
													<option>31: Chirurgia maxillo-facciale</option>
													<option>32: Chirurgia pediatrica</option>
													<option>33: Chirurgia plastica e ricostruttiva</option>
													<option>34: Chirurgia toracica</option>
													<option>35: Chirurgia vascolare</option>
													<option>36: Ginecologia e ostetricia</option>
													<option>37: Neurochirurgia</option>
													<option>38: Oftalmologia</option>
													<option>39: Ortopedia e traumatologia</option>
													<option>40: Otorinolaringoiatria</option>
													<option>41: Urologia</option>
													<option>42: Anatomia patologica</option>
													<option>43: Anestesia e rianimazione</option>
													<option>44: Biochimica clinica</option>
													<option>45: Farmacologia e tossicologia clinica</option>
													<option>46: Laboratorio di genetica medica</option>
													<option>47: Medicina trasfusionale</option>
													<option>48: Medicina legale</option>
													<option>49: Medicina nucleare</option>
													<option>50: Microbiologia e virologia</option>
													<option>51: Neurofisiopatologia</option>
													<option>52: Neuroradiologia</option>
													<option>53: Patologia clinica (laboratorio di
														analisi chimico-cliniche e microbiologia)</option>
													<option>54: Radiodiagnostica</option>
													<option>55: Igiene, epidemiologia e sanità pubblica</option>
													<option>56: Igiene degli alimenti e della
														nutrizione</option>
													<option>57: Medicina del lavoro e sicurezza degli
														ambienti di lavoro</option>
													<option>58: Medicina generale (medici di famiglia)</option>
													<option>59: Continuità assistenziale</option>
													<option>60: Pediatria (pediatri di libera scelta)</option>
													<option>106: Scienza dell'alimentazione e dietetica</option>
													<option>107: Direzione medica di presidio
														ospedaliero</option>
													<option>108: Organizzazione dei servizi sanitari di
														base</option>
													<option>111: Audiologia e foniatria</option>
													<option>112: Psicoterapia</option>
													<option>113: Privo di specializzazione</option>
													<option>114: Cure palliative</option>
													<option>115: Epidemiologia</option>
													<option>116: Medicina di comunità</option>
												</optgroup>
												<optgroup label="Odontoiatra" disabled="disabled">
													<option>64: Odontoiatria</option>
												</optgroup>
												<optgroup label="Farmacista" disabled="disabled">
													<option>66: Farmacia ospedaliera</option>
													<option>67: Farmacia territoriale</option>
												</optgroup>
												<optgroup label="Veterinario" disabled="disabled">
													<option>61: Igiene degli allevamenti e delle
														produzioni zootecniche</option>
													<option>62: Igiene prod., trasf., commercial.,
														conserv. E tras. Alimenti di origine animale e derivati</option>
													<option>63: Sanità animale</option>
												</optgroup>
												<optgroup label="Psicologo" disabled="disabled">
													<option>77: Psicoterapia</option>
													<option>78: Psicologia</option>
												</optgroup>
												<optgroup label="Biologo" disabled="disabled">
													<option>68: Biologo</option>
												</optgroup>
												<optgroup label="Chimico" disabled="disabled">
													<option>76: Chimica analitica</option>
												</optgroup>
												<optgroup label="Fisico" disabled="disabled">
													<option>79: Fisica sanitaria</option>
												</optgroup>
												<optgroup label="Assistente sanitario" disabled="disabled">
													<option>80: Assistente sanitario</option>
												</optgroup>
												<optgroup label="Dietista" disabled="disabled">
													<option>81: Dietista</option>
												</optgroup>
												<optgroup label="Educatore professionale" disabled="disabled">
													<option>83: Educatore professionale</option>
												</optgroup>
												<optgroup label="Fisioterapista" disabled="disabled">
													<option>82: Fisioterapista</option>
												</optgroup>
												<optgroup label="Igienista dentale" disabled="disabled">
													<option>84: Igienista dentale</option>
												</optgroup>
												<optgroup label="Infermiere" disabled="disabled">
													<option>85: Infermiere</option>
												</optgroup>
												<optgroup label="Infermiere pediatrico" disabled="disabled">
													<option>86: Infermiere pediatrico</option>
												</optgroup>
												<optgroup label="Logopedista" disabled="disabled">
													<option>87: Logopedista</option>
												</optgroup>
												<optgroup label="Ortottista/Assistente di oftalmologia"
													disabled="disabled">
													<option>88: Ortottista/Assistente di oftalmologia</option>
												</optgroup>
												<optgroup label="Ostetrica/o" disabled="disabled">
													<option>89: Ostetrica/o</option>
												</optgroup>
												<optgroup label="Podologo" disabled="disabled">
													<option>90: Podologo</option>
												</optgroup>
												<optgroup label="Tecnico audiometrista" disabled="disabled">
													<option>95: Tecnico audiometrista</option>
												</optgroup>
												<optgroup label="Tecnico audioprotesista" disabled="disabled">
													<option>96: Tecnico audioprotesista</option>
												</optgroup>
												<optgroup
													label="Tecnico della fisiopatologia cardiocircolatoria e perfusione cardiovascolare"
													disabled="disabled">
													<option>92: Tecnico della fisiopatologia
														cardiocircolatoria e perfusione cardiovascolare</option>
												</optgroup>
												<optgroup
													label="Tecnico della prevenzione nell'ambiente e nei luoghi di lavoro"
													disabled="disabled">
													<option>105: Tecnico della prevenzione
														nell'ambiente e nei luoghi di lavoro</option>
												</optgroup>
												<optgroup label="Tecnico della riabilitazione psichiatrica"
													disabled="disabled">
													<option>91: Tecnico della riabilitazione
														psichiatrica</option>
												</optgroup>
												<optgroup label="Tecnico di neurofisiopatologia"
													disabled="disabled">
													<option>98: Tecnico di neurofisiopatologia</option>
												</optgroup>
												<optgroup label="Tecnico ortopedico" disabled="disabled">
													<option>99: Tecnico ortopedico</option>
												</optgroup>
												<optgroup label="Tecnico sanitario di radiologia medica"
													disabled="disabled">
													<option>94: Tecnico sanitario di radiologia medica</option>
												</optgroup>
												<optgroup label="Tecnico sanitario laboratorio biomedico"
													disabled="disabled">
													<option>93: Tecnico sanitario laboratorio biomedico</option>
												</optgroup>
												<optgroup
													label="Terapista della neuro e psicomotricità dell'età evolutiva"
													disabled="disabled">
													<option>100: Terapista della neuro e psicomotricità
														dell'età evolutiva</option>
												</optgroup>
												<optgroup label="Terapista occupazionale" disabled="disabled">
													<option>101: Terapista occupazionale</option>
												</optgroup>
											</select>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<!--  QUA VA FATTA LA TABELLONA PROFESSIONI->DISCIPLINE SELEZIONATE NON EDITABIL ... GLHF! -->
								</th:block>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- fatturato complessivo -->
							<div class="item">
								<label class="col-xs-1 text-right" th:text="${++counter}">5</label>
								<label class="col-xs-11"><span th:text="#{label.fatturato_complessivo_title}">Fatturato o Costi complessivi degli
									ultimi 3 anni (in migliaia di euro)</span><span class="required">*</span></label>
							</div>
							<!-- anno 1 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno1_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoUno}">2016</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_complessivi_anno1_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_complessivi_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}"></div>
							</div>
							<!-- anno 2 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno2_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoDue}">2015</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_complessivi_anno2_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_complessivi_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}"></div>
							</div>
							<!-- anno 3 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno3_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoTre}">2014</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_complessivi_anno3_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_complessivi_anno3_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}"></div>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- fatturato formazione -->
							<div class="item">
								<label class="col-xs-1 text-right" th:text="${++counter}">6</label>
								<label class="col-xs-11"><span th:text="#{label.fatturato_formazione_title}">Fatturato o Costi dedicati alla formazione del personale
									sanitario degli ultimi 3 anni (in migliaia di euro)</span><span class="required">*</span></label>
							</div>
							<!-- anno 1 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno1_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoUno}">2016</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_formazione_anno1_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_formazione_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}"></div>
							</div>
							<!-- anno 2 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno2_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoDue}">2015</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_formazione_anno2_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_formazione_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}"></div>
							</div>
							<!-- anno 3 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno3_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoTre}">2014</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_formazione_anno3_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$"/>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_formazione_anno3_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}"></div>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- numero dipendenti -->
							<div class="item">
								<label class="col-xs-1 text-right" th:text="${++counter}">7</label>
								<label class="col-xs-11"><span  th:text="#{label.numero_dipendenti_title}">Numero dipendenti dedicati alla
									formazione</span><span class="required">*</span></label> 
							</div>
							<!-- tempo indeterminato -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato')} ? 'bad'">
								<label th:text="#{label.tempo_indeterminato}"
										class="control-label col-md-4 col-sm-4 col-xs-12"
										for="tempo_indeterminato">Tempo indeterminato</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="tempo_indeterminato">
										<input id="tempo_indeterminato_value" th:field="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}" 
											required="required"	class="form-control col-md-7 col-xs-12" type="text"
											pattern="numeric" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="tempo_indeterminato_value" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"></div>
							</div>
							<!-- altro personale -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro')} ? 'bad'">
								<label th:text="#{label.altro_personale}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="altro_personale">Altro personale</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12" id="altro_personale">
										<input id="altro_personale_value" th:field="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}" 
											required="required"	class="form-control col-md-7 col-xs-12" type="text"
											pattern="numeric" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="altro_personale_value" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"></div>
							</div>
							
							<!-- Registra Dati Accreditamento -->
							<div class="item form-group text-right">
								<input class="btn btn-primary right" type="submit" th:value="#{label.salva}"/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script>
				//cambia la stringa per i pulsanti e il contatore
				$(document).ready(function() {
					$('select').selectpicker({
						selectAllText : 'Seleziona tutti',
						deselectAllText : 'Deseleziona tutti',
						countSelectedText : '{0} selezionate'
					});
				});
				
				function abilitaDiscipline(professioni) {
					//flag per capire se c'è almeno una professione
					var almenoUna = false;
					$.each(professioni.options, function(index, item) {
						//toglie la parte relativa al codice della professione
						prof = item.text;
						//prof = prof.substring(prof.indexOf(":") + 2);
						//abilita/disabilita tutte le discipline delle professioni selezionate/deselezionate
						if (item.selected) {
							$('optgroup[label="' + prof + '"]').prop(
									'disabled', false);
							almenoUna = true;
						} else {
							$('optgroup[label="' + prof + '"]').prop(
									'disabled', true);
						}
					});
					//decide se disabilitare/abilitare tutta la select
					if (almenoUna) {
						$('#discipline').prop('disabled', false);
					} else {
						$('#discipline').prop('disabled', true);
					}
					//refresh della view
					$('#discipline').selectpicker('refresh');
				}
				
				//gestione generale/settoriale delle procedure formative 
				$('#generaleTipologia').on('ifChecked', function(event){
					$('input[name="datiAccreditamento.procedureFormative"]').iCheck("disable");
					$('input[name="datiAccreditamento.procedureFormative"]').iCheck("check");
					$('input[type="hidden"][name="datiAccreditamento.procedureFormative"]').prop('disabled', false);
					
				});
				
				$('#settorialeTipologia').on('ifChecked', function(event){
					$('input[name="datiAccreditamento.procedureFormative"]').iCheck("enable");
					$('input[type="hidden"][name="datiAccreditamento.procedureFormative"]').prop('disabled', true);
				});
				
				//gestione generale/settoriale delle professioni
				$('#generaleProf').on('ifChecked', function(event){
					$('.selectpicker').selectpicker('selectAll');
					$('button[data-id="professioni"]').prop('disabled', true);
					$('button[data-id="discipline"]').prop('disabled', true);
				});
				
				$('#settorialeProf').on('ifChecked', function(event){
					$('.selectpicker').selectpicker('deselectAll');
					$('button[data-id="professioni"]').prop('disabled', false);
					$('button[data-id="discipline"]').prop('disabled', false);
				});
			</script>
		</div>
	</div>
</body>
</html>
