<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="providerWizard" class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2 th:text="#{label.registrazione_provider}">label.registrazione_provider</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div id="providerWizard" class="form_wizard wizard_horizontal">
						<ul class="wizard_steps anchor">
							<li>
								<a href="#step-1" class="selected wizard-element" isdone="1" rel="1">
									<span class="step_no">1</span>
									<span class="step_descr">Step 1
										<br/><small th:text="#{label.credenziali_accesso}">label.credenziali_accesso</small>
									</span>
								</a>
							</li>
							<li>
								<a href="#step-2" class="disabled wizard-element" isdone="0" rel="2">
									<span class="step_no">2</span>
									<span class="step_descr">Step 2
										<br/><small th:text="#{label.dati_del_legale_rappresentante}">label.dati_del_legale_rappresentante</small>
									</span>
								</a>
							</li>
							<li>
								<a href="#step-3" class="disabled wizard-element" isdone="0" rel="3">
									<span class="step_no">3</span>
									<span class="step_descr">Step 3
										<br/><small th:text="#{label.dati_del_richiedente}">label.dati_del_richiedente</small>
									</span>
								</a>
							</li>
						</ul>

						<div class="stepContainer">
							<form class="form-horizontal form-label-left" th:action="@{/providerRegistration}" method="post" enctype="multipart/form-data" novalidate="novalidate">

								<input th:if="${providerForm.provider.id}" type="hidden" name="editId" th:value="${providerForm.provider.id}" />

								<div id="step-1" class="wizard_content" style="display: block;">
									<!-- username -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.provider.account.username')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomeUtente">
											<span class="required" th:text="#{label.nome_utente}">label.nome_utente</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="nomeUtente" th:field="${providerForm.provider.account.username}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.provider.account.username')}" class="alert" th:errors="${providerForm.provider.account.username}"></div>
									</div>

									<!-- email -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.provider.account.email')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
											<span class="required" th:text="#{label.email}">label.email</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="email" id="email" th:field="${providerForm.provider.account.email}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.provider.account.email')}" class="alert" th:errors="${providerForm.provider.account.email}"></div>
									</div>
								</div>
								<div id="step-2" class="wizard_content" style="display: none;">

									<!-- cognome -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.legale.anagrafica.cognome')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cognomeLegaleRappresentante">
											<span class="required"  th:text="#{label.cognome}">label.nome</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="cognomeLegaleRappresentante" required="required" th:field="${providerForm.legale.anagrafica.cognome}"
												class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.legale.anagrafica.cognome')}" class="alert" th:errors="${providerForm.legale.anagrafica.cognome}"></div>
									</div>

									<!-- nome -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.legale.anagrafica.nome')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomeLegaleRappresentante">
											<span class="required"  th:text="#{label.nome}">label.nome</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="nomeLegaleRappresentante" required="required" th:field="${providerForm.legale.anagrafica.nome}"
												class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.legale.anagrafica.nome')}" class="alert" th:errors="${providerForm.legale.anagrafica.nome}"></div>
									</div>

									<!-- codice fiscale -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.legale.anagrafica.codiceFiscale')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cfLegaleRappresentante">
											<span class="required" th:text="#{label.codice_fiscale}">#{label.codice_fiscale}</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="cfLegaleRappresentante" name="cfLegaleRappresentante" pattern="codiceFiscale" th:field="${providerForm.legale.anagrafica.codiceFiscale}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.legale.anagrafica.codiceFiscale')}" class="alert" th:errors="${providerForm.legale.anagrafica.codiceFiscale}"></div>
									</div>

									<!-- email -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.legale.anagrafica.email')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailLegaleRappresentante">
											<span class="required" th:text="#{label.email}">label.email</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="email" id="emailLegaleRappresentante" name="emailLegaleRappresentante" th:field="${providerForm.legale.anagrafica.email}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.legale.anagrafica.email')}" class="alert" th:errors="${providerForm.legale.anagrafica.email}"></div>
									</div>

									<!-- PEC -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.legale.anagrafica.pec')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="pecLegaleRappresentante">
											<span class="required" th:text="#{label.posta_elettronica_certificata}">label.posta_elettronica_certificata</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="email" id="pecLegaleRappresentante" name="pecLegaleRappresentante" th:field="${providerForm.legale.anagrafica.pec}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.legale.anagrafica.pec')}" class="alert" th:errors="${providerForm.legale.anagrafica.pec}"></div>
									</div>

									<div class="divider-dashed"></div>

									<h2 class="text-center" th:text="#{label.info_provider}">info provider</h2>

									<!-- denominazione legale -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.provider.denominazioneLegale')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="denominazioneLegale">
											<span class="required" th:text="#{label.denominazione_legale}">label.denominazione_legale</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="denominazioneLegale" name="denominazioneLegale" th:field="${providerForm.provider.denominazioneLegale}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.provider.denominazioneLegale')}" class="alert" th:errors="${providerForm.provider.denominazioneLegale}"></div>
									</div>

									<!-- tipo organizzatore -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.provider.tipoOrganizzatore')} ? 'bad'">
				                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
				                      	<span class="required" th:text="#{label.tipo_organizzatore}">label.tipo_organizzatore</span>
				                      	<span class="required">*</span>
				                      </label>
				                      <div class="col-md-6 col-sm-6 col-xs-12">
				                        <select id="tipoOrganizzatore_select" 
				                        	class="selectpicker required" 
				                        	th:field="${providerForm.provider.tipoOrganizzatore}" 
				                        	data-width="100%" data-style="btn-primary"
											data-actions-box="true" data-size="10"
											data-hide-disabled="false"
											title="Seleziona una tipologia di organizzazione..."
											th:remove="all-but-first"
				                        	onchange="inputDelegaControl()">
				                          <option th:each="tipo : ${T(it.tredi.ecm.dao.enumlist.TipoOrganizzatore).values()}" th:attr="tipop=${tipo.tipoP}" th:value="${tipo}" th:text="${tipo.nome}">Choose option</option>
				                        </select>
				                      </div>
				                      <div th:if="${#fields.hasErrors('providerForm.provider.tipoOrganizzatore')}" class="alert" th:errors="${providerForm.provider.tipoOrganizzatore}"></div>
				                    </div>

				                    <!-- flag partita iva -->
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="hasPartitaIVA">
											<span th:text="#{label.ha_partita_IVA}">Sei titolare di Partita IVA?</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="checkbox">
												<input id="hasPartitaIVA" name="hasPartitaIVA" class="flat" type="checkbox" th:field="${providerForm.provider.hasPartitaIVA}" />
											</div>
										</div>
									</div>

									<!-- partita iva -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.provider.partitaIva')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="pIva">
											<span class="required"  th:text="#{label.partita_iva}">#{label.partita_iva}</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="pIva" name="pIva" pattern='partitaIva' th:field="${providerForm.provider.partitaIva}" th:disabled="!${providerForm.provider.hasPartitaIVA}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.provider.partitaIva')}" class="alert" th:errors="${providerForm.provider.partitaIva}"></div>
									</div>

									<!-- codicefiscale -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.provider.codiceFiscale')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="pIva">
											<span class="required"  th:text="#{label.codice_fiscale}">#{label.codice_fiscale}</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="codiceFiscale" name="codiceFiscale" th:field="${providerForm.provider.codiceFiscale}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.provider.codiceFiscale')}" class="alert" th:errors="${providerForm.provider.codiceFiscale}"></div>
									</div>
								</div>
								<div id="step-3" class="wizard_content" style="display: none;">

									<!-- radio rappresentante -->
									<div id="radio_delegato" class="item form-group" th:classappend="${#fields.hasErrors('providerForm.delegato')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="delega_checkbox">
											<span th:text="#{label.rappresentante_radio}">label.rappresentante_radio</span> <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12" id="delegato_radio">
											<div class="radio">
												<label>
													<input type="radio" class="flat" id="legaleRadio"
														name="rappresentanteRadio" th:field="${providerForm.delegato}" th:value="false" />
													<span th:text="#{label.legale_radio}">Il richiedente è il Legale Rappresentante</span>
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" class="flat" id="delegatoRadio"
														name="rappresentanteRadio" th:field="${providerForm.delegato}" th:value="true" />
													<span th:text="#{label.delegato_radio}">Il richiedente è delegato dal Legale Rappresentante</span>
												</label>
											</div>
										</div>
										<div th:if="${#fields.hasErrors('providerForm.delegato')}" class="alert" th:errors="${providerForm.delegato}"></div>
									</div>

									<!-- delega -->
									<div id="delegaFile" th:class="${providerForm.delegato} ? '' : hidden">
										<th:block th:include="fragments/allegati :: allegati(providerForm, false, delega, null, null, null, true, true, true)" ></th:block>
									</div>

									<div id="divider" class="divider-dashed"></div>

									<!-- cognome -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.richiedente.anagrafica.cognome')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cognomeRichiedente">
											<span class="required" th:text="#{label.cognome}">label.cognome</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="cognomeRichiedente" th:field="${providerForm.richiedente.anagrafica.cognome}"
											required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.richiedente.anagrafica.cognome')}" class="alert" th:errors="${providerForm.richiedente.anagrafica.cognome}"></div>
									</div>
									
									<!-- nome -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.richiedente.anagrafica.nome')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomeRichiedente">
											<span class="required" th:text="#{label.nome}">label.nome</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="nomeRichiedente" name="nomeRichiedente" th:field="${providerForm.richiedente.anagrafica.nome}"
											required="required"	class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.richiedente.anagrafica.nome')}" class="alert" th:errors="${providerForm.richiedente.anagrafica.nome}"></div>
									</div>

									<!-- codice fiscale -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.richiedente.anagrafica.codiceFiscale')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cfRichiedente">
											<span class="required" th:text="#{label.codice_fiscale}">#{label.codice_fiscale}</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="cfRichiedente" name="cfRichiedente" pattern="codiceFiscale" th:field="${providerForm.richiedente.anagrafica.codiceFiscale}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.richiedente.anagrafica.codiceFiscale')}" class="alert" th:errors="${providerForm.richiedente.anagrafica.codiceFiscale}"></div>
									</div>

									<!-- incarico -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.richiedente.incarico')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="incaricoRichiedente">
											<span class="required" th:text="#{label.incarico_presso_la_struttura}">label.incarico_presso_la_struttura</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="incaricoRichiedente" name="incaricoRichiedente" th:field="${providerForm.richiedente.incarico}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.richiedente.incarico')}" class="alert" th:errors="${providerForm.richiedente.incarico}"></div>
									</div>

									<!-- telefono -->
									<div class="item form-group" th:classappend="${#fields.hasErrors('providerForm.richiedente.anagrafica.telefono')} ? 'bad'">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="telefonoRichiedente">
											<span class="required"  th:text="#{label.telefono}">label.telefono</span>
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="tel" id="telefonoRichiedente" name="telefonoRichiedente" th:field="${providerForm.richiedente.anagrafica.telefono}"
												required="required" class="form-control col-md-7 col-xs-12" />
										</div>
										<div th:if="${#fields.hasErrors('providerForm.richiedente.anagrafica.telefono')}" class="alert" th:errors="${providerForm.richiedente.anagrafica.telefono}"></div>
									</div>

									<!-- Invia dati -->
									<div class="item form-group text-right">
										<input class="btn btn-success right" type="submit" name="saveTypeFull" value="full" th:value="#{label.crea_account}"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		    $(document).ready(function() {
		      // Smart Wizard
		      $('#providerWizard').smartWizard({
		    	  labelNext:[[#{label.avanti}]], // label for Next button
	    	      labelPrevious:[[#{label.indietro}]], // label for Previous button
		    	  labelFinish:[[#{label.conferma}]],
		    	  includeFinishButton:false,
		    	  hideButtonsOnDisabled: true,
		    	  keyNavigation: false,
		    	  onLeaveStep:leaveAStepCallback,
		    	  selected: [[ ${stepToShow} ]],
		    	  enableAllSteps: true
		      });

		      inputDelegaControl()

		      function leaveAStepCallback(obj, context){
		          if(context.toStep > context.fromStep)
		        	  //return validator.checkAll($("form"));
		          		return true;
		          return true;
		      };
		    });

		    $('#hasPartitaIVA').on('ifChecked', function(){
		    	$('#pIva').prop('disabled', false)
		    		.prop('required', true)
		   	});

		   	$('#hasPartitaIVA').on('ifUnchecked', function() {
		   		$('#pIva').prop('disabled', true)
			   		.prop('required', false)
		   			.val('')
		   			.blur()
		   			.parent().closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
		   	});

		   	$('#legaleRadio').on('ifChecked', function() {
		   		$('#delega').prop('disabled', true);
		   		$('#delegaFile').addClass('hidden');
		   		//copia i valori del legale in quelli del richiedente e li disabilita
		   		$('#nomeRichiedente').val($('#nomeLegaleRappresentante').val())
		   			.prop('readonly', true)
		   			.blur()
		   			.addClass('label-disabled')
		   			.on("focus", function(){
  						$(this).blur();
					})
		   			.parent().closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
		   		$('#cognomeRichiedente').val($('#cognomeLegaleRappresentante').val())
		   			.prop('readonly', true)
		   			.blur()
		   			.addClass('label-disabled')
		   			.on("focus", function(){
  						$(this).blur();
					})
		   			.parent().closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
		   		$('#cfRichiedente').val($('#cfLegaleRappresentante').val())
		   			.prop('readonly', true)
		   			.blur()
		   			.addClass('label-disabled')
		   			.on("focus", function(){
  						$(this).blur();
					})
		   			.parent().closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
		   	});

		   	//sblocca i valori (solo nel caso in cui sia stato effettivamente checkato e poi successivamente uncheckato)
			$('#legaleRadio').on('ifUnchecked', function() {
				$('#nomeRichiedente').val('')
		   			.prop('readonly', false)
		   			.removeClass('label-disabled')
		   			.unbind('focus');
		   		$('#cognomeRichiedente').val('')
		   			.prop('readonly', false)
		   			.removeClass('label-disabled')
		   			.unbind('focus');
		   		$('#cfRichiedente').val('')
		   			.prop('readonly', false)
		   			.removeClass('label-disabled')
		   			.unbind('focus');
			});

		   	$('#delegatoRadio').on('ifChecked', function() {
		   		$('#delega').prop('disabled', false);
		   		$('#delegaFile').removeClass('hidden');
		   	});

		    function inputDelegaControl() {
		    	// converte la stringa in boolean e poi fa un check se l'org è di tipo P, (mostra la checkbox e la delega)
		    	var check = ($('#tipoOrganizzatore_select option:selected').attr('tipop') === "true");
			    if (check) {
			    	$('#radio_delegato').show();
			    	$('#delegatoRadio').iCheck("enable");
			    	$('#legaleRadio').iCheck("enable");
			    	$('#delega-parent').show();
			    	$('#delega').prop('disabled', false);
			    	$('#divider').show()
			    }
		    	// altrimenti la nasconde
			    else {
			    	$('#radio_delegato').hide();
			    	$('#delegatoRadio').iCheck("disable");
			    	$('#legaleRadio').iCheck("disable");
			    	$('#delega-parent').hide();
			    	$('#delega').prop( "disabled", true);
			    	$('#divider').hide();
			    	$('#legaleRadio').iCheck('uncheck');
			    }
	      	}
		/*]]>*/
    	</script>
	</div>
</body>
</html>