<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- fragment interno del provider, la parte di paginazione è gestita dai file providerShow, providerEdit e providerValidate -->
	<!-- parametri del fragment: string passato come parametro per capire la modalità di visualizzazione e prende providerWrapper dal module del chiamante -->
	<th:block th:fragment="provider(mode)">
		<th:block th:with="editabile=${mode == 'edit'},
			valutabile=${mode == 'validate'},
			showOnly=${mode == 'show'},
			enableField=${mode == 'enableField'}">

			<!-- ogni parte non in comune tra sarà gestita in maniera appropriata -->
			<div class="x_content">
				<!-- rimove il tag form se il provider NON è editabile -->
				<div class="form-horizontal form-label-left" th:remove="${showOnly} ? none : tag">
					<form th:remove="${!showOnly} ? none : tag"
						id="formProvider" class="form-horizontal form-label-left"
						th:action="@{|/accreditamento/${accreditamentoId}/provider/|} + ${editabile ? 'save' : mode}"
						method="post" enctype="multipart/form-data"
						novalidate="novalidate">

						<!-- gli input hidden non sono necessari se NON editabile -->
						<th:block th:unless="${showOnly}">
							<input type="hidden" name="editId" th:value="${providerWrapper.provider.id}" />
							<input type="hidden" th:field="${providerWrapper.accreditamentoId}" />
							<input th:if="${editabile}" type="hidden" th:field="${providerWrapper.accreditamento}" />
							<input type="hidden" th:field="${providerWrapper.idEditabili}" />
							<input type="hidden" th:field="${providerWrapper.statoAccreditamento}" />
							<input type="hidden" th:field="${providerWrapper.fieldIntegrazione}" />
							<input type="hidden" th:field="${providerWrapper.wrapperMode}" />
							<th:block th:if="${enableField}">
								<input type="hidden" th:field="${richiestaIntegrazioneWrapper.accreditamentoId}" />
								<input type="hidden" th:field="${richiestaIntegrazioneWrapper.subset}" />
								<input type="hidden" th:field="${richiestaIntegrazioneWrapper.objRef}" />
								<input type="hidden" th:field="${providerWrapper.provider.id}" />
							</th:block>
						</th:block>

						<!-- info -->
						<h2 th:if="${editabile and (providerWrapper.statoAccreditamento == T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).INTEGRAZIONE or providerWrapper.accreditamento.isVariazioneDati())}" class="col-xs-12 alert alert-info with-margin-top text-center" th:text="#{label.info_applicazione_integrazione}"></h2>

						<!-- errore in caso di mancata motivazione nell'enableField -->
						<h2 th:if="${errorMsg}" class="col-xs-12 alert alert-error with-margin-top text-center" th:text="#{__${errorMsg}__}"></h2>

						<!-- TIPO ORGANIZZATORE -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.tipoOrganizzatore')} ? 'bad'">
		                    <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.tipoOrganizzatore') : ''}"></label>
		                    <label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="tipoOrganizzatore">
		                      	<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.tipo_organizzatore}">label.tipo_organizzatore</span>
		                      	<span th:if="${editabile}" class="required">*</span>
		                    </label>
		                    <th:block th:if="${editabile}">
		                     	<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
			                        <select id="tipoOrganizzatore"
										class="selectpicker required"
										th:field="${providerWrapper.provider.tipoOrganizzatore}"
										data-width="100%" data-style="btn-primary"
										data-actions-box="true" data-size="10"
										data-hide-disabled="false"
										title="Seleziona una tipologia..."
										th:if="${editabile}"
										th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore'))}"
										th:remove="all-but-first">
										<option
											th:each="tipo, row: ${T(it.tredi.ecm.dao.enumlist.TipoOrganizzatore).values()}"
											th:value="${tipo}"
											th:text="${tipo.nome}">tipologia selezionata
										</option>
									</select>
			                    </div>
			           		</th:block>
			           		<th:block th:if="${showOnly or enableField}">
			           			<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.tipoOrganizzatore.nome}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.tipoOrganizzatore.nome}"></div>
		                    	</div>
			           			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" th:if="${enableField}">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__]}"></textarea>
										</div>
									</div>
								</div>
		                    </th:block>
		                    <th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.tipoOrganizzatore.nome}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.tipoOrganizzatore')}__].id}" />
		                    </th:block>
		                    <div th:if="${#fields.hasErrors('providerWrapper.provider.tipoOrganizzatore')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.tipoOrganizzatore}"></div>
	                    </div>

	                    <div th:if="${valutabile or enableField}" class="divider"></div>

	                    <!-- DENOMINAZIONE LEGALE -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.denominazioneLegale')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.denominazioneLegale') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="denominazioneLegale">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.denominazione_legale}">label.denominazione_legale</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input type="text" id="denominazioneLegale" required="required" class="form-control col-md-7 col-xs-12"
										name="denominazioneLegale" th:field="${providerWrapper.provider.denominazioneLegale}" th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale'))}"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly or enableField}">
								<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.denominazioneLegale}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.denominazioneLegale}"></div>
		                    	</div>
			           			<div th:if="${enableField}" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.denominazioneLegale}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.denominazioneLegale')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.denominazioneLegale')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.denominazioneLegale}"></div>
						</div>

						<div th:if="${valutabile or enableField}" class="divider"></div>

						<!-- FLAG PARTITA IVA -->
						<div class="item form-group" th:if="${editabile}">
							<label class="control-label col-md-4 col-sm-4 col-xs-12">
								<span th:text="#{label.ha_partita_IVA}">Sei titolare di Partita IVA?</span>
							</label>
							<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
								<div class="radio">
									<label th:class="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')) ? 'label-disabled' : ''}">
										<input id="hasPartitaIVA" type="radio" class="flat" name="hasPartitaIVARadio" th:field="${providerWrapper.provider.hasPartitaIVA}" th:value="true" th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva'))}"/>
										<span th:text="#{label.sì}">Sì</span>
									</label>
								</div>
								<div class="radio">
									<label th:class="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')) ? 'label-disabled' : ''}">
										<input id="hasNotPartitaIVA" type="radio" class="flat" name="hasPartitaIVARadio" th:field="${providerWrapper.provider.hasPartitaIVA}" th:value="false" th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva'))}"/>
										<span th:text="#{label.no}">No</span>
									</label>
								</div>
							</div>
						</div>

						<!-- PARTITA IVA -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.partitaIva')} ? 'bad'" th:if="${!showOnly or providerWrapper.provider.partitaIva != null}">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.partitaIva') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="partitaIva">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.partita_iva}">label.partita_iva</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input type="text" id="partitaIva" required="required" class="form-control col-md-7 col-xs-12"
										name="partivaIva" th:field="${providerWrapper.provider.partitaIva}"
										th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')) or !providerWrapper.provider.hasPartitaIVA}"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly or enableField}">
		                    	<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.partitaIva}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.partitaIva}"></div>
		                    	</div>
			           			<div th:if="${enableField}" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.partitaIva != null ? providerWrapper.provider.partitaIva : 'valore non inserito'}" th:class="${providerWrapper.provider.partitaIva == null ? 'red' : ''}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.partitaIva')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.partitaIva')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.partitaIva}"></div>
						</div>

						<div th:if="${valutabile or enableField}" class="divider"></div>

						<!-- CODICE FISCALE -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.codiceFiscale')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.codiceFiscale') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="codiceFiscale">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.codice_fiscale}">label.codice_fiscale</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input type="text" id="codiceFiscale" required="required" class="form-control col-md-7 col-xs-12"
										name="codiceFiscale" th:field="${providerWrapper.provider.codiceFiscale}"
										th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale'))}"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly or enableField}">
	                    		<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.codiceFiscale}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.codiceFiscale}"></div>
		                    	</div>
			           			<div th:if="${enableField}"  class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.codiceFiscale}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].note}" th:disabled="${!canValutaDomanda
									or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.codiceFiscale')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.codiceFiscale')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.codiceFiscale}"></div>
						</div>

						<div th:if="${valutabile or enableField}" class="divider"></div>

						<!-- RAGIONE SOCIALE -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.ragioneSociale')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.ragioneSociale') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="ragioneSociale">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.ragione_sociale}">label.ragione_sociale</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
			                        <select id="ragioneSociale"
										class="selectpicker required"
										th:field="${providerWrapper.provider.ragioneSociale}"
										data-width="100%" data-style="btn-primary"
										data-actions-box="true" data-size="10"
										data-hide-disabled="false"
										title="Seleziona una ragione sociale..."
										th:if="${editabile}"
										th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale'))}"
										th:remove="all-but-first">
										<option
											th:each="ragioneSociale, row: ${T(it.tredi.ecm.dao.enumlist.RagioneSocialeEnum).values()}"
											th:value="${ragioneSociale}"
											th:text="${ragioneSociale.nome}">tipologia selezionata
										</option>
									</select>
			                    </div>
			             	</th:block>
			             	<th:block th:if="${showOnly or enableField}">
	                    		<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.ragioneSociale}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.ragioneSociale}"></div>
		                    	</div>
			           			<div th:if="${enableField}" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.ragioneSociale}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.ragioneSociale')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.ragioneSociale')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.ragioneSociale}"></div>
						</div>

						<div th:if="${valutabile or enableField}" class="divider"></div>

						 <!-- EMAIL STRUTTURA -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.emailStruttura')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.emailStruttura') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="emailStruttura">
								<span th:class="${showOnly ? 'label-show' : ''}" th:text="#{label.email}">label.email</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input type="text" id="emailStruttura" required="required" class="form-control col-md-7 col-xs-12"
										name="emailStruttura" th:field="${providerWrapper.provider.emailStruttura}" th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura'))}"/>
								</div>
							</th:block>
							<th:block th:if="${showOnly or enableField}">
	                    		<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.emailStruttura}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.emailStruttura}"></div>
		                    	</div>
			           			<div th:if="${enableField}" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.emailStruttura}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.emailStruttura')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.emailStruttura')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.emailStruttura}"></div>
						</div>

						<div th:if="${editabile}" class="divider-dashed"></div>
						<div th:if="${valutabile or enableField}" class="divider"></div>

						<!-- NATURA ORGANIZZAZIONE -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.naturaOrganizzazione')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.naturaOrganizzazione') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="naturaOrganizzazione">
								<span th:text="#{label.organizzazione_natura}" th:class="${showOnly ? 'label-show' : ''}">Natura dell'organizzazione</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="naturaOrganizzazione">
									<div class="radio">
										<label th:class="${(!editabile or !#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione'))) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" name="naturaOrg" th:field="${providerWrapper.provider.naturaOrganizzazione}" th:value="Pubblica" th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione'))}" />
											<span th:text="#{label.pubblica}">Pubblica</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${(!editabile or !#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione'))) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" name="naturaOrg" th:field="${providerWrapper.provider.naturaOrganizzazione}" th:value="Privata" th:disabled="${!#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione'))}" />
											<span th:text="#{label.privata}">Privata</span>
										</label>
									</div>
								</div>
							</th:block>
							<th:block th:if="${showOnly or enableField}">
	                    		<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
			              			<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.naturaOrganizzazione}"></div>
			              			<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.naturaOrganizzazione}"></div>
		                    	</div>
			           			<div th:if="${enableField}" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.naturaOrganizzazione}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__]?.enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.naturaOrganizzazione')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.naturaOrganizzazione')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.naturaOrganizzazione}"></div>
						</div>

						<div th:if="${editabile}" class="divider-dashed"></div>
						<div th:if="${valutabile or enableField}" class="divider"></div>

						<!-- NO PROFIT -->
						<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('providerWrapper.provider.noProfit')} ? 'bad'">
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${!showOnly ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('provider.noProfit') : ''}"></label>
							<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-11'}" for="noProfit">
								<span th:text="#{label.no_profit}" th:class="${showOnly ? 'label-show' : ''}">Società no-profit</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="noProfit">
									<div class="radio">
										<label th:class="${(!editabile or !#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit'))) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" name="societaNoProfit" th:field="${providerWrapper.provider.noProfit}" th:value="true" th:disabled="${!editabile or !#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit'))}"/>
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${(!editabile or !#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit'))) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" name="societaNoProfit" th:field="${providerWrapper.provider.noProfit}" th:value="false" th:disabled="${!editabile or !#lists.contains(providerWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit'))}"/>
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
							</th:block>
							<th:block th:if="${showOnly or enableField}">
	                    		<div class="col-lg-4 col-md-8 col-sm-8 col-xs-10">
									<div class="value-edit" th:if="${enableField}" th:text="${providerWrapper.provider.noProfit ? #messages.msg('label.sì') : #messages.msg('label.no')}"></div>
									<div class="value" th:if="${showOnly}" th:text="${providerWrapper.provider.noProfit ? #messages.msg('label.sì') : #messages.msg('label.no')}"></div>
								</div>
			           			<div th:if="${enableField}" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			                    	<div class="row">
				                    	<div class="col-xs-1">
				                    		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}" />
				                    	</div>
										<div class="col-xs-11">
											<textarea th:field="${richiestaIntegrazioneWrapper.mappaNoteFieldEditabileAccreditamento[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__]}"></textarea>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:if="${valutabile}">
		                    	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
			              			<div th:text="${providerWrapper.provider.noProfit ? #messages.msg('label.sì') : #messages.msg('label.no')}"></div>
			              			<div th:if="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__]?.modificatoInIntegrazione == false and
			              				providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__]?.enabled == true}" class="fa fa-exclamation-circle orange big-icon" th:title="#{label.non_integrato_dal_provider}"></div>
		                    	</div>
		                    	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
									<div class="radio">
										<label th:class="${!canValutaDomanda} or ${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__]?.enabled == false} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or
											${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__]?.enabled == false}" />
											<span th:text="#{label.sì}">Sì</span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!canValutaDomanda or !providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].enabled} ? 'label-disabled'">
											<input type="radio" class="flat" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or
											!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].enabled}" />
											<span th:text="#{label.no}">No</span>
										</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
									<textarea th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].note}" th:disabled="${!canValutaDomanda or
									!providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].enabled}"></textarea>
								</div>
								<input type="hidden" th:field="${providerWrapper.mappa[__${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('provider.noProfit')}__].id}" />
		                    </th:block>
							<div th:if="${#fields.hasErrors('providerWrapper.provider.noProfit')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${providerWrapper.provider.noProfit}"></div>
						</div>
						<input id="submitButton" type="submit" style="display: none;" />
					</form>
				</div>
			</div>
		</th:block>
	</th:block>
</body>
</html>