<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<div id="scadenze-provider" class="modal fade modal-scadenze-provider" data-model-index="1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel1" th:text="#{label.impostazioni_attivita_provider}">Impostazioni attività del provider</h4>
					</div>
					<div class="modal-body">
						<form id="form-impostazioni-provider" class="form-horizontal"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">
							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.canInsertPianoFormativo') or #fields.hasErrors('impostazioniProviderWrapper.dataScadenzaInsertPianoFormativo')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.posticipo_inserimento_piano_formativo}"></label>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
									<div class="radio">
										<label>
											<input id="radioPF-Si" type="radio" class="flat" th:value="${true}" th:field="${impostazioniProviderWrapper.canInsertPianoFormativo}" />
											<span th:text="#{label.abilita}">abilita</span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input id="radioPF-No" type="radio" class="flat" th:value="${false}" th:field="${impostazioniProviderWrapper.canInsertPianoFormativo}" />
											<span th:text="#{label.disabilita}">disabilita</span>
										</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
									<label class="control-label col-xs-4" th:text="#{label.scadenza}"></label>
									<div class="col-xs-8 input-group datapick">
										<input type="text" id="dataPF" class="form-control data"
											th:field="${impostazioniProviderWrapper.dataScadenzaInsertPianoFormativo}" />
										<span class="input-group-addon" id="dataPFButton" onclick="$('#dataPF').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
									<th:block th:if="${#fields.hasErrors('impostazioniProviderWrapper.canInsertPianoFormativo') or #fields.hasErrors('impostazioniProviderWrapper.dataScadenzaInsertPianoFormativo')}">
										<div class="col-xs-4"></div>
										<div class="col-xs-8 alert" th:text="#{error.empty}"></div>
									</th:block>
								</div>
							</div>
							<div class="divider"></div>
							<div class="item form-group modalErrorImpostazioniEventi" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.canInsertEventi')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.posticipo_inserimento_eventi}"></label>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
									<div class="radio">
										<label>
											<input id="radioEventi-Si" type="radio" class="flat" th:value="${true}" th:field="${impostazioniProviderWrapper.canInsertEventi}" />
											<span th:text="#{label.abilita}">abilita</span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input id="radioEventi-No" type="radio" class="flat" th:value="${false}" th:field="${impostazioniProviderWrapper.canInsertEventi}" />
											<span th:text="#{label.disabilita}">disabilita</span>
										</label>
									</div>
								</div>
								<div th:if="${#fields.hasErrors('impostazioniProviderWrapper.canInsertEventi')}" class="alert" th:text="#{error.empty}"></div>
							</div>
							<div class="divider"></div>
							
							
							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.canInsertDomandaStandard') or #fields.hasErrors('impostazioniProviderWrapper.dataScadenzaInsertDomandaStandard')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.posticipo_inserimento_domanda_accreditamento_standard}"></label>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
									<div class="radio">
										<label>
											<input id="radioDomanda-Si" type="radio" class="flat" th:value="${true}" th:field="${impostazioniProviderWrapper.canInsertDomandaStandard}" />
											<span th:text="#{label.abilita}">abilita</span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input id="radioDomanda-No" type="radio" class="flat" th:value="${false}" th:field="${impostazioniProviderWrapper.canInsertDomandaStandard}" />
											<span th:text="#{label.disabilita}">disabilita</span>
										</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
									<label class="control-label col-xs-4" th:text="#{label.scadenza}"></label>
									<div class="col-xs-8 input-group datapick">
										<input type="text" id="dataDomanda" class="form-control data"
											th:field="${impostazioniProviderWrapper.dataScadenzaInsertDomandaStandard}" />
										<span class="input-group-addon" id="dataDomandaButton" onclick="$('#dataDomanda').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>

									<label class="control-label col-xs-4" th:text="#{label.proroga_validita_accreditamento_corrente}"></label>
									<div class="col-xs-8 input-group datapick">
										<input type="text" id="dataProrogaDomanda" class="form-control data"
											th:field="${impostazioniProviderWrapper.dataProrogaAccreditamentoCorrente}" />
										<span class="input-group-addon" id="dataDomandaButton" onclick="$('#dataProrogaDomanda').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
									<th:block th:if="${#fields.hasErrors('impostazioniProviderWrapper.canInsertDomandaStandard') or #fields.hasErrors('impostazioniProviderWrapper.dataProrogaAccreditamentoCorrente') or #fields.hasErrors('impostazioniProviderWrapper.dataScadenzaInsertDomandaStandard')}">
										<div class="col-xs-4"></div>
										<div class="col-xs-8 alert" th:text="#{error.empty}"></div>
									</th:block>
								</div>
							</div>
							
							
							<div class="divider"></div>
							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.canInsertDomandaProvvisoria') or #fields.hasErrors('impostazioniProviderWrapper.dataRinnovoInsertDomandaProvvisoria')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.can_insert_nuova_domanda_accreditamento_provvisorio}"></label>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
									<div class="radio">
										<label>
											<input id="radioDomandaProv-Si" type="radio" class="flat" th:value="${true}" th:field="${impostazioniProviderWrapper.canInsertDomandaProvvisoria}" />
											<span th:text="#{label.abilita}">abilita</span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input id="radioDomandaProv-No" type="radio" class="flat" th:value="${false}" th:field="${impostazioniProviderWrapper.canInsertDomandaProvvisoria}" />
											<span th:text="#{label.disabilita}">disabilita</span>
										</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
									<label class="control-label col-xs-4" th:text="#{label.a_partire_da}"></label>
									<div class="col-xs-8 input-group datapick">
										<input type="text" id="dataDomandaProv" class="form-control data"
											th:field="${impostazioniProviderWrapper.dataRinnovoInsertDomandaProvvisoria}" />
										<span class="input-group-addon" id="dataDomandaProvButton" onclick="$('#dataDomandaProv').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
									<th:block th:if="${#fields.hasErrors('impostazioniProviderWrapper.canInsertDomandaProvvisoria') or #fields.hasErrors('impostazioniProviderWrapper.dataRinnovoInsertDomandaProvvisoria')}">
										<div class="col-xs-4"></div>
										<div class="col-xs-8 alert" th:text="#{error.empty}"></div>
									</th:block>
								</div>
							</div>
							<div class="divider"></div>
							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.canInsertRelazioneAnnuale') or #fields.hasErrors('impostazioniProviderWrapper.dataScadenzaInsertRelazioneAnnuale')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.posticipo_inserimento_relazione_annuale}"></label>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
										<div class="radio">
											<label>
												<input id="radioRelazione-Si" type="radio" class="flat" th:value="${true}" th:field="${impostazioniProviderWrapper.canInsertRelazioneAnnuale}" />
												<span th:text="#{label.abilita}">abilita</span>
											</label>
										</div>
										<div class="radio">
											<label>
												<input id="radioRelazione-No" type="radio" class="flat" th:value="${false}" th:field="${impostazioniProviderWrapper.canInsertRelazioneAnnuale}" />
												<span th:text="#{label.disabilita}">disabilita</span>
											</label>
										</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
									<label class="control-label col-xs-4" th:text="#{label.scadenza}"></label>
									<div class="col-xs-8 input-group datapick">
										<input type="text" id="dataRelazioneAnnuale" class="form-control data"
											th:field="${impostazioniProviderWrapper.dataScadenzaInsertRelazioneAnnuale}" />
										<span class="input-group-addon" id="dataRelazioneAnnualeButton" onclick="$('#dataRelazioneAnnuale').click()">
				 							<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
									<th:block th:if="${#fields.hasErrors('impostazioniProviderWrapper.canInsertRelazioneAnnuale') or #fields.hasErrors('impostazioniProviderWrapper.dataScadenzaInsertRelazioneAnnuale')}">
										<div class="col-xs-4"></div>
										<div class="col-xs-8 alert" th:text="#{error.empty}"></div>
									</th:block>
								</div>
							</div>
							<div class="divider"></div>
							<div class="item form-group">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.pagamento_con_myPay_settings}"></label>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
										<div class="radio">
											<label>
												<input id="myPay-y" type="radio" class="flat" th:value="${true}" th:field="${impostazioniProviderWrapper.canMyPay}" />
												<span th:text="#{label.abilita}">abilita</span>
											</label>
										</div>
										<div class="radio">
											<label>
												<input id="myPay-n" type="radio" class="flat" th:value="${false}" th:field="${impostazioniProviderWrapper.canMyPay}" />
												<span th:text="#{label.disabilita}">disabilita</span>
											</label>
										</div>
										<div class="radio">
											<label>
												<input id="myPay-d" type="radio" class="flat" th:value="${null}" th:field="${impostazioniProviderWrapper.canMyPay}" />
												<span th:text="#{label.default}">default</span>
											</label>
										</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.stato')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.stato_del_provider}"></label>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"></div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
									<select
										id="statoSelect"
										class="selectpicker"
										th:field="${impostazioniProviderWrapper.stato}"
										data-width="100%" data-style="btn-primary"
										data-actions-box="true" data-size="10"
										data-hide-disabled="false"
										title="Seleziona uno stato...">
										<option
											th:each="stato, row: ${T(it.tredi.ecm.dao.enumlist.ProviderStatoEnum).values()}"
											th:value="${stato}"
											th:text="${stato.nome}">
										</option>
									</select>
								</div>
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"></div>
									<div th:if="${#fields.hasErrors('impostazioniProviderWrapper.stato')}" class="alert" th:text="#{error.empty}"></div>
								</div>
							</div>

							<input id="submitButton" type="submit" style="display: none;" />
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

						</form>
					</div>
					<div class="modal-footer">
						<label for="submitButton" class="btn btn-success pull-right" th:text="#{label.applica}">Applica</label>
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
					</div>
				</div>
			</div>
		</div>

		<div id="blocca-provider" class="modal fade modal-blocca-provider" data-model-index="1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel1" th:text="#{label.conferma_decadenza_provider}"></h4>
					</div>
					<div class="modal-body">
						<form id="form-blocca-provider" class="form-horizontal"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">

							<div class="item form-group" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.motivazioneDecadenza')} ? 'bad'">
								<label class="control-label col-lg-3 col-md-4 col-sm-5 col-xs-12" for="radioDecadenza">
									<span th:text="#{label.motivazione}"></span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<div class="radio">
										<label>
											<input type="radio" class="flat decadenza-radio" th:field="${impostazioniProviderWrapper.motivazioneDecadenza}" th:value="${T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).SCADENZA_INSERIMENTO_DOMANDA_STANDARD}" />
											<span th:text="${T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).SCADENZA_INSERIMENTO_DOMANDA_STANDARD.nome}"></span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" class="flat decadenza-radio" th:field="${impostazioniProviderWrapper.motivazioneDecadenza}" th:value="${T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).RICHIESTA_PROVIDER}" />
											<span th:text="${T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).RICHIESTA_PROVIDER.nome}"></span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" class="flat decadenza-radio" th:field="${impostazioniProviderWrapper.motivazioneDecadenza}" th:value="${T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).MANCATO_PAGAMENTO_QUOTA_ANNUALE}" />
											<span th:text="${T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).MANCATO_PAGAMENTO_QUOTA_ANNUALE.nome}"></span>
										</label>
									</div>
								</div>
								<div th:if="${#fields.hasErrors('impostazioniProviderWrapper.motivazioneDecadenza')}" class="alert" th:errors="${impostazioniProviderWrapper.motivazioneDecadenza}"></div>
							</div>

							<div class="item form-group inputDatiDecadenza" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.numeroDecreto')} ? 'bad'">
								<label class="control-label col-lg-3 col-md-4 col-sm-5 col-xs-12">
									<span th:text="#{label.numero_decreto}"></span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<input type="text" class="form-control" th:field="${impostazioniProviderWrapper.numeroDecreto}" />
								</div>
							</div>
							<div class="item form-group inputDatiDecadenza" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.dataDecreto')} ? 'bad'">
								<label class="control-label col-lg-3 col-md-4 col-sm-5 col-xs-12">
									<span th:text="#{label.data_decreto}"></span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 input-group datapick">
									<input type="text" id="dataDecretoDecadenza" class="form-control dataDecadenza"
										th:field="${impostazioniProviderWrapper.dataDecreto}" />
									<span class="input-group-addon" id="dataDecretoButton" onclick="$('#dataDecretoDecadenza').click()">
			 							<i class="glyphicon glyphicon-calendar"></i>
									</span>
								</div>
							</div>
							<div class="item form-group inputDataComunicazione" th:style="${impostazioniProviderWrapper.motivazioneDecadenza == T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).RICHIESTA_PROVIDER ? 'display: block;' : 'display: none;'}" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.dataComunicazioneDecadenza')} ? 'bad'">
								<label class="control-label col-lg-3 col-md-4 col-sm-5 col-xs-12">
									<span th:text="#{label.data_comunicazione_decadenza}"></span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 input-group datapick">
									<input type="text" id="dataComunicazioneDecadenza" class="form-control dataDecadenza"
										th:field="${impostazioniProviderWrapper.dataComunicazioneDecadenza}" />
									<span class="input-group-addon" id="dataComunicazioneDecadenzaButton" onclick="$('#dataComunicazioneDecadenza').click()">
			 							<i class="glyphicon glyphicon-calendar"></i>
									</span>
								</div>
							</div>

							<div class="inputDatiDecadenza col-lg-offset-3 col-md-offset-4 col-sm-offset-5">
								<button type="button" class="btn btn-primary" id="generaDecreto" onclick="changeActionAndSubmit('/decreto_decadenza/pdf');">
									<span th:text="#{label.genera_decreto}"></span>
								</button>
							</div>

							<div class="divider"></div>
							<div class="item form-group with-margin-top" th:classappend="${#fields.hasErrors('impostazioniProviderWrapper.allegatoDecadenza')} ? 'bad'">
								<th:block th:include="fragments/allegatiext :: allegatiext(impostazioniProviderWrapper, false, '*{T(it.tredi.ecm.dao.enumlist.FileEnum).FILE_DECADENZA}', allegatoDecadenza, null, null, null, true, 'edit', true)"></th:block>
							</div>

							<input id="bloccaProviderId" type="hidden" th:field="${impostazioniProviderWrapper.providerId}" />
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="changeActionAndSubmit('/blocca')" id="submitLuncher" class="btn btn-success pull-right" th:text="#{label.applica}">Applica</button>
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.provider_lista}">Lista dei provider</h2>
						<a class="btn btn-success pull-right" th:text="#{label.cerca}" th:href="@{/provider/ricerca}"></a>
						<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{/home}"></a>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table th:unless="${#lists.isEmpty(providerList)}" id="datatable-provider" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.id}">Id</th>
									<th th:text="#{label.denominazione_legale}">Denominazione legale</th>
									<th th:text="#{label.tipoOrganizzatore_nome}"></th>
									<th th:text="#{label.stato}">Status del provider</th>

									<th th:text="#{label.caninsert_piano_formativo}">Inserimento Piano Formativo</th>
									<th th:text="#{label.caninsert_eventi}">Inserimento Eventi</th>
									<th th:text="#{label.caninsert_domanda_accreditamento_standard}">Inserimento Domanda Accreditamento Standard</th>
									<th th:text="#{label.caninsert_relazione_annuale}">Inserimento Relazione Annuale</th>

									<!-- <th th:text="#{label.permessi}">Permessi</th> -->

									<th th:text="#{label.azioni}">Azioni</th>
								</tr>
							</thead>
							<tbody th:unless="${#lists.isEmpty(providerList)}" th:remove="all-but-first">
								<tr th:each="provider : ${providerList}" th:class="${provider.gruppo == 'A'} ? 'whiteBGround' : 'yellowBGround'">
									<td th:text="${provider.id}"></td>
									<td><a th:text="${provider.denominazioneLegale}" th:href="@{|/provider/${provider.id}/accreditamento/list|}">3d informatica</a></td>
									<td th:text="${provider.tipoOrganizzatore.nome}">informatica</td>
									<td th:text="${provider.status.nome}">stato</td>
									<td th:text="${provider.canInsertPianoFormativo() ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertPianoFormativo ? 'green' : 'red'}">abilitato/non abilitato</td>
									<td th:text="${provider.canInsertEvento() ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertEvento() ? 'green' : 'red'}">abilitato/non abilitato</td>
									<td th:text="${provider.canInsertAccreditamentoStandard() ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertAccreditamentoStandard() ? 'green' : 'red'}">abilitato/non abilitato</td>
									<td th:text="${provider.canInsertRelazioneAnnuale() ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertRelazioneAnnuale() ? 'green' : 'red'}">abilitato/non abilitato</td>

									<!-- <td class="text-full-length">
										<div th:text="#{label.caninsert_piano_formativo} + ' ' + ${provider.canInsertPianoFormativo ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertPianoFormativo ? 'green' : 'red'}"></div>
										<div th:text="#{label.caninsert_eventi} + ' ' + ${provider.canInsertEvento ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertEvento ? 'green' : 'red'}"></div>
										<div th:text="#{label.caninsert_domanda_accreditamento_standard} + ' ' + ${provider.canInsertAccreditamentoStandard() ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertAccreditamentoStandard() ? 'green' : 'red'}"></div>
									</td> -->

									<td class="text-full-length">
										<a th:href="@{|/provider/${provider.id}/comunicazione/list|}" class="btn btn-primary min-icon-width" th:title="#{label.comunicazioni_provider}"><i class="fa fa-comments"> </i></a>
										<a th:href="@{|/provider/${provider.id}/comunicazione/list?nonRisposte=true|}" class="btn btn-primary min-icon-width" th:title="#{label.comunicazioni_non_risposte_provider}"><i class="fa fa-commenting"> </i></a>
										<a th:href="@{|/audit/entity/ProviderAudit/entityId/${provider.id}|}" class="btn btn-primary min-icon-width" th:title="#{label.registro_operazioni}"><i class="fa fa-book"> </i></a>
										<a th:href="@{|/provider/${provider.id}/evento/list|}" class="btn btn-primary min-icon-width" th:title="#{label.eventi_provider}"><i class="fa fa-pencil-square-o"> </i></a>
										<a th:href="@{|/provider/${provider.id}/pianoFormativo/list|}" class="btn btn-primary min-icon-width" th:title="#{label.pfa_provider}"><i class="fa fa-calendar-o"> </i></a>
										<a th:href="@{|/provider/${provider.id}/relazioneAnnuale/list|}" class="btn btn-primary min-icon-width" th:title="#{label.relazione_annuale_provider}"><i class="fa fa-file-text"> </i></a>
										<a th:href="@{|/provider/${provider.id}/pagamento/list|}" class="btn btn-primary min-icon-width" th:title="#{label.contributo_annuale_provider}"><i class="fa fa-euro"> </i></a>
										<button type="button" class="btn btn-primary min-icon-width" th:onclick="|openModalImpostazioni(${provider.id}, ${provider.canInsertPianoFormativo}, ${provider.canInsertEvento},
											${provider.canInsertAccreditamentoStandard}, ${provider.canInsertAccreditamentoProvvisorio}, ${provider.canInsertRelazioneAnnuale}, '${provider.status}', '${provider.dataScadenzaInsertPianoFormativo}', '${provider.dataScadenzaInsertAccreditamentoStandard}',
											'${@providerServiceController.getDataFineAccreditamentoAttivoForProvider(provider)}', 
											'${provider.dataRinnovoInsertAccreditamentoProvvisorio}', '${provider.dataScadenzaInsertRelazioneAnnuale}', ${provider.myPay})|" th:title="#{label.abilita}"><i class="fa fa-unlock-alt"> </i></button>
										<button type="button" class="btn btn-danger min-icon-width" th:onclick="|openModalConfermaBloccoProvider(${provider.id})|" th:title="#{label.blocca}" th:unless="${provider.isBloccato()}"><i class="fa fa-times-circle"> </i></button>
										<button type="button" class="btn btn-danger min-icon-width disabled" th:title="#{label.blocca}" th:if="${provider.isBloccato()}"><i class="fa fa-times-circle"> </i></button>
									</td>
								</tr>
							</tbody>
						</table>
						<div th:if="${#lists.isEmpty(providerList)}">
							<h2 class="col-xs-12 text-center">
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_provider}">Non ci sono provider registrati!</i>
							</h2>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				var days;
				var months;

				$(document).ready(function() {
					$("#datatable-provider").DataTable();

					//setta i nomi dei giorni e dei mesi a seconda delle label i18n
					days = getDayNamesShort();
					months = getMonthNames();

					$('input.data').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        parentEl: $("#scadenze-provider"),
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })

				    $('input.dataDecadenza').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        parentEl: $("#blocca-provider"),
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })


				    if([[${impostazioniProviderWrapper != null and impostazioniProviderWrapper.submitError == true}]])
				    	$("#scadenze-provider").modal("show");

					if([[${impostazioniProviderWrapper != null and impostazioniProviderWrapper.motivazioneError == true}]])
					    $("#blocca-provider").modal("show");

					if([[${impostazioniProviderWrapper != null and
							impostazioniProviderWrapper.motivazioneDecadenza != null and
							(impostazioniProviderWrapper.motivazioneDecadenza == T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).SCADENZA_INSERIMENTO_DOMANDA_STANDARD or
							impostazioniProviderWrapper.motivazioneDecadenza == T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).RICHIESTA_PROVIDER)}]])
						$(".inputDatiDecadenza").show();
					else
						$(".inputDatiDecadenza").hide();

					if([[${impostazioniProviderWrapper != null and impostazioniProviderWrapper.motivazioneDecadenza != null and impostazioniProviderWrapper.motivazioneDecadenza == T(it.tredi.ecm.dao.enumlist.MotivazioneDecadenzaEnum).RICHIESTA_PROVIDER}]])
						$(".inputDataComunicazione").show();
					else
						$(".inputDataComunicazione").hide();

					$(".decadenza-radio").on("ifChecked", function() {
						var value = $(this).val();
						if(value == 'SCADENZA_INSERIMENTO_DOMANDA_STANDARD') {
							$(".inputDatiDecadenza").slideDown();
							$(".inputDataComunicazione").slideUp();
						}
						else if(value == 'RICHIESTA_PROVIDER') {
							$(".inputDatiDecadenza").slideDown();
							$(".inputDataComunicazione").slideDown();
						}
						else if(value == 'MANCATO_PAGAMENTO_QUOTA_ANNUALE') {
							$(".inputDatiDecadenza").slideUp();
							$(".inputDataComunicazione").slideUp();
						}
					});

				})

			    function openModalImpostazioni(idProvider,
						canInsertPF, canInsertEventi, canInsertDomanda, canInsertDomandaProv, canInsertRelazione,
						status, dataPF, dataDomanda, dataProrogaDomanda, dataDomandaProv, dataRelazione, myPay) {
					cleanForm();
					//action
					$("#scadenze-provider").modal("show");
					var url = [[@{|/provider/|}]] + idProvider + "/impostazioni/update";
					$("#form-impostazioni-provider").attr("action", url);
					//radio impostazioni canInsert
					if(canInsertPF)
						$("#radioPF-Si").iCheck("check")
					else
						$("#radioPF-No").iCheck("check")
					if(canInsertEventi)
						$("#radioEventi-Si").iCheck("check")
					else
						$("#radioEventi-No").iCheck("check")
					if(canInsertDomanda)
						$("#radioDomanda-Si").iCheck("check")
					else
						$("#radioDomanda-No").iCheck("check")
					if(canInsertDomandaProv)
						$("#radioDomandaProv-Si").iCheck("check")
					else
						$("#radioDomandaProv-No").iCheck("check")
					if(canInsertRelazione)
						$("#radioRelazione-Si").iCheck("check")
					else
						$("#radioRelazione-No").iCheck("check")
					if(myPay == null)
						$("#myPay-d").iCheck("check")
					else if(myPay)
						$("#myPay-y").iCheck("check")
					else
						$("#myPay-n").iCheck("check")
					//status del provider
					$("#statoSelect").val(status);
					$("#statoSelect").selectpicker("refresh");
					//gestione date
					//parse + format
					if(dataPF != "null" && dataPF != "undefined"){
						var dataScadenzaPF = moment(dataPF, "YYYY-MM-DD", true).format("DD/MM/YYYY");
						$("#dataPF").val(dataScadenzaPF);
					}

					if(dataDomanda != "null" && dataDomanda != "undefined"){
						var dataScadenzaDomanda = moment(dataDomanda, "YYYY-MM-DD", true).format("DD/MM/YYYY");
						$("#dataDomanda").val(dataScadenzaDomanda);
					}

					if(dataProrogaDomanda != "null" && dataProrogaDomanda != "undefined"){
						var dataProrDomanda = moment(dataProrogaDomanda, "YYYY-MM-DD", true).format("DD/MM/YYYY");
						$("#dataProrogaDomanda").val(dataProrDomanda);
					}

					if(dataDomandaProv != "null" && dataDomandaProv != "undefined"){
						var dataRinnovoDomandaProv = moment(dataDomandaProv, "YYYY-MM-DD", true).format("DD/MM/YYYY");
						$("#dataDomandaProv").val(dataRinnovoDomandaProv);
					}

					if(dataRelazione != "null" && dataRelazione != "undefined"){
						var dataScadenzaRelazione = moment(dataRelazione, "YYYY-MM-DD", true).format("DD/MM/YYYY");
						$("#dataRelazioneAnnuale").val(dataScadenzaRelazione);
					}
				}

				function openModalConfermaBloccoProvider(idProvider) {
					$("#submitLuncher").unbind();
					$("#submitLuncher").click(function() {
						changeActionAndSubmit("/blocca", idProvider);
					});
					$('#generaDecreto').unbind();
					$('#generaDecreto').click(function() {
						changeActionAndSubmit("/decreto_decadenza/pdf", idProvider);
					});
					$("#bloccaProviderId").val(idProvider);
					$("#form-blocca-provider")[0].reset();
					$('input[type="radio"]').each(function(i,r) {
						$r = $(r);
						$r.iCheck("uncheck");
						$r.iCheck("update");
					})
					$(".inputDatiDecadenza").hide();
					$(".inputDataComunicazione").hide();
					$("#blocca-provider").modal("show");
				}

				function cleanForm() {
					$("#form-impostazioni-provider")[0].reset();
					$('input[type="radio"]').each(function(i,r) {
						$r = $(r);
						$r.iCheck("uncheck");
						$r.iCheck("update");
					})
					$("#statoSelect").val("");
					$("#statoSelect").selectpicker("refresh");
					$('input.data').each(function(i,d) {
						$d = $(d);
						$d.val("");
					})
				}

				function changeActionAndSubmit(urlEnding, idProvider) {
					if(idProvider == null || idProvider == undefined) {
						idProvider = $("#bloccaProviderId").val();
					}
					$("#form-blocca-provider").attr("action", [[@{|/provider/|}]] + idProvider + urlEnding);
					$("#form-blocca-provider").submit();
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>

