<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.modifica} + ' ' + #{label.info_provider}">label.info_provider</h2>
						<div class="pull-right buttons-header">
							<th:block th:unless="${#lists.isEmpty(providerWrapper.idEditabili)}">
								<label class="btn btn-success pull-right" th:text="#{label.salva}" for="submitButton"></label>
							</th:block>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/accreditamento/${accreditamentoId}/edit|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="provider/providerFragment :: provider('edit')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				$('#hasPartitaIVA').on('ifChecked', function(){
			    	$('#partitaIva').prop('disabled', false)
			    		.prop('required', true)
			   	});

			   	$('#hasNotPartitaIVA').on('ifChecked', function() {
			   		$('#partitaIva').prop('disabled', true)
			   			.prop('required', false)
			   			.val('')
			   			.blur()
			   			.parent().closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
							$(this).remove();
						});
			   	});

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>