<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.provider_lista}">Lista dei provider</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table th:unless="${#lists.isEmpty(providerList)}" id="datatable-provider" class="table table-striped table-bordered dt-responsive nowrap datatable-responsive" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.denominazione_legale}">Denominazione legale</th>
									<th th:text="#{label.codiceFiscaleOrIVA}">Codice fiscale / Partita IVA</th>
									<th th:text="#{label.gruppo_appartenenza}">Gruppo di appartenenza</th>
									<th th:text="#{label.status}">Status del provider</th>
									<th th:text="#{label.caninsert_piano_formativo}">Inserimento Piano Formativo</th>
									<th th:text="#{label.caninsert_eventi}">Inserimento Eventi</th>
									<th th:text="#{label.caninsert_domanda_accreditamento_standard}">Inserimento Domanda Accreditamento Standard</th>
								</tr>
							</thead>
							<tbody th:unless="${#lists.isEmpty(providerList)}" th:remove="all-but-first">
								<tr th:each="provider : ${providerList}">
									<td><a th:text="${provider.denominazioneLegale}" th:href="@{|/provider/${provider.id}/accreditamento/list|}">3d informatica</a></td>
									<td th:text="${provider.partitaIva != null and !#strings.isEmpty(provider.partitaIva) ? provider.codiceFiscale + ' (' + provider.partitaIva +')' : provider.codiceFiscale}">RTFEWE03543534 o IVA4353425345321</td>
									<td th:text="${provider.gruppo}">informatica</td>
									<td th:text="${provider.status.nome}">stato</td>
									<td th:text="${provider.canInsertPianoFormativo ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertPianoFormativo ? 'green' : 'red'}">abilitato/non abilitato</td>
									<td th:text="${provider.canInsertEvento ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertEvento ? 'green' : 'red'}">abilitato/non abilitato</td>
									<td th:text="${provider.canInsertAccreditamentoStandard ? #messages.msg('label.abilitato') : #messages.msg('label.non_abilitato')}" th:class="${provider.canInsertAccreditamentoStandard ? 'green' : 'red'}">abilitato/non abilitato</td>
								</tr>
							</tbody>
						</table>
						<div th:if="${#lists.isEmpty(providerList)}">
							<h2 class="col-xs-12 text-center">
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_provider}">Non ci sono provider registrati!</i>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

