<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		layout:decorator="fragments/template">
	<head lang="it">
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="text-uppercase" th:text="#{label.cambio_password}"></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form class="form-horizontal form-label-left" th:object="${accountChangePassword}" th:action="@{/user/changePassword}" method="post" novalidate="novalidate">
							<!-- old password -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'bad'">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomeUtente">
									<span class="required" th:text="#{label.password_corrente}">label.password_corrente</span>
									<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="password" id="oldPassword" th:field="*{oldPassword}"
										required="required" class="form-control col-md-7 col-xs-12" />
								</div>
								<div th:if="${#fields.hasErrors('oldPassword')}" class="alert" th:errors="*{oldPassword}"></div>
							</div>

							<!-- new password -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('newPassword')} ? 'bad'">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="newPassword">
									<span class="required" th:text="#{label.nuova_password}">label.nuova_password</span>
									<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="password" id="newPassword" th:field="*{newPassword}"
										required="required" data-validate-length-range="8,12" pattern="passwordEcm" class="form-control col-md-7 col-xs-12" />
								</div>
								<div th:if="${#fields.hasErrors('newPassword')}" class="alert" th:errors="*{newPassword}"></div>
							</div>

							<!-- repeat new password -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('confirmNewPassword')} ? 'bad'">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmNewPassword">
									<span class="required" th:text="#{label.conferma_password}">label.conferma_password</span>
									<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}"
										data-validate-linked="newPassword" required="required" class="form-control col-md-7 col-xs-12" />
								</div>
								<div th:if="${#fields.hasErrors('confirmNewPassword')}" class="alert" th:errors="*{confirmNewPassword}"></div>
							</div>


		                    <!-- Invia dati -->
							<div class="item form-group text-right">
								<a class="btn btn-default right" th:href="@{/home}" th:text="#{label.annulla}"></a>
								<input class="btn right btn-success" type="submit" name="save" th:value="#{label.conferma}"/>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>