<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		layout:decorator="fragments/template">
	<head lang="it">
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="text-uppercase" th:if="${account.new}" th:text="#{label.creazione_utente}"></h2>
						<h2 class="text-uppercase" th:unless="${account.new}" th:text="#{label.modifica_utente}"></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form class="form-horizontal form-label-left" th:object="${account}" th:action="@{/user/save}" method="post" novalidate="novalidate">
							
							<!-- nome utente -->
							<input type="hidden" name="editId" th:value="*{id}" />
							<div class="item form-group" th:classappend="${#fields.hasErrors('username')} ? 'bad'">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomeUtente">
									<span class="required" th:text="#{label.nome_utente}">label.nome_utente</span>
									<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="nomeUtente" th:field="*{username}"
										required="required" class="form-control col-md-7 col-xs-12" />
								</div>
								<div th:if="${#fields.hasErrors('username')}" class="alert" th:errors="*{username}"></div>
							</div>
							
							<!-- email -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('email')} ? 'bad'">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
									<span class="required" th:text="#{label.email}">label.email</span>
									<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="email" id="email" th:field="*{email}"
										required="required" class="form-control col-md-7 col-xs-12" />
								</div>
								<div th:if="${#fields.hasErrors('email')}" class="alert" th:errors="*{email}"></div>	
							</div>
							
							<!-- Enabled -->
							<div class="item form-group">
		                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
							  	<span th:text="#{label.stato_account}">label.stato_account</span>
							  </label>
		                      <div class="col-md-9 col-sm-9 col-xs-12">
		                        <div class="">
		                          <label>
		                            <input type="checkbox" name="enabled" class="js-switch" th:value="*{enabled}" th:field="*{enabled}" /> <span th:text="#{label.enabled}">label.enabled</span>
		                          </label>
		                        </div>
		                        <div class="switch-account-locked">
		                          <label>
		                             <input type="checkbox" name="locked" class="js-switch red" th:value="*{locked}" th:field="*{locked}" /> <span th:text="#{label.locked}">label.locked</span>
		                          </label>
		                        </div>
		                      </div>
		                    </div>
		                    
		                    <!-- Profili -->
		                    <div class="item form-group">
		                      <label class="col-md-3 col-sm-3 col-xs-12 control-label">
		                      	<span th:text="#{label.profili}"></span>
		                      </label>
		
		                      <div class="col-md-9 col-sm-9 col-xs-12">
		                        <div class="checkbox" th:each="profile, row: ${profileList}">
		                          <label>
		                            <input type="checkbox" class="flat" th:field="*{profiles}" th:value="${profile.id}"/> <span th:text="${profile.name}">profile.name</span>
		                          </label>
		                        </div>
                        	  </div>
                        	</div>
                        	
                        	<!-- note -->
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="note">
								<span th:text="#{label.note}">label.note</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<textarea type="text" id="note" th:field="*{note}"	class="form-control col-md-7 col-xs-12"></textarea>
							</div>
		                    
		                    <!-- Invia dati -->
							<div class="item form-group text-right">
								<a class="btn btn-primary right" th:href="@{/user/list}" th:text="#{label.indietro}"></a>
								<input class="btn right btn-success" type="submit" name="save" th:value="#{label.conferma}"/>
							</div>
						</form>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>