<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<div id="scadenze-evento" th:if="${#authentication.principal.account.isSegreteria()}" class="modal fade modal-scadenze-evento" data-model-index="1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel1" th:text="#{label.impostazioni_scadenze_evento}">Impostazioni scadenze dell'evento</h4>
					</div>
					<div class="modal-body">
						<form id="form-scadenze-evento" class="form-horizontal"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">
							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('scadenzeEventoWrapper.dataScadenzaPagamento')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.posticipo_scadenza_pagamento}"></label>
								<label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-6" th:text="#{label.scadenza}"></label>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 input-group datapick">
									<input type="text" id="dataPagamento" class="form-control data"
										th:field="${scadenzeEventoWrapper.dataScadenzaPagamento}" />
									<span class="input-group-addon" id="dataPagamentoButton" onclick="$('#dataPagamento').click()">
			 							<i class="glyphicon glyphicon-calendar"></i>
									</span>
								</div>
								<div th:if="${#fields.hasErrors('scadenzeEventoWrapper.dataScadenzaPagamento')}" class="alert pull-right" th:errors="${scadenzeEventoWrapper.dataScadenzaPagamento}"></div>
							</div>

							<div class="divider"></div>

							<div class="item form-group modalAlert" th:classappend="${#fields.hasErrors('scadenzeEventoWrapper.dataScadenzaRendicontazione')} ? 'bad'">
								<label class="label-show col-lg-4 col-md-4 col-sm-4 col-xs-12" th:text="#{label.posticipo_scadenza_rendicontazione}"></label>
								<label class="col-lg-4 col-md-4 col-sm-4 col-xs-6 control-label" th:text="#{label.scadenza}"></label>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 input-group datapick">
									<input type="text" id="dataRendicontazione" class="form-control data"
										th:field="${scadenzeEventoWrapper.dataScadenzaRendicontazione}" />
									<span class="input-group-addon" id="dataPagamentoButton" onclick="$('#dataRendicontazione').click()">
			 							<i class="glyphicon glyphicon-calendar"></i>
									</span>
								</div>
								<div th:if="${#fields.hasErrors('scadenzeEventoWrapper.dataScadenzaRendicontazione')}" class="alert pull-right" th:errors="${scadenzeEventoWrapper.dataScadenzaRendicontazione}"></div>
							</div>

							<input id="submitButtonScadenze" type="submit" style="display: none;" />
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<input th:if="${scadenzeEventoWrapper.returnLink == null}" type="hidden" th:value="${#strings.substring(#httpServletRequest.requestURI,#strings.indexOf(#httpServletRequest.requestURI,#httpServletRequest.contextPath) + #strings.length(#httpServletRequest.contextPath))}" name="returnLink" />
							<input th:unless="${scadenzeEventoWrapper.returnLink == null}" type="hidden" th:field="${scadenzeEventoWrapper.returnLink}" />

						</form>
					</div>
					<div class="modal-footer">
						<label for="submitButtonScadenze" class="btn btn-success pull-right" th:text="#{label.applica}">Applica</label>
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
					</div>
				</div>
			</div>
		</div>

		<!-- modali per inserimento nuovo evento (scelta opzioni) -->
		<th:block th:if="${canCreateEvento}">
			<div id="scelta-tipologia-modal" class="modal fade modal-scelta-tipologia" data-model-index="1" role="dialog">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_procedura_formativa_evento}">Scelta della tipologia dell'Evento da inserire</h4>
						</div>
						<div class="modal-body">

							<form id="selezioneTipologiaEvento" class="form-horizontal"
								th:action="@{|/provider/${providerId}/evento/new|}"
								method="post" enctype="multipart/form-data"
								novalidate="novalidate">

								<div class="item modalAlert">
									<div class="radio" th:each="proceduraFormativa, row : ${proceduraFormativaList}" th:classappend="${error == true} ? 'bad'">
										<label>
											<input type="radio" class="flat" name="proceduraFormativa" th:value="${proceduraFormativa}"/>
											<span th:text="${proceduraFormativa.nome}"></span>
										</label>
									</div>
									<div th:if="${error}" class="alert" th:text="#{error.empty}" style="left: 0; opacity: inherit"></div>
								</div>

								<input id="submitTipologiaModal" type="submit" style="display: none;" />

							</form>

						</div>
						<div class="modal-footer">
							<label for="submitTipologiaModal" class="btn btn-success pull-right" th:text="#{label.Ok}">Ok</label>
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
						</div>
					</div>
				</div>
			</div>

			<div id="scelta-attuazione-modal" class="modal fade modal-scelta-attuazione" data-model-index="1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_evento_piano_formativo}">Scelta Evento del Piano Formativo da attuare</h4>
						</div>
						<div class="modal-body">

							<div th:if="${#lists.isEmpty(eventoAttuazioneList)}">
								<h2 class="col-xs-12 text-center">
									<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_evento_list}">Non ci sono eventi da attuare!</i>
								</h2>
							</div>

							<table th:unless="${#lists.isEmpty(eventoAttuazioneList)}" id="tableAttuazione" class="datatable-responsive-eventi-attuazione table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th th:text="#{label.codice_identificativo}">label.codice_identificativo</th>
										<th th:text="#{label.titolo}">label.titolo</th>
										<th th:text="#{label.procedure_formative_tipologia}">label.procedure_formative_tipologia</th>
										<th th:text="#{label.obiettivo_formativo_nazionale}">label.obiettivo_strategioco_nazionale</th>
										<th th:text="#{label.obiettivo_formativo_regionale}">label.obiettivo_strategioco_regionale</th>
										<th th:text="#{label.azioni}">label.azioni</th>
									</tr>
								</thead>
								<tbody th:remove="all-but-first">
									<tr th:each="eventoPF, row : ${eventoAttuazioneList}">
										<td th:text="${eventoPF.getCodiceIdentificativo()}"></td>
										<td th:text="${eventoPF.titolo}"></td>
										<td th:text="${eventoPF.proceduraFormativa.name()}"></td>
										<td th:text="${eventoPF.obiettivoNazionale?.nome}"></td>
										<td th:text="${eventoPF.obiettivoRegionale?.nome}"></td>
										<td>
											<a class="btn btn-primary btn-table single" th:href="@{|/provider/${providerId}/eventoPianoFormativo/${eventoPF.id}/fulfill|}"><i class="glyphicon glyphicon-step-forward"> </i> <span th:text="#{label.accredita}"> </span></a>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
						</div>
					</div>
				</div>
			</div>

			<div th:if="${canRieditEvento}" id="scelta-riedizione-modal" class="modal fade modal-scelta-riedizione" data-model-index="1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_evento_riedizione}">Scelta Evento da rieditare</h4>
						</div>
						<div class="modal-body">

							<div th:if="${#lists.isEmpty(eventoRiedizioneList)}">
								<h2 class="col-xs-12 text-center">
									<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_evento_list}">Non ci sono eventi da attuare!</i>
								</h2>
							</div>

							<table th:unless="${#lists.isEmpty(eventoRiedizioneList)}" id="tableRiedizione" class="datatable-responsive-eventi-riedizione table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th th:text="#{label.codice_identificativo}">label.codice_identificativo</th>
										<th th:text="#{label.titolo}">label.titolo</th>
										<th th:text="#{label.procedure_formative_tipologia}">label.procedure_formative_tipologia</th>
										<th th:text="#{label.data_inizio}">label.data_inizio</th>
										<th th:text="#{label.azioni}">label.azioni</th>
									</tr>
								</thead>
								<tbody th:remove="all-but-first">
									<tr th:each="evento, row : ${eventoRiedizioneList}">
										<td th:text="${evento.getCodiceIdentificativo()}"></td>
										<td th:text="${evento.titolo}"></td>
										<td th:text="${evento.proceduraFormativa.name()}"></td>
										<td th:text="${#temporals.format(evento.dataInizio, 'dd/MM/yyyy')}"></td>
										<td>
											<a class="btn btn-primary btn-table single" th:href="@{|/provider/${providerId}/evento/${evento.id}/re-edit|}"><i class="glyphicon glyphicon-repeat"> </i> <span th:text="#{label.riedita}"> </span></a>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:if="${label == null}" th:text="${denominazioneProvider != null} ? #{label.lista_eventi_provider(${denominazioneProvider})} : #{label.lista_eventi}">Lista degli eventi</h2>
						<h2 th:if="${label != null}" th:text="${label}">Lista degli eventi</h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
								<th:block th:if="${canCreateEvento}">
									<a th:if="${canRieditEvento}" class="btn btn-primary pull-right" th:text="#{label.riedizione_evento}" data-toggle="modal" data-target=".modal-scelta-riedizione"></a>
									<a class="btn btn-primary pull-right" th:text="#{label.nuovo_evento_da_pfa}" data-toggle="modal" data-target=".modal-scelta-attuazione"></a>
									<a class="btn btn-primary pull-right" th:text="#{label.creazione_evento}" data-toggle="modal" data-target=".modal-scelta-tipologia"></a>
								</th:block>
									<a class="btn btn-success pull-right" th:text="#{label.cerca}" th:href="@{/evento/ricerca}"></a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<div th:if="${#lists.isEmpty(eventoList)}">
							<h2 class="col-xs-12 text-center">
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_evento_list}">Non ci sono eventi!</i>
							</h2>
						</div>

						<table th:unless="${#lists.isEmpty(eventoList)}" class="datatable-responsive-eventi-provider table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.codice_identificativo}">label.codice_identificativo</th>
									<th th:if="${#authentication.principal.hasProfile('SEGRETERIA')}" th:text="#{label.denominazione_legale}">label.denominazione_legale</th>
									<th th:text="#{label.edizione_short}">label.edizione_short</th>
									<th th:text="#{label.tipo}">label.tipo</th>
									<th th:text="#{label.titolo}">label.titolo</th>
									<th th:text="#{label.sede}">label.sede</th>
									<th th:text="#{label.data_inizio}">label.date</th>
									<th th:text="#{label.data_fine}">label.date</th>
									<th th:text="#{label.stato}"></th>
									<th th:text="#{label.numero_partecipanti_short}">label.numero_partecipanti_short</th>
									<th th:text="#{label.durata}">label.ore_corso</th>
									<th th:text="#{label.data_scadenza_rendiconto}">label.data_scadenza_pagamento</th>
									<th th:text="#{label.flag_crediti_confermati}">label.flag_crediti_confermati</th>
									<th th:text="#{label.azioni}" th:if="${#authentication.principal.account.isProvider() or #authentication.principal.account.isSegreteria()}">label.azioni</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each="evento, row : ${eventoList}">
									<td><a th:text="${evento.getCodiceIdentificativo()}" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/show|}"></a></td>
									<td th:if="${#authentication.principal.hasProfile('SEGRETERIA')}" th:text="${evento.provider.denominazioneLegale}"></td>
									<td th:text="${evento.edizione}"></td>
									<td th:text="${evento.proceduraFormativa.name()}"></td>
									<td style="word-break: break-word" th:text="${evento.titolo}"></td>

									<td th:if="${evento.proceduraFormativa == T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FAD}">
										<span></span>
									</td>
									<td th:unless="${evento.proceduraFormativa == T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FAD}">
										<span th:text="${evento.sedeEvento?.luogo}"></span>
									</td>

									<td th:text="${evento.dataInizio != null} ? ${#temporals.format(evento.dataInizio, 'dd/MM/yyyy')} : ''"></td>
									<td th:text="${evento.dataFine != null} ? ${#temporals.format(evento.dataFine, 'dd/MM/yyyy')} : ''"></td>
									<td>
										<div th:text="${evento.stato.nome}"></div>
										<div th:if="${evento.pagato != null and evento.pagato and !evento.isCancellato()}"><span class="label-pagato" th:text="#{label.pagato}"></span></div>
										<div th:if="${evento.isCancellato()}"><span class="label-non-pagato" th:text="#{label.cancellato}"></span></div>
										<div th:if="${evento.pagato == null or (!evento.pagato and !evento.isCancellato())}">
											<span th:if="${evento.pagInCorso}" class="label-non-pagato" th:text="#{label.pagInCorso}"></span>
											<span th:unless="${evento.pagInCorso}" class="label-non-pagato" th:text="#{label.da_pagare}"></span>
										</div>
									</td>
									<td th:text="${evento.numeroPartecipanti}"></td>
									<td th:text="${T(it.tredi.ecm.utils.Utils).formatOrario( evento.durata != null ? evento.durata : 0)}"></td>
									<td th:text="${evento.dataScadenzaPagamento == null} ? '' : ${#temporals.format(evento.dataScadenzaPagamento, 'dd/MM/yyyy')}"></td>
									<td>
										<div th:if="${evento.confermatiCrediti != null}">
											<i class="fa table-icon fa-check green" th:if="${evento.confermatiCrediti}" th:title="#{label.sì}"></i>
											<i class="fa table-icon fa-remove red" th:unless="${evento.confermatiCrediti}" th:title="#{label.no}"></i>
										</div>
										<div th:if="${evento.confermatiCrediti == null}">
											<i class="fa table-icon fa-question grey" th:title="#{label.non_specificato}"></i>
										</div>
									</td>
									<td class="text-full-length" th:if="${#authentication.principal.account.isProvider() or #authentication.principal.account.isSegreteria()}">
										<a class="btn btn-primary min-icon-width" th:if="${evento.canEdit()}" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/edit|}" th:title="#{label.modifica}"><i class="fa fa-pencil"></i></a>
										<button th:if="${#authentication.principal.account.isSegreteria() and evento.canSegreteriaShiftData()}" type="button" class="btn btn-primary min-icon-width" th:onclick="|openModalScadenze(${evento.id}, '${evento.dataScadenzaPagamento}', '${evento.dataScadenzaInvioRendicontazione}')|" th:title="#{label.abilita}"><i class="fa fa-unlock-alt"> </i></button>
										<!-- TODO DISABILITATO PER LA PRODUZIONE -->
										<a class="btn btn-success btn-min-icon-width" th:if="${evento.canDoPagamento()}" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/paga|}" th:title="#{label.paga}"><i class="fa fa-euro"></i></a>

										<a class="btn btn-primary min-icon-width" th:if="${#authentication.principal.account.isSegreteria()}" th:href="@{|/audit/entity/${evento.getAuditEntityType()}/entityId/${evento.id}|}" th:title="#{label.registro_operazioni}"><i class="fa fa-book"></i></a>
										<a class="btn btn-warning min-icon-width" th:if="${evento.canDoRendicontazione()}" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/rendiconto|}" th:title="#{label.rendiconto}"><i class="fa fa-file-text"></i></a>
										<a class="btn btn-primary min-icon-width" th:if="${evento.canDoUploadSponsor()}" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/allegaContrattiSponsor|}" th:title="#{label.allega_contratti_sponsor}"><i class="fa fa-file"></i></a>
										<button class="btn btn-danger min-icon-width" th:if="${evento.canEdit()}" th:onclick="|confirmDeleteEventoModal('${evento.provider.id}','${evento.id}','${evento.proceduraFormativa}','${evento.codiceIdentificativo}','${evento.stato}')|" th:title="${evento.stato == T(it.tredi.ecm.dao.enumlist.EventoStatoEnum).BOZZA} ? #{label.elimina} : #{label.annulla}"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				var colonne = []
				var confermati
				var date = []
				if([[${#authentication.principal.isSegreteria()}]]) {
					colonne = [0,1,2,3,5,6,7,8,9,10,11,12,13]
					confermati = 12
					date = [6,7,11]
				}
				else if([[${#authentication.principal.isProvider()}]]){
					colonne = [0,1,2,4,5,6,7,8,9,10,11,12]
					confermati = 11
					date = [5,6,10]
				}
				else {
					colonne = [0,1,2,4,5,6,7,8,9,10,11]
					confermati = 11
					date = [5,6,10]
				}
				var days;
				var months;

				$(document).ready(function() {

			        $.fn.dataTable.moment('DD/MM/YYYY');
					$(".datatable-responsive-eventi-provider").DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : true,
						 "columnDefs": [
					                     {"targets": colonne, "width": "1px"},
					                     {"targets": confermati, "sClass": "center"},
// 					                     { "type": 'date-eu', "targets": date},
					                   ],
					})

					$(".datatable-responsive-eventi-attuazione").DataTable({
						"bInfo" : false,
						"bPaginate" : false,
						scrollY: 300,
						"bScrollCollapse": true,
					    scroller: true,
					    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
					    "columnDefs": [
					                   	{"targets": [ '_all' ], "orderable": false },
					                    {"targets": 5, "orderable": false, "width": "1px"},
					                    {"targets": [ 0 ], "orderData": [ 0, 1 ] }

					                  ],
					});

					$(".datatable-responsive-eventi-riedizione").DataTable({
						"bInfo" : false,
						"bPaginate" : false,
						scrollY: 300,
						"bScrollCollapse": true,
					    scroller: true,
					    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
					    "columnDefs": [
					                   	{"targets": [ '_all' ], "orderable": false },
					                    {"targets": 4, "orderable": false, "width": "1px"},
					                    {"targets": [ 0 ], "orderData": [ 0, 1 ] }
					                  ],
					});

					if([[${error}]]) {
						$("#scelta-tipologia-modal").modal("show");
					}

					$("input[name=proceduraFormativa]").each(function() {
						$(this).on('ifToggled', function() {
							$('div.alert').fadeOut(150, function() {
								$(this).remove();
							});
							$('.bad').removeClass('bad');
						});
					})

					//setta i nomi dei giorni e dei mesi a seconda delle label i18n
					days = getDayNamesShort();
					months = getMonthNames();

					$('input.data').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        parentEl: $("#scadenze-evento"),
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })

				    if([[${scadenzeEventoWrapper != null && scadenzeEventoWrapper.submitScadenzeError == true}]])
				    	$("#scadenze-evento").modal("show");

				})

				function openModalScadenze(idEvento, dataPagamento, dataRendicontazione) {
					cleanFormScadenze();
					//action
					$("#scadenze-evento").modal("show");
					var url = [[@{|/evento/|}]] + idEvento + "/proroga/scadenze";
					$("#form-scadenze-evento").attr("action", url);

					//parse + format
					var pagamentoData = moment(dataPagamento, "YYYY-MM-DD", true).format("DD/MM/YYYY");
					var rendicontazioneData = moment(dataRendicontazione, "YYYY-MM-DD", true).format("DD/MM/YYYY");

					$("#dataPagamento").val(pagamentoData);
					$("#dataRendicontazione").val(rendicontazioneData);
				}

				function cleanFormScadenze() {
					$("#form-scadenze-evento")[0].reset();
					$("#dataPagamento").val("");
					$("#dataRendicontazione").val("");
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>