<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<th:block th:fragment="eventoVersione">

		<script th:inline="javascript">
		/*<![CDATA[*/
				// EVENTO_VERSIONE
				var eventoType = [[${eventoWrapper.evento.getClass().getSimpleName()}]];
				var eventoVersione = [[${eventoWrapper.evento.getVersione()?.getNumeroVersione()}]];

				//var eventoVersionDefault = [[@{|${@ecmProperties.getEventoVersioneDefault().getNumeroVersione()}|}]];
				var eventoVersionDefault = [[${@ecmProperties.getEventoVersioneDefault().getNumeroVersione()}]];
				var eventoDataPassaggioVersioneDue = new Date([[@{${@ecmProperties.getEventoDataPassaggioVersioneDue().getYear()}}]], [[@{${@ecmProperties.getEventoDataPassaggioVersioneDue().getMonthValue() - 1}}]], [[@{${@ecmProperties.getEventoDataPassaggioVersioneDue().getDayOfMonth()}}]], 0, 0, 0, 0);

				function getEventoDataInizio() {
					var toRet = null;
					var dataInizio = $('#dataInizio').val();
					if(dataInizio != null && dataInizio != undefined && dataInizio != ''){
						//console.log('dataInizio: ' + dataInizio);
						var diSplitted = dataInizio.split('/');
						if(diSplitted.length == 3) {
							toRet = new Date(diSplitted[2], diSplitted[1] - 1, diSplitted[0], 0, 0, 0, 0);
						}
					}
					return toRet;
				}

				function isFad() {
					return eventoType === 'EventoFAD';
				}

				function isFsc() {
					return eventoType === 'EventoFSC';
				}

				function isRes() {
					return eventoType === 'EventoRES';
				}

				function getVersione() {
					var versione = eventoVersionDefault;
					//se la data inizio dell'evento e' maggiore uguale al 2018 utilizzo il nuovo metodo di calcolo
					if(eventoVersione === null) {
						var eventoDataInizio = getEventoDataInizio();
						if(eventoDataInizio != null) {
							//console.log('eventoDataInizio: ' + eventoDataInizio + '\neventoDataPassaggioVersioneDue: ' + eventoDataPassaggioVersioneDue);
							//console.log(eventoDataInizio.getTime() + ' - ' + eventoDataPassaggioVersioneDue.getTime());
							if(eventoDataInizio.getTime() >= eventoDataPassaggioVersioneDue.getTime() ) {
								versione = 2;
							} else {
								versione = 1;
							}
						}
					} else {
						versione = eventoVersione;
					}
					console.log('versione Evento: ' + versione);
					return versione;
				}
		/*]]>*/
		</script>
	</th:block>



</body>
</html>