<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<th:block th:fragment="eventoRESEdit">

		<div class="x_content">
		
			<!-- finestra modale di aggiunta attivitaRES a programma del Giorno -->
			<div id="add-attivitaRES-modal" class="modal fade modal-add-attivitaRES" data-model-index="4" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel4" th:text="#{label.inserisci_attivita}">Inserisci attivita</h4>
						</div>
						<div class="modal-body">
							<form id="addAttivitaRES" name="addAttivitaRES" class="form-horizontal form-label-left"
									th:object="${eventoWrapper.tempAttivitaRES}" method="post" enctype="multipart/form-data"
									novalidate="novalidate">
									
									<!-- ORARIO -->
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="orario">
											<span th:text="#{label.orario}">Orario</span>
											<span class="required">*</span>
										</label>
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group" id="razionale">
											<input type="text" required="required" class="form-control ora"
												th:field="*{orario}" />	
												<span class="input-group-addon openClock">
	     											<i class="glyphicon glyphicon-time"></i>
	  											</span>
										</div>
									</div>
								
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="razionale">
											<span th:text="#{label.argomento}">Argomento</span>
											<span class="required">*</span>
										</label>
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
											<input type="text" th:field="*{argomento}" />	
										</div>
									</div>
								
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="razionale">
											<span th:text="#{label.risultato_atteso}">Risultato Atteso</span>
											<span class="required">*</span>
										</label>
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
											<select
												class="selectpicker required selectRisultatiAttesi"
												th:field="*{risultatoAtteso}"
												data-width="100%" data-style="btn-primary"
												data-actions-box="true" data-size="10"
												data-hide-disabled="false"
												title="Seleziona un risultato atteso...">
												<option
													th:each="risultatoAtteso, row: ${eventoWrapper.obiettiviRegionali}"
													th:value="${risultatoAtteso}"
													th:text="${risultatoAtteso}">
												</option>
											</select>
										</div>
									</div>
								
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="razionale">
											<span th:text="#{label.obiettivo_formativo}">Obiettivo Formativo</span>
											<span class="required">*</span>
										</label>
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
											<select
												class="selectpicker required selectObiettivoFormativo"
												th:field="*{obiettivoFormativo}"
												data-width="100%" data-style="btn-primary"
												data-actions-box="true" data-size="10"
												data-hide-disabled="false"
												onchange="updateMetodologieDidattiche(this)"
												title="Seleziona un obiettivo...">
												<option
													th:each="obiettivoFormativo, row: ${T(it.tredi.ecm.dao.enumlist.ObiettiviFormativiRESEnum).values()}"
													th:value="${obiettivoFormativo}"
													th:text="${obiettivoFormativo.nome}">tipologia selezionata
												</option>
											</select>
										</div>
									</div>
								
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="razionale">
											<span th:text="#{label.metodologia_didattica}">Metodologia Didattica</span>
											<span class="required">*</span>
										</label>
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
											<select
												class="selectpicker required selectMetodologieDidattiche"
												th:field="*{metodologiaDidattica}"
												data-width="100%" data-style="btn-primary"
												data-actions-box="true" data-size="10"
												data-hide-disabled="false"
												title="Seleziona una Metodologia Didatticha">
												<option
													th:each="metodologiaDidattica, row: ${T(it.tredi.ecm.dao.enumlist.MetodologiaDidatticaRESEnum).values()}"
													th:value="${metodologiaDidattica}"
													th:text="${metodologiaDidattica.nome}">
												</option>
											</select>	
										</div>
									</div>		
								
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-11" for="razionale">
											<span th:text="#{label.ore_attivita}">Ore Attività</span>
											<span class="required">*</span>
										</label>
										<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
											<input type="text" th:field="*{oreAttivita}" />
										</div>
									</div>
								
									<input id="targetTable" type="text" name="addPersonaTo" style="display: none;" />
									<input id="addAttivitaToProgramma" type="text" name="addAttivitaToProgramma" style="display: none;" />
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
								<label for="targetTable" class="btn btn-success pull-right" onclick="sendAjaxAddAttivitaToProgramma()" th:text="#{label.invia}">Invia</label>
							</div>
						</div>
					</div>
				</div>


			<!--  TODO RIMUOVERE NUMERAZIONE HARDCODATA E METTERLA IN UN ENUM?  -->

			<form id="formEventoRES" class="form-horizontal form-label-left"
				th:action="@{|/provider/${eventoWrapper.providerId}/evento/save|}"
				method="post" enctype="multipart/form-data"
				novalidate="novalidate">

				<!-- input hidden -->
				<input type="hidden" name="editId" th:value="${eventoWrapper.evento.id}" />
				<input type="hidden" name="providerId" th:value="${eventoWrapper.providerId}" />
				<input type="hidden" name="proceduraFormativa" th:value="${eventoWrapper.proceduraFormativa}" />

				<!-- DENOMINAZIONE LEGALE PROVIDER -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>1</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="denominazioneProvider">
						<span th:text="#{label.denominazione_legale_provider}">Denominazione Legale del Provider</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="denominazioneProvider">
						<div class="value-edit" th:text="${eventoWrapper.evento.provider.denominazioneLegale}"></div>
					</div>
				</div>

				<!-- ID PROVIDER -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>2</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="idProvider">
						<span th:text="#{label.id_provider}">Id del Provider</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="idProvider">
						<div class="value-edit" th:text="${eventoWrapper.evento.provider.id}"></div>
					</div>
				</div>

				<!-- TIPOLOGIA EVENTO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>3</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="proceduraFormativa">
						<span th:text="#{label.procedura_formativa}">Id del Provider</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="proceduraFormativa">
						<div class="value-edit" th:text="${eventoWrapper.evento.proceduraFormativa}"></div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- DESTINATARI EVENTO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>4</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="destinatari">
						<span th:text="#{label.procedura_formativa}">Id del Provider</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="destinatari">
						<div class="checkbox" th:each="destinatario, row : ${T(it.tredi.ecm.dao.enumlist.DestinatariEventoEnum).values()}">
							<label>
								<input type="checkbox" class="flat" th:field="${eventoWrapper.evento.destinatariEvento}" th:value="${destinatario}" />
								<span th:text="${destinatario.nome}"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- CONTENUTI EVENTO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>5</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="contenuti">
						<span th:text="#{label.evento_contiene_questi_contenuti}">L'evento formativo prevedere i seguenti contenuti?</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="contenuti">
						<div class="radio" th:each="contenuto, row : ${T(it.tredi.ecm.dao.enumlist.ContenutiEventoEnum).values()}">
							<label>
								<input type="radio" class="flat" th:field="${eventoWrapper.evento.contenutiEvento}" th:value="${contenuto}" />
								<span th:text="${contenuto.nome}"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- TITOLO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>6</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="titolo">
						<span th:text="#{label.titolo}">Titolo</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="titolo">
						<textarea class="required" maxlength="3000" id="title" rows="3" name="titolo"
							style="resize: none;" th:field="${eventoWrapper.evento.titolo}">
						</textarea>
						<div id="counter"></div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- BLOCCO INFO SEDE -->
				<div class="item form-group">
					<label class="col-xs-12">
						<span th:text="#{label.informazioni_sede}">Titolo</span>
					</label>
				</div>
				<!-- PROVINCIA -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>7</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="provincia">
						<span th:text="#{label.provincia}">Provincia</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<select id="provincia"
							class="selectpicker required"
							th:field="${eventoWrapper.evento.sedeEvento.provincia}"
							data-width="100%" data-style="btn-primary"
							data-actions-box="true" data-size="10"
							data-hide-disabled="false"
							onchange="sendAjaxRequestProvincia()"
							title="Seleziona una provincia...">
							<option
								th:each="provincia : ${elencoProvince}"
								th:value="${provincia}"
								th:text="${provincia}">
							</option>
						</select>
					</div>
				</div>
				<!-- COMUNE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>8</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="comune">
						<span th:text="#{label.comune}">Comune</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<select id="comune"
							class="selectpicker required"
							th:field="${eventoWrapper.evento.sedeEvento.comune}"
							data-width="100%" data-style="btn-primary"
							data-actions-box="true" data-size="10"
							data-hide-disabled="false"
							th:disabled="${eventoWrapper.evento.sedeEvento.comune == null}"
							title="Seleziona un comune...">
							<!-- options popolate alla selezione della provincia -->
						</select>
					</div>
				</div>
				<!-- INDIRIZZO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>9</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="indirizzo">
						<span th:text="#{label.indirizzo}">Indirizzo</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="indirizzo">
						<input type="text" class="form-control" th:field="${eventoWrapper.evento.sedeEvento.indirizzo}" />
					</div>
				</div>
				<!-- LUOGO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>10</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="luogo">
						<span th:text="#{label.luogo}">Luogo</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="luogo">
						<input type="text" class="form-control" th:field="${eventoWrapper.evento.sedeEvento.luogo}" />
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- DATA INIZIO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>11</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="dataInizio">
						<span th:text="#{label.data_inizio}">Data inizio</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group datapick">
						<input type="text" id="dataInizio" class="form-control"
							name="data" th:field="${eventoWrapper.evento.dataInizio}" />
						<span class="input-group-addon" id="dataInizio" onclick="$('#dataInizio').click()">
 							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</div>

				<!-- DATA FINE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>12</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="dataFine">
						<span th:text="#{label.data_fine}">Data fine</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group datapick">
						<input type="text" id="dataFine" class="form-control"
							name="data" th:field="${eventoWrapper.evento.dataFine}" />
						<span class="input-group-addon" id="dataFineButton" onclick="$('#dataFine').click()">
 							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</div>

				<!-- DATE INTERMEDIE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>13</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="dateIntermedie">
						<span th:text="#{label.date_intermedie}">Data intermedie</span>
						<span class="required">*</span>
					</label>
				</div>
				<div class='prevDataIntermedia item form-group' th:each="data, row : ${eventoWrapper.dateIntermedieTemp}">
					<div class='col-md-4 col-sm-4 col-xs-12'></div>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group datapick">
						<input type="text" class="form-control datapicker-intermedia"
							th:field="${eventoWrapper.dateIntermedieTemp[__${row.index}__]}" />
						<span class="input-group-addon not-last" onclick="$(this).prev().click()">
 							<i class="glyphicon glyphicon-calendar"></i>
						</span>
						<span class="input-group-addon" onclick="rimuoviDataIntermedia(this)">
							<i class="fa fa-minus"></i>
						</span>
					</div>
				</div>

				<div class='nextDataIntermedia item form-group'>
					<div class='col-md-4 col-sm-4 col-xs-12'></div>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group datapick">
						<input type="text" class="form-control datapicker-intermedia"
							th:field="${eventoWrapper.dateIntermedieTemp[__${#lists.size(eventoWrapper.dateIntermedieTemp)}__]}" />
						<span class="input-group-addon not-last" onclick="$(this).prev().click()">
 							<i class="glyphicon glyphicon-calendar"></i>
						</span>
						<span class="input-group-addon" onclick="aggiungiDataIntermedia(this)">
							<i class="fa fa-plus"></i>
						</span>
					</div>
				</div>
				<div class="date-intermedie-container"></div>

				<!-- OBIETTIVO NAZIONALE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>14</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="obiettivoNazionale">
						<span th:text="#{label.obiettivo_formativo_nazionale}">Obiettivo Strategico Nazionale</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
						<select id="obiettivoNazionale"
							class="selectpicker required"
							th:field="${eventoWrapper.evento.obiettivoNazionale}"
							data-width="100%" data-style="btn-primary"
							data-actions-box="true" data-size="10"
							data-hide-disabled="false"
							title="Seleziona un obiettivo...">
							<optgroup class="optgroup-primary"
								th:each="categoriaObiettivoNazionale, row: ${T(it.tredi.ecm.dao.enumlist.CategoriaObiettivoNazionale).values()}"
								th:label="${categoriaObiettivoNazionale.nome}"
								th:remove="all-but-first">
								<option
									th:each="obiettivoNazionale, row: ${eventoWrapper.obiettiviNazionali}"
									th:if="${obiettivoNazionale.categoria == categoriaObiettivoNazionale}"
									th:value="${obiettivoNazionale.id}"
									th:text="${obiettivoNazionale.nome}">
								</option>
							</optgroup>
						</select>
					</div>
					<div class="col-xs-1">
						<div th:attr="data-original-title=#{label.info_tooltip_obiettivo_nazionale}" class="btn btn-default no-margin cursor-default" data-toggle="tooltip" data-placement="top"><i class="fa fa-info-circle"></i></div>
					</div>
				</div>

				<!-- OBIETTIVO REGIONALE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>15</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="obiettivorRegionale">
						<span th:text="#{label.obiettivo_formativo_regionale}">Obiettivo Strategico Regionale</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<select id="obiettivoRegionale"
							class="selectpicker required"
							th:field="${eventoWrapper.evento.obiettivoRegionale}"
							data-width="100%" data-style="btn-primary"
							data-actions-box="true" data-size="10"
							data-hide-disabled="false"
							title="Seleziona un obiettivo...">
							<option
								th:each="obiettivoRegionale, row: ${eventoWrapper.obiettiviRegionali}"
								th:value="${obiettivoRegionale.id}"
								th:text="${obiettivoRegionale.nome}">
							</option>
						</select>
					</div>
				</div>

				<!-- PROFESSIONI/DISCIPLINE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>16</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.professioni_discipline}">Professioni / Discipline</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="evento_professioni-select">
						<div class="col-xs-12 select-with-margin-container">
							<select id="professioni" class="selectpicker required multi"
								multiple="multiple" data-width="100%"
								data-style="btn-primary" data-actions-box="true"
								data-size="10" title="Seleziona una professione..."
								onchange="abilitaDiscipline(this)"
								data-selected-text-format="count" th:remove="all-but-first">
								<option th:each="professione, row: ${eventoWrapper.professioneList}"
									th:value="${professione.id}" th:text="${professione.nome}"
									th:field="${eventoWrapper.evento.professioniSelezionate}"></option>
							</select>
						</div>
						<select id="discipline" class="selectpicker required multi"
							th:field="${eventoWrapper.evento.discipline}"
							multiple="multiple" data-width="100%"
							data-style="btn-success" data-actions-box="true"
							data-size="10" data-hide-disabled="true"
							title="Seleziona una disciplina..." disabled="disabled"
							data-selected-text-format="count" th:remove="all-but-first">
							<optgroup class="optgroup-success" disabled="disabled"
								th:each="professione, row: ${eventoWrapper.professioneList}" th:unless="${professione.nome == 'Nessuna professione sanitaria'}"
								th:label="${professione.nome}" th:remove="all-but-first">
								<option th:each="disciplina, row: ${eventoWrapper.disciplinaList}"
									th:if="${disciplina.professione == professione}"
									th:value="${disciplina.id}" th:text="${disciplina.nome}"></option>
							</optgroup>
						</select>
					</div>
				</div>

				<!-- BLOCCO TIPOLOGIA DI EVENTO -->
				<!-- TIPOLOGIA DELL'EVENTO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>17</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="tipologia_evento_2">
						<span th:text="#{label.tipologia_evento}">Tipologia di Evento</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<select id="tipologia_evento_2"
							class="selectpicker required"
							th:field="${eventoWrapper.evento.tipologiaEvento}"
							data-width="100%" data-style="btn-primary"
							data-actions-box="true" data-size="10"
							data-hide-disabled="false"
							onchange="mostraNascondiCampiTipologiaEvento(this.value)"
							title="Seleziona una tipologia...">
							<option
								th:each="tipologia, row: ${T(it.tredi.ecm.dao.enumlist.TipologiaEventoRESEnum).values()}"
								th:value="${tipologia}"
								th:text="${tipologia.nome}">
							</option>
						</select>
					</div>
				</div>
				<!-- WORKSHOP/SEMINARI (attivo se selezionato convegno/congresso) -->
				<div class="item form-group convegno-congresso" style="display: none;">
					<div class="col-xs-1"></div>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.workshop_radio_text}"></span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="radio">
							<label class="label-radio-workshop label-disabled">
								<input type="radio" disabled="disabled" class="flat radio-workshop" th:field="${eventoWrapper.evento.workshopSeminariEcm}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label class="label-radio-workshop label-disabled">
								<input type="radio" disabled="disabled" class="flat radio-workshop" th:field="${eventoWrapper.evento.workshopSeminariEcm}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
					</div>
				</div>
				<!-- TITOLO CONVEGNO (attivo se selezionato workshop/seminario) -->
				<div class="item form-group workshop-seminario" style="display: none;">
					<div class="col-xs-1"></div>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.titolo_convegno}"></span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<input type="text" class="form-control titolo-convegno" th:field="${eventoWrapper.evento.titoloConvegno}" />
					</div>
				</div>

				<!-- NUMERO PARTECIPANTI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>18</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="numeroPartecipanti">
						<span th:text="#{label.numero_partecipanti}">Numero dei partecipanti</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="numeroPartecipanti">
						<input type="text" pattern="numeric" class="form-control optional" th:field="${eventoWrapper.evento.numeroPartecipanti}" />
					</div>
				</div>

				<!-- RESPONSABILI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>19</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="responsabili">
						<span th:text="#{label.responsabili_scientifici}">Responsabili scientifici</span>
						<span class="required">*</span>
					</label>
					<div class="col-xs-offset-1 col-xs-10">
						<th:block th:include="evento/eventoEdit :: responsabiliScientifici" />
					</div>
				</div>

				<!-- DOCENTI/RELATORI/TUTOR -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>20</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="docenti-relatori-tutor">
						<span th:text="#{label.docenti_relatori_tutor}">Docenti/Relatori/Tutor</span>
						<span class="required">*</span>
					</label>

					<div class="col-xs-offset-1 col-xs-10">
						<th:block th:include="evento/eventoEdit :: docenti" />
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- BLOCCO PROGRAMMA ATTIVITÀ FORMATIVA -->
				<div class="item form-group">
					<label class="col-xs-12">
						<span th:text="#{label.programma_attività_formativa}">Titolo</span>
					</label>
				</div>
				<!-- RAZIONALE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>21</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="razionale">
						<span th:text="#{label.razionale}">Razionale</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
						<input type="text" class="form-control" th:field="${eventoWrapper.evento.razionale}" />
					</div>
				</div>
				<!-- RISULTATI ATTESI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>22</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="risultatiAttesi">
						<span th:text="#{label.risultati_attesi}">Risultati attesi</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group">
						<input type="text" class="form-control" />
						<span class="input-group-addon" onclick="aggiungiRisultatoAtteso($(this).prev().val())">
							<i class="fa fa-plus"></i>
						</span>
					</div>
				</div>
				<div class="item form-group">
					<div class="col-md-4 col-sm-4 col-xs-12"></div>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group">
						<div class="risultati-attesi-container">
							<div class='risultato-atteso' style='display: inline-block' th:each="risultatoAtteso, row : ${eventoWrapper.risultatiAttesiTemp}">
								<span th:text="${risultatoAtteso}"></span>
								<span onclick='rimuoviRisultatoAtteso($(this).parent())'><i class='clickable red fa fa-remove'></i></span>
								<input type='hidden' th:value="${risultatoAtteso}" th:name="'risultatiAttesiTemp['+__${row.index}__+']'" />
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-1 col-sm-1 col-xs-12"></div>
				</div>


				<!-- PROGRAMMA EVENTO -->
				<div class="item form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="programmaEvento">
						<span th:text="#{label.programma}">Programma</span>
						<span class="required">*</span>
					</label>
				</div>
				<div class='programmaEvento item form-group' id="programma">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group">
						<th:block th:each="programmaGiornaliero,status : ${eventoWrapper.programmaEvento}">
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-11">
									<span th:text="#{label.programma_del}">Programma del</span>
									<span class="required">*</span>
							</label>
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" >
									<input type="text" th:field="${eventoWrapper.programmaEvento[__${status.index}__].giorno}" />		
								</div>
							</div>
							
							<label>Sede</label><br/> 
							
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-11">
									<span th:text="#{label.provincia}">Provincia</span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" >
									<input type="text" th:field="${eventoWrapper.programmaEvento[__${status.index}__].sede.provincia}" />	
								</div>
							</div>
							
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-11">
									<span th:text="#{label.comune}">Comune</span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" >
									<input type="text" th:field="${eventoWrapper.programmaEvento[__${status.index}__].sede.comune}" />		
								</div>
							</div>
							
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-11">
									<span th:text="#{label.indirizzo}">Indirizzo</span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" >
									<input type="text" th:field="${eventoWrapper.programmaEvento[__${status.index}__].sede.indirizzo}" />	
								</div>
							</div>
							
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-11">
									<span th:text="#{label.luogo}">Luogo</span>
									<span class="required">*</span>
								</label>
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" >
									<input type="text" th:field="${eventoWrapper.programmaEvento[__${status.index}__].sede.luogo}" />		
								</div>
							</div>
							
							<div class="col-xs-offset-1 col-xs-10">
								<th:block th:include="evento/eventoEdit :: programmaDelGiorno(${__${status.index}__}, eventoWrapper.programmaEvento[__${status.index}__].programma)" />
							</div>
							
						</th:block>
					</div>
				</div>

				<div>**TODO DOM**</div>

				<div class="divider-dashed"></div>

				<!-- BROCHURE EVENTO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>32</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="brochure">
						<span th:text="#{label.brochure_evento}">Brochure dell'evento</span>
						<span class="required hidden" id="brochure-obbligatoria">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<th:block th:include="fragments/allegati :: allegati(eventoWrapper, false, brochure, null, null, null, false, null, false)" ></th:block>
					</div>
				</div>

				<!-- VERIFICA APPRENDIMENTO PARTECIPANTI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>33</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="verificaApprendimentoPartecipanti">
						<span th:text="#{label.verifica_apprendimento_partecipanti}">Verifica Apprendimento partecipanti</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
						<select id="verificaApprendimentoPartecipanti"
								class="selectpicker required multi"
								multiple="multiple" data-width="100%"
								data-style="btn-primary"
								data-size="10" title="Seleziona una modalità..."
								th:field="${eventoWrapper.evento.verificaApprendimento}"
								disabled="disabled"
								data-selected-text-format="count">
							<option
								th:each="modalita, row: ${T(it.tredi.ecm.dao.enumlist.VerificaApprendimentoRESEnum).values()}"
								th:value="${modalita}"
								th:text="${modalita.nome}"
								th:name="${modalita.id &lt; 5} ? 'test' : 'autocertificazione'">
							</option>
						</select>
					</div>
				</div>

<!-- TODO vanno in SHOW				DURATA -->
<!-- 				<div class="item form-group"> -->
<!-- 					<label class="control-label col-xs-1"> -->
<!-- 						<span>34</span> -->
<!-- 					</label> -->
<!-- 					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="durata"> -->
<!-- 						<span th:text="#{label.durata}">Durata</span> -->
<!-- 					</label> -->
<!-- 					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="durata"> -->
<!-- 						<div class="value-edit" th:text="${eventoWrapper.evento.durata}"></div> -->
<!-- 					</div> -->
<!-- 				</div> -->

<!-- 				TIPOLOGIA DI OBIETTIVI FORMATIVI -->
<!-- 				<div class="item form-group"> -->
<!-- 					<label class="control-label col-xs-1"> -->
<!-- 						<span>34</span> -->
<!-- 					</label> -->
<!-- 					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="tipologiaObiettiviFormativi"> -->
<!-- 						<span th:text="#{label.tipologia_obiettivi_formativi}">Tipologia di obiettivi formativi</span> -->
<!-- 					</label> -->
<!-- 					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="tipologiaObiettiviFormativi"> -->
<!-- 						<div class="value-edit" th:text="${'**TODO**'}"></div> -->
<!-- 					</div> -->
<!-- 				</div> -->

				<!-- CREDITI FORMATIVI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>34</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="creditiFormativi">
						<span th:text="#{label.crediti_formativi_attribuiti_evento}">Crediti attribuiti all'evento</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="creditiFormativi">
						<input type="text" class="form-control" th:field="${eventoWrapper.evento.crediti}" />
					</div>
					<div class="checkbox col-lg-3">
						<label>
							<input type="checkbox" class="flat" th:field="${eventoWrapper.evento.confermatiCrediti}" th:value="${true}" />
							<span th:text="#{label.conferma}"></span>
						</label>
					</div>
				</div>

				<!-- RESPONSABILE SEGRETERIA ORGANIZZATIVA -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>35</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="responsabileSegreteria">
						<span th:text="#{label.responsabile_segreteria_organizzativa}">Responsabile segreteria organizzativa</span>
						<span class="required">*</span>
					</label>
					<div class="col-xs-offset-1 col-xs-10">
						<th:block th:include="evento/eventoEdit :: responsabileSegreteria" />
					</div>
				</div>

				<!-- TIPO MATERIALE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>36</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="tipoMateriale">
						<span th:text="#{label.tipo_materiale_rilasciato}">Tipo materiale durevole rilasciato ai partecipanti</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11" id="tipoMateriale">
						<input type="text" class="form-control" th:field="${eventoWrapper.evento.materialeDurevoleRilasciatoAiPratecipanti}" />
					</div>
				</div>

				<!-- QUOTA PARTECIPAZIONE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>37</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="quota">
						<span th:text="#{label.quota_partecipazione}">Quota di partecipazione</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11" id="quota">
						<input type="text" pattern="numeric" class="form-control optional" th:field="${eventoWrapper.evento.quotaPartecipazione}" />
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- BLOCCO LINGUA -->
				<!-- RADIO LINGUA ITALIANA -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>38</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.solo_lingua_italiana}"></span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="radio">
							<label>
								<input type="radio" class="flat lingua" th:field="${eventoWrapper.evento.soloLinguaItaliana}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" class="flat lingua" th:field="${eventoWrapper.evento.soloLinguaItaliana}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
					</div>
				</div>
				<div class="no-padding non-solo-italiano" style="display: none;">
					<!-- LINGUA STRANIERA -->
					<div class="item form-group">
						<div class="col-xs-1"></div>
						<label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span th:text="#{label.lingua_straniera_utilizzata}">Lingua straniera utilizzata</span>
							<span class="required">*</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<input type="text" class="form-control" th:field="${eventoWrapper.evento.linguaStranieraUtilizzata}" />
						</div>
					</div>
					<!-- TRADUZIONE RADIO -->
					<div class="item form-group" >
						<div class="col-xs-1"></div>
						<label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span th:text="#{label.esiste_traduzione}">Esiste un sistema di traduzione simultanea</span>
							<span class="required">*</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="radio">
							<label class="label-radio-traduzione label-disabled">
								<input type="radio" class="flat traduzione" disabled="disabled" th:field="${eventoWrapper.evento.esisteTraduzioneSimultanea}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label class="label-radio-traduzione label-disabled">
								<input type="radio" class="flat traduzione" disabled="disabled" th:field="${eventoWrapper.evento.esisteTraduzioneSimultanea}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
						</div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- VERIFICA PRESENZA PARTECIPANTI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>39</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="verificaPresenzaPartecipanti">
						<span th:text="#{label.verifica_presenza_partecipanti}">Verifica presenza partecipanti</span>
						<span class="required">*</span>
					</label>

					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="verificaPresenzaPartecipanti">
						<div class="checkbox" th:each="modalita, row : ${T(it.tredi.ecm.dao.enumlist.VerificaPresenzaPartecipantiEnum).values()}">
							<label>
								<input type="checkbox" class="flat" th:field="${eventoWrapper.evento.verificaPresenzaPartecipanti}" th:value="${modalita}" />
								<span th:text="${modalita.nome}"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- VERIFICA A DISTANZA BLOCCO -->
				<!-- RADIO VERIFICA A DISTANZA -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>40</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.verifica_distanza_ricadute_formative}"></span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="radio">
							<label>
								<input type="radio" class="flat verifica-distanza" th:field="${eventoWrapper.evento.verificaRicaduteFormative}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" class="flat verifica-distanza" th:field="${eventoWrapper.evento.verificaRicaduteFormative}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
					</div>
				</div>
				<div class="no-padding verifica-ricadute-formative" style="display: none;">
					<!-- DESCRIZIONE -->
					<div class="item form-group">
						<div class="col-xs-1"></div>
						<label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span th:text="#{label.descrizione_verifica_ricadute_formative}">Descrizione</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<input type="text" id="descrizione-ricaduta-formativa" disabled="disabled" class="form-control" th:field="${eventoWrapper.evento.descrizioneVerificaRicaduteFormative}" />
						</div>
					</div>
					<!-- ALLEGATO VERIFICA RICADUTE FORMATIVE -->
					<div class="item form-group">
						<div class="col-xs-1"></div>
						<label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span th:text="#{label.documento_verifica_ricadute_formative}">Documento di verifica delle ricadute formative</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<th:block th:include="fragments/allegati :: allegati(eventoWrapper, false, documentoVerificaRicaduteFormative, null, null, null, true, null, false)" ></th:block>
						</div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- SPONSOR BLOCCO -->
				<!-- RADIO SPONSOR -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>41</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.evento_sponsorizzato_radio}">L'Evento è sponsorizzato?</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="radio">
							<label>
								<input type="radio" class="flat sponsor" th:field="${eventoWrapper.evento.eventoSponsorizzato}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" class="flat sponsor" th:field="${eventoWrapper.evento.eventoSponsorizzato}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
					</div>
				</div>
				<div class="no-padding sponsor-si" style="display: none;">
					<!-- SPONSOR INSERIMENTO -->
					<div>**TODO RIPETIBILE SPONSOR**</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- FORME FINANZIAMENTO BLOCCO -->
				<!-- RADIO FORME FINANZIAMENTO -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>42</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.forme_finanziamento_radio}">Sono presenti forme di finanziamento?</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="radio">
							<label>
								<input type="radio" class="flat finanziamento" th:field="${eventoWrapper.evento.altreFormeFinanziamento}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" class="flat finanziamento" th:field="${eventoWrapper.evento.altreFormeFinanziamento}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
					</div>
				</div>
				<div class="no-padding finanziamento-si" style="display: none;">
					<!-- ALLEGATO CONTRATTI/ACCORDI/CONVENZIONI -->
					<div class="item form-group">
						<div class="col-xs-1"></div>
						<label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span th:text="#{label.allegato_contratti_accordi_convenzioni}">Allegato Contratti Accordi Convenzioni</span>
							<span class="required">*</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<th:block th:include="fragments/allegati :: allegati(eventoWrapper, false, contrattiAccordiConvenzioni, null, null, null, true, null, false)" ></th:block>
						</div>
					</div>
				</div>
				<div class="no-padding finanziamento-no" style="display: none;">
					<!-- ALLEGATO AUTOCERTIFICAZIONE ASSENZA FINANZIAMENTI -->
					<div class="item form-group">
						<div class="col-xs-1"></div>
						<label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span th:text="#{label.allegato_autocertificazione_assenza_finanziamenti}">Allegato autocertificazione assenza finanziamenti</span>
							<span class="required">*</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<th:block th:include="fragments/allegati :: allegati(eventoWrapper, false, autocertificazioneAssenzaFinanziamenti, null, null, null, true, null, false)" ></th:block>
						</div>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- BLOCCO PARTNER -->
				<!-- RADIO PARTNER -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>43</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11">
						<span th:text="#{label.si_avvale_di_partner}">L’evento si avvale di partner?</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="radio">
							<label>
								<input type="radio" class="flat partner" th:field="${eventoWrapper.evento.eventoAvvalePartner}" th:value="${true}" />
								<span th:text="#{label.sì}">Sì</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" class="flat partner" th:field="${eventoWrapper.evento.eventoAvvalePartner}" th:value="${false}" />
								<span th:text="#{label.no}">No</span>
							</label>
						</div>
					</div>
				</div>
				<div class="no-padding partner-si" style="display: none;">
					<div>**TODO PARTNER RIPETIBILE</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- DICHIARAZIONE CONFLITTO INTERESSI -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>44</span>
					</label>
					<label class="control-label col-md-3 col-sm-3 col-xs-11" for="dichiarazioneAssenzaConflittoInteresse">
						<span th:text="#{label.dichiarazione_assenza_conflitto_interesse}">Dichiarazione di assenza di conflitto di interesse</span>
						<span class="required">*</span>
					</label>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<th:block th:include="fragments/allegati :: allegati(eventoWrapper, false, dichiarazioneAssenzaConflittoInteresse, null, null, null, false, null, false)" ></th:block>
					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- PROCEDURA VERIFICA QUALITÀ -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>45</span>
					</label>
					<div class="control-label col-md-3 col-sm-3 col-xs-11">
					</div>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="checkbox">
							<label>
								<input type="checkbox" class="flat" th:field="${eventoWrapper.evento.proceduraVerificaQualitaPercepita}" th:value="${true}" />
								<span th:text="#{label.procedura_verifica_qualita}">E’ prevista una procedura di verifica della qualità percepita</span>
								<span class="required">*</span>
							</label>
						</div>

					</div>
				</div>

				<div class="divider-dashed"></div>

				<!-- AUTORIZZAZIONE -->
				<div class="item form-group">
					<label class="control-label col-xs-1">
						<span>46</span>
					</label>
					<div class="control-label col-md-3 col-sm-3 col-xs-11">
					</div>
					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
						<div class="checkbox">
							<label>
								<input type="checkbox" class="flat" th:field="${eventoWrapper.evento.autorizzazionePrivacy}" th:value="${true}" />
								<span th:text="#{label.autorizzazione_privacy}"></span>
								<span class="required">*</span>
							</label>
						</div>
					</div>
				</div>

				<input id="submitButton" type="submit" style="display: none;" />

			</form>

			<script th:inline="javascript">
			/*<![CDATA[*/
			    var days;
				var months;

				$(document).ready(function() {
					days = getDayNamesShort();
					months = getMonthNames();

					//init daterangepicker al document ready per tutte le date intermedie
					$('.datapicker-intermedia').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })

				    //medoto per rimozione classe errore
				    $('.datapicker-intermedia').on("hide.daterangepicker", function() {
						$(this).closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
							$(this).remove();
						});
					});

					//controlla al document ready se mostrare i campi particolari relativi alla tipologia dell'evento
					mostraNascondiCampiTipologiaEvento($('.tipologia_evento_2').val());

					//controlla al document ready quali valori mostrare nella select di verifica dell'apprendimento
					if([[${eventoWrapper.evento.tipologiaEvento}]]) {
						abilitaModalitaVerificaApprendimento([[${eventoWrapper.evento.tipologiaEvento}]]);
					}

					//gestione evento iCheck su radio riguardante la lingua
					$(".lingua").on("ifChecked", function() {
						if($(this).val() == 'true')
							mostraNascondiCampiLingua(false);
						else
							mostraNascondiCampiLingua(true);
					});

					//controllo su radio riguardante la lingua al document ready
					if([[${eventoWrapper.evento.soloLinguaItaliana}]] == false) {
						mostraNascondiCampiLingua(true);
					}
					
					var handler = $('.ora').clockpicker({
				    	donetext: [[#{label.applica}]],
				    	align: 'left',
				        autoclose: true,
				        'default': 'now'
				    });

				    $('.openClock').click(function(e) {
				    	e.stopPropagation();
	                    handler.clockpicker('show');
				    })
				    
				    var gotoLink = [[${eventoWrapper.gotoLink}]];
				    if(gotoLink)
				    	 $(document).scrollTo(gotoLink);
				
				 	 //gestione evento iCheck su radio riguardante la lingua
					$(".verifica-distanza").on("ifChecked", function() {
						if($(this).val() == 'true')
							mostraNascondiCampiRicadutaFormative(true);
						else
							mostraNascondiCampiRicadutaFormative(false);
					});

				  	//controllo su radio riguardante la ricaduta formativa al document ready
				    if([[${eventoWrapper.evento.verificaRicaduteFormative}]]) {
				    	mostraNascondiCampiRicadutaFormative(true);
					}

				});

				//indice per calcolare i nuovi name delle date intermedie
				var indexDateIntermedie = [[${#lists.size(eventoWrapper.dateIntermedieTemp)}]] - 1;
				var indexRisutato = [[${#lists.size(eventoWrapper.risultatiAttesiTemp)}]] - 1;

				//funzione che aggiunge una data intermedia, aumenta il name in base alle date già presenti
				function aggiungiDataIntermedia(caller) {
					var cloned = $("<div class='nextDataIntermedia item form-group'></div>")
						.append($("<div class='col-md-4 col-sm-4 col-xs-12'></div>"))
						.append($(caller).parent().clone())
						.appendTo(".date-intermedie-container");
					cloned.children(".datapicker-intermedia").val("");
					$(caller).children().toggleClass('fa-plus fa-minus');
					$(caller).attr("onclick", "rimuoviDataIntermedia(this)");
					$(caller).siblings(".datapicker-intermedia").attr("name", "dateIntermedieTemp["+ ++indexDateIntermedie +"]");
					$(caller).siblings(".datapicker-intermedia").attr("id", "dateIntermedieId"+ indexDateIntermedie);
					reinitDaterangepicker();
				}

				//rimuove una data intermedia
				function rimuoviDataIntermedia(caller) {
					$(caller).closest(".item").remove();
				}

				//reinizializza tutte le daterangepicker delle date intermedie
				//(necessario alla creazione di una nuova data)
				function reinitDaterangepicker() {
					$('.datapicker-intermedia').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })
				}

				//funzione che calcola al doc ready o all'onchange della relativa select
				//se mostrare o meno input aggiuntivi relativi alla tipologia dell'evento
				function mostraNascondiCampiTipologiaEvento(value) {
					switch (value) {
					case 'CONVEGNO_CONGRESSO':
						$(".convegno-congresso").slideDown("slow");
						$(".radio-workshop").iCheck('enable');
						$(".label-radio-workshop").removeClass("label-disabled");
						$(".workshop-seminario").slideUp("slow");
						$(".titolo-convegno").prop("disabled", true);
						$("#brochure-obbligatoria").removeClass("hidden");
						abilitaModalitaVerificaApprendimento('autocertificazione')
						break;
					case 'WORKSHOP_SEMINARIO':
						$(".convegno-congresso").slideUp("slow");
						$(".radio-workshop").iCheck('disable');
						$(".label-radio-workshop").addClass("label-disabled");
						$(".workshop-seminario").slideDown("slow");
						$(".titolo-convegno").prop("disabled", false);
						$("#brochure-obbligatoria").removeClass("hidden");
						abilitaModalitaVerificaApprendimento('test');
						break;
					case 'CORSO_AGGIORNAMENTO':
						$(".convegno-congresso").slideUp("slow");
						$(".workshop-seminario").slideUp("slow");
						$(".radio-workshop").iCheck('disable');
						$(".label-radio-workshop").addClass("label-disabled");
						$(".titolo-convegno").prop("disabled", true);
						$("#brochure-obbligatoria").addClass("hidden");
						abilitaModalitaVerificaApprendimento('test');
						break;
					default:
						$(".convegno-congresso").slideUp("slow");
						$(".workshop-seminario").slideUp("slow");
						$(".radio-workshop").iCheck('disable');
						$(".label-radio-workshop").addClass("label-disabled");
						$(".titolo-convegno").prop("disabled", true);
						$("#brochure-obbligatoria").addClass("hidden");
						break;
					}
				}
				
				//funzione che aggiunge un risultato atteso alla lista dei temporanei
				//(solo lato client, il salvataggio verrà realizzato al save dell'evento)
				function aggiungiRisultatoAtteso(risultato) {
					console.log(risultato)
					if(risultato.trim()) {
						var container = $("<div class='risultato-atteso' style='display: inline-block'></div>");
						var spanText = $("<div class='text-risultato' style='display: inline-block'></div>").text(risultato);
						var spanButtonRemove = $("<span onclick='rimuoviRisultatoAtteso($(this).parent())'><i class='clickable red fa fa-remove'></i></span>");
						var inputHidden = $("<input type='hidden' name='risultatiAttesiTemp["+ ++indexRisutato +"]' />");
						inputHidden.val(risultato);
						container.append(spanText).append(spanButtonRemove).append(inputHidden);
						container.appendTo(".risultati-attesi-container");
						//TODO index + input hidden + select update
					}
				}

				//rimuove un risultato atteso
				function rimuoviRisultatoAtteso(container) {
					container.remove();
					//TODO select update
				}

				function abilitaModalitaVerificaApprendimento(tipologia) {
					console.log(tipologia);
					// abilita la select della verifica apprendimento
					$("#verificaApprendimentoPartecipanti").prop("disabled", false);
					// cicla le modalità mostrandole in base al parametro settato in base alla tipologia dell'evento
					$.each($("#verificaApprendimentoPartecipanti option"), function() {
						if($(this).attr("name") == tipologia)
							$(this).show();
						else
							$(this).hide();
					});
					$("#verificaApprendimentoPartecipanti").selectpicker('deselectAll');
					$("#verificaApprendimentoPartecipanti").selectpicker("refresh");
				}

				function mostraNascondiCampiLingua(show) {
					if(show) {
						$(".non-solo-italiano").slideDown("slow");
						$(".traduzione").iCheck("enable");
						$(".label-radio-traduzione").removeClass("label-disabled");
					}
					else {
						$(".non-solo-italiano").slideUp("slow");
						$(".traduzione").iCheck("disable");
						$(".label-radio-traduzione").addClass("label-disabled");
					}
				}
				
				//onchange su obiettivoformativo -> cambia la lista di metodologieDidattiche che si possono selezionare.
				function updateMetodologieDidattiche(caller){
					var obiettivo = $(caller).val();
					var programmaIndex = $(caller).data("programma-id");
					var attivitaIndex = $(caller).data("attivita-id");
					var metodologiePicker_ref ='.selectMetodologieDidattiche[data-programma-id="' + programmaIndex + '"][data-attivita-id="' + attivitaIndex + '"]';
					var start = [[@{/listaMetodologie?obiettivo=}]];
					var end = obiettivo;
					var url = start + end;
					
					console.log(obiettivo);
					console.log($(metodologiePicker_ref));
					$.get(url, function(data){
						$(metodologiePicker_ref).empty();
						for(var item = 0; item < data.length; item++){
							console.log(data[item]);
							console.log(data[item].nome);
							var option = '<option value = "' + data[item] + '">' + data[item].nome + "</option>";
							$(metodologiePicker_ref).append(option);
						}
						$(metodologiePicker_ref).selectpicker('refresh');
					});
				};

				function mostraNascondiCampiRicadutaFormative(show) {
					if(show) {
						$(".verifica-ricadute-formative").slideDown("slow");
						$("#descrizione-ricaduta-formativa").prop("disabled", false);
						$("#documentoVerificaRicaduteFormative").prop("disabled", false);
					}
					else {
						$(".verifica-ricadute-formative").slideUp("slow");
						$("#descrizione-ricaduta-formativa").prop("disabled", true);
						$("#documentoVerificaRicaduteFormative").prop("disabled", true);
					}
				}

			/*]]>*/
			</script>
		</div>
	</th:block>
</body>
</html>