<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<th:block th:fragment="eventoRESShow">
			<div class="x_content">

				<div class="form-horizontal form-label-left">

					<!-- DENOMINAZIONE LEGALE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.denominazione_legale_provider}">Denominazione Legale del Provider</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:text="${eventoWrapper.evento.provider.denominazioneLegale}"></div>
						</div>
					</div>

					<!-- ID PROVIDER -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.id_provider}">Id del Provider</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:text="${eventoWrapper.evento.provider.id}"></div>
						</div>
					</div>

					<!-- TIPOLOGIA EVENTO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.procedure_formative_tipologia}">Id del Provider</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:text="${eventoWrapper.evento.proceduraFormativa}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- DESTINATARI EVENTO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.destinatari_evento}">Id del Provider</span>
						</label>

						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div th:if="${eventoWrapper.evento.destinatariEvento != null and !#lists.isEmpty(eventoWrapper.evento.destinatariEvento)}" th:each="destinatario, row : ${eventoWrapper.evento.destinatariEvento}">
								<div class="value" th:text="${destinatario.nome}"></div>
							</div>
							<div th:unless="${eventoWrapper.evento.destinatariEvento != null and !#lists.isEmpty(eventoWrapper.evento.destinatariEvento)}" class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- CONTENUTI EVENTO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.evento_contenuti}">L'evento formativo prevedere i seguenti contenuti?</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.contenutiEvento != null}" th:text="${eventoWrapper.evento.contenutiEvento.nome}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.contenutiEvento != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- TITOLO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.titolo}">Titolo</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.titolo != null and !#strings.isEmpty(eventoWrapper.evento.titolo)}" th:text="${eventoWrapper.evento.titolo}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.titolo != null and !#strings.isEmpty(eventoWrapper.evento.titolo)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- PROVINCIA -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.provincia}">Provincia</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.sedeEvento.provincia != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.provincia)}" th:text="${eventoWrapper.evento.sedeEvento.provincia}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.sedeEvento.provincia != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.provincia)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- COMUNE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.comune}">Comune</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.sedeEvento.comune != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.comune)}" th:text="${eventoWrapper.evento.sedeEvento.comune}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.sedeEvento.comune != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.comune)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- INDIRIZZO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.indirizzo}">Indirizzo</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.sedeEvento.indirizzo != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.indirizzo)}" th:text="${eventoWrapper.evento.sedeEvento.indirizzo}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.sedeEvento.indirizzo != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.indirizzo)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- LUOGO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.luogo}">Luogo</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="luogo">
							<div class="value" th:if="${eventoWrapper.evento.sedeEvento.luogo != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.luogo)}" th:text="${eventoWrapper.evento.sedeEvento.luogo}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.sedeEvento.luogo != null and !#strings.isEmpty(eventoWrapper.evento.sedeEvento.luogo)}" th:text="#{label.dato_non_inserito}"></div>									</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- DATA INIZIO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.data_inizio}">Data inizio</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.dataInizio != null and !#strings.isEmpty(eventoWrapper.evento.dataInizio)}" th:text="${#temporals.format(eventoWrapper.evento.dataInizio, 'dd/MM/yyyy')}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.dataInizio != null and !#strings.isEmpty(eventoWrapper.evento.dataInizio)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- DATA FINE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.data_fine}">Data fine</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.dataFine != null and !#strings.isEmpty(eventoWrapper.evento.dataFine)}" th:text="${#temporals.format(eventoWrapper.evento.dataFine, 'dd/MM/yyyy')}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.dataFine != null and !#strings.isEmpty(eventoWrapper.evento.dataFine)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- DATE INTERMEDIE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.date_intermedie}">Data intermedie</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div th:if="${eventoWrapper.evento.dateIntermedie != null and !#lists.isEmpty(eventoWrapper.evento.dateIntermedie)}" th:each="data, row : ${eventoWrapper.evento.dateIntermedie}">
								<!-- div class="value" th:text="${data}"></div -->
								<div class="value" th:text="${#temporals.format(data, 'dd/MM/yyyy')}"></div>
							</div>
							<div th:unless="${eventoWrapper.evento.dateIntermedie != null and !#lists.isEmpty(eventoWrapper.evento.dateIntermedie)}" class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- OBIETTIVO NAZIONALE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.obiettivo_strategico_nazionale}">Obiettivo Strategico Nazionale</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
							<div class="value" th:if="${eventoWrapper.evento.obiettivoNazionale != null}" th:text="${eventoWrapper.evento.obiettivoNazionale.nome}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.obiettivoNazionale != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- OBIETTIVO REGIONALE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.obiettivo_strategico_regionale}">Obiettivo Strategico Regionale</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.obiettivoRegionale != null}" th:text="${eventoWrapper.evento.obiettivoRegionale.nome}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.obiettivoRegionale != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- PROFESSIONI/DISCIPLINE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.professioni_discipline}">Professioni / Discipline</span>
						</label>
						<div th:if="${eventoWrapper.evento.discipline != null and !#sets.isEmpty(eventoWrapper.evento.discipline)}">
							<div class="item form-group" style="clear:both; padding:2px;"></div>
							<div class="item form-group" style="clear:both">
								<div class="col-md-3 col-sm-3 col-xs-11"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<table class="professioni-discipline table table-striped table-bordered dt-responsive nowrap datatable-responsive-discipline"
										cellspacing="0" width="100%">
										<thead style="display: none;">
											<tr>
												<th th:text="#{label.professione}">Professione</th>
												<th th:text="#{label.disciplina}">Disciplina</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="disciplina, row: ${eventoWrapper.evento.discipline}">
												<td th:text="${disciplina.professione.nome}"></td>
												<td th:text="${disciplina.nome}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div th:unless="${eventoWrapper.evento.discipline != null and !#sets.isEmpty(eventoWrapper.evento.discipline)}" class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- BLOCCO TIPOLOGIA DI EVENTO -->
					<!-- TIPOLOGIA DELL'EVENTO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.tipologia_evento}">Tipologia di Evento</span>
						</label>

						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.tipologiaEventoRES != null}" th:text="${eventoWrapper.evento.tipologiaEventoRES.nome}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.tipologiaEventoRES != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- WORKSHOP/SEMINARI (attivo se selezionato convegno/congresso) -->
					<div class="item form-group" th:if="${eventoWrapper.evento.tipologiaEventoRES == T(it.tredi.ecm.dao.enumlist.TipologiaEventoRESEnum).CONVEGNO_CONGRESSO}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.workshop_radio_text}"></span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.workshopSeminariEcm != null and eventoWrapper.evento.workshopSeminariEcm and !#strings.isEmpty(eventoWrapper.evento.workshopSeminariEcm)}" th:text="${eventoWrapper.evento.workshopSeminariEcm} ? #{label.sì} : #{label.no}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.workshopSeminariEcm != null and eventoWrapper.evento.workshopSeminariEcm and !#strings.isEmpty(eventoWrapper.evento.workshopSeminariEcm)}" th:text="#{label.dato_non_inserito}"></div>

						</div>
					</div>
					<!-- TITOLO CONVEGNO (attivo se selezionato workshop/seminario) -->
					<div class="item form-group" th:if="${eventoWrapper.evento.tipologiaEventoRES == T(it.tredi.ecm.dao.enumlist.TipologiaEventoRESEnum).WORKSHOP_SEMINARIO}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.titolo_convegno}"></span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.titoloConvegno != null and !#strings.isEmpty(eventoWrapper.evento.titoloConvegno)}" th:text="${eventoWrapper.evento.titoloConvegno}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.titoloConvegno != null and !#strings.isEmpty(eventoWrapper.evento.titoloConvegno)}" th:text="#{label.dato_non_inserito}"></div>
							</div>
					</div>

					<!-- NUMERO PARTECIPANTI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.numero_partecipanti}">Numero dei partecipanti</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.numeroPartecipanti != null and eventoWrapper.evento.numeroPartecipanti != 0}" th:text="${eventoWrapper.evento.numeroPartecipanti}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.numeroPartecipanti != null and eventoWrapper.evento.numeroPartecipanti != 0}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- RESPONSABILI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.responsabili_scientifici}">Responsabili scientifici</span>
						</label>
						<div th:if="${eventoWrapper.evento.responsabili != null and !#sets.isEmpty(eventoWrapper.evento.responsabili)}">
							<div class="item form-group" style="clear:both; padding:2px;"></div>
							<div class="item form-group" style="clear:both">
								<div class="col-md-3 col-sm-3 col-xs-11"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<table id="responsabiliScientifici" class="datatable-responsive-responsabili table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											 <tr>
												<th th:text="#{label.cognome}">Cognome</th>
												<th th:text="#{label.nome}">Nome</th>
												<th th:text="#{label.cf}">CF</th>
												<th th:text="#{label.qualifica}">Qualifica</th>
												<th th:text="#{label.cv}">CV</th>
											</tr>
										</thead>
										<tbody>
											<tr th:attr="data-row-id=${__${status.index}__}" th:each="persona, status : ${eventoWrapper.evento.responsabili}">
												<td th:text="${persona.anagrafica.cognome}"></td>
												<td th:text="${persona.anagrafica.nome}"></td>
												<td th:text="${persona.anagrafica.codiceFiscale}"></td>
												<td th:text="${persona.qualifica}"></td>
												<td>
													<a th:if="${persona.anagrafica.cv?.id}" th:text="${persona.anagrafica?.cv.nomeFile}" th:href="@{|/file/${persona.anagrafica.cv.id}|}"></a>
													<span th:unless="${persona.anagrafica.cv?.id}" th:text="#{label.nessun_cv}"></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div th:unless="${eventoWrapper.evento.responsabili != null and !#sets.isEmpty(eventoWrapper.evento.responsabili)}" class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- DOCENTI/RELATORI/TUTOR -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.docenti_relatori_tutor}">Docenti/Relatori/Tutor</span>
						</label>
						<div th:if="${eventoWrapper.evento.docenti != null and !#sets.isEmpty(eventoWrapper.evento.docenti)}">
							<div class="item form-group" style="clear:both; padding:2px;"></div>
							<div class="item form-group" style="clear:both">
								<div class="col-md-3 col-sm-3 col-xs-11"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<table id="docenti" class="datatable-responsive-docenti table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											 <tr>
												<th th:text="#{label.cognome}">Cognome</th>
												<th th:text="#{label.nome}">Nome</th>
												<th th:text="#{label.cf}">CF</th>
												<th th:text="#{label.ruolo}">Ruolo</th>
												<th th:text="#{label.titolare} + '/' + #{label.sostituto}">Titolare/Sostituto</th>
												<th th:text="#{label.cv}">CV</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.size(eventoWrapper.evento.docenti) > 0}" th:attr="data-row-id=${__${status.index}__}" th:each="persona, status : ${eventoWrapper.evento.docenti}">
												<td th:text="${persona.anagrafica.cognome}"></td>
												<td th:text="${persona.anagrafica.nome}"></td>
												<td th:text="${persona.anagrafica.codiceFiscale}"></td>
												<td th:text="${persona.ruolo}"></td>
												<td th:text="${persona.titolare}"></td>
												<td>
													<a th:if="${persona.anagrafica.cv?.id}" th:text="${persona.anagrafica?.cv.nomeFile}" th:href="@{|/file/${persona.anagrafica.cv.id}|}"></a>
													<span th:unless="${persona.anagrafica.cv?.id}" th:text="#{label.nessun_cv}"></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div th:unless="${eventoWrapper.evento.docenti != null and !#sets.isEmpty(eventoWrapper.evento.docenti)}" class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- BLOCCO PROGRAMMA ATTIVITÀ FORMATIVA -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.programma_attività_formativa}">Titolo</span>
						</label>
					</div>
					<div class="divider"></div>
					<!-- RAZIONALE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.razionale}">Razionale</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="razionale">
							<div class="value" th:if="${eventoWrapper.evento.razionale != null and !#strings.isEmpty(eventoWrapper.evento.razionale)}" th:text="${eventoWrapper.evento.razionale}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.razionale != null and !#strings.isEmpty(eventoWrapper.evento.razionale)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- RISULTATI ATTESI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.risultati_attesi}">Risultati attesi</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div th:if="${eventoWrapper.evento.risultatiAttesi != null and !#lists.isEmpty(eventoWrapper.evento.risultatiAttesi)}" th:each="risultato, row : ${eventoWrapper.evento.risultatiAttesi}">
								<div class="value" th:text="${risultato}"></div>
							</div>
							<div class="value danger" th:unless="${eventoWrapper.evento.risultatiAttesi != null and !#lists.isEmpty(eventoWrapper.evento.risultatiAttesi)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class='programmaEvento item form-group' id="programma">
						<th:block th:include="evento/eventoShow :: attivitaRES" />
					</div>

					<div class="divider"></div>

					<!-- BROCHURE EVENTO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.brochure_evento}">Brochure dell'evento</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.brochureEvento != null}"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.brochureEvento.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.brochureEvento.id}|}"></a></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.brochureEvento != null}" th:text="#{label.allegato_non_inserito}"></div>
						</div>
					</div>

					<!-- VERIFICA APPRENDIMENTO PARTECIPANTI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.verifica_apprendimento_partecipanti}">Verifica Apprendimento partecipanti</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
							<div th:if="${eventoWrapper.evento.verificaApprendimento != null and !#lists.isEmpty(eventoWrapper.evento.verificaApprendimento)}" th:each="verifica, row : ${eventoWrapper.evento.verificaApprendimento}">
								<div class="value" th:text="${verifica.nome}"></div>
							</div>
							<div class="value danger" th:unless="${eventoWrapper.evento.verificaApprendimento != null and !#lists.isEmpty(eventoWrapper.evento.verificaApprendimento)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					 <!-- DURATA  -->
	 				<div class="item form-group">
	 					<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
	 						<span class="label-show" th:text="#{label.durata}">Durata</span>
	 					</label>
	 					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
	 						<div class="value" th:text="${T(it.tredi.ecm.utils.Utils).formatOrario(eventoWrapper.evento.durata)}"></div>
	 					</div>
	 				</div>

	 				<!-- TIPOLOGIA DI OBIETTIVI FORMATIVI -->
	 				<div class="item form-group">
	 					<div class="col-xs-1"></div>
	 					<label class="control-label col-md-3 col-sm-3 col-xs-11">
	 						<span class="label-show" th:text="#{label.tipologia_obiettivi_formativi}">Tipologia di obiettivi formativi</span>
	 					</label>
	 					<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="tipologiaObiettiviFormativi">
	 						<div class="value">
	 							<ul>
									<li class="listStyle-elenco" th:each="obiettivo, row : ${eventoWrapper.evento.riepilogoRES.obiettivi}">
										<label th:text="${obiettivo.nome}"></label>
									</li>
	 							</ul>
 							</div>
	 					</div>
	 				</div>

	 				<!-- METODOLOGIE DIDATTICHE -->
	 				<div class="item form-group col-xs-12">
	 					<div class="col-xs-1"></div>
	 					<label class="control-label col-md-3 col-sm-3 col-xs-11">
	 						<span class="label-show" th:text="#{label.metodologie_didattiche}">Metodologie Didattiche</span>
	 					</label>
						<div class="item form-group" style="clear:both; padding:2px;"></div>
						<div class="item form-group col-xs-12" style="clear:both">
							<table class="datatable-responsive-programmaFSC table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th th:text="#{label.metodologia_didattica}">OBIETTIVO FORMATIVO</th>
										<th th:text="#{label.metodologia_frontale}">RISULTATAO ATTESO</th>
										<th th:text="#{label.metodologia_interattiva}">METODO DI LAVORO</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="metodologia, row : ${eventoWrapper.evento.riepilogoRES.metodologie}">
										<td th:text="${metodologia.key.nome}"></td>
										<td>
											<span th:if="${metodologia.key.metodologia == T(it.tredi.ecm.dao.enumlist.TipoMetodologiaEnum).FRONTALE}"
												th:text="${T(it.tredi.ecm.utils.Utils).formatOrario(metodologia.value)}"></span>
										</td>
										<td>
											<span th:if="${metodologia.key.metodologia == T(it.tredi.ecm.dao.enumlist.TipoMetodologiaEnum).INTERATTIVA}"
												th:text="${T(it.tredi.ecm.utils.Utils).formatOrario(metodologia.value)}"></span>
										</td>
									</tr>
									<tr>
										<td>
											<strong><span class="text-uppercase" th:text="#{label.totale_ore}"></span></strong>
										</td>
										<td>
											<strong><span th:text="${T(it.tredi.ecm.utils.Utils).formatOrario(eventoWrapper.evento.riepilogoRES.totaleOreFrontali)}"></span></strong>
										</td>
										<td>
											<strong><span th:text="${T(it.tredi.ecm.utils.Utils).formatOrario(eventoWrapper.evento.riepilogoRES.totaleOreInterattive)}"></span></strong>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
	 				</div>

					<!-- CREDITI FORMATIVI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.crediti_formativi_attribuiti_evento}">Crediti attribuiti all'evento</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div th:if="${eventoWrapper.evento.crediti != null and eventoWrapper.evento.crediti != 0}" class="value" th:text="${eventoWrapper.evento.crediti}"></div>
							<div th:unless="${eventoWrapper.evento.crediti != null and eventoWrapper.evento.crediti != 0}" class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<div class="item form-group" th:if="${eventoWrapper.evento.crediti != null and eventoWrapper.evento.crediti != 0}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.provider_confermato_crediti}">Il provider ha confermato i crediti formativi?</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:text="${eventoWrapper.evento.confermatiCrediti} ? #{label.sì} : #{label.no}"></div>
						</div>
					</div>

					<!-- RESPONSABILE SEGRETERIA ORGANIZZATIVA -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.responsabile_segreteria_organizzativa}">Responsabile segreteria organizzativa</span>
						</label>
						<div th:if="${eventoWrapper.evento.responsabileSegreteria != null and !#sets.isEmpty(eventoWrapper.evento.responsabileSegreteria) and eventoWrapper.evento.responsabileSegreteria.anagrafica != null}">
							<div class="item form-group" style="clear:both; padding:2px;"></div>
							<div class="item form-group" style="clear:both">
								<div class="col-md-3 col-sm-3 col-xs-11"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<table id="responsabileSegreteria" class="datatable-responsive-responsabileSegreteria table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											 <tr>
												<th th:text="#{label.cognome}">Cognome</th>
												<th th:text="#{label.nome}">Nome</th>
												<th th:text="#{label.cf}">CF</th>
												<th th:text="#{label.email}">Email</th>
												<th th:text="#{label.telefono}">Telefono</th>
												<th th:text="#{label.cellulare}">Cellulare</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${eventoWrapper.evento.responsabileSegreteria != null and eventoWrapper.evento.responsabileSegreteria.anagrafica != null}">
												<td th:text="${eventoWrapper.evento.responsabileSegreteria.anagrafica.cognome}"></td>
												<td th:text="${eventoWrapper.evento.responsabileSegreteria.anagrafica.nome}"></td>
												<td th:text="${eventoWrapper.evento.responsabileSegreteria.anagrafica.codiceFiscale}"></td>
												<td th:text="${eventoWrapper.evento.responsabileSegreteria.anagrafica.email}"></td>
												<td th:text="${eventoWrapper.evento.responsabileSegreteria.anagrafica.telefono}"></td>
												<td th:text="${eventoWrapper.evento.responsabileSegreteria.anagrafica.cellulare}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div th:unless="${eventoWrapper.evento.responsabileSegreteria != null and !#sets.isEmpty(eventoWrapper.evento.responsabileSegreteria) and eventoWrapper.evento.responsabileSegreteria.anagrafica != null}" class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- TIPO MATERIALE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.tipo_materiale_rilasciato}">Tipo materiale durevole rilasciato ai partecipanti</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
							<div class="value" th:if="${eventoWrapper.evento.materialeDurevoleRilasciatoAiPratecipanti != null and !#strings.isEmpty(eventoWrapper.evento.materialeDurevoleRilasciatoAiPratecipanti)}" th:text="${eventoWrapper.evento.materialeDurevoleRilasciatoAiPratecipanti}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.materialeDurevoleRilasciatoAiPratecipanti != null and !#strings.isEmpty(eventoWrapper.evento.materialeDurevoleRilasciatoAiPratecipanti)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- QUOTA PARTECIPAZIONE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.quota_partecipazione}">Quota di partecipazione</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
							<div class="value" th:if="${eventoWrapper.evento.quotaPartecipazione != null}" th:text="${#numbers.formatDecimal(eventoWrapper.evento.quotaPartecipazione, 1, 'POINT', 2, 'COMMA')+'€'}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.quotaPartecipazione != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- BLOCCO LINGUA -->
					<!-- RADIO LINGUA ITALIANA -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.solo_lingua_italiana}"></span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.soloLinguaItaliana != null}" th:text="${eventoWrapper.evento.soloLinguaItaliana} ? #{label.sì} : #{label.no}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.soloLinguaItaliana != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- LINGUA STRANIERA -->
					<div class="item form-group" th:if="${eventoWrapper.evento.soloLinguaItaliana == false}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.lingua_straniera_utilizzata}">Lingua straniera utilizzata</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.linguaStranieraUtilizzata != null and !#strings.isEmpty(eventoWrapper.evento.linguaStranieraUtilizzata)}" th:text="${eventoWrapper.evento.linguaStranieraUtilizzata}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.linguaStranieraUtilizzata != null and !#strings.isEmpty(eventoWrapper.evento.linguaStranieraUtilizzata)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- TRADUZIONE RADIO -->
					<div class="item form-group" th:if="${eventoWrapper.evento.soloLinguaItaliana == false}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.esiste_traduzione}">Esiste un sistema di traduzione simultanea</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.esisteTraduzioneSimultanea != null}" th:text="${eventoWrapper.evento.esisteTraduzioneSimultanea} ? #{label.sì} : #{label.no}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.esisteTraduzioneSimultanea != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- VERIFICA PRESENZA PARTECIPANTI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.verifica_presenza_partecipanti}">Verifica presenza partecipanti</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div th:if="${eventoWrapper.evento.verificaPresenzaPartecipanti != null and !#lists.isEmpty(eventoWrapper.evento.verificaPresenzaPartecipanti)}" th:each="modalita, row : ${eventoWrapper.evento.verificaPresenzaPartecipanti}">
								<div class="value" th:text="${modalita.nome}"></div>
							</div>
							<div class="value danger" th:unless="${eventoWrapper.evento.verificaPresenzaPartecipanti != null and !#lists.isEmpty(eventoWrapper.evento.verificaPresenzaPartecipanti)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- VERIFICA A DISTANZA BLOCCO -->
					<!-- RADIO VERIFICA A DISTANZA -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.verifica_distanza_ricadute_formative}"></span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.verificaRicaduteFormative != null}" th:text="${eventoWrapper.evento.verificaRicaduteFormative} ? #{label.sì} : #{label.no}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.verificaRicaduteFormative != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- DESCRIZIONE -->
					<div class="item form-group" th:if="${eventoWrapper.evento.verificaRicaduteFormative == true}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.descrizione_verifica_ricadute_formative}">Descrizione</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.descrizioneVerificaRicaduteFormative != null and !#strings.isEmpty(eventoWrapper.evento.descrizioneVerificaRicaduteFormative)}" th:text="${eventoWrapper.evento.descrizioneVerificaRicaduteFormative}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.descrizioneVerificaRicaduteFormative != null and !#strings.isEmpty(eventoWrapper.evento.descrizioneVerificaRicaduteFormative)}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- ALLEGATO VERIFICA RICADUTE FORMATIVE -->
					<div class="item form-group" th:if="${eventoWrapper.evento.verificaRicaduteFormative}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.documento_verifica_ricadute_formative}">Documento di verifica delle ricadute formative</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.documentoVerificaRicaduteFormative != null}"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.documentoVerificaRicaduteFormative.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.documentoVerificaRicaduteFormative.id}|}"></a></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.documentoVerificaRicaduteFormative != null}" th:text="#{label.allegato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- SPONSOR BLOCCO -->
					<!-- RADIO SPONSOR -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.evento_sponsorizzato_radio}">L'Evento è sponsorizzato?</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.eventoSponsorizzato != null}" th:text="${eventoWrapper.evento.eventoSponsorizzato} ? #{label.sì} : #{label.no}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.eventoSponsorizzato != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- SPONSOR INFO -->
					<div class="item form-group" th:if="${eventoWrapper.evento.eventoSponsorizzato == true}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.sponsors}">Sponsors</span>
						</label>
						<div th:if="${eventoWrapper.evento.sponsors != null and !#sets.isEmpty(eventoWrapper.evento.sponsors)}">
							<div class="item form-group" style="clear:both; padding:2px;"></div>
							<div class="item form-group" style="clear:both">
								<div class="col-md-3 col-sm-3 col-xs-11"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<table id="sponsors" class="datatable-responsive-sponsors table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											 <tr>
												<th th:text="#{label.nome_sponsor}">Nome dello sponsor</th>
												<th th:text="#{label.contratto}">Contratto</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="sponsor, row : ${eventoWrapper.evento.sponsors}">
												<td th:text="${sponsor.name}"></td>
												<td th:if="${sponsor.sponsorFile != null}"><a th:href="@{|/file/${sponsor.sponsorFile.id}|}" th:text="${sponsor.sponsorFile.nomeFile}"></a></td>
												<td th:unless="${sponsor.sponsorFile != null}"><span class="danger" th:text="#{label.allegato_non_inserito}"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div th:unless="${eventoWrapper.evento.sponsors != null and !#sets.isEmpty(eventoWrapper.evento.sponsors)}" class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<th:block th:if="${eventoWrapper.evento.contenutiEvento == T(it.tredi.ecm.dao.enumlist.ContenutiEventoEnum).ALIMENTAZIONE_PRIMA_INFANZIA}">
						<!-- RADIO SPONSOR PRIMA INFANZIA -->
						<div class="item form-group">
							<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
								<span class="label-show" th:text="#{label.evento_sponsorizzato_infanzia_radio}">L’evento è sponsorizzato da aziende che trattano alimenti per la prima infanzia?</span>
							</label>
							<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
								<div class="value" th:if="${eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia != null}" th:text="${eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia} ? #{label.sì} : #{label.no}"></div>
								<div class="value danger" th:unless="${eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia != null}" th:text="#{label.dato_non_inserito}"></div>
							</div>
						</div>
						<!-- ALLEGATO AUTOCERTIFICAZIONE AUTORIZZAZIONE MINISTERO SALUTE -->
						<div class="item form-group" th:if="${eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia != null and eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia == true}">
							<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
								<span class="label-show" th:text="#{label.allegato_autocertificazione_autorizzazione_ministero}">Autocertificazione di autorizzazione del Ministero della Salute</span>
							</label>
							<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
								<div class="value" th:if="${eventoWrapper.evento.autocertificazioneAutorizzazioneMinisteroSalute != null}"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.autocertificazioneAutorizzazioneMinisteroSalute.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.autocertificazioneAutorizzazioneMinisteroSalute.id}|}"></a></div>
								<div class="value danger" th:unless="${eventoWrapper.evento.autocertificazioneAutorizzazioneMinisteroSalute != null}" th:text="#{label.allegato_non_inserito}"></div>
							</div>
						</div>
						<!-- ALLEGATO AUTOCERTIFICAZIONE ASSENZA PARTECIPAZIONE SPONSOR INFANZIA -->
						<div class="item form-group" th:if="${eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia != null and eventoWrapper.evento.eventoSponsorizzatoDaAziendeAlimentiPrimaInfanzia == false}">
							<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
								<span class="label-show" th:text="#{label.allegato_autocertificazione_assenza_finanziamenti}">Autocertificazione relativa all'assenza di partecipazione finanziaria di imprese interessate agli alimenti per la prima infanzia</span>
							</label>
							<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
								<div class="value" th:if="${eventoWrapper.evento.autocertificazioneAssenzaAziendeAlimentiPrimaInfanzia != null}"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.autocertificazioneAssenzaAziendeAlimentiPrimaInfanzia.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.autocertificazioneAssenzaAziendeAlimentiPrimaInfanzia.id}|}"></a></div>
								<div class="value danger" th:unless="${eventoWrapper.evento.autocertificazioneAssenzaAziendeAlimentiPrimaInfanzia != null}" th:text="#{label.allegato_non_inserito}"></div>
							</div>
						</div>
					</th:block>

					<div class="divider-dashed"></div>

					<!-- FORME FINANZIAMENTO BLOCCO -->
					<!-- RADIO FORME FINANZIAMENTO -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.forme_finanziamento_radio}">Sono presenti forme di finanziamento?</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.altreFormeFinanziamento != null}" th:text="${eventoWrapper.evento.altreFormeFinanziamento} ? #{label.sì} : #{label.no}"></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.altreFormeFinanziamento != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- ALLEGATO CONTRATTI/ACCORDI/CONVENZIONI -->
					<div class="item form-group" th:if="${eventoWrapper.evento.altreFormeFinanziamento == true}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.allegato_contratti_accordi_convenzioni}">Allegato Contratti Accordi Convenzioni</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.contrattiAccordiConvenzioni != null}"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.contrattiAccordiConvenzioni.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.contrattiAccordiConvenzioni.id}|}"></a></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.contrattiAccordiConvenzioni != null}" th:text="#{label.allegato_non_inserito}"></div>
						</div>
					</div>
					<!-- ALLEGATO AUTOCERTIFICAZIONE ASSENZA FINANZIAMENTI -->
					<div class="item form-group" th:if="${eventoWrapper.evento.altreFormeFinanziamento == false}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.allegato_autocertificazione_assenza_finanziamenti}">Allegato autocertificazione assenza finanziamenti</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div th:if="${eventoWrapper.evento.autocertificazioneAssenzaFinanziamenti != null}" class="value"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.autocertificazioneAssenzaFinanziamenti.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.autocertificazioneAssenzaFinanziamenti.id}|}"></a></div>
							<div th:unless="${eventoWrapper.evento.autocertificazioneAssenzaFinanziamenti != null}" class="value danger" th:text="#{label.allegato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- BLOCCO PARTNER -->
					<!-- RADIO PARTNER -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.si_avvale_di_partner}">L’evento si avvale di partner?</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.eventoAvvalePartner != null}" th:text="${eventoWrapper.evento.eventoAvvalePartner} ? #{label.sì} : #{label.no} "></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.eventoAvvalePartner != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
					<!-- PARTNER INFO -->
					<div class="item form-group" th:if="${eventoWrapper.evento.eventoAvvalePartner == true}">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.partners}">Partners</span>
						</label>
						<div th:if="${eventoWrapper.evento.partners != null and !#sets.isEmpty(eventoWrapper.evento.partners)}">
							<div class="item form-group" style="clear:both; padding:2px;"></div>
							<div class="item form-group" style="clear:both">
								<div class="col-md-3 col-sm-3 col-xs-11"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<table id="partners" class="datatable-responsive-partners table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											 <tr>
												<th th:text="#{label.nome_partner}">Nome dello partner</th>
												<th th:text="#{label.contratto}">Contratto</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="partner, row : ${eventoWrapper.evento.partners}">
												<td th:text="${partner.name}"></td>
												<td><a th:href="@{|/file/${partner.partnerFile.id}|}" th:text="${partner.partnerFile.nomeFile}"></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div th:unless="${eventoWrapper.evento.partners != null and !#sets.isEmpty(eventoWrapper.evento.partners)}" class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value danger" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<div class="divider-dashed"></div>

					<!-- DICHIARAZIONE CONFLITTO INTERESSI -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.dichiarazione_assenza_conflitto_interesse}">Dichiarazione di assenza di conflitto di interesse</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.dichiarazioneAssenzaConflittoInteresse != null}"><i class="fa fa-download"> </i> <a th:text="${eventoWrapper.evento.dichiarazioneAssenzaConflittoInteresse.nomeFile}" th:href="@{|/file/${eventoWrapper.evento.dichiarazioneAssenzaConflittoInteresse.id}|}"></a></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.dichiarazioneAssenzaConflittoInteresse != null}" th:text="#{label.allegato_non_inserito}"></div>
						</div>
					</div>

					<!-- PROCEDURA VERIFICA QUALITÀ -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.procedura_verifica_qualita}">E’ prevista una procedura di verifica della qualità percepita</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.proceduraVerificaQualitaPercepita != null}" th:text="${eventoWrapper.evento.proceduraVerificaQualitaPercepita} ? #{label.sì} : #{label.no} "></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.proceduraVerificaQualitaPercepita != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>

					<!-- AUTORIZZAZIONE -->
					<div class="item form-group">
						<div class="col-xs-1"></div><label class="control-label col-md-3 col-sm-3 col-xs-11">
							<span class="label-show" th:text="#{label.autorizzazione_privacy}">label.autorizzazione_privacy</span>
						</label>
						<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
							<div class="value" th:if="${eventoWrapper.evento.autorizzazionePrivacy != null}" th:text="${eventoWrapper.evento.autorizzazionePrivacy} ? #{label.sì} : #{label.no} "></div>
							<div class="value danger" th:unless="${eventoWrapper.evento.autorizzazionePrivacy != null}" th:text="#{label.dato_non_inserito}"></div>
						</div>
					</div>
				</div>

			</div>
		</th:block>
	</div>
</body>
</html>