<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<!-- modali per inserimento nuovo evento (scelta opzioni) -->
		<th:block th:if="${canCreateEvento}">
			<div id="scelta-tipologia-modal" class="modal fade modal-scelta-tipologia" data-model-index="1" role="dialog">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_procedura_formativa_evento}">Scelta della tipologia dell'Evento da inserire</h4>
						</div>
						<div class="modal-body">

							<form id="selezioneTipologiaEvento" class="form-horizontal"
								th:action="@{|/provider/${providerId}/evento/new|}"
								method="post" enctype="multipart/form-data"
								novalidate="novalidate">

								<div class="item modalAlert">
									<div class="radio" th:each="proceduraFormativa, row : ${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).values()}" th:classappend="${error == true} ? 'bad'">
										<label>
											<input type="radio" class="flat" name="proceduraFormativa" th:value="${proceduraFormativa}"/>
											<span th:text="${proceduraFormativa.nome}"></span>
										</label>
									</div>
									<div th:if="${error}" class="alert" th:text="#{error.empty}" style="left: 0; opacity: inherit"></div>
								</div>

								<input id="submitTipologiaModal" type="submit" style="display: none;" />

							</form>

						</div>
						<div class="modal-footer">
							<label for="submitTipologiaModal" class="btn btn-success pull-right" th:text="#{label.Ok}">Ok</label>
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
						</div>
					</div>
				</div>
			</div>

			<div id="scelta-attuazione-modal" class="modal fade modal-scelta-attuazione" data-model-index="1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_evento_piano_formativo}">Scelta Evento del Piano Formativo da attuare</h4>
						</div>
						<div class="modal-body">

							<div>TODO table con eventi del piano formativo e un button che mandi in /provider/${providerId}/eventoPianoFormativo/${eventoPianoFormativo.id}/fulfill </div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
						</div>
					</div>
				</div>
			</div>

			<div id="scelta-riedizione-modal" class="modal fade modal-scelta-riedizione" data-model-index="1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_evento_riedizione}">Scelta Evento da rieditare</h4>
						</div>
						<div class="modal-body">

							<div>TODO table con eventi completati e un button che mandi in /provider/${providerId}/evento/${evento.id}/republication </div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="${denominazioneProvider != null} ? #{label.lista_eventi_provider(${denominazioneProvider})} : #{label.lista_eventi}">Lista degli eventi</h2>
						<div class="pull-right buttons-header">

							<div class="dropdown pull-right">
  								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" th:if="${canCreateEvento}">
									<span th:text="#{label.nuovo_evento}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<!-- <li><a th:if="${accreditamentoWrapper.canShowValutazioneRiepilogo}" type="button" class="ajaxCallShowAllValutazioni" th:text="#{label.mostra_riepilogo_valutazioni}" data-toggle="modal" data-target=".modal-showAllValutazioni"></a></li> -->
									<li><a th:text="#{label.creazione_evento}" data-toggle="modal" data-target=".modal-scelta-tipologia"></a></li>
									<li><a th:text="#{label.attuazione_evento}" data-toggle="modal" data-target=".modal-scelta-attuazione"></a></li>
									<li><a th:text="#{label.riedizione_evento}" data-toggle="modal" data-target=".modal-scelta-riedizione"></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<div th:if="${#lists.isEmpty(eventoList)}">
							<h2 class="col-xs-12 text-center">
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_evento_list}">Non ci sono eventi!</i>
							</h2>
						</div>

						<table th:unless="${#lists.isEmpty(eventoList)}" class="datatable-responsive-eventi-provider table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.codice_identificativo}">label.codice_identificativo</th>
									<th th:text="#{label.titolo}">label.titolo</th>
									<th th:text="#{label.procedura_formativa}">label.procedura_formativa</th>
									<th th:text="#{label.prezzo}">label.prezzo</th>
									<th th:text="#{label.stato}">label.stato</th>
									<th th:text="#{label.data_scadenza_pagamento}">label.data_scadenza_pagamento</th>
									<th th:text="#{label.azioni}">label.azioni</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each="evento, row : ${eventoList}">
									<td><a th:text="${evento.getCodiceIdentificativo()}" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/show|}"></a></td>
									<td th:text="${evento.titolo}"></td>
									<td th:text="${evento.proceduraFormativa.nome}"></td>
									<td th:text="${#numbers.formatDecimal(evento.costo, 1, 'POINT', 2, 'COMMA')}"></td>
									<td th:if="${evento.pagato}"><span class="label-pagato" th:text="#{label.pagato}"></span></td>
									<td th:unless="${evento.pagato}"><span class="label-non-pagato" th:text="#{label.non_pagato}"></span></td>
									<td th:text="${evento.dataScadenzaPagamento == null} ? '' : ${#temporals.format(evento.dataScadenzaPagamento, 'dd/MM/yyyy')}"></td>
									<td>
										<div class="button-container single">
											<a class="btn btn-primary btn-table double" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/edit|}"><i class="fa fa-pencil"> </i> <span th:text="#{label.modifica}"> </span></a>
											<a class="btn btn-danger btn-table double" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/delete|}"><i class="fa fa-trash"> </i> <span th:text="#{label.elimina}"> </span></a>
											<a class="btn btn-success btn-table double"><i class="fa fa-euro"> </i> <span th:text="#{label.paga}"> </span></a>
											<a class="btn btn-warning btn-table double" th:href="@{|/provider/${evento.provider.id}/evento/${evento.id}/rendiconto|}"><i class="fa fa-file-text"> </i> <span th:text="#{label.rendiconto}"> </span></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				$(document).ready(function() {

					$(".datatable-responsive-eventi-provider").DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
						"ordering" : false,
						"columnDefs": [ {
							"targets": 6,
							"width": "1px",
							"sClass": "center"
						} ]
					})

					if([[${error}]]) {
						$("#scelta-tipologia-modal").modal("show");
					}

					$("input[name=proceduraFormativa]").each(function() {
						$(this).on('ifToggled', function() {
							$('div.alert').fadeOut(150, function() {
								$(this).remove();
							});
							$('.bad').removeClass('bad');
						});
					})

				})

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>