<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.visualizzazione_evento(${eventoWrapper.evento.getCodiceIdentificativo()})}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
  								<a class="btn btn-primary" th:href="@{|/provider/${eventoWrapper.providerId}/evento/list|}" th:text="#{label.indietro}"></a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:fragment="eventoShow">

						<th:block th:switch="${eventoWrapper.proceduraFormativa}">
							<th:block th:case="${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FAD}">
								<th:block th:include="evento/eventoFADShow :: eventoFADShow"></th:block>
							</th:block>
							<th:block th:case="${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FSC}">
								<th:block th:include="evento/eventoFSCShow :: eventoFSCShow"></th:block>
							</th:block>
							<th:block th:case="${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).RES}">
								<th:block th:include="evento/eventoRESShow :: eventoRESShow"></th:block>
							</th:block>
						</th:block>

						<script th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {

								//table responsive professioni/discipline show
								$('.datatable-responsive-discipline').DataTable({
									"bFilter" : false,
									"bPaginate": false,
									"bInfo" : false,
								    "columnDefs": [
								    	{ "targets": [ '_all' ], "orderable": false },
								    	{ "targets": [ 0 ], "orderData": [ 0, 1 ] },
								    	{ "visible": false, "targets": 0 }
								    ],
								    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
								    "drawCallback": function ( settings ) {
							        	var api = this.api();
							            var rows = api.rows( {page:'current'} ).nodes();
							            var last=null;

							            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
							            	if ( last !== group ) {
							                	$(rows).eq( i ).before(
							                    	'<tr class="row-group"><td colspan="2">'+group+'</td></tr>'
							            	);
							                    last = group;
							                }
							            });
							        }

								});
							})
						/*]]>*/
						</script>

					</th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>