<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-xs-12">

				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.creazione_nuovo_evento(${eventoWrapper.proceduraFormativa})}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">

  								<a class="btn btn-primary" th:href="@{|/provider/${eventoWrapper.providerId}/evento/list|}" th:text="#{label.indietro}"></a>

  								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a><label class="in-dropdown" for="submitButton" th:text="#{label.salva_modifiche}"></label></a></li>
									<li><a th:text="#{label.conferma_evento}"></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:switch="${eventoWrapper.proceduraFormativa}">
						<th:block th:case="${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FAD}">
							<th:block th:include="evento/eventoFADEdit :: eventoFADEdit"></th:block>
						</th:block>
						<th:block th:case="${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FSC}">
							<th:block th:include="evento/eventoFSCEdit :: eventoFSCEdit"></th:block>
						</th:block>
						<th:block th:case="${T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).RES}">
							<th:block th:include="evento/eventoRESEdit :: eventoRESEdit"></th:block>
						</th:block>
					</th:block>

				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var text_max = 3000;
			$('#counter').html(text_max + ' '+[[#{label.caratteri_rimanenti}]]);

			$('#title').keyup(function() {
			  var text_length = $('#title').val().length;
			  var text_remaining = text_max - text_length;

			  $('#counter').html(text_remaining + ' '+[[#{label.caratteri_rimanenti}]]);
			});

			function sendAjaxRequestProvincia(){
				var provincia = $('#provincia option:selected').val();
				var start = [[@{/comuni?provincia=}]];
				var end = provincia;
				var url = start + end;
				$.get(url, function(data){
					$("#comune").empty();
					for(var item = 0; item < data.length; item++){
						var option = '<option value = "' + data[item] + '">' + data[item] + "</option>";
						$("#comune").append(option);
					}
					$("#comune").prop("disabled", false);
					$("#comune").selectpicker('refresh');

				});
			};

			$(document).ready(function() {
				var days = getDayNamesShort();
				var months = getMonthNames();

				$('#dataInizio').daterangepicker({
			        singleDatePicker: true,
			        autoApply: true,
			        autoUpdateInput: true,
			        format: "DD/MM/YYYY",
			        locale: {
				        daysOfWeek: days,
		                monthNames: months,
			        }
			    })

			    $('#dataFine').daterangepicker({
			        singleDatePicker: true,
			        autoApply: true,
			        autoUpdateInput: true,
			        minDate: $('#dataInizio').val(),
			        format: "DD/MM/YYYY",
			        locale: {
				        daysOfWeek: days,
		                monthNames: months,
			        }
			    })

			    $('#dataInizio').on("hide.daterangepicker", function() {
					$(this).closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
				});

				function updateDataFine() {
					$('#dataFine').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        minDate: $('#dataInizio').val(),
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })
				}

				//setta minDate alla data di inizio evento
				$('#dataInizio').on("apply.daterangepicker change", function() {
					updateDataFine();
				});

			    $('#dataFine').on("hide.daterangepicker", function() {
					$(this).closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
				});

			    //professioni/discipline
			    $('select').selectpicker({
					selectAllText : 'Seleziona tutti',
					deselectAllText : 'Deseleziona tutti',
					countSelectedText : '{0} selezionate'
				});

				if($("#professioni")[0]) {
					abilitaDiscipline($("#professioni")[0]);
				}

				//gestione evento iCheck su radio riguardante gli sponsor
				$(".sponsor").on("ifChecked", function() {
					if($(this).val() == 'true')
						mostraNascondiCampiSponsor(true);
					else
						mostraNascondiCampiSponsor(false);
				});

			  	//controllo su radio riguardante gli sponsor al document ready
			    if([[${eventoWrapper.evento.eventoSponsorizzato}]]) {
			    	mostraNascondiCampiSponsor(true);
				}

			  	//gestione evento iCheck su radio riguardante i finanziamenti
				$(".finanziamento").on("ifChecked", function() {
					if($(this).val() == 'true')
						mostraNascondiCampiFinanziamento(true);
					else
						mostraNascondiCampiFinanziamento(false);
				});

			  	//controllo su radio riguardante i finanziamenti al document ready
			    if([[${eventoWrapper.evento.altreFormeFinanziamento}]] != null) {
			    	mostraNascondiCampiFinanziamento([[${eventoWrapper.evento.altreFormeFinanziamento}]]);
				}

			  	//gestione evento iCheck su radio riguardante i partner
				$(".partner").on("ifChecked", function() {
					if($(this).val() == 'true')
						mostraNascondiCampiPartner(true);
					else
						mostraNascondiCampiPartner(false);
				});

			  	//controllo su radio riguardante i partner al document ready
			    if([[${eventoWrapper.evento.eventoAvvalePartner}]]) {
			    	mostraNascondiCampiPartner(true);
				}
			});

			function abilitaDiscipline(professioni) {
				//flag per capire se c'è almeno una professione
				var almenoUna = false;
				$.each(professioni.options, function(index, item) {
					//toglie la parte relativa al codice della professione
					prof = item.text;
					//abilita/disabilita tutte le discipline delle professioni selezionate/deselezionate
					if (item.selected) {
						$('optgroup[label="' + prof + '"]').prop(
								'disabled', false);
						almenoUna = true;
					} else {
						$('optgroup[label="' + prof + '"]').prop(
								'disabled', true);
					}
				});
				//decide se disabilitare/abilitare tutta la select
				if (almenoUna) {
					$('#discipline').prop('disabled', false);
				} else {
					$('#discipline').prop('disabled', true);
				}
				//refresh della view
				$('#discipline').selectpicker('refresh');
			}

			function mostraNascondiCampiSponsor(show) {
				if(show) {
					$(".sponsor-si").slideDown("slow");
					//TODO
				}
				else {
					$(".sponsor-si").slideUp("slow");
					//TODO
				}
			}

			function mostraNascondiCampiFinanziamento(show) {
				if(show) {
					$(".finanziamento-si").slideDown("slow");
					$(".finanziamento-no").slideUp("slow");
					$("#contrattiAccordiConvenzioni").prop("disabled", false);
					$("#autocertificazioneAssenzaFinanziamenti").prop("disabled", true);
				}
				else {
					$(".finanziamento-si").slideUp("slow");
					$(".finanziamento-no").slideDown("slow");
					$("#contrattiAccordiConvenzioni").prop("disabled", true);
					$("#autocertificazioneAssenzaFinanziamenti").prop("disabled", false);
				}
			}

			function mostraNascondiCampiPartner(show) {
				if(show) {
					$(".partner-si").slideDown("slow");
					//TODO
				}
				else {
					$(".partner-si").slideUp("slow");
					//TODO
				}
			}

		/*]]>*/
		</script>
	</div>
</body>
</html>