<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">                 <!-- TODO: rimuovere ? dal wrapper, collegare i wrapper/thymeleaf giusti, sistemare gli url dei servizi -->
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.inserimento_piano_formativo(${pianoFormativoWrapper.pianoFormativo})}">Piano formativo relativo all'anno xxx</h2>
						<div class="pull-right buttons-header">
							<th:block th:if="${pianoFormativoWrapper.editabile}">
								<a class="btn btn-success pull-right" th:text="#{label.invia_domanda}" th:href="@{|/accreditamento/${pianoFormativoWrapper?.accreditamentoId}/pianoFormativo/save|}"></a>
							</th:block>
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/accreditamento/${pianoFormativoWrapper?.accreditamentoId}|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table id="piano-formativo-table" class="datatable-responsive-piano-formativo table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.tipologia_evento}">Tipologia dell'evento</th>
									<th th:text="#{label.rimuovi}">Rimuovi</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="evento, row : ${pianoFormativoWrapper?.listaEventi}">
									<td th:unless="${evento.new}"><a th:text="#{evento.titolo}" th:href="@{|/accreditamento/${pianoFormativoWrapper?.accreditamentoId}/provider/${pianoFormativoWrapper?.providerId}/evento/${evento.id}/edit|}"></a></td>
									<td th:if="${evento.new}"><a th:text="#{label.evento_comitato}" th:href="@{|/accreditamento/${pianoFormativoWrapper?.accreditamentoId}/provider/${pianoFormativoWrapper?.providerId}/evento/new|}"></a></td>
									<td th:unless="${evento.new}">
										<a th:href="@{|/accreditamento/${/accreditamento/${pianoFormativoWrapper?.accreditamentoId}/provider/${pianoFormativoWrapper?.providerId}/evento/delete|}"><span class="fa fa-trash" th:title="#{label.rimuovi_evento}"></span></a>
									</td>
									<td th:if="${evento.new}">
										<a><span class="fa fa-trash disabled"></span></a>
									</td>
								</tr>
							</tbody>
						</table>
						<a th:if="${pianoFormativoWrapper.editabile}" th:text="#{label.aggiungi_evento}" class="btn btn-primary with-margin-top" th:href="@{|/accreditamento/${pianoFormativoWrapper?.accreditamentoId}/provider/${pianoFormativoWrapper?.providerId}/evento/new?pianoFormativo=${pianoFormativoWrapper?.pianoFormativo}|}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


