<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.lista_relazioni_annuali}">Lista delle Relazioni Annuali</h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
								<a class="btn btn-success pull-right" th:if="${canInsertRelazioneAnnuale}" th:text="#{label.inserisci_relazione_annuale}" th:href="@{|/provider/${providerId}/relazioneAnnuale/insert|}"></a>
								<a class="btn btn-primary pull-right" th:if="${#authentication.principal.account.isProviderVisualizzatore()}" th:text="#{label.indietro}" th:href="@{|/home|}"></a>
								<a class="btn btn-primary pull-right" th:unless="${#authentication.principal.account.isProviderVisualizzatore()}" th:text="#{label.indietro}" th:href="@{|/provider/list|}"></a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<div th:if="${#lists.isEmpty(relazioneList)}">
							<h2 class="col-xs-12 text-center">
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessuna_relazione_annuale_list}">Non ci sono eventi!</i>
							</h2>
						</div>

						<table th:unless="${#lists.isEmpty(relazioneList)}" class="datatable-responsive-relazione table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.provider}">label.provider</th>
									<th th:text="#{label.stato}">label.stato</th>
									<th th:text="#{label.anno_riferimento}">label.anno_riferimento</th>
									<th th:text="#{label.azioni}">label.azioni</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each="relazione, row : ${relazioneList}">
									<td th:text="${relazione.provider.denominazioneLegale}"></td>
									<td th:text="#{__${relazione.bozza ? 'label.bozza' : 'label.validata'}__}" th:class="${relazione.bozza ? 'bold red' : 'bold green'}"></td>
									<td th:text="${relazione.annoRiferimento}"></td>
									<td>
										<a th:if="${relazione.isRelazioneModificabile() and (#authentication.principal.account.isProvider() or #authentication.principal.account.isSegreteria())}" class="btn btn-primary btn-table single" th:href="@{|/provider/${relazione.provider.id}/relazioneAnnuale/${relazione.id}/edit|}"><i class="fa fa-pencil"> </i> <span th:text="#{label.inserisci}"> </span></a>
										<a class="btn btn-info btn-table single" th:href="@{|/provider/${relazione.provider.id}/relazioneAnnuale/${relazione.id}/show|}"><i class="fa fa-eye"> </i> <span th:text="#{label.mostra}"> </span></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				$(document).ready(function() {

					$(".datatable-responsive-relazione").DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
						"ordering" : true,
						"order": [[ 2, "desc" ]],
						"columnDefs": [ {
							"targets": 0,
							"orderable": false},{
							"targets": 1,
							"width": "100px",
							"orderable": false,
							"sClass": "center"},{
							"targets": 2,
							"orderable": true,
							"width": "1px",
							"sClass": "center"},{
							"targets": 3,
							"orderable": false,
							"width": "100px",
						} ]
					})

				})

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>