<!-- fragment degli allegati -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<th:block th:fragment="allegati(wrapper, withIdEditabili, tipoAllegato, fieldKey, fieldRuolo, note, withFirma, mode, required)">

	<!-- wrapper con idEditabili -->
	<th:block th:if="${__withIdEditabili__}" th:with="editabile=${mode == 'edit'},
			valutabile=${mode == 'validate'},
			showOnly=${mode == 'show'}">
		<th:block th:with="idEcm=${fieldRuolo == null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm(fieldKey) : T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm(fieldKey,fieldRuolo)},
							idField=${fieldRuolo == null ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField(fieldKey) : T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField(fieldKey,fieldRuolo)}">
			<div th:class="${valutabile ? 'item validateAlert form-group' : 'item form-group'}" th:classappend="${#fields.hasErrors('__${wrapper}__.__${tipoAllegato}__')} ? 'bad'">

				<input type="hidden" th:field="${__${wrapper}__.__${tipoAllegato}__.id}" />
				<input type="hidden" th:field="${__${wrapper}__.__${tipoAllegato}__.nomeFile}" />

			<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-1 col-md-1 col-sm-1 col-xs-1' : 'control-label col-xs-1'}" th:text="${fieldKey != null ? idEcm : ''}">numero indice</label>
			<label th:class="${valutabile ? 'margin-valutabile text-center col-lg-2 col-md-2 col-sm-4 col-xs-4' : 'control-label col-md-3 col-sm-3 col-xs-7'}" th:for="__${tipoAllegato}__">
				<span th:class="${!showOnly ? '' : 'label-show'}" th:text="#{label.__${tipoAllegato}__}">tipo allegato</span>
				<span th:if="${note == null and editabile and required}" class="required">*</span>
				<span class="small" style="display: block;" th:unless="${note == null}" th:text="${note}">messaggio aggiuntivo</span>
			</label>
			<th:block th:if="${editabile}">
				<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
					<input type="file" accept="application/pdf" onchange="submitFile(this)" th:id="__${tipoAllegato}__" th:name="__${tipoAllegato}___multipart" th:required="${required}"
						style="display: none;" th:disabled="${fieldKey == null or !#lists.contains(__${wrapper}__.idEditabili, idField)}"/>
					<input type="button" class="pull-left allegato-btn btn btn-success" th:value="#{label.scegli_file}" th:onclick="|setAllegato('#__${tipoAllegato}__');|" th:disabled="${fieldKey == null or !#lists.contains(__${wrapper}__.idEditabili, idField)}" />
					<div th:unless="${__${wrapper}__.__${tipoAllegato}__.new}" class="allegato-label"><a th:id="__${tipoAllegato}___label" th:text="${__${wrapper}__.__${tipoAllegato}__.nomeFile}" th:href="@{|/file/${__${wrapper}__.__${tipoAllegato}__.id}|}"></a></div>
					<div th:if="${__${wrapper}__.__${tipoAllegato}__.new}" class="allegato-label"><a th:id="__${tipoAllegato}___label" th:text="#{label.nessun_file_selezionato}"></a></div>
				</div>
				<!-- pulsante per aggiungere firma -->
				<th:block th:if="${withFirma}">
					<div class="col-xs-1">
						<button type="button" onclick="alert('alert temporaneo, questo onclick verrà sostituito dal service per la firma digitale!')" class="btn btn-primary firma pull-right" th:title="#{label.firma_digitalmente}"><i class="fa fa-pencil"></i></button>
					</div>
				</th:block>
			</th:block>
			<th:block th:if="${showOnly or enableField}">
				<div class="col-lg-5 col-md-7 col-sm-7 col-xs-11">
					<div class="" th:unless="${__${wrapper}__.__${tipoAllegato}__.new}"><div class="value"><i class="fa fa-download"> </i> <a th:text="${__${wrapper}__.__${tipoAllegato}__.nomeFile}" th:href="@{|/file/${__${wrapper}__.__${tipoAllegato}__.id}|}"></a></div></div>
					<div class="" th:if="${__${wrapper}__.__${tipoAllegato}__.new}"><div class="value danger" th:text="#{label.allegato_non_inserito}"></div></div>
				</div>
				<div th:if="${enableField}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
               		<input class="flat" type="checkbox" th:field="${richiestaIntegrazioneWrapper.selected}" th:value="${idField}" />
               	</div>
			</th:block>
			<th:block th:if="${valutabile}">
	        	<div class="margin-valutabile text-center col-lg-4 col-md-3 col-sm-7 col-xs-7">
	            	<div class="" th:unless="${__${wrapper}__.__${tipoAllegato}__.new}"><div><i class="fa fa-download"> </i> <a th:text="${__${wrapper}__.__${tipoAllegato}__.nomeFile}" th:href="@{|/file/${__${wrapper}__.__${tipoAllegato}__.id}|}"></a></div></div>
					<div class="" th:if="${__${wrapper}__.__${tipoAllegato}__.new}"><div class="danger" th:text="#{label.allegato_non_inserito}"></div></div>
	            </div>
	            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<div class="radio">
						<label th:class="${!canValutaDomanda} or ${__${wrapper}__.mappa[__${idField}__]?.enabled == false} ? 'label-disabled'">
							<input type="radio" class="flat" th:field="${__${wrapper}__.mappa[__${idField}__].esito}" th:value="true" th:disabled="${!canValutaDomanda} or ${__${wrapper}__.mappa[__${idField}__]?.enabled == false}"  />
							<span th:text="#{label.sì}">Sì</span>
						</label>
					</div>
					<div class="radio">
						<label th:class="${!canValutaDomanda or !__${wrapper}__.mappa[__${idField}__].enabled} ? 'label-disabled'">
							<input type="radio" class="flat" th:field="${__${wrapper}__.mappa[__${idField}__].esito}" th:value="false" th:disabled="${!canValutaDomanda or !__${wrapper}__.mappa[__${idField}__].enabled}" />
							<span th:text="#{label.no}">No</span>
						</label>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
					<textarea th:field="${__${wrapper}__.mappa[__${idField}__].note}" th:disabled="${!canValutaDomanda or !__${wrapper}__.mappa[__${idField}__].enabled}" ></textarea>
				</div>
				<input type="hidden" th:field="${__${wrapper}__.mappa[__${idField}__].id}" />
	        </th:block>
			<div th:if="${#fields.hasErrors('__${wrapper}__.__${tipoAllegato}__')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${__${wrapper}__.__${tipoAllegato}__}"></div>
		</div>
		</th:block>
	</th:block>

	<!-- wrapper senza idEditabili -->
	<th:block th:unless="${__withIdEditabili__}">
		<div th:id="__${tipoAllegato}__-parent" class="item form-group" th:classappend="${#fields.hasErrors('__${wrapper}__.__${tipoAllegato}__')} ? 'bad'">

			<input type="hidden" th:field="${__${wrapper}__.__${tipoAllegato}__.id}" />
			<input type="hidden" th:field="${__${wrapper}__.__${tipoAllegato}__.nomeFile}" />

			<label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-7" th:for="__${tipoAllegato}__" th:unless="${__${wrapper}__ == eventoWrapper}">
				<i th:if="${__${wrapper}__ == comunicazioneWrapper}" class="fa fa-paperclip"></i>
				<span th:text="#{label.__${tipoAllegato}__}">label.tipoAllegato</span>
			</label>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-11" th:classappend="${__${wrapper}__ == eventoWrapper} ? 'no-padding'">
				<input type="file" onchange="submitFile(this)" th:id="__${tipoAllegato}__" th:name="__${tipoAllegato}___multipart" required="required"
					style="display: none;" />
				<input type="button" class="pull-left allegato-btn btn btn-success" th:value="#{label.scegli_file}" th:onclick="|setAllegato('#__${tipoAllegato}__');|" />
				<div th:unless="${__${wrapper}__.__${tipoAllegato}__.new}" class="allegato-label"><a th:id="__${tipoAllegato}___label" th:text="${__${wrapper}__.__${tipoAllegato}__.nomeFile}" th:href="@{|/file/${__${wrapper}__.__${tipoAllegato}__.id}|}"></a></div>
				<div th:if="${__${wrapper}__.__${tipoAllegato}__.new}" class="allegato-label"><a th:id="__${tipoAllegato}___label" th:text="#{label.nessun_file_selezionato}"></a></div>
			</div>
			<!-- pulsante per aggiungere firma -->
			<th:block th:if="${withFirma}">
				<div class="col-xs-1">
					<button type="button" onclick="alert('alert temporaneo, questo onclick verrà sostituito dal service per la firma digitale!')" class="btn btn-primary firma pull-right" th:title="#{label.firma_digitalmente}"><i class="fa fa-pencil"></i></button>
				</div>
			</th:block>
			<div th:if="${#fields.hasErrors('__${wrapper}__.__${tipoAllegato}__')}" class="alert" th:classappend="${valutabile} ? 'col-xs-12'" th:errors="${__${wrapper}__.__${tipoAllegato}__}"></div>
		</div>
	</th:block>
	<script th:inline="javascript">
	/*<![CDATA[*/
		function setAllegato(idInput) {
			$(idInput).click();
		}

		function submitFile(element){
			var tipoAllegato = $(element).attr("id");
			var fileId = $("#"+tipoAllegato+"\\.id").attr('value');
			switch(tipoAllegato){
				case 'cv' : 													tipoAllegato = 'FILE_CV'; break;
				case 'delega' : 												tipoAllegato = 'FILE_DELEGA'; break;
				case 'attoNomina' : 											tipoAllegato = 'FILE_ATTO_NOMINA'; break;
				case 'organigramma' : 											tipoAllegato = 'FILE_ORGANIGRAMMA'; break;
				case 'funzionigramma' :											tipoAllegato = 'FILE_FUNZIONIGRAMMA'; break;
				case 'estrattoBilancioFormazione' : 							tipoAllegato = 'FILE_ESTRATTO_BILANCIO_FORMAZIONE'; break;
				case 'estrattoBilancioComplessivo' : 							tipoAllegato = 'FILE_ESTRATTO_BILANCIO_COMPLESSIVO'; break;
				case 'attoCostitutivo' : 										tipoAllegato = 'FILE_ATTO_COSTITUTIVO'; break;
				case 'esperienzaFormazione' : 									tipoAllegato = 'FILE_ESPERIENZA_FORMAZIONE'; break;
				case 'utilizzo' : 												tipoAllegato = 'FILE_UTILIZZO'; break;
				case 'sistemaInformatico' : 									tipoAllegato = 'FILE_SISTEMA_INFORMATICO'; break;
				case 'pianoQualita' : 											tipoAllegato = 'FILE_PIANO_QUALITA'; break;
				case 'dichiarazioneLegale' : 									tipoAllegato = 'FILE_DICHIARAZIONE_LEGALE'; break;
				case 'dichiarazioneEsclusione' : 								tipoAllegato = 'FILE_DICHIARAZIONE_ESCLUSIONE'; break;
				case 'verbaleValutazioneSulCampo' : 							tipoAllegato = 'FILE_VERBALE_VALUTAZIONE_SUL_CAMPO'; break;
				case 'noteOsservazioniIntegrazione' :							tipoAllegato = 'FILE_NOTE_OSSERVAZIONI_INTEGRAZIONE'; break;
				case 'noteOsservazioniPreavvisoRigetto' :						tipoAllegato = 'FILE_NOTE_OSSERVAZIONI_PREAVVISO_RIGETTO'; break;
				case 'allegatoComunicazione' :									tipoAllegato = 'FILE_ALLEGATO_COMUNICAZIONE'; break;
				case 'allegatoRisposta' :										tipoAllegato = 'FILE_ALLEGATO_RISPOSTA'; break;
				case 'reportPartecipanti' :										tipoAllegato = 'FILE_REPORT_PARTECIPANTI'; break;
				case 'brochure' :												tipoAllegato = 'FILE_BROCHURE_EVENTO'; break;
				case 'documentoVerificaRicaduteFormative' :						tipoAllegato = 'FILE_VERIFICA_RICADUTE_FORMATIVE'; break;
				case 'autocertificazioneAssenzaFinanziamenti' :					tipoAllegato = 'FILE_AUTOCERTIFICAZIONE_ASSENZA_FINANZIAMENTI'; break;
				case 'contrattiAccordiConvenzioni' :							tipoAllegato = 'FILE_CONTRATTI_ACCORDI_CONVENZIONI'; break;
				case 'dichiarazioneAssenzaConflittoInteresse' : 				tipoAllegato = 'FILE_DICHIARAZIONE_ASSENZA_CONFLITTO_INTERESSE'; break;
				case 'autocertificazioneAutorizzazioneMinisteroSalute' :		tipoAllegato = 'FILE_AUTOCERTIFICAZIONE_AUTORIZZAZIONE_MINISTERO_SALUTE'; break;
				case 'autocertificazioneAssenzaAziendeAlimentiPrimaInfanzia' :	tipoAllegato = 'FILE_AUTOCERTIFICAZIONE_ASSENZA_PARTECIPAZIONE_SPONSOR_INFANZIA'; break;

				//File da firmare per engineering
				case 'fileDaFirmare' :						tipoAllegato = 'FILE_DA_FIRMARE'; break;
			}

			var stato = [[${__${wrapper}__ != comunicazioneWrapper and __${wrapper}__ != accreditamentoWrapper and __${wrapper}__ != eventoWrapper and __${wrapper}__ != eventoWrapper?.tempPersonaEvento?.anagrafica and __${wrapper}__ != providerForm} ? ${__${wrapper}__.statoAccreditamento?.name()}]];

	 		var oMyForm = new FormData();
            oMyForm.append("multiPartFile", $(element)[0].files[0]);

            if(stato != 'INTEGRAZIONE')
            	oMyForm.append("fileId", (!fileId) ? 0 : fileId );
            else
            	oMyForm.append("fileId", 0);
            oMyForm.append("tipo",tipoAllegato);
           	oMyForm.append([[${_csrf.parameterName}]],[[${_csrf.token}]]);

            console.log('tipoAllegato: ' + tipoAllegato + ' - fileId: ' + fileId + ' - multiPartFile ' + $(element)[0].files[0].name);

           	$.ajax({
                  	url : [[@{/file/upload}]],
                  	data : oMyForm,
                  	type : "POST",
                  	enctype: 'multipart/form-data',
                  	processData: false,
                  	contentType:false,
                  	success : function(result) {
                  		setFile(result);
                  	},
                  	error : function(result){
                  		sendNotifyStatic([[#{message.errore}]], [[#{message.errore_fileupload}]], "error");
                  	}
              	});
		}

		function setFile(response){
				if(response.id != null && response.id != 0) {
					var inputName = '';

					switch (response.tipo) {
						case 'FILE_CV': 															inputName = 'cv'; break;
						case 'FILE_DELEGA': 														inputName = 'delega'; break;
						case 'FILE_ATTO_NOMINA': 													inputName = 'attoNomina'; break;
						case 'FILE_ORGANIGRAMMA' : 													inputName = 'organigramma'; break;
						case 'FILE_FUNZIONIGRAMMA' :												inputName = 'funzionigramma'; break;
						case 'FILE_ESTRATTO_BILANCIO_FORMAZIONE' : 									inputName = 'estrattoBilancioFormazione'; break;
						case 'FILE_ESTRATTO_BILANCIO_COMPLESSIVO' : 								inputName = 'estrattoBilancioComplessivo'; break;
						case 'FILE_ATTO_COSTITUTIVO' : 												inputName = 'attoCostitutivo'; break;
						case 'FILE_ESPERIENZA_FORMAZIONE' : 										inputName = 'esperienzaFormazione'; break;
						case 'FILE_UTILIZZO' : 														inputName = 'utilizzo'; break;
						case 'FILE_SISTEMA_INFORMATICO' : 											inputName = 'sistemaInformatico'; break;
						case 'FILE_PIANO_QUALITA' : 												inputName = 'pianoQualita'; break;
						case 'FILE_DICHIARAZIONE_LEGALE' : 											inputName = 'dichiarazioneLegale'; break;
						case 'FILE_DICHIARAZIONE_ESCLUSIONE' : 										inputName = 'dichiarazioneEsclusione'; break;
						case 'FILE_VERBALE_VALUTAZIONE_SUL_CAMPO' : 								inputName = 'verbaleValutazioneSulCampo'; break;
						case 'FILE_NOTE_OSSERVAZIONI_INTEGRAZIONE' : 								inputName = 'noteOsservazioniIntegrazione'; break;
						case 'FILE_NOTE_OSSERVAZIONI_PREAVVISO_RIGETTO' : 							inputName = 'noteOsservazioniPreavvisoRigetto'; break;
						case 'FILE_ALLEGATO_COMUNICAZIONE' :										inputName = 'allegatoComunicazione'; break;
						case 'FILE_ALLEGATO_RISPOSTA' : 											inputName = 'allegatoRisposta'; break;
						case 'FILE_REPORT_PARTECIPANTI' :											inputName = 'reportPartecipanti'; break;
						case 'FILE_BROCHURE_EVENTO' :												inputName = 'brochure'; break;
						case 'FILE_VERIFICA_RICADUTE_FORMATIVE' :									inputName = 'documentoVerificaRicaduteFormative'; break;
						case 'FILE_AUTOCERTIFICAZIONE_ASSENZA_FINANZIAMENTI' :						inputName = 'autocertificazioneAssenzaFinanziamenti'; break;
						case 'FILE_CONTRATTI_ACCORDI_CONVENZIONI' :									inputName = 'contrattiAccordiConvenzioni' ; break;
						case 'FILE_DICHIARAZIONE_ASSENZA_CONFLITTO_INTERESSE' : 					inputName = 'dichiarazioneAssenzaConflittoInteresse'; break;
						case 'FILE_AUTOCERTIFICAZIONE_AUTORIZZAZIONE_MINISTERO_SALUTE' :			inputName = 'autocertificazioneAutorizzazioneMinisteroSalute'; break;
						case 'FILE_AUTOCERTIFICAZIONE_ASSENZA_PARTECIPAZIONE_SPONSOR_INFANZIA' :	inputName = 'autocertificazioneAssenzaAziendeAlimentiPrimaInfanzia'; break;

						//File da firmare per engineering
						case 'FILE_DA_FIRMARE' :							inputName = 'fileDaFirmare'; break;
					default: break;
						}

					var prefixUrl = [[@{/file/}]];
					$("#"+inputName+"_label").text(response.nomeFile);
					$("#"+inputName+"_label").attr('href',prefixUrl + response.id);
					$("#"+inputName+"\\.id").attr('value', response.id);
					$("#"+inputName+"\\.nomeFile").attr('value', response.nomeFile);
				}
				else {
					//$("#"+inputName+"_label").text([[#{label.nessun_file_selezionato}]]);
					sendNotifyStatic([[#{message.errore}]], response, "error");
				}
		}
		/*]]>*/
	</script>
</th:block>
</body>
</html>