<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body th:fragment="footer">
		<!-- modal starts here -->
		<div id="deleteModal" class="modal fade" role='dialog'>
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                <h4 class="modal-title" th:text="#{label.conferma_azione}">Delete </h4>
		            </div>
		            <div class="modal-body">
		                <span id="deleteMsg"></span>

		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{label.indietro}">Cancel</button>
						<span id='deleteButton'></span>
		            </div>

		        </div>
		      </div>
		  </div>
		<!-- Modal ends here -->

		<!-- loading image div -->
		<div id="loadingImg"></div>

		<!-- link back to top -->
		<a href="#0" class="cd-top"></a>

		<!-- Bootstrap -->
<!-- 		<script src="../static/gentella/js/bootstrap.min.js" -->
<!-- 				th:src="@{/gentella/js/bootstrap.min.js}"></script> -->
		<script src="../static/bootstrap/js/bootstrap.js"
				th:src="@{/bootstrap/js/bootstrap.js}"></script>
		<!-- pace page loader -->
		<script src="../static/gentella/js/pace/pace.min.js"
				th:src="@{/gentella/js/pace/pace.min.js}"></script>
		<!-- Validator -->
		<script src="../static/gentella/js/validator/validator.js"
				th:src="@{/gentella/js/validator/validator.js}"></script>
		<!-- form wizard -->
		<script src="../static/gentella/js/wizard/jquery.smartWizard.js"
				th:src="@{/gentella/js/wizard/jquery.smartWizard.js}"></script>

		<!-- moment js -->
		<script src="../static/gentella/js/moment/moment.min.js"
				th:src="@{/gentella/js/moment/moment.min.js}"></script>

		<!-- DataTable -->
		<script src="../static/gentella/js/datatables/jquery.dataTables.min.js"
				th:src="@{/gentella/js/datatables/jquery.dataTables.min.js}"></script>
		<script src="../static/gentella/js/datatables/dataTables.bootstrap.js"
				th:src="@{/gentella/js/datatables/dataTables.bootstrap.js}"></script>
		<script src="../static/gentella/js/datatables/dataTables.buttons.min.js"
				th:src="@{/gentella/js/datatables/dataTables.buttons.min.js}"></script>
		<script src="../static/gentella/js/datatables/buttons.bootstrap.min.js"
				th:src="@{/gentella/js/datatables/buttons.bootstrap.min.js}"></script>

		<!--  DataTable responsive -->
		<script src="../static/gentella/js/datatables/dataTables.responsive.min.js"
				th:src="@{/gentella/js/datatables/dataTables.responsive.min.js}"></script>
<!-- 		<script src="../static/gentella/js/datatables/sorting-date-eu.js" -->
<!-- 				th:src="@{/gentella/js/datatables/sorting-date-eu.js}"></script> -->
		<script src="../static/gentella/js/datatables/datetime-moment.js"
				th:src="@{/gentella/js/datatables/datetime-moment.js}"></script>


		<!-- Switch dei form -->
		<script src="../static/gentella/js/switchery/switchery.min.js"
				th:src="@{/gentella/js/switchery/switchery.min.js}"></script>

		<!-- Custom -->
		<script src="../static/gentella/js/custom.js"
				th:src="@{/gentella/js/custom.js}"></script>

		<!-- PNotify -->
		<script src="../static/gentella/js/notify/pnotify.core.js"
				th:src="@{/gentella/js/notify/pnotify.core.js}"></script>
		<script src="../static/gentella/js/notify/pnotify.buttons.js"
				th:src="@{/gentella/js/notify/pnotify.buttons.js}"></script>
		<script src="../static/gentella/js/notify/pnotify.nonblock.js"
				th:src="@{/gentella/js/notify/pnotify.nonblock.js}"></script>

		<!-- ECM js -->
		<script src="../static/js/main.js"
				th:src="@{/js/main.js}"></script>

		<!-- iCheck -->
		<script src="../static/gentella/js/icheck/icheck.min.js"
				th:src="@{/gentella/js/icheck/icheck.min.js}"></script>

		<!-- bootstrap-select -->
		<script	src="../static/bootstrapSelect/js/bootstrapSelect.min.js"
			th:src="@{/bootstrapSelect/js/bootstrapSelect.min.js}"></script>
		<script
			src="../static/bootstrapSelect/js/bootstrapSelect.js"
			th:src="@{/bootstrapSelect/js/bootstrapSelect.js}"></script>

		<!-- select2 -->
		<script src="../static/gentella/js/select/select2.full.js"
				th:src="@{/gentella/js/select/select2.full.js}"></script>

		<!-- back to top -->
		<script
			src="../static/backToTop/js/main.js"
			th:src="@{/backToTop/js/main.js}"></script>
		<script
			src="../static/backToTop/js/modernizr.js"
			th:src="@{/backToTop/js/modernizr.js}"></script>

		<!-- calendar -->
		<script src="../static/gentella/js/calendar/fullcalendar.min.js"
				th:src="@{/gentella/js/calendar/fullcalendar.min.js}"></script>

		<!-- dateRangePicker -->
		<script src="../static/gentella/js/datepicker/daterangepicker.js"
				th:src="@{/gentella/js/datepicker/daterangepicker.js}"></script>

		<!-- clockpicker -->
		<script src="../static/clockpicker/js/clockpicker.js"
				th:src="@{/clockpicker/js/clockpicker.js}"></script>

		<!-- two side multiselect -->
		<script src="../static/crlcu-multiselect/js/multiselect.js"
				th:src="@{/crlcu-multiselect/js/multiselect.js}"></script>

		<!-- spin.js loading spinner -->
		<script
			src="../static/spinJS/spin.js"
			th:src="@{/spinJS/spin.js}"></script>

		<!-- gestione allegati e firmaWeb -->
		<th:block
			th:include="fragments/common-allegatiext :: common">
		</th:block>

		<!-- jquery ui per modale draggable -->
		<script src="../static/js/draggable/jquery-ui.js"
				th:src="@{/js/draggable/jquery-ui.js}"></script>

		<!-- datetime -->
		<script src="../static/js/datatableplugin/datetime.js"
				th:src="@{/js/datatableplugin/datetime.js}"></script>

		<!-- initialize the validator.js  -->
		<script th:inline="javascript">
	        /*<![CDATA[*/
	        validator.message['invalid'] = [[#{error.invalid}]];
	        validator.message['empty'] = [[#{error.empty}]];
	        validator.message['min'] = [[#{error.min}]];
	        validator.message['max'] = [[#{error.max}]];
	        validator.message['number_min'] = [[#{error.number_min}]];
	        validator.message['number_max'] = [[#{error.number_max}]];
	        validator.message['url'] = [[#{error.url}]];
	        validator.message['number'] = [[#{error.number}]];
	        validator.message['email'] = [[#{error.email}]];
	        validator.message['email_repeat'] = [[#{error.email_repeat}]];
	        validator.message['password_repeat'] = [[#{error.password_repeat}]];
	        validator.message['repeat'] = [[#{error.repeat}]];
	        validator.message['complete'] = [[#{error.complete}]];
	        validator.message['select'] = [[#{error.select}]];

	       /* loading image spinner */
			var opts = {
  				lines: 15, // The number of lines to draw
				length: 20, // The length of each line
 				width: 7, // The line thickness
 				radius: 57, // The radius of the inner circle
 				scale: 0.50, // Scales overall size of the spinner
				corners: 1, // Corner roundness (0..1)
 				color: '#1abc9c', // #rgb or #rrggbb or array of colors
 				opacity: 0.15, // Opacity of the lines
 				rotate: 0, // The rotation offset
 				direction: 1, // 1: clockwise, -1: counterclockwise
 				speed: 1, // Rounds per second
 				trail: 55, // Afterglow percentage
 				fps: 20, // Frames per second when using setTimeout() as a fallback for CSS
 				zIndex: 2e9, // The z-index (defaults to 2000000000)
 				className: 'spinner', // The CSS class to assign to the spinner
 				top: '50%', // Top position relative to parent
 				left: '50%', // Left position relative to parent
 				shadow: true, // Whether to render a shadow
 				hwaccel: false, // Whether to use hardware acceleration
 				position: 'absolute', // Element positioning
			}
			var target = document.getElementById('loadingImg');
			var spinner = new Spinner(opts).spin(target);

			/* show/hide loading spinner */
			var $loading = $('#loadingImg').hide();
			$(document)
			.ajaxStart(function () {$loading.show();})
  			.ajaxStop(function () {$loading.hide();});

	        /* validate a field on "blur" event, a 'select' on 'change' event and a '.required' classed multifield on 'keyup':*/
	        $('form')
	            .on('blur', 'input[required], input.optional, select.required, input[required][pattern]', validator.checkField)
	            .on('change', 'select.required', validator.checkField);

	        $('.multi.required')
	            .on('keyup blur', 'input', function () {
	                validator.checkField.apply($(this).siblings().last()[0]);
	            });

	        //TODO decommentare per fare validazione prima di inviare il form
	    /*     $('form').submit(function (e) {
	            e.preventDefault();
	            var submit = true;
	            // evaluate the form using generic validaing
	            if (!validator.checkAll($(this))) {
	                submit = false;
	            }

	            if (submit)
	                this.submit();
	            return false;
	        }); */

	        $('#alerts').change(function() {
	            validator.defaults.alerts = (this.checked) ? false : true;
	            if (this.checked)
	              $('form .alert').remove();
	        }).prop('checked', false);

	        $('.datatable-responsive-validate').DataTable({
				"bFilter" : false,
				"bInfo" : false,
				"bPaginate" : false,
				"ordering" : false,
				"columnDefs": [ {
					"targets": 4,
					"width": "1px",
					"sClass": "center"
				} ],
			});

			$('.datatable-responsive').DataTable({
				"bFilter" : false,
				"bInfo" : false,
				"bPaginate" : false,
				"ordering" : false,
			});

			$('.datatable-responsive-ordering').DataTable({
				"bFilter" : false,
			});

			$('.datatable-responsive-ordering-user-search').DataTable();

			$('.datatable-responsive-search').DataTable({
				"bInfo" : false,
				"bPaginate" : false,
				scrollY: 300,
				"bScrollCollapse": true,
			    scroller: true,
				//colonna del pulsante seleziona
			    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
			    "columnDefs": [
			                   	{"targets": [ '_all' ], "orderable": false },
			                    {"targets": 3, "orderable": false, "width": "1px"},
			                    {"targets": [ 0 ], "orderData": [ 0, 1 ] }
			                  ],
			    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
			});

			$('.datatable-responsive-search-anagrafica').DataTable({
				"bInfo" : false,
				"bPaginate" : false,
			    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
			});

			$('.datatable-responsive-mypay').DataTable({
				"bFilter" : false,
				"bInfo" : false,
				"bPaginate" : false,
				"ordering" : false,
				"columnDefs": [ {
					"targets": 4,
					"width": "1px",
					"sClass": "center"
				} ]
			});

			$('.datatable-responsive-eventi').DataTable({
				"bFilter" : false,
				"bInfo" : false,
				"bPaginate" : false,
				"ordering" : false,
				"columnDefs": [ {
					"targets": 4,
					"width": "1px",
					"sClass": "center"
				} ]
			});

			//init datatable visualizzazione di tutte le valutazioni dell'accreditamento
			$(".modal-altreValutazioni").one('shown.bs.modal', function() {
				$('.datatable-responsive-search-validation').DataTable({
					"bInfo" : false,
					"bPaginate" : false,
				    "order": [ 0, 'asc' ],
				    "columnDefs": [
				                   	{"targets": [ '_all' ], "orderable": false, "sClass": "center"},
				                  ]
				});
			})

			$('.modal').on('shown.bs.modal', function () {
				$.fn.dataTable
		        .tables({api: true})
		        .responsive.recalc()
		        .columns.adjust();
		    });

			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				$.fn.dataTable
		        .tables({api: true})
		        .responsive.recalc()
		        .columns.adjust();
		    });

			$('.accordion').on('shown.bs.collapse', function () {
				$.fn.dataTable
		        .tables({api: true})
		        .responsive.recalc()
		        .columns.adjust();
			});

			var stack_topright = {"dir1": "down", "dir2": "left", "push": "top", "firstpos1": 25, "firstpos2": 25};

			if([[${message}]]){
	        	sendNotify();
		      }

			function sendNotify(){
				var notify = new PNotify({
					title: [[${message} == null ? '' : #{${message?.titolo}}]],
					text:  [[${message} == null ? '' : #{__${message?.testo}__}]],
					type: [[${message?.tipo}]],
					hide: false,
					addclass: "stack-topright",
					stack: stack_topright,
                    buttons: {
                    	sticker: false,
                    },
					mobile: {
					    swipe_dismiss: true,
				    	styling: true ,
					}
            	});
			};

			function sendNotifyStatic(titolo, testo, tipo){
				var notify = new PNotify({
					title: titolo,
					text:  testo,
					type: tipo,
					hide: false,
					addclass: "stack-topright",
					stack: stack_topright,
					animation: "fade",
                    buttons: {
                    	sticker: false,
                    },
					mobile: {
					    swipe_dismiss: true,
				    	styling: true,
					}
            	});
			};

			function animate(element){
				element.addClass('tada animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
				      $(this).removeClass('tada animated');
				});
			}

			$(document).ready(function(){
				$('body').tooltip({
				    selector: '[data-toggle="tooltip"]'
				});

				// date ordering for datatables
		        $.fn.dataTable.moment('DD/MM/YYYY');
		        $.fn.dataTable.moment('hh:mm');
		        $.fn.dataTable.moment('DD/MM/YYYY - HH:mm');

		        $("form").submit(function( event ) {
					$('form > input[type=submit]').prop("disabled", true);
			    });
			});

			//rimuove class bad (errore validazione) dagli input (le select sono gestite su gentella.validator.validator.js unmark)
			$('input[type=radio], input[type=checkbox]').each(function(){
				$(this).on('ifToggled', function() {
					$(this).closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});

				});
			});

			$("input[type=text], input[type=tel], input[type=password], textarea").each(function(){
				$(this).on("focus", function() {
					$(this).closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
				});
			});

			$('input[type=file]').each(function(){
				$(this).on("change", function() {
					$(this).closest('.bad').removeClass('bad').find('div.alert').fadeOut(150, function() {
						$(this).remove();
					});
				});
			});

			function getDayNamesShort() {
				var array = [
								[[#{dayshort.domenica}]], [[#{dayshort.lunedi}]], [[#{dayshort.martedi}]],
								[[#{dayshort.mercoledi}]], [[#{dayshort.giovedi}]], [[#{dayshort.venerdi}]],
								[[#{dayshort.sabato}]]
				             ];
				return array;
			}

			function getMonthNames() {
				var array = [
								[[#{month.gennaio}]], [[#{month.febbraio}]], [[#{month.marzo}]],
								[[#{month.aprile}]], [[#{month.maggio}]], [[#{month.giugno}]],
								[[#{month.luglio}]], [[#{month.agosto}]], [[#{month.settembre}]],
								[[#{month.ottobre}]], [[#{month.novembre}]], [[#{month.dicembre}]]
				            ];
				return array;
			}

			function selezionaTuttiSi(){
				$.each($('input[value=true]'), function(i, element){
					$element = $(element);

					if($element.parent().is(":visible"))
						$element.iCheck('check');
				});
			}
			function selezionaTuttiNo(){
				$.each($('input[value=false]'), function(i, element){
					$element = $(element);

					if($element.parent().is(":visible"))
						$element.iCheck('check');
				});
			}
			
			//no active other fields when [Sostituzione Intera Anagrafica] is checked 
			function selezionaTuttiDisabled(){
				//disabled checkboxs
				$.each($('input[name=selected]') && $('input[id!=selected1]'), function(i, element){
					$element = $(element);
					$element.iCheck('disable');
					$element.iCheck('unCheck');
					    
				});
				
				//disabled textareas
				$("textarea").each(function(){
					//FULL is the string included in id of textarea for [Sostituzione Intera Anagrafica] 
					if (!($(this).attr("id").includes("FULL"))){
						$(this).attr('disabled', 'disabled');
						$(this).val('');
					}
				}); 
			}
			
			//active other fields when [Sostituzione Intera Anagrafica] is unchecked 
			function selezionaTuttiEnabled(){
				//enabled checkboxes
				$.each($('input[name=selected]') && $('input[id!=selected1]'), function(i, element){
					$element = $(element);
					$element.iCheck('enable');
				});
				
				//enabled textareas
				$("textarea").each(function(){
					//FULL is the string included in id of textarea for [Sostituzione Intera Anagrafica]
					if (!($(this).attr("id").includes("FULL"))){
						$(this).attr("disabled", false);
						
					}
				}); 
			}
			
			

			function confirmDeleteEventoModal(providerId,eventoId,tipo,codiceIdentificativo,stato){
			    $('#deleteModal').modal();

			    var prefix = [[@{/provider/}]];
			    var url = prefix + providerId + "/evento/" + eventoId + "/delete";

			    if(stato == 'BOZZA'){
			    	$('#deleteMsg').html("<h2>Si desidera eliminare definitivamente l'evento " + codiceIdentificativo + " (" + tipo + ")?</h2>");
					$('#deleteButton').html("<a class='btn btn-danger' href='" + url + "'>Elimina</a>");
			    }else{
			    	$('#deleteMsg').html("<h2>Si desidera annullare definitivamente l'evento " + codiceIdentificativo + " (" + tipo + ")?</h2>");
					$('#deleteButton').html("<a class='btn btn-danger' href='" + url + "'>Elimina</a>");
			    }
			}

			function confirmDeleteEventoPianoFormativoModal(providerId,pianoFormativoId,eventoId,prefixUrl,tipo,codiceIdentificativo){
			    $('#deleteModal').modal();

			    var url = prefixUrl + "provider/" + providerId + "/pianoFormativo/" + pianoFormativoId + "/evento/" + eventoId + "/delete";

			    $('#deleteMsg').html("<h2>Si desidera eliminare definitivamente l'evento " + codiceIdentificativo + " (" + tipo + ")?</h2>");
				$('#deleteButton').html("<a class='btn btn-danger' href='" + url + "'>Elimina</a>");
			}

			function confirmDeleteAllEventiPianoFormativoModal(providerId,pianoFormativoId,onlycsv){
			    $('#deleteModal').modal();

			    var prefix = [[@{/provider/}]];
			    var url = prefix + providerId + "/pianoFormativo/" + pianoFormativoId + "/evento/deleteAll" + "?onlycsv=" + onlycsv;
				if(onlycsv)
			    	$('#deleteMsg').html("<h2>Si desidera eliminare definitivamente tutti gli eventi dal Piano Formativo (importati da csv)?</h2>");
				else
					$('#deleteMsg').html("<h2>Si desidera eliminare definitivamente tutti gli eventi dal Piano Formativo?</h2>");

				$('#deleteButton').html("<a class='btn btn-danger' href='" + url + "'>Elimina</a>");
			}

			function confirmDeleteAllEventiPianoFormativoAccreditamentoModal(providerId,pianoFormativoId,accreditamentoId,onlycsv){
				 $('#deleteModal').modal();

			    var prefix = [[@{/accreditamento/}]];
			    var url = prefix + accreditamentoId + "/provider/" + providerId + "/pianoFormativo/" + pianoFormativoId + "/evento/deleteAll" + "?onlycsv=" + onlycsv;
			    if(onlycsv)
			    	$('#deleteMsg').html("<h2>Si desidera eliminare definitivamente tutti gli eventi dal Piano Formativo (importati da csv)?</h2>");
			    else
			    	$('#deleteMsg').html("<h2>Si desidera eliminare definitivamente tutti gli eventi dal Piano Formativo?</h2>");

				$('#deleteButton').html("<a class='btn btn-danger' href='" + url + "'>Elimina</a>");
			}

			/*]]>*/
		</script>
	</body>
</html>