<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="it" th:fragment="head">

		<!-- Meta, CSS, favicons, etc. -->
			<meta http-equiv="Content-Type" content="charset=UTF-8" />
			<meta charset="utf-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			
		<!-- back to top CSS-->
			<link rel="stylesheet"
				href="..static/backToTop/css/reset.css"
				th:href="@{/backToTop/css/reset.css}" />
			
			<link rel="stylesheet"
				href="..static/backToTop/css/style.css"
				th:href="@{/backToTop/css/style.css}" />
		
		<!-- Bootstrap core CSS -->
			<link rel="stylesheet"
				href="../static/gentella/css/bootstrap.min.css"
				th:href="@{/gentella/css/bootstrap.min.css}" />
			
			<link rel="stylesheet"
				href="../static/gentella/fonts/css/font-awesome.min.css"
				th:href="@{/gentella/fonts/css/font-awesome.min.css}" />
			
			<link rel="stylesheet"
				href="../static/gentella/css/animate.min.css"
				th:href="@{/gentella/css/animate.min.css}" />
	
		<!-- Custom styling plus plugins -->
			
			<link rel="stylesheet"
				href="../static/gentella/css/custom.scss"
				th:href="@{/gentella/css/custom.scss}" />
				
			<link rel="stylesheet"
				href="../static/gentella/css/custom.css"
				th:href="@{/gentella/css/custom.css}" />
				
				
			<link rel="stylesheet"
				href="../static/gentella/css/icheck/flat/green.css"
				th:href="@{/gentella/css/icheck/flat/green.css}" />
			
			<script src="../static/gentella/js/jquery.min.js"
				th:src="@{/gentella/js/jquery.min.js}"></script>
				
			
		  <link rel="stylesheet"
		  		href="..static/gentella/js/datatables/jquery.dataTables.min.css"
				th:href="@{/gentella/js/datatables/jquery.dataTables.min.css}" />
				
		  <link rel="stylesheet" 
		  		href="..static/gentella/js/datatables/buttons.bootstrap.min.css" 
		  		th:href="@{/gentella/js/datatables/buttons.bootstrap.min.css}" />
		  		
		  <link rel="stylesheet"
		  		href="..static/gentella/js/datatables/fixedHeader.bootstrap.min.css" 
		  		th:href="@{/gentella/js/datatables/fixedHeader.bootstrap.min.css}" />
		  		
		  <link rel="stylesheet"
		  		href="..static/gentella/js/datatables/responsive.bootstrap.min.css" 
		  		th:href="@{/gentella/js/datatables/responsive.bootstrap.min.css}" />
		  		
		  <link rel="stylesheet" 
		  		href="..static/gentella/js/datatables/scroller.bootstrap.min.css" 
		  		th:href="@{/gentella/js/datatables/scroller.bootstrap.min.css}" />	
		  		
		  <link rel="stylesheet" 
		  		href="..static/gentella/css/switchery/switchery.min.css"
		  		th:href="@{/gentella/css/switchery/switchery.min.css}" />
		  		
		  
		  	<!-- bootstrap-select -->
			<link rel="stylesheet"
				href="..static/bootstrapSelect/css/bootstrapSelect.min.css"
				th:href="@{/bootstrapSelect/css/bootstrapSelect.min.css}" />
				
			<!-- css personalizzato per ECM -->
			<link rel="stylesheet"
				href="../static/css/main.css"
				th:href="@{/css/main.css}" />
				
			<!-- animate -->
			<link rel="stylesheet"
				href="../static/gentella/css/animate.min.css"
				th:href="@{/gentella/css/animate.min.css}" />
					
			<!--[if lt IE 9]>
			        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
			        <![endif]-->
			
			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			        <![endif]-->
	
	</head>
	<body>
	</body>
</html>