<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="modaleStoricoValutazioni" th:remove="tag">
		<!-- modale selezione Valutazione da storico -->
		<div id="showAllStorico-modal"
			class="modal fade modal-showAllStorico" data-model-index="1"
			role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"
							th:text="#{label.riepilogo_valutazioni_storicizzate}">Riepilogo
							di tutto l'accreditamento</h4>
					</div>
					<div class="modal-body">
						<table id="tabella-modale-storico" class="datatable-responsive-storico table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.valutatore}">Valutatore</th>
									<th th:text="#{label.stato_accreditamento_valutazione}">Stato della domanda al momento della valutazione</th>
									<th th:text="#{label.data_valutazione}">Data valutazione</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- popolata con una request ajax -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- modale show riepilogo valutazione da storico -->
		<div id="showAllValutazioneStorico-modal"
			class="modal fade modal-showAllValutazioneStorico" data-model-index="1"
			role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"
							th:text="#{label.riepilogo_valutazione}">Riepilogo valutazione</h4>
						<button type="button" id="apriCheck" class="btn btn-primary pull-right with-margin-top toggleButtonsValutazione" th:text="#{label.apri_tutte}" onclick="openAllValutazione()"></button>
						<button type="button" id="chiudiCheck" class="btn btn-primary pull-right with-margin-top toggleButtonsValutazione" style="display: none" th:text="#{label.chiudi_tutte}" onclick="closeAllValutazione()"></button>
						<a id="linkPdfRiepilogo" class="btn btn-primary pull-right with-margin-top" th:text="#{label.esporta_pdf}"
							th:href="@{|/|}"></a>
					</div>
					<div class="modal-body">
						<div id="container-valutazione-storico"></div>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/

			$(document).ready(function() {

				$('.datatable-responsive-storico').DataTable({
					"bInfo" : false,
					"bPaginate" : false,
					scrollY: 300,
					"bScrollCollapse": true,
				    scroller: true,
					//colonna del pulsante seleziona
				    "columnDefs": [
				                   	{"targets": [ '_all' ], "orderable": false },
				                    {"targets": 3, "orderable": false, "width": "1px"},
				                  ],
				    "order": [ 2, 'asc' ],
				});

			})

			function showStorico() {
				var table = $('#tabella-modale-storico').DataTable();
				table.clear();
				urlGet = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/getStorico|}]];
				$.get(urlGet, function(data){
					for(var item = 0; item < data.length; item++){
						var obj = data[item];
						table.row.add([
							obj.account.fullName,
							obj.accreditamentoStatoValutazione.nome,
							obj.dataValutazione.dayOfMonth + "/" + obj.dataValutazione.monthValue + "/" + obj.dataValutazione.year,
							'<a class="btn btn-primary btn-lookup" onclick="mostraRiepilogoValutazione(' + obj.id + ')">'+[[#{label.seleziona}]]+'</a>'
						]).draw(false);
					}
				});
				$("#showAllStorico-modal").modal("show");
			}

			function mostraRiepilogoValutazione(valutazioneId) {
				var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/valutazione/|}]] + valutazioneId + "/show";
				$("#container-valutazione-storico").html("");
				baseLinkRiepilogo = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/riepilogo/valutazione/pdf|}]]
				$("#linkPdfRiepilogo").attr("href", baseLinkRiepilogo + "?valutazioneId=" + valutazioneId);
				$.get(url)
				.done(function(data) {
					$("#container-valutazione-storico").html(data);
				})
			  	.fail(function() {
			    	alert( "error" );
			 	})
				$("#showAllValutazioneStorico-modal").modal("show");
			}

			$(".modal-showAllValutazioneStorico").on('hide.bs.modal', function() {
				$("#apriCheck").show();
				$("#chiudiCheck").hide();
				$("#linkPdfRiepilogo").attr("href", [[@{|/|}]]);
				$.each($('.datatable-responsive-search-validation-storico'), function(i,t) {
					$(t).DataTable().destroy();
				});
				$("#container-valutazione-storico").html("");
			})

		/*]]>*/
		</script>
	</div>
</body>
</html>