<!-- fragment degli allegati -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="modaleRiepilogoValutazioni" th:remove="tag">
		<!-- modale showAllValutazioni -->
		<div id="showAllValutazioni-modal"
			class="modal fade modal-showAllValutazioni" data-model-index="1"
			role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"
							th:text="#{label.riepilogo_valutazione_accreditamento(${accreditamentoWrapper.accreditamento.tipoDomanda}, ${accreditamentoWrapper.accreditamento.stato.nome})}">Riepilogo
							di tutto l'accreditamento</h4>
					</div>
					<div class="modal-body">

						<div class="row">
							<div class="x_panel">
								<div class="x_title">
									<h2 style="display: inline"
										th:text="#{label.valutazioni_complessive}">label.valutazioni_complessive</h2>
									<h2 style="display: inline"
										th:if="${#sets.isEmpty(accreditamentoWrapper.valutazioniList)}"
										class="red-italic" th:text="#{label.dati_non_inseriti}">label.dati_non_inseriti</h2>
									<div class="clearfix"></div>
								</div>

								<table
									class="datatable-responsive-search-validation-full table table-striped table-bordered dt-responsive nowrap"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th:block
												th:each="valutazione, row : ${accreditamentoWrapper.valutazioniList}">
												<th
													th:text="#{label.valutazione} + ' ' + ${valutazione.account.isSegreteria() ? 'Segreteria ECM' : 'Referee ' + valutazione.account.nome + ' ' + valutazione.account.cognome}">Nome</th>
											</th:block>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th:block
												th:each="valutazione, row : ${accreditamentoWrapper.valutazioniList}">
												<td class="otherValidationCheck">
													<div th:text="${valutazione.valutazioneComplessiva}"></div>
												</td>
											</th:block>
										</tr>
									</tbody>
								</table>

							</div>
						</div>

						<!-- fragment show all -->
						<th:block th:include="valutazione/valutazioneShowAll :: showAllValutazioni"></th:block>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>