<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="sidebarAndTop" th:remove="tag">
		<div class="col-md-3 left_col">
			<div class="left_col scroll-view ">

				<div class="navbar nav_title" style="border: 0;">
					<a href="home.html" th:href="@{/home}" class="site_title"><span class="site_title_name" th:text="#{app.title_short}">app.title_short</span> <img class="pull-right" th:src="@{/images/main_image.png}" style="max-height: 55px; margin: 5px 10px;" /></a>
				</div>
				<div class="clearfix"></div>

				<!-- menu prile quick info -->
				<div class="profile">
					<div class="profile_pic">
						<img src="gentella/images/user.png"
							th:src="@{/gentella/images/user.png}" alt="..."
							class="img-circle profile_img" />
					</div>
					<div class="profile_info">
						<span th:text="#{label.benvenuto}+','">label.benvenuto,</span>
						<h2 class="nome-utente-benvenuto">
							<!-- <span th:unless="${#authentication.principal.hasProfile('PROVIDER')}" th:text="${#authentication.principal.account.nome} + ' ' + ${#authentication.principal.account.cognome}" th:remove="tag">username</span>
							<span th:if="${#authentication.principal.hasProfile('PROVIDER')}" th:text="'TODOProviderName'" th:remove="tag">username</span> -->
							<span th:text="${#authentication.principal.account.getFullNameBase()}" th:remove="tag">username</span>
						</h2>
					</div>
				</div>
				<!-- /menu prile quick info -->

				<br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

					<div class="menu_section">
						<h3 th:if="${#authentication.principal.account.isProviderVisualizzatore()}" class="profile" th:text="${'Provider - ' + #authentication.principal.account.provider.denominazioneLegale + ' (' + #authentication.principal.account.provider.id + ')'}"></h3>
						<h3 th:unless="${#authentication.principal.account.isProviderVisualizzatore()}" class="profile"></h3>
						<ul class="nav side-menu">
							<li id="provider" th:if="${#authentication.principal.account.isProviderVisualizzatore()}">
								<a>
									<i class="fa fa-home"></i> <span th:text="#{label.provider}">label.provider</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/provider/accreditamento/list}" th:text="#{label.domande_accreditamento}">label.domande_accreditamento</a></li>
									<li><a th:href="@{/provider/anagrafica/list}" th:text="#{label.anagrafiche_ruoli_provider}">label.anagrafiche</a></li>
									<li><a th:href="@{/provider/anagraficaEvento/list}" th:text="#{label.anagrafiche_ruoli_eventi}">label.anagrafiche</a></li>
									<li><a th:href="@{/provider/pianoFormativo/list}" th:text="#{label.piano_formativo}">label.piano_formativo</a></li>
									<li><a th:href="@{/comunicazione/dashboard}" th:text="#{label.comunicazioni}"></a></li>
									<li><a th:href="@{/provider/evento/list}" th:text="#{label.eventi}"></a></li>

									<li><a th:href="@{/provider/user/list}" th:text="#{label.utenti}" th:if="${#authentication.principal.account.isProviderUserAdmin()}">label.utenti</a></li>
									<li><a th:href="@{/provider/pagamento/list}" th:text="#{label.contributo_annuale}">label.contributo_annuale</a></li>
									<li><a th:href="@{/provider/relazioneAnnuale/list}"  th:text="#{label.relazione_annuale}">label.relazione_annuale</a></li>
								</ul>
							</li>

							<li id="segreteria" th:if="${#authentication.principal.account.isSegreteria()}">
								<a>
									<i class="fa fa-edit"></i> <span th:text="#{label.segreteria}">label.segreteria</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/provider/list/all}" th:text="#{label.provider}">label.provider</a></li>
									<li><a th:href="@{/evento/list/all}" th:text="#{label.eventi}"></a></li>
									<li><a th:href="@{/user/list}" th:text="#{label.utenti}">label.utenti</a></li>
									<li><a th:href="@{/seduta/list}" th:text="#{label.lista_sedute}">label.lista_sedute</a></li>
									<li><a th:href="@{/comunicazione/dashboard}" th:text="#{label.comunicazioni}"></a></li>
									<li><a th:href="@{/anagrafeRegionaleCrediti/list}" th:text="#{label.anagrafe_regionale_crediti}"></a></li>
									<li><a th:href="@{/protocollo/listProtocolliError}" th:text="#{label.protocolli_sospesi}">label.protocolli_sospesi</a></li>
									<li><a th:href="@{/quotaAnnuale/list}" th:text="#{label.quotaAnnuale}"></a></li>
								</ul>
							</li>

							<li id="referee" th:if="${#authentication.principal.account.isReferee()}">
								<a>
									<i class="fa fa-edit"></i> <span th:text="#{label.referee}">label.referee</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/accreditamento/valutazioneReferee/list}" th:text="#{label.lista_domande_da_valutare}">label.lista_domande_da_valutare</a></li>
									<li><a th:href="@{/comunicazione/dashboard}" th:text="#{label.comunicazioni}"></a></li>
								</ul>
							</li>

							<li id="commissione" th:if="${#authentication.principal.account.isCommissioneEcm()}">
								<a>
									<i class="fa fa-edit"></i> <span th:text="#{label.commissione}">label.commissione</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/seduta/list}" th:text="#{label.lista_sedute}">label.lista_sedute</a></li>
									<li><a th:href="@{/comunicazione/dashboard}" th:text="#{label.comunicazioni}"></a></li>
								</ul>
							</li>

							<li id="osservatori" th:if="${#authentication.principal.account.isComponenteOsservatorioEcm()}">
								<a>
									<i class="fa fa-edit"></i> <span th:text="#{label.osservatore_ecm}">label.osservatore_ecm</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/comunicazione/dashboard}" th:text="#{label.comunicazioni}"></a></li>
								</ul>
							</li>

							<!-- ENGEENERING TEST firma & mypay -->
							<li id="engineering" th:if="${#authentication.principal.hasProfile('ENGINEERING')}">
								<a>
									<i class="fa fa-bug"></i> <span th:text="#{engineering.engineering}">label.engineering</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/engineering/test/firma}" th:text="#{engineering.test_firma}">engineering.test_firma</a></li>
									<li><a th:href="@{/engineering/test/mypay}" th:text="#{engineering.test_mypay}">engineering.test_mypay</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
				<!-- /sidebar menu -->
			</div>
		</div>

		<!-- top navigation -->
		<div class="top_nav">

			<div class="nav_menu">
				<nav class="" role="navigation">
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>

					<ul class="nav navbar-nav navbar-right">
		              <li class="">
		                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		                  <img src="../static/gentella/images/user.png" th:src="@{/gentella/images/user.png}" alt="..." />
							<span sec:authentication="name" th:remove="tag">username</span>
		                  <i class=" fa fa-angle-down"></i>
		                </a>
		                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
		                  <li>
		                  	<a th:href="@{/user/changePassword}" href="javascript:;">  <span th:text="#{label.cambia_password}">label.cambia_password</span></a>
		                  </li>
		                  <li>
		                 	<th:block th:unless="${T(it.tredi.ecm.utils.Utils).isUserCasAuthenticated()}">
								<a href="javascript:;" onclick="$('#logout').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
		                 		<form id="logout" th:action="@{/logout}" method="post">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
								</form>
		                 	</th:block>
		                 	<th:block th:if="${T(it.tredi.ecm.utils.Utils).isUserCasAuthenticated()}">
								<a th:href="@{/cas/logout}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
		                 	</th:block>
		                  </li>
		                </ul>
		              </li>
		              <li class="">
					  	<th:block th:unless="${#authentication.principal.account.isProviderVisualizzatore()}">
					    	<a target="new" href="http://wiki.3di.it/doku.php?id=documentazione_3di:progetto_ecm:indice&amp;s[]=manuale&amp;s[]=ecm&amp;s[]=segreteria" th:text="#{label.help}"></a>
					  	</th:block>
						<th:block th:if="${#authentication.principal.account.isProviderVisualizzatore()}">
					    	<a target="new" href="http://wiki.3di.it/doku.php?id=documentazione_3di:progetto_ecm:manuale" th:text="#{label.help}"></a>
					  	</th:block>
					  </li>
					  <li class="">
					    <a target="new" href="https://salute.regione.veneto.it/web/ecm/moduli-e-documenti" th:text="#{label.moduli} + '/' + #{label.documenti}"></a>
					  </li>
					  <li class="">
					    <a target="new" href="https://salute.regione.veneto.it/web/ecm/faq" th:text="#{label.faq}"></a>
					  </li>
					  <li class="">
					    <a target="new" href="https://salute.regione.veneto.it/web/ecm/" th:text="#{label.portale}"></a>
					  </li>
					  <li class="">
					    <a target="new" href="https://salute.regione.veneto.it/c/document_library/get_file?uuid=1aaaec64-1a69-458e-8e63-cf6982813ef5&amp;groupId=991613" th:text="#{label.linee_guida_eventi}"></a>
					  </li>
              		</ul>
				</nav>
			</div>
		</div>
		<!-- /top navigation -->
	</div>
</body>
</html>