<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="sidebarAndTop" th:remove="tag">
		<div class="col-md-3 left_col">
			<div class="left_col scroll-view">

				<div class="navbar nav_title" style="border: 0;">
					<a href="home.html" th:href="@{/home}" class="site_title"><span class="site_title_name" th:text="#{app.title_short}">app.title_short</span> <img class="pull-right" th:src="@{/images/main_image.png}" style="max-height: 55px; margin: 5px 10px;" /></a>
				</div>
				<div class="clearfix"></div>

				<!-- menu prile quick info -->
				<div class="profile">
					<div class="profile_pic">
						<img src="gentella/images/user.png"
							th:src="@{/gentella/images/user.png}" alt="..."
							class="img-circle profile_img" />
					</div>
					<div class="profile_info">
						<span th:text="#{label.benvenuto}+','">label.benvenuto,</span>
						<h2>
							<span th:text="${#authentication.name}" th:remove="tag">username</span>
						</h2>
					</div>
				</div>
				<!-- /menu prile quick info -->

				<br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

					<div class="menu_section">
						<h3>
							<div sec:authentication="principal.profile">profilo</div>
							<!-- div sec:authentication="principal.authorities">roles</div-->
						</h3>
						<ul class="nav side-menu">
							<li th:if="${#authorization.expression('hasAuthority(''PROVIDER_READ'')')}">
								<a>
									<i class="fa fa-home"></i> <span th:text="#{label.provider}">label.provider</span>
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/provider/show}" th:text="#{label.scheda_provider}">label.info_provider</a></li>
									<li><a th:href="@{/provider/accreditamento/list}" th:text="#{label.accreditamento}">label.iter_accreditamento</a></li>
									<!--
									<li><a href="#" th:text="#{label.eventi}">label.eventi</a></li>
									<li><a href="#" th:text="#{label.piano_formativo}">label.piano_formativo</a></li>
									<li><a href="#" th:text="#{label.relazione_annuale}">label.relazione_annuale</a></li>
									<li><a href="#" th:text="#{label.contributo_annuale}">label.contributo_annuale</a></li>
									<li><a href="#" th:text="#{label.comunicazioni}">label.comunicazioni</a></li>
									<li><a href="#" th:text="#{label.gestione_utenti}">label.gestione_utenti</a></li>
									<li><a th:href="@{/user/changePassword}" th:text="#{label.gestione_password}">label.gestione_password</a></li>
									 -->
								</ul>
							</li>
							<li>
								<a>
									<i class="fa fa-edit"></i> <span th:text="#{label.segreteria}">label.segreteria</span> 
									<span class="fa fa-chevron-down"></span>
								</a>
								<ul class="nav child_menu" style="display: none">
									<li><a th:href="@{/provider/list}" th:text="#{label.provider}">label.provider</a></li>
									<li><a th:href="@{/user/list}" th:text="#{label.utenti}">label.utenti</a></li>
									<li><a th:href="@{/profile/list}" th:text="#{label.profili}">label.profili</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- /sidebar menu -->
			</div>
		</div>

		<!-- top navigation -->
		<div class="top_nav">

			<div class="nav_menu">
				<nav class="" role="navigation">
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>
					
					<ul class="nav navbar-nav navbar-right">
		              <li class="">
		                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		                  <img src="../static/gentella/images/user.png" th:src="@{/gentella/images/user.png}" alt="..." />
							<span sec:authentication="name" th:remove="tag">username</span>
		                  <span class=" fa fa-angle-down"></span>
		                </a>
		                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
		                  <li>
		                  	<a th:href="@{/user/changePassword}" href="javascript:;">  <span th:text="#{label.cambia_password}">label.cambia_password</span></a>
		                  </li>
		                  <li>
		                  	<a href="javascript:;" onclick="$('#logout').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
		                  	<form id="logout" th:action="@{/logout}" method="post">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							</form>
		                  </li>
		                </ul>
		              </li>
              		</ul>
				</nav>
			</div>
		</div>
		<!-- /top navigation -->
	</div>
</body>
</html>