.login_content form input[type="submit"], #content form .submit {
	float:none;
	margin-left: 25%;
	width: 50%;
}

/* correzione per la visualizzazione del testo nella box colorata della login */
.login_content {
	text-shadow: none;
}

/* template public */
body.nav-md .container.body .right_col.main{
	margin-left: 5%;
	margin-right: 5%;
}

/* immagini logo nella barra e nel footer */
.logo-64{
	height: 64px;
	width: 64px; 
}

.logo-32{
	height: 32px;
	width: 32px; 
}

/* rimuovo la scroll bar dentro al form */
.form_wizard .stepContainer {
	overflow-x: visible; 
}

.icon{
	font-size: 18px;
}

@media (max-width: 991px) {
	body.nav-md .container.body .right_col.main{
	margin-left: 0;
	margin-right: 0;
	}
