.login_content form input[type="submit"], #content form .submit {
	float: none;
	margin-left: 25%;
	width: 50%;
}

/* correzione per la visualizzazione del testo nella box colorata della login */
.login_content {
	text-shadow: none;
}

.login_content form div a {
	margin-top: 13px;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

/* template public */
body.nav-md .container.body .right_col.main {
	margin-left: 5%;
	margin-right: 5%;
}

/* immagini logo nella barra e nel footer */
.logo-64 {
	height: 64px;
	width: 64px;
}

.logo-32 {
	height: 32px;
	width: 32px;
}

/* rimuovo la scroll bar dentro al form */
.form_wizard .stepContainer {
	overflow-x: visible;
}

.icon {
	font-size: 20px;
}

.control-label.left-align {
	text-align: left;
}

@media ( max-width : 991px) {
	body.nav-md .container.body .right_col.main {
		margin-left: 0;
		margin-right: 0;
	}
}

.dropdown-menu.inner {
	max-width: 100%;
	min-width: 100%;
}

.dropdown-menu span {
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	margin-right: 0 !important;
	TODO: trovare modo per togliere important
}

.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group,
	.form-inline .bootstrap-select.btn-group {
	margin: 0px;
}

.select-with-margin-container {
	margin-bottom: 10px;
	padding: 0px;
}

.form-disabled-text {
	font-weight: inherit;
	padding: 6px 12px 6px 12px;
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
	color: #bbb;
	margin-bottom: 0;
}

.clickable {
	cursor: pointer;
}

.allegato-link {
	padding-left: 0px;
}

.login-img {
	margin-bottom: 20px;
	width: 100%;
}

.login_content {
	padding: 0;
	color: #2a3f54;
}

#wrapper {
	min-width: 450px;
}

.remember-login-label {
	padding: 0 !important;
}

.site_title {
	height: 57px;
}

.site_title_name {
	margin-left: 15px;
}

.allegato-btn {
	margin-left: 0px;
	margin-right: 5px;
	width: 90px;
}

.allegato-label {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 8px;
	text-align: left;
	min-height: 30px;;
}

table.datatable-responsive-discipline thead .sorting_asc:after {
	visibility: hidden;
}

table.datatable-responsive-discipline-evento thead .sorting_asc:after {
	visibility: hidden;
}

table.datatable-responsive-search thead .sorting_asc:after {
	visibility: hidden;
}

table.datatable-responsive-search-validation thead .sorting_asc:after {
	visibility: hidden;
}

.dropdown-header {
	color: white;
	font-weight: bold;
	margin-bottom: 5px;
}

.model-link {
	float: right;
	font-size: 12px;
	padding-top: 8px;
}

.buttons-header {
	padding: 0;
	margin-left: 10px;
}

.table-btn {
	margin: 0;
	border: 0;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.center {
	text-align: center;
}

.stato-center {
	text-align: center;
	width: 70px;
}

.disabled-fa {
	cursor: not-allowed !important;
	color: #A5A9AC;
}

.disabled {
	cursor: not-allowed !important;
	color: #fff;
}

.label-disabled {
	cursor: not-allowed !important;
}

.with-padding-top {
	padding-top: 7px;
}

.with-margin-top {
	margin-top: 20px;
}

.with-margin-bottom {
	margin-bottom: 20px;
}

.with-margin-left {
	margin-left: 20px;
}

.with-margin-right {
	margin-right: 20px;
}

.wizard_steps {
	padding: 0;
}

.step_descr {
	display: block;
	min-width: 100px;
}

.cd-top {
	background-color: #1abc9c;
	border-radius: 3px;
	border: 1px solid #169F85;
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	z-index: 200;
}

.no-touch .cd-top:hover {
	background-color: #1abc9c;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover,
	.btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover,
	.open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus,
	.open>.dropdown-toggle.btn-success:hover {
	background: #1aa086;
	border: 1px solid #178c75;
	color: #FFFFFF;
}

.btn-success.disabled.focus, .btn-success:active:focus.disabled,
	.btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus,
	.btn-success[disabled]:focus, .btn-success[disabled]:hover,
	.btn-success[disabled]:hover:active, fieldset[disabled] .btn-success.focus,
	fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover
	{
	background: #1abc9c;
	border: 1px solid #169F85;
	color: #FFFFFF;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
	.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
	.open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus,
	.open>.dropdown-toggle.btn-primary:hover {
	background: #2b6596;
	border: 1px solid #1c4263;
	color: #FFFFFF;
}

.btn-primary.disabled.focus, .btn-primary:active:focus.disabled,
	.btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus,
	.btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus,
	fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover
	{
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #FFFFFF;
}

.firma {
	float: left;
	min-height: 34px;
	min-width: 34px;
	margin-left: 12px;
}

.radioValutazione {
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 0 !important;
	text-align: center;
}

.tdRadioValutazione {
	text-align: center;
}

.labelRadioValutazione {
	padding: 0 !important;
	min-width: 40px;
}

.textRadioValutazione {
	min-width: 17px;
}

.otherValidationCheck {
	text-align: center;
}

.note {
	margin-left: -20px !important;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	background: transparent;
	border: none;
}

.tooltip {
	z-index: 99;
}

#loadingImg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 100;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
	table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
	top: inherit;
}

.dtr-data {
	display: block;
	line-height: 1;
}

textarea {
	width: 100%;
}

textarea[disabled] {
	cursor: not-allowed;
}

.note-text {
	width: 300px;
}

.dropdown-header.optgroup-primary {
	background-color: #337ab7;
}

.dropdown-header.optgroup-success {
	background-color: #1abc9c;
}

.label-pagato {
	color: #1abc9c;
	font-weight: bold;
}

.label-non-pagato {
	color: #d9534f;
	font-weight: bold;
}

.btn-mypay {
	margin: 0;
}

.btn-lookup {
	margin: 0;
}

th.center {
	text-align: left;
}

.italic {
	font-style: italic;
}

.count {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tile-stats .tile-text {
	font-size: 30px;
	min-height: 70px;
	font-weight: bold;
}

.tile-h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.count-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.well.profile_view .bottom {
	margin: 0;
}

.fa-persona-show {
	font-size: 100px;
}

.v-center {
	line-height: 230px;
}

.tile-stats-container {
	padding: 0;
}

.profile_anagrafica {
	height: 210px;
	white-space: nowrap;
}

.text-center {
	text-align: center;
}

.fa-laptop.fa-persona-show {
	margin-left: -15px;
}

.fa-fax.fa-persona-show {
	margin-left: -15px;
}

.fa-sitemap.fa-persona-show {
	margin-left: -15px;
}

.fa-gavel.fa-persona-show {
	margin-left: -15px;
}

.fa-search.fa-persona-show {
	margin-left: -10px;
}

h2 {
	white-space: normal !important;
}

.row.animated.fadeInDown {
	margin-top: 60px;
}

.allegato-download {
	margin-bottom: 10px;
}

.excerpt {
	font-size: 17px;
}

.timeline h2.title {
	font-size: 22px;
}

.file-widget-container {
	padding: 10px;
	margin-bottom: 10px;
}

.file-widget-fa {
	height: 140px;
}

.file-widget-icon {
	line-height: 140px
}

.file-widget-description {
	height: 140px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.file-nome {
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file-titolo {
	height: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.file-data {
	height: 20px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.file-formato {
	height: 20px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.file-container {
	margin: 0;
	height: 140px;
	border: 1px solid gray;
	border-radius: 5px;
	border-color: #E4E4E4;
	padding-left: 5px;
	padding-right: 5px;
}

.value {
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 30px;
	font-size: 17px;
	display: block;
}

.label-show {
	font-size: 17px;
}

.checkbox label, .radio label {
	padding-left: 10px;
}

.flat {
	display: none;
}

.table-radio {
	display: block;
}

.presentation {
	margin-bottom: 20px !important;
}

.home-title {
	font-weight: bold;
	font-size: 35px;
	width: 100%;
}

.home-divider {
	font-weight: bold;
	font-size: 26px;
	font-style: italic;
	margin-left: 20px;
}

.btn-table {
	min-width: 100px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

.table-icon {
	height: 46px;
	line-height: 46px;
	font-size: 18px;
}

.single {
	width: 100%;
}

.double {
	width: 49%;
}

.triple {
	width: 32.5%;
}

.danger {
	color: #d9534f;
	text-decoration: underline;
}

.row-group {
	background-color: #337ab7 !important;
	color: #fff;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	font-weight: bold;
	font-style: italic;
}

.modal-btn {
	margin: 0px;
	margin-left: 5px;
}

.free-space {
	height: 75px;
}

.loaded-container {
	position: relative;
	overflow: hidden;
}

.modal-body {
	min-height: 130px;
}

.btn-scelta {
	width: 45%;
	white-space: normal;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	padding: 6px 12px;
	height: 46px;
}

.text-btn-scelta {
	line-height: 32px;
	height: 32px;
}

.btn-last {
	margin-right: 10px;
	float: right;
}

.btn-first {
	margin-left: 10px;
}

.transparent {
	background-color: transparent;
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.professioni-discipline>tbody>tr>td {
	padding: 0px;
	padding-left: 8px;
}

.nota-validazione {
	border: 1px solid #E74C3C;
	border-radius: 5px;
	padding: 4px;
}

.red-italic {
	color: #E74C3C;
	font-style: italic;
	margin-left: 5px !important;
	font-size: 17px;
}

.yellow {
	color: #FEF400;
}

.orange {
	color: #FF9702;
}

.number {
	font-size: 17px;
	font-weight: bold;
}

.container-collapse {
	display: none;
}

.valutazione-collapse {
	display: none;
}

.link-collapse {
	cursor: pointer;
}

.link-collapse-valutazione {
	cursor: pointer;
}

.dropdown-toggle>span {
	color: #fff;
}

.dropdown-menu.actions>li>a {
	width: 100%;
	padding: 12px 20px;
	cursor: pointer;
}

.dropdown-menu.actions {
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	z-index: 200;
}

.divider.actions {
	margin: 0 10px 0 10px;
}

.margin-valutabile {
	height: 60px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bold {
	font-weight: bold;
}

.bad div.iradio_flat-green {
	border: 1px solid #CE5454;
	box-shadow: 0 0 4px -2px #CE5454;
	position: relative;
	left: 0;
	-moz-animation: .7s 1 shake linear;
	-webkit-animation: 0.7s 1 shake linear;
	border-radius: 10px;
	padding: 10px;
}

.bad div.icheckbox_flat-green {
	border: 1px solid #CE5454;
	box-shadow: 0 0 4px -2px #CE5454;
	position: relative;
	left: 0;
	-moz-animation: .7s 1 shake linear;
	-webkit-animation: 0.7s 1 shake linear;
	border-radius: 5px;
	padding: 10px;
}

.item.modalAlert .alert {
	float: left;
	margin: 15px 0 0 0;
	padding: 3px 10px;
	color: #FFF;
	border-radius: 4px;
	background-color: #CE5454;
	max-width: 170px;
	white-space: inherit;
	position: relative;
	left: -15px;
	opacity: 0;
	z-index: 1;
	transition: 0.15s ease-out;
}

.item.modalAlert .alert::after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-color: transparent #CE5454 transparent transparent;
	border-style: solid;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 7px solid #CE5454;
	position: absolute;
	left: 30px;
	top: -18px;
}

.item.bad.modalAlert.bad .alert {
	left: 0;
	opacity: 1;
}

.item.validateAlert .alert {
	float: left;
	margin: 15px 0 0 0;
	padding: 3px 10px;
	color: #FFF;
	border-radius: 4px;
	background-color: #CE5454;
	max-width: 100%;
	white-space: inherit;
	position: relative;
	left: -15px;
	opacity: 0;
	z-index: 1;
	transition: 0.15s ease-out;
}

.item.validateAlert .alert::after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-color: transparent #CE5454 transparent transparent;
	border-style: solid;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 7px solid #CE5454;
	position: absolute;
	left: 3%;
	top: -18px;
}

.item.bad.validateAlert.bad .alert {
	left: 0;
	opacity: 1;
}

.x_menu {
	margin-bottom: 0;
	border: 0;
	padding: 0;
}

.dropdown-menu.open {
	width: 100%;
}

/* sovrascrive classi fullcalendar */
.fc-today {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.fc-event {
	padding-left: 8px;
	cursor: pointer;
}

.daterangepicker {
	width: auto;
}

.input-group {
	padding-left: 10px !important;
	padding-right: 10px !important;
	float: left !important;
}

.input-group-addon {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
}

.vaschetta-comunicazione {
	font-size: 18px !important;
	margin-top: 10px !important;
}

.text-vaschetta-comunicazione {
	font-size: 15px !important;
	margin-bottom: 10px !important;
}

.head-comunicazione {
	font-size: 18px !important;
	font-weight: bold !important;
	margin-top: 5px !important;
}

.last_mail_list {
	border-bottom: 0 !important;
}

.white {
	color: #FFFFFF !important;
}

/* patch alla libreria select2 */
.select2-container--default .select2-selection--multiple .select2-selection__clear
	{
	margin-top: 8px;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 8px;
}

.select2-search__field {
	margin-left: 5px;
}

.comunicazione-input {
	height: 38px;
}

.comunicazione-content {
	margin-top: 20px;
}

.comunicazione-testo {
	min-height: 350px;
	resize: none;
	margin-bottom: 20px;
}

.fixed-value {
	line-height: 34px;
}

.item.comunicazioneAlert .alert {
	float: left;
	margin: 15px 0 0 0;
	padding: 3px 10px;
	color: #FFF;
	border-radius: 4px;
	background-color: #CE5454;
	max-width: 170px;
	white-space: inherit;
	position: relative;
	left: -15px;
	opacity: 0;
	z-index: 1;
	transition: 0.15s ease-out;
}

.item.comunicazioneAlert .alert::after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-color: transparent #CE5454 transparent transparent;
	border-style: solid;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 7px solid #CE5454;
	position: absolute;
	left: 30px;
	top: -18px;
}

.item.bad.comunicazioneAlert.bad .alert {
	left: 0;
	opacity: 1;
}

.item.bad-remade.comunicazioneAlert.bad-remade .alert {
	left: 0;
	opacity: 1;
}

.bad-remade .select2-container {
	border: 1px solid #CE5454;
	box-shadow: 0 0 4px -2px #CE5454;
	position: relative;
	left: 0;
	-moz-animation: .7s 1 shake linear;
	-webkit-animation: 0.7s 1 shake linear;
}

.comunicazione-content {
	min-height: 200px;
}

.divider-comunicazione-list {
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comunicazione-messaggio {
	background-color: inherit;
	color: inherit;
	font-style: inherit;
	cursor: text;
	height: 350px;
}

.risposta-messaggio {
	background-color: inherit;
	color: inherit;
	font-style: inherit;
	cursor: text;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.comunicazione-show-container {
	padding: 10px;
}

/* patch css richiesta al side menu dalla regione veneto */
.nav.child_menu > li > a {
	font-weight: bold;
}

.nav.side-menu > li > a {
	font-size: 15px;
	font-weight: bold;
}

.tile-stats.clickable:hover {
	border-color: #73879C;
}

.yellowBGround {
	background-color: rgba(254,239,0,0.4) !important;
}

.whiteBGround {
	background-color: rgba(255,255,255,0.4) !important;
}

tr.integrazione-creazione{
	background-color: rgba(38, 185, 154, 0.7) !important;
	color: white;
}
tr.integrazione-creazione td:first-child{
	border-left: 5px solid #1abc9c !important;
}
tr.integrazione-creazione td:last-child{
	border-right: 5px solid #1abc9c !important;
}
tr.integrazione-creazione td:first-child a{
	color: white;
}

tr.integrazione-eliminazione{
	background-color: rgba(231, 76, 60, 0.7) !important;
	color: white;
}
tr.integrazione-eliminazione td:first-child{
	border-left: 5px solid #e47777 !important;
}
tr.integrazione-eliminazione td:last-child{
	border-right: 5px solid #e47777 !important;
}
tr.integrazione-eliminazione td:first-child a{
	color: white;
}

.nav.navbar-nav.navbar-right > li:hover {
	background-color: rgba(115, 135, 156, 0.1);
}

.button-container {
	height: 90px;
	width: 225px;
}