<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">

						<!-- ARRIVERÀ UN BEAN -->

						<h2>Prova dei pNotify</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-md-9 col-sm-9 col-xs-12">
							<button class="btn btn-primary source " onclick="new PNotify({
	                                title: 'Sticky Success',
	                                text: 'Sticky success... I\'m not even gonna make a joke.',
	                                type: 'success',
	                                hide: false,
	                                buttons: {
	                                	sticker: false
	                                }                             
                            	});">Button con la X</button>
						</div>
					</div>
					<div th:text="${param}">
						
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			var notify = new PNotify({
				title: 
			})
		
		</script>
	</div>
</body>
</html>