<!DOCTYPE html>
<html layout:decorator="fragments/template"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<!-- title -->
				<div class="row">
					<div class="col-xs-12">
						<div class="home-title" th:text="#{label.home_page}">Home page</div>
					</div>
				</div>

				<div class="divider"></div>

				<!-- ADMIN -->
				<div class="row" th:if="${homeWrapper.isAdmin}">
					<div class="home-divider" th:text="#{label.dashboard_admin}">Admin dashboard</div>
					<div class="col-xs-12 tile-stats-container">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 clickable" onclick="show('XXX')">
							<div class="tile-stats">
								<div class="icon"><i th:class="${homeWrapper.utentiInAttesaDiAttivazione == 1 ? 'fa fa-user' : 'fa fa-users'}"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.utentiInAttesaDiAttivazione}"></div>
				                	<h3 class="tile-h3" th:text="${homeWrapper.utentiInAttesaDiAttivazione == 1 ? #messages.msg('label.utente') : #messages.msg('label.utenti')}"></h3>
				                	<p class="count-text" th:text="#{label.in_attesa_attivazione}">In attesa di attivazione</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${homeWrapper.isAdmin}" class="divider"></div>

				<!-- PROVIDER -->
				<div class="row" th:if="${homeWrapper.isProvider}">
					<div class="home-divider" th:text="#{label.dashboard_provider}">Provider dashboard</div>
					<div class="col-xs-12 tile-stats-container">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 clickable" onclick="show('XXX')">
							<div class="tile-stats">
								<div class="icon"><i th:class="${homeWrapper.messaggi == 1 ? 'fa fa-comment-o' : 'fa fa-comments-o'}"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.messaggi}"></div>
				                	<h3 class="tile-h3" th:text="${homeWrapper.messaggi == 1 ? #messages.msg('label.messaggio') : #messages.msg('label.messaggi')}"></h3>
				                	<p class="count-text" th:text="#{label.da_leggere}">Da leggere</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 clickable" onclick="show('XXX')">
							<div class="tile-stats">
								<div class="icon"><i class="fa fa-euro"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.eventiDaPagare}"></div>
				                	<h3 class="tile-h3" th:text="${homeWrapper.eventiDaPagare == 1 ? #messages.msg('label.evento') : #messages.msg('label.eventi')}"></h3>
				                	<p class="count-text" th:text="#{label.da_pagare}">Da pagare</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 clickable" onclick="show('XXX')">
							<div class="tile-stats">
								<div class="icon"><i class="fa fa-edit"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.accreditamentiDaIntegrare}"></div>
				                	<h3 class="tile-h3" th:text="${homeWrapper.accreditamentiDaIntegrare == 1 ? #messages.msg('label.accreditamento') : #messages.msg('label.accreditamenti')}"></h3>
				                	<p class="count-text" th:text="#{label.da_integrare}">Da integrare</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${homeWrapper.isProvider}" class="divider"></div>

				<!-- REFEREE -->
				<div class="row" th:if="${homeWrapper.isReferee}">
					<div class="home-divider" th:text="#{label.dashboard_referee}">Referee dashboard</div>
					<div class="col-xs-12 tile-stats-container">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 clickable" onclick="goTo('accreditamento/valutazioneReferee/list')">
							<div class="tile-stats">
								<div class="icon"><i class="fa fa-list-alt"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.richiesteInviateDaiProvider}"></div>
				                	<h3 class="tile-h3" th:text="${homeWrapper.richiesteInviateDaiProvider == 1 ? #messages.msg('label.richiesta_accreditamento') : #messages.msg('label.richieste_accreditamento')}"></h3>
				                	<p class="count-text" th:text="#{label.da_valutare}">Da valutare</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${homeWrapper.isReferee}" class="divider"></div>

				<!-- SEGRETERIA -->
				<div class="row" th:if="${homeWrapper.isSegreteria}">
					<div class="col-xs-12 tile-stats-container">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
							<div class="tile-stats clickable" onclick="goTo('accreditamento/valutazione/list')">
								<div class="icon"><i class="fa fa-list-alt"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.richiesteInviateDaiProvider}"></div>
				                	<h3 class="tile-h3" th:text="${homeWrapper.richiesteInviateDaiProvider == 1 ? #messages.msg('label.richiesta_accreditamento') : #messages.msg('label.richieste_accreditamento')}"></h3>
				                	<p class="count-text" th:text="#{label.da_valutare}">Da valutare</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
							<div class="tile-stats clickable" onclick="goTo('referee/list')">
								<div class="icon"><i class="fa fa-exclamation-circle"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.badReferee}"></div>
				                	<h3 class="tile-h3" th:text="#{label.referee}"></h3>
				                	<p class="count-text" th:text="${homeWrapper.badReferee == 1} ? #{label.non_ha_valutato} :  #{label.non_hanno_valutato}">Non hanno valutato le domande di accreditamento assegnate loro</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 clickable" onclick="show('XXX')">
							<div class="tile-stats">
								<div class="icon"><i class="fa fa-euro"></i></div>
								<div class="col-xs-10">
				                	<div class="count" th:text="${homeWrapper.providerQuotaEventi}"></div>
				                	<h3 class="tile-h3" th:text="#{label.provider}"></h3>
				                	<p class="count-text" th:text="#{label.devono_pagare_quota_eventi}">Devono pagare la quota degli eventi</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				$(document).ready(function() {

					$(function () {
						//Se l'utente è il provider il menù provider sarà aperto
						if ([[${homeWrapper.isProvider}]]) {
							$('#provider').click();
							return;
						}
						//Se l'utente è l'admin il menù segreteria sarà aperto
						if ([[${homeWrapper.isProvider}]]) {
							$('#admin').click();
							return;
						}
					});

				});

				function goTo(url) {
					location.href = [[@{/}]] + url;
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>