<!DOCTYPE html>
<html layout:decorator="fragments/template"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<!-- title -->
				<div class="row">
					<div class="col-xs-12">
						<div class="home-title" th:text="#{label.homepage}">Home page</div>
					</div>
				</div>

				<div class="divider"></div>

				<!-- ADMIN -->
				<div class="row" th:if="${homeWrapper.isAdmin}">
					<div class="home-divider" th:text="#{label.dashboard_admin}">Admin dashboard</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 clickable" onclick="show('XXX')">
						<div class="tile-stats">
							<div class="icon"><i th:class="${homeWrapper.utentiInAttesaDiAttivazione == 1 ? 'fa fa-user' : 'fa fa-users'}"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.utentiInAttesaDiAttivazione}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.utentiInAttesaDiAttivazione == 1 ? #messages.msg('label.utente') : #messages.msg('label.utenti')}"></h3>
			                	<p class="count-text" th:text="#{label.in_attesa_attivazione}">In attesa di attivazione</p>
							</div>
						</div>
					</div>
				</div>

				<!-- PROVIDER -->
				<div class="row" th:if="${homeWrapper.isProvider}">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" onclick="show('XXX')">
						<div class="tile-stats clickable">
							<div class="icon"><i class="fa fa-euro"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.eventiDaPagare}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.eventiDaPagare == 1 ? #messages.msg('label.evento') : #messages.msg('label.eventi')}"></h3>
			                	<p class="count-text" th:text="#{label.da_pagare}">Da pagare</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" onclick="goTo('accreditamento/integrazione/list')">
						<div class="tile-stats clickable">
							<div class="icon"><i class="fa fa-edit"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.accreditamentiDaIntegrare}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.accreditamentiDaIntegrare == 1 ? #messages.msg('label.accreditamento') : #messages.msg('label.accreditamenti')}"></h3>
			                	<p class="count-text" th:text="#{label.da_integrare}">Da integrare</p>
							</div>
						</div>
					</div>
				</div>

				<!-- REFEREE -->
				<div class="row" th:if="${homeWrapper.isReferee}">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats">
							<div class="icon"><i class="fa fa-exclamation"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeNonValutateConsecutivamente}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeNonValutateConsecutivamente == 1} ? #{label.valutazione} : #{label.valutazioni}"></h3>
			                	<p class="count-text" th:text="${homeWrapper.domandeNonValutateConsecutivamente == 1} ? #{label.non_effettuata_consecutivamente} : #{label.non_effettuate_consecutivamente}">Da valutare</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" onclick="goTo('accreditamento/valutazioneReferee/list')">
						<div class="tile-stats clickable">
							<div class="icon"><i class="fa fa-list-alt"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeInCarica}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeInCarica == 1} ? #{label.domanda_accreditamento} : #{label.domande_accreditamento}"></h3>
			                	<p class="count-text" th:text="#{label.da_valutare}">Da valutare</p>
							</div>
						</div>
					</div>
				</div>

				<!-- SEGRETERIA -->
				<div class="row" th:if="${homeWrapper.isSegreteria}">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/valutazioneAssegnamento/list?tipo=Provvisorio&amp;filterTaken=true')">
							<div class="icon"><i class="fa fa-list"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeProvvisorieNotTaken}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeProvvisorieNotTaken == 1} ? #{label.domanda_provvisoria} : #{label.domande_provvisorie}"></h3>
			                	<p class="count-text" th:text="#{label.da_prendere_in_carica}"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/valutazioneAssegnamento/list?tipo=Standard&amp;filterTaken=true')">
							<div class="icon"><i class="fa fa-list-ul"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeStandardNotTaken}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeStandardNotTaken == 1} ? #{label.domanda_standard} : #{label.domande_standard}"></h3>
			                	<p class="count-text" th:text="#{label.da_prendere_in_carica}"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/assegnamento/list')">
							<div class="icon"><i class="fa fa-exchange"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeAssegnamento}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeAssegnamento == 1} ? #{label.domanda_accreditamento} : #{label.domande_accreditamento}"></h3>
			                	<p class="count-text" th:text="#{label.da_riassegnare}"></p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/richiestaIntegrazione/list?tipo=Provvisorio')">
							<div class="icon"><i class="fa fa-check-square-o"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeProvvisorieRichiestaIntegrazione}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeProvvisorieRichiestaIntegrazione == 1} ? #{label.domanda_provvisoria} : #{label.domande_provvisorie}"></h3>
			                	<p class="count-text" th:text="#{label.in_richiesta_integrazione}"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/valutazione/list?tipo=Provvisorio')">
							<div class="icon"><i class="fa fa-search"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeProvvisorieValutazioneIntegrazione}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeProvvisorieValutazioneIntegrazione == 1} ? #{label.domanda_provvisoria} : #{label.domande_provvisorie}"></h3>
			                	<p class="count-text" th:text="#{label.da_valutare_integrazione}"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/preavvisoRigetto/list?tipo=Provvisorio')">
							<div class="icon"><i class="fa fa-exclamation-circle"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeProvvisoriePreavvisoRigetto}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeProvvisoriePreavvisoRigetto == 1} ? #{label.domanda_provvisoria} : #{label.domande_provvisorie}"></h3>
			                	<p class="count-text" th:text="#{label.in_preavviso_di_rigetto}"></p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/scadenza/list')">
							<div class="icon"><i class="fa fa-calendar"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeInScadenza}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeInScadenza == 1} ? #{label.domanda_accreditamento} : #{label.domande_accreditamento}"></h3>
			                	<p class="count-text" th:text="#{label.in_scadenza}"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('referee/list')">
							<div class="icon"><i class="fa fa-eye-slash"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.badReferee}"></div>
			                	<h3 class="tile-h3" th:text="#{label.referee}"></h3>
			                	<p class="count-text" th:text="${homeWrapper.badReferee == 1} ? #{label.non_ha_valutato} :  #{label.non_hanno_valutato}"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" onclick="goTo('accreditamento/valutazioneAssegnamento/list?showCarica=true')">
							<div class="icon"><i class="fa fa-list"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${homeWrapper.domandeDaValutareAll}"></div>
			                	<h3 class="tile-h3" th:text="${homeWrapper.domandeDaValutareAll == 1} ? #{label.domanda_accreditamento} : #{label.domande_accreditamento}"></h3>
			                	<p class="count-text" th:text="#{label.da_valutare}"></p>
							</div>
						</div>
					</div>
				</div>

				<!-- COMMISSIONE -->
				<div class="row" th:if="${(homeWrapper.isCommissione == true)  and (homeWrapper.prossimaSeduta != null)}">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<div class="tile-stats clickable" th:onclick="'goTo(\'seduta/' + ${homeWrapper.prossimaSeduta.id} + '/show\')'">
							<div class="icon"><i class="fa fa-calendar"></i></div>
							<div class="col-xs-10">
			                	<div class="count" th:text="${#sets.size(homeWrapper.prossimaSeduta.valutazioniCommissione)}"></div>
			                	<h3 class="tile-h3" th:text="${#sets.size(homeWrapper.prossimaSeduta.valutazioniCommissione) == 1} ? #{label.domanda_accreditamento} : #{label.domande_accreditamento}"></h3>
			                	<p class="count-text" th:text="#{label.inserite_nella_prossima_seduta(${#temporals.format(homeWrapper.prossimaSeduta.data, 'dd/MM/yyyy')}, ${#temporals.format(homeWrapper.prossimaSeduta.ora, 'HH:mm')})}">Nella prossima seduta del ...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				$(document).ready(function() {

					$(function () {
						//Se l'utente è il provider il menù provider sarà aperto
						if ([[${homeWrapper.isProvider}]]) {
							$('#provider').click();
							return;
						}
						//Se l'utente è il segreteria il menù provider sarà aperto
						if ([[${homeWrapper.isSegreteria}]]) {
							$('#segreteria').click();
							return;
						}
						//Se l'utente è il referee il menù referee sarà aperto
						if ([[${homeWrapper.isReferee}]]) {
							$('#referee').click();
							return;
						}
						//Se l'utente è il commissario ECM il menù commissario sarà aperto
						if ([[${homeWrapper.isCommissione}]]) {
							$('#commissione').click();
							return;
						}
					});

				});

				function goTo(url) {
					location.href = [[@{/}]] + url;
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>