<!DOCTYPE html>
<html layout:decorator="fragments/templatePublic" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div layout:fragment="content">	
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel fixed_height_200">
					<div class="row x_title">
						<h3 th:text="#{label.sei_un_nuovo_provider}">label.sei_un_nuovo_provider</h3>
					</div>
					<div class="x_content">
						<h4 th:text="#{label.info_nuovo_provider}">label.info_nuovo_provider</h4>
						<a th:href="@{/providerRegistration}" th:text="#{label.vai_al_modulo_di_registrazione}">label.vai_al_modulo_di_registrazione</a>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel fixed_height_200">
					<div class="row x_title">
						<h3 th:text="#{label.hai_gia_account}">label.hai_gia_account</h3>
					</div>
					<div class="x_content">
						<h4><a th:href="@{/login}" th:text="#{label.info_account}">label.info_account</a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>