<!DOCTYPE html>
<html layout:decorator="fragments/template"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<!-- title -->
				<div class="row">
					<div class="col-xs-12">
						<div class="home-title" th:text="#{label.home_page}">Home
							page</div>
					</div>
				</div>

				<div class="divider"></div>

				<div class="col-md-4 col-sm-4 col-xs-12" id="evento_professioni">
					<form id="formEvento" class="form-horizontal form-label-left"
						th:action="@{/fieldEditabile/save}" method="post"
						enctype="multipart/form-data" novalidate="novalidate">

						<input type="hidden" th:field="${wrapper.accreditamentoId}" />
						<input type="hidden" th:field="${wrapper.subset}" />
						<input type="hidden" th:field="${wrapper.objRef}" />
						
						<div class="check" th:each="idField, row : ${T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getAllForSubset(wrapper.subset)}">
							<input type="checkbox"
								th:field="${wrapper.selected}"
								th:value="${idField}" /> 
								<span th:text="${idField}">Generale </span>
						</div>
						
						<button class="btn btn-success pull-right" th:text="#{label.salva}" type="submit"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>