<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">

				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.anagrafe_regionale_crediti}">Anagrafe Regionale Crediti</h2>
						<div class="pull-right buttons-header">
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/anagrafeRegionaleCrediti/${annoRiferimento}/list|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>


				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.anagrafe_regionale_crediti_info(${cognome},${nome},${codiceFiscale},${totaleCrediti},${#numbers.formatInteger(annoRiferimento,0)})}">Anagrafe Regionale Crediti</h2>
						<div class="clearfix"></div>
					</div>

					<!-- tabella di tutte le anagrafiche relative agli eventi del provider corrente -->
					<div class="x-content">
						<table id="tabella-modale" class="datatable-responsive-search-anagrafe-regionale table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.data}">Codice fiscale</th>
									<th th:text="#{label.titolo_evento}">Nome</th>
									<th th:text="#{label.crediti_acquisiti}">Cognome</th>
									<th th:text="#{label.ruolo}">Cognome</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each="anagrafe, row : ${anagrafeRegionaleCreditiList}">
									<td th:text="${#temporals.format(anagrafe.data, 'dd/MM/yyyy')}">Codice fiscale</td>
									<td th:text="${anagrafe.evento.titolo}">Cognome</td>
									<td th:text="${anagrafe.crediti}">Cognome</td>
									<td th:text="${anagrafe.ruolo}">Cognome</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<script th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function() {
					$(".datatable-responsive-search-anagrafe-regionale").DataTable();
				})
				/*]]>*/
				</script>
			</div>
		</div>
	</div>
</body>
</html>