<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">

				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.anagrafe_regionale_crediti_anno(${#numbers.formatInteger(annoRiferimento,0)})}">Anagrafe Regionale Crediti</h2>
						<div class="pull-right buttons-header">
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/anagrafeRegionaleCrediti/list|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<!-- tabella di tutte le anagrafiche relative agli eventi del provider corrente -->
					<div class="x-content">
						<table id="tabella-modale" class="datatable-responsive-search-anagrafe-regionale table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.codice_fiscale}">Codice fiscale</th>
									<th th:text="#{label.cognome}">Nome</th>
									<th th:text="#{label.nome}">Cognome</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each="anagrafe, row : ${anagrafeRegionaleCreditiList}">
									<td><a th:text="${anagrafe.codiceFiscale}" th:href="@{|/anagrafeRegionaleCrediti/${anagrafeRegionaleCreditiList[__${row.index}__].codiceFiscale}/${annoRiferimento}/show|}">Codice fiscale</a></td>
									<td th:text="${anagrafe.cognome}">Cognome</td>
									<td th:text="${anagrafe.nome}">Cognome</td>
								</tr>
							</tbody>
						</table>

						<div class="divider"></div>

					</div>
				</div>

				<script th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function() {
					$(".datatable-responsive-search-anagrafe-regionale").DataTable();
				})
				/*]]>*/
				</script>
			</div>
		</div>
	</div>
</body>
</html>