<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- tabella degli eventi del pianoFormativo -->
	<th:block th:fragment="pianoFormativo(pianoFormativo, accreditamentoId, mode, editabileFull, idEditabili)">
		<!-- differenzia se il piano formativo viene chiamato dall'accreditamento o dall'apposita sidebar -->
		<th:block th:with="prefixURL=${accreditamentoId != null ? '/accreditamento/' + accreditamentoId + '/' : '/'},
			urlParam=${mode != 'show' ? '?from='+mode : ''},
			hasActionButtons=${mode != 'show' and mode != 'enableField'},
			valutabile=${mode == 'validate'},
			editabile=${mode == 'edit'},
			showOnly=${mode == 'show' or mode == 'enableField'},
			enableField=${false}">
		<div th:if="${(__${pianoFormativo}__ == null) or #lists.isEmpty(__${pianoFormativo}__.eventiPianoFormativo)}" th:text="#{label.nessun_evento_piano_formativo}"></div>
		<h2 th:unless="${(__${pianoFormativo}__ == null) or #lists.isEmpty(__${pianoFormativo}__.eventiPianoFormativo)}" th:text="#{label.eventi_inseriti(${__${pianoFormativo}__.eventiPianoFormativo.size()})}"></h2>

				<table th:unless="${(__${pianoFormativo}__ == null) or #lists.isEmpty(__${pianoFormativo}__.eventiPianoFormativo)}" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" th:classappend="${'datatable-responsive-evento-'+mode}">
					<thead>
						<tr>
							<th th:text="#{label.titolo}">Titolo</th>
							<th th:text="#{label.codice_identificativo}">Id</th>
							<th th:text="#{label.procedure_formative_tipologia}">Tipologia Formazione</th>
							<th th:unless="${editabile or enableField}" th:text="${valutabile ? #messages.msg('label.stato_valutazione') : #messages.msg('label.stato_inserimento')}">label.stato_inserimento/valutazione</th>
							<th th:if="${hasActionButtons}" th:text="#{label.azioni}">Azioni</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="evento, row : ${__${pianoFormativo}__.eventiPianoFormativo}">
							<td><a th:text="${evento.titolo}" th:href="@{|${prefixURL}provider/${__${pianoFormativo}__.provider.id}/pianoFormativo/${__${pianoFormativo}__.id}/evento/${evento.id}/show${urlParam}|}"></a></td>
							<td th:text="${evento.getCodiceIdentificativo()}"></td>
							<td th:text="${evento.proceduraFormativa.name()}"></td>
							<th:block th:unless="${editabile or enableField}">
								<td th:if="${(showOnly or enableField) and !evento.new}">
									<i class="fa table-icon fa-check green" th:title="#{label.inserito}"></i>
								</td>
								<!-- TODO togliere se non serve più -->
<!-- 								<td th:if="${valutabile and (accreditamentoWrapper.eventiStati[__${evento.id}__] == true)}"> -->
<!-- 									<i class="fa table-icon fa-check green" th:title="#{label.valutato}"></i> -->
<!-- 								</td> -->
								<td th:if="${(showOnly or enableField) and evento.new}">
									<i class="fa table-icon fa-remove red" th:title="#{label.non_inserito}"></i>
								</td>
								<!-- TODO togliere se non serve più -->
<!-- 								<td th:if="${valutabile and (accreditamentoWrapper.eventiStati[__${evento.id}__] == false)}"> -->
<!-- 									<i class="fa table-icon fa-remove red" th:title="#{label.non_valutato}"></i> -->
<!-- 								</td> -->
							</th:block>
							<th:block th:if="${hasActionButtons}">
								<td th:if="${editabile}">
									<span style="white-space: nowrap">
										<!-- <a th:if="${!evento.new and __${pianoFormativo}__.pianoModificabile and editabileFull}" th:href="@{|${prefixURL}provider/${__${pianoFormativo}__.provider.id}/pianoFormativo/${__${pianoFormativo}__.id}/evento/${evento.id}/delete|}" class="btn btn-table double btn-danger"><span class="fa fa-trash"></span> <span th:text="#{label.elimina}"></span></a> -->

										<th:block th:if="${!evento.new and evento.isAttuato() and !#authentication.principal.isSegreteria()}">
											<span th:text="#{label.evento_non_modificabile_gia_attuato}"></span>
										</th:block>
										<th:block th:unless="${!evento.new and evento.isAttuato() and !#authentication.principal.isSegreteria()}">
											<button th:if="${!evento.new and __${pianoFormativo}__.pianoModificabile and editabileFull and !evento.isAttuato()}" class="btn btn-danger btn-table double" th:onclick="|confirmDeleteEventoPianoFormativoModal('${__${pianoFormativo}__.provider.id}','${__${pianoFormativo}__.id}','${evento.id}','@{|${prefixURL}|}','${evento.proceduraFormativa}','${evento.codiceIdentificativo}')|"><i class="fa fa-trash"></i><span th:text="#{label.elimina}"> </span></button>
											<a th:if="${evento.new or !__${pianoFormativo}__.pianoModificabile or !editabileFull or evento.isAttuato()}" class="btn btn-table double btn-danger disabled"><span class="fa fa-trash"></span> <span th:text="#{label.elimina}"></span></a>
											<a th:if="${!evento.new and idEditabili != null and !#lists.isEmpty(T(it.tredi.ecm.utils.Utils).getSubsetOfIdFieldEnum(idEditabili, evento.id,'EVENTO_PIANO_FORMATIVO'))}" th:href="@{|${prefixURL}provider/${__${pianoFormativo}__.provider.id}/pianoFormativo/${__${pianoFormativo}__.id}/evento/${evento.id}/edit|}" class="btn btn-primary btn-table double"><span class="fa fa-pencil"></span> <span th:text="#{label.modifica}">Modifica</span></a>
											<a th:if="${!evento.new and idEditabili == null and editabileFull}" th:href="@{|${prefixURL}provider/${__${pianoFormativo}__.provider.id}/pianoFormativo/${__${pianoFormativo}__.id}/evento/${evento.id}/edit|}" class="btn btn-primary btn-table double"><span class="fa fa-pencil"></span> <span th:text="#{label.modifica}">Modifica</span></a>
											<a th:if="${evento.new or (idIEditabili == null and !editabileFull) or (idEditabili != null and #lists.isEmpty(T(it.tredi.ecm.utils.Utils).getSubsetOfIdFieldEnum(idEditabili, evento.id,'EVENTO_PIANO_FORMATIVO')))}" class="btn btn-primary btn-table double disabled"><span class="fa fa-pencil"></span> <span th:text="#{label.modifica}">Modifica</span></a>
										</th:block>
									</span>
								</td>
								<!-- TODO togliere se non serve più -->
<!-- 								<td th:if="${valutabile}"> -->
<!-- 									<a th:href="@{|${prefixURL}provider/${__${pianoFormativo}__.provider.id}/pianoFormativo/${__${pianoFormativo}__.id}/evento/${evento.id}/validate|}" class="btn btn-primary btn-table single"><i class="fa" th:classappend="${accreditamentoWrapper.canValutaDomanda ? 'fa-pencil': 'fa-eye'}"></i> <span th:text="${accreditamentoWrapper.canValutaDomanda} ? #{label.valuta} : #{label.mostra}">Valuta/Mostra</span></a> -->
<!-- 								</td> -->
								<td th:if="${enableField}">
									<a th:href="@{|${prefixURL}provider/${__${pianoFormativo}__.provider.id}/pianoFormativo/${__${pianoFormativo}__.id}/evento/${evento.id}/enableField|}" class="btn btn-primary btn-table single"><i class="fa" th:classappend="${'fa-pencil'}"></i> <span th:text="#{label.abilita_campi}">Abilita campi</span></a>
								</td>
							</th:block>
						</tr>
					</tbody>
				</table>
		</th:block>
	</th:block>
</body>
</html>