<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<th:block th:fragment="showAll">
			<div class="row">


				<!-- riempito con ciclo di chiamate ajax per gli eventi del piano formativo -->
				<div class="x_panel">
              		<div class="x_title">
						<h2 style="display: inline" th:text="#{label.eventi_piano_formativo} + ' ' + ${accreditamentoWrapper.accreditamento.pianoFormativo?.annoPianoFormativo != null ? accreditamentoWrapper.accreditamento.pianoFormativo?.annoPianoFormativo : ''}">label.eventi_piano_formativo</h2>
						<h2 style="display: inline" th:if="${#lists.isEmpty(accreditamentoWrapper.accreditamento.pianoFormativo?.eventiPianoFormativo)}" class="red-italic" th:text="#{label.dati_non_inseriti}">label.dati_non_inseriti</h2>
						<ul class="nav navbar-right panel_toolbox" th:unless="${#lists.isEmpty(accreditamentoWrapper.accreditamento.pianoFormativo?.eventiPianoFormativo)}">
		                    <li><a class="link-collapse-piano"><i class="fa iconToggle fa-chevron-down"></i></a></li>
                  		</ul>
						<div class="clearfix"></div>
					</div>

					<th:block th:if="${accreditamentoWrapper.accreditamento.pianoFormativo != null and !#lists.isEmpty(accreditamentoWrapper.accreditamento.pianoFormativo.eventiPianoFormativo)}">
						<th:block th:each="evento, row : ${accreditamentoWrapper.accreditamento.pianoFormativo.eventiPianoFormativo}">
							<h2 th:text="#{label.evento} + ': ' + ${evento.titolo}">label.componente_comitato</h2>
							<div th:unless="${row.last}" class="divider-dashed"></div>
							<div th:id="evento+${evento.id}+Block" class="container-collapse" role="iterEvento" th:attr="data-valore-id=${evento.id}"></div>
						</th:block>
					</th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/
				function populateShowAllPiano(){

					var url;

					//ciclo sugli eventi del piano formativo grazie al campo data-valore-id precedentemente settato
					$('div[role=iterEvento]').each(function(index) {
 						url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/pianoFormativo/${accreditamentoWrapper.accreditamento.pianoFormativo?.id}/evento/|}]] + $(this).attr("data-valore-id") + "/show";
						$(this).load(url + ' #toModal');
					})
				}

				$('#showPianoAll-modal').one('shown.bs.modal', function (e) {
					//table responsive professioni/discipline show
					$('.datatable-responsive-discipline-evento').DataTable({
						"bFilter" : false,
						"bPaginate": false,
						"bInfo" : false,
					    "columnDefs": [
					    	{ "targets": [ '_all' ], "orderable": false },
					    	{ "targets": [ 0 ], "orderData": [ 0, 1 ] },
					    	{ "visible": false, "targets": 0 }
					    ],
					    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
					    "drawCallback": function ( settings ) {
				        	var api = this.api();
				            var rows = api.rows( {page:'current'} ).nodes();
				            var last=null;

				            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
				            	if ( last !== group ) {
				                	$(rows).eq( i ).before(
				                    	'<tr class="row-group"><td colspan="2">'+group+'</td></tr>'
				            		);
				                    last = group;
				                }
				            });
				        }

					});
				});

				//mostra nascondi div con informazioni
				$('.link-collapse-piano').on('click', function() {
					$(this).children().toggleClass("fa-chevron-down fa-chevron-up");
					$(this).parents(".x_title").siblings(".container-collapse").slideToggle("slow");
				});

			/*]]>*/
			</script>
		</th:block>
	</div>
</body>
</html>