<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.lista_piani_formativi}"></h2>
						<div class="pull-right buttons-header">
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/home|}"></a>
							<button type="button" onclick="openPianoFormativoNew()" class="btn btn-primary pull-right"
									th:if="${canInsertPianoFormativo}"
									data-toggle="modal" data-target=".modal-pianoFormativoNew"
									th:text="#{label.nuovo_piano_formativo}">label.nuovo_piano_formativo</button>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="pianoFormativo.annoPianoFormativo">
							<div class="col-xs-12">

								<div th:if="${#lists.isEmpty(pianoFormativoList)}">
									<h2 class=" text-center">
										<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessun_piano_formativo}">Non ci sono piani formativi!</i>
									</h2>

									<h2 class="alert alert-info with-margin-top text-center" th:text="#{label.messaggio_warning_no_piani_formativi}"></h2>

								</div>

								<div th:unless="${#lists.isEmpty(pianoFormativoList)}" class="accordion-container" th:each="pianoFormativo, row : ${pianoFormativoList}" th:with="pianoFormativoInner=${pianoFormativo}">
									<!-- start accordion -->
									<div class="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel">
											<a class="panel-heading" role="tab" th:id="${pianoFormativo.annoPianoFormativo}"
												data-toggle="collapse" data-parent=".accordion"
												th:href="${'#collapse'+pianoFormativo.annoPianoFormativo}" aria-expanded="true"
												th:attr="aria-controls=${'collapse'+pianoFormativo.annoPianoFormativo}">
												<span class="panel-title" th:text="${pianoFormativo.annoPianoFormativo}">2016</span>
												<span th:text="#{label.proveniente_da_accreditamento}" th:if="${#lists.contains(pianiIdFromAccreditamento, pianoFormativo.id)}"></span>
												<span th:text="#{label.piano_formativo_modificabile_fino_a(${#temporals.format(pianoFormativo.dataFineModifca,'dd/MM/yyyy')})}" th:unless="${#lists.contains(pianiIdFromAccreditamento, pianoFormativo.id)}"></span>
											</a>
											<div th:id="${'collapse'+pianoFormativo.annoPianoFormativo}" class="panel-collapse collapse"
												role="tabpanel" th:attr="aria-labelledby=${'heading'+pianoFormativo.annoPianoFormativo}">
												<div class="panel-body">
												
													<th:block th:include="pianoFormativo/pianoFormativoFragment :: pianoFormativo(pianoFormativoInner, null, ${pianoFormativo.pianoModificabile and !#lists.contains(pianiIdFromAccreditamento, pianoFormativo.id)} ? 'edit' : 'show', true, null)"></th:block>
													
													<th:block th:if="${pianoFormativo.pianoModificabile and !#lists.contains(pianiIdFromAccreditamento, pianoFormativo.id)}">
														<a th:text="#{label.aggiungi_evento}" class="btn btn-primary with-margin-top" th:href="@{|/provider/${pianoFormativo.provider.id}/pianoFormativo/${pianoFormativo.id}/evento/new|}"></a>
														<a th:text="#{label.elimina_tutti_eventi_da_pfa}" class="btn btn-danger with-margin-top" th:href="@{|/provider/${pianoFormativo.provider.id}/pianoFormativo/${pianoFormativo.id}/evento/deleteAll|}"></a>
														
														<div class="divider"></div>
														<!-- importazione eventi piano formativo -->
														<form class="form-horizontal form-label-left" th:action="@{|/provider/${pianoFormativo.provider.id}/pianoFormativo/${pianoFormativo.id}/importaEventiDaCSV|}"
																method="post" enctype="multipart/form-data" novalidate="novalidate">
															<div class="model-link" id="esempio_importEventi">
																<i class="fa fa-file-text"></i>
																<a id="importEventi_esempio_link" th:text="#{label.esempio_modello}" href="http://ecm.veneto.agenas.it/documenti/15.dichiarazione_esclusione_del_conflitto_di%20interessi_per_oggetto_sociale.pdf"></a>
															</div>
															
															<!-- <th:block th:include="fragments/allegati :: allegati(pianoFormativoWrapper, false, importEventiDaCsvFile, null, null, null, false, null, false)" ></th:block> -->
															<th:block th:include="fragments/allegatiext :: allegatiext(pianoFormativoWrapper, false, '*{T(it.tredi.ecm.dao.enumlist.FileEnum).FILE_EVENTI_PIANO_FORMATIVO}', importEventiDaCsvFile, null, null, null, false, null, false)" ></th:block>
															
															<div class="item form-group with-margin-top">
																<div class="col-xs-5"></div>
																<div class="col-xs-2 text-center">
																	<button type="submit" class="btn btn-primary single elabora-btn" onclick="spinCog();"><span th:text="#{label.elabora}"> </span> <i class="fa fa-cog"></i></button>
																</div>
															</div>
														</form>
													</th:block>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- finestra modale per pianoFormativoNew -->
					<div id="pianoFormativoNew-modal" class="modal fade modal-pianoFormativoNew" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
									</button>
									<h4 class="modal-title" id="myModalLabel" th:text="#{label.seleziona_anno}">Seleziona anno</h4>
								</div>
								<div class="modal-body">
									<div id="pianoFormativoNew" class="loaded-container">
										<!-- loaded -->
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary modal-btn" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
									<button type="submit" class="btn btn-success modal-btn" form="formPianoFormativoAnno" th:text="#{label.Ok}">Ok</button>
								</div>
							</div>
						</div>
					</div>

					<!-- finestra modale per eventoShow -->
					<div id="eventoShow-modal" class="modal fade modal-eventoShow" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
									</button>
									<h4 class="modal-title" id="myModalLabel" th:text="#{label.visualizza_evento_modal}">Visualizza evento</h4>
								</div>
								<div class="modal-body">
									<div id="eventoShow" class="loaded-container">
										<!-- loaded -->
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary modal-btn" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/
				$(document).ready(function() {

					//table responsive evento edit
					$('.datatable-responsive-evento-edit').DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
						"ordering" : false,
						"autoWidth": false,
						"columnDefs": [
							{ "targets": 1, "width": "210px", "sClass": "center" },
						],
					});

					//table responsive evento show
					$('.datatable-responsive-evento-show').DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
						"ordering" : false,
						"columnDefs": [ {
							"targets": 3,
							"width": "70px",
							"sClass": "center"
						} ],
					});

					//show accordion
					if([[${accordion}]] != null) {
						$('#collapse'+[[${accordion}]]).collapse('show');
					}

				});

				function openPianoFormativoNew() {
					var url = [[@{|/provider/${providerId}/pianoFormativo/new|}]]

					$("#pianoFormativoNew").load(url + ' #toModal', function() {
						$('.selectpicker').selectpicker();
					});

				}


				function openEventoShow(id, pianoFormativoId) {
					var url = [[@{|/provider/${providerId}/evento/|}]] + id + "/show";

					$("#eventoShow").load(url + ' #toModal', function() {

						//table responsive professioni/discipline show
						$('.datatable-responsive-discipline').DataTable({
							"bFilter" : false,
							"bPaginate": false,
							"bInfo" : false,
						    "columnDefs": [
						    	{ "targets": [ '_all' ], "orderable": false },
						    	{ "targets": [ 0 ], "orderData": [ 0, 1 ] },
						    	{ "visible": false, "targets": 0 }
						    ],
						    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
						    "drawCallback": function ( settings ) {
					        	var api = this.api();
					            var rows = api.rows( {page:'current'} ).nodes();
					            var last=null;

					            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
					            	if ( last !== group ) {
					                	$(rows).eq( i ).before(
					                    	'<tr class="row-group"><td colspan="2">'+group+'</td></tr>'
					            	);
					                    last = group;
					                }
					            });
					        }
						});

					});

				}
				
				function spinCog() {
					$(".fa-cog").addClass("fa-spin");
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>