<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.modifica_dati_anagrafici(${anagraficaWrapper.anagrafica.nome}, ${anagraficaWrapper.anagrafica.cognome})}">Modifica dati anagrafici di Tizio Caio</h2>
						<div class="pull-right buttons-header">
							<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/provider/${anagraficaWrapper.anagrafica.provider.id}/anagrafica/list|}"></a>
						</div>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="anagrafica/anagraficaFragment :: anagrafica('show')"></th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>