<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">

		<!--  modale di selezione lookup o nuovo -->
		<div id="scelta-modal" class="modal fade modal-scelta" data-model-index="1" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel" th:text="#{label.scelta_modalita}">Scelta modalità</h4>
					</div>
					<div class="modal-body">
						<button type="button" class="btn btn-success btn-scelta btn-first" id="trova_anagrafica" data-toggle="modal" data-target=".modal-lookup"><span class="text-btn-scelta" th:text="#{label.seleziona_anagrafica}">Seleziona anagrafica esistente</span></button>
						<a class="btn btn-success btn-scelta btn-last" id="nuova_anagrafica" href=""><span class="text-btn-scelta" th:text="#{label.inserisci_nuova_anagrafica}">Inserisci nuova anagrafica</span></a>
					</div>
				</div>
			</div>
		</div>

		<!-- finestra modale di lookup delle anagrafiche -->
		<div id="persona-modal" class="modal fade modal-lookup" data-model-index="2" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel2" th:text="#{label.cerca_persona}">Cerca anagrafica</h4>
					</div>
					<div class="modal-body">
						<table id="tabella-modale" class="datatable-responsive-search table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.codice_fiscale}">Codice fiscale</th>
									<th th:text="#{label.nome}">Nome</th>
									<th th:text="#{label.cognome}">Cognome</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- popolata con una request ajax -->
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
					</div>
				</div>
			</div>
		</div>

		<!-- modale conferma pianoFormativo -->
		<div id="confirmPiano-modal" class="modal fade modal-confirmPiano"
			data-model-index="1" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="myModalLabel"
							th:text="#{label.attenzione}">Attenzione!</h3>
					</div>
					<div class="modal-body">

						<div class="panel-title" th:text="#{label.conferma_inserimento_piano}"></div>

					</div>
					<div class="modal-footer">
						<a th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/insertPianoFormativo|}" class="btn btn-success pull-right" th:text="#{label.Ok}">Ok</a>
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
					</div>
				</div>
			</div>
		</div>

		<!-- modale conferma integrazione/preavviso rigetto -->
		<div th:if="${accreditamentoWrapper.canSendIntegrazione}" id="fileIntegrazione-modal" class="modal fade modal-fileIntegrazione"
			data-model-index="1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="myModalLabel"
							th:text="#{label.inserimento_file_note}">label.inserimento_file_note</h3>
					</div>
					<div class="modal-body">
						<form id="formFileIntegrazione" class="form-horizontal"
							th:action="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/sendIntegrazione|}"
							method="post" enctype="multipart/form-data"
							novalidate="novalidate">

							<th:block th:if="${accreditamentoWrapper.accreditamento.isIntegrazione()}">
								<th:block th:include="fragments/allegati :: allegati(accreditamentoWrapper, false, noteOsservazioniIntegrazione, null, null, null, false, null, false)" ></th:block>
							</th:block>
							<th:block th:if="${accreditamentoWrapper.accreditamento.isPreavvisoRigetto()}">
								<th:block th:include="fragments/allegati :: allegati(accreditamentoWrapper, false, noteOsservazioniPreavvisoRigetto, null, null, null, false, null, false)" ></th:block>
							</th:block>

							<input id="submitButtonModal" type="submit" style="display: none;" />

						</form>

					</div>
					<div class="modal-footer">
						<label for="submitButtonModal" class="btn btn-success pull-right" th:text="#{label.salva}">Salva</label>
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
					</div>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-xs-12">

				<div class="x_panel">
					<div class="x_title x_menu">
						<h2 th:text="${#messages.msg('label.provider_accreditamento') + ' ' + accreditamentoWrapper.provider.denominazioneLegale + ' (' + accreditamentoWrapper.provider.codiceFiscale + ') ' + #messages.msg('label.tipo_provider') + ' ' + accreditamentoWrapper.provider.tipoOrganizzatore.gruppo}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
  								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li th:if="${accreditamentoWrapper.canSendIntegrazione}"><a th:text="#{label.invia_integrazione}" data-toggle="modal" data-target=".modal-fileIntegrazione"></a></li>
									<li th:if="${accreditamentoWrapper.canSend}"><a th:text="#{label.invia_domanda}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/send|}"></a></li>
									<li class="divider actions" th:if="${accreditamentoWrapper.canSendIntegrazione or accreditamentoWrapper.canSend}"></li>
									<li><a th:text="#{label.torna_in_visualizzazione}" onclick="switchMode('show')"></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.accreditamento_titolo(Modifica, ${accreditamentoWrapper.accreditamento.tipoDomanda.nome},${accreditamentoWrapper.accreditamento.stato.nome})}">Provvisorio - bozza</h2>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="accreditamento/accreditamentoFragment :: accreditamento('edit')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

			  	var tabSelected = "tab1";
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					tabSelected = e.target.id;
					console.log(tabSelected);
				});

				function switchMode(mode) {
					var param = "?tab=" + tabSelected;
					var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/|}]] + mode + param;
					location.href = url;
				}

				function setEditURLs(ruolo) {
					/*$('#nuova_anagrafica').prop('href', [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/persona/new?ruolo=|}]]+ruolo);*/
					$('#nuova_anagrafica').prop('href', [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/persona/|}]] + ruolo + '/setAnagrafica');
					var table = $('#tabella-modale').DataTable();
					table.clear();
					urlGet = [[@{/provider/}]] + [[${accreditamentoWrapper.provider.id}]] + "/anagraficaList";
					$.get( urlGet, function(data){
						var start = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/persona/|}]];

						for(var item = 0; item < data.length; item++){
							var obj = data[item];
							table.row.add([
								obj.codiceFiscale,
								obj.nome,
								obj.cognome,
								'<a class="btn btn-primary btn-lookup" href="' + start + ruolo + '/setAnagrafica?anagraficaId=' + obj.id + '">'+[[#{label.seleziona}]]+'</a>'
							]).draw(false);
						}
					});
				}

				$(document).ready(function() {

					$('a[data-toggle="tab"]').on('click', function (e) {
						// tab selezionata
						var tab = $(e.target).attr('id');

						if (tab == "tab2") {
							// come richiesto il primo check è sulla sede legale
							if (![[${accreditamentoWrapper.sedeLegaleStato}]]) {
								var exists = false;
								//se è già aperto il pnotify chiama l'animate (attention seeker)
						        $(".ui-pnotify-text").each(function() {
						            if ($(this).html() == [[#{message.inserire_almeno_sede_legale}]]) {
						                exists = true;
						                animate($(this).parent().parent());
						            }
						        });
								//altrimenti apre un nuovo pnotify
						        if (!exists) {
						        	sendNotifyStatic([[#{message.warning}]], [[#{message.inserire_almeno_sede_legale}]], "warning");
						        }
						        return false;
							} else {
								// check se la sezione è stata compilata (procede in caso affermativo, nega l'apertura della tab e manda un warn altrimenti)
								// controlla anche se il warning è già aperto e in caso lo anima
								if (![[${accreditamentoWrapper.sezione1Stato}]]) {
									var exists = false;
									//se è già aperto il pnotify chiama l'animate (attention seeker)
							        $(".ui-pnotify-text").each(function() {
							            if ($(this).html() == [[#{message.compilare_tab1}]]) {
							                exists = true;
							                animate($(this).parent().parent());
							            }
							        });
									//altrimenti apre un nuovo pnotify
							        if (!exists) {
							        	sendNotifyStatic([[#{message.warning}]], [[#{message.compilare_tab1}]], "warning");
							        }
							        return false;
								} else {
									//check se non sia stato inserito alcun responsabile (altrimenti warn legale non modificabile)
									if ([[${accreditamentoWrapper.responsabileSegreteria == null} and
									      ${accreditamentoWrapper.responsabileAmministrativo == null} and
									      ${accreditamentoWrapper.responsabileSistemaInformatico == null} and
									      ${accreditamentoWrapper.responsabileQualita == null}]]) {
										var exists = false;
								        $(".ui-pnotify-text").each(function() {
								            if ($(this).html() == [[#{message.legale_non_piu_modificabile}]]) {
								                exists = true;
								                animate($(this).parent().parent());
								            }
								        });
								        if (!exists) {
								        	sendNotifyStatic([[#{message.warning}]], [[#{message.legale_non_piu_modificabile}]], "warning");
								        }
									}
									//in ogni caso non è bloccante
									return true;
								}
							}
						}
						if (tab == "tab3") {
							if([[${accreditamentoWrapper.comitatoScientificoErrorMessage != '' && accreditamentoWrapper.comitatoScientificoErrorMessage != null}]]) {
								var exists = false;
						        $(".ui-pnotify-text").each(function() {
						            if ($(this).html() == [[#{${(accreditamentoWrapper.comitatoScientificoErrorMessage != '' and accreditamentoWrapper.comitatoScientificoErrorMessage != null) ? accreditamentoWrapper.comitatoScientificoErrorMessage : 'message.errore_eccezione'}}]]) {
						                exists = true;
						                animate($(this).parent().parent());
						            }
						        });
						        if (!exists) {
						        	sendNotifyStatic([[#{message.warning}]], [[#{${(accreditamentoWrapper.comitatoScientificoErrorMessage != '' and accreditamentoWrapper.comitatoScientificoErrorMessage != null) ? accreditamentoWrapper.comitatoScientificoErrorMessage : 'message.errore_eccezione'}}]], "warning");
						        }
						        return false;
							}
							else {
								if (![[${accreditamentoWrapper.sezione2Stato}]]) {
									var exists = false;
							        $(".ui-pnotify-text").each(function() {
							            if ($(this).html() == [[#{message.compilare_tab2}]]) {
							                exists = true;
							                animate($(this).parent().parent());
							            }
							        });
							        if (!exists) {
							        	sendNotifyStatic([[#{message.warning}]], [[#{message.compilare_tab2}]], "warning");
							        }
							        return false;
								}
								else return true;
							}
						}
						if (tab == "tab4") {
							if (![[${accreditamentoWrapper.completa}]]) {
								var exists = false;
						        $(".ui-pnotify-text").each(function() {
						            if ($(this).html() == [[#{message.compilare_altre_tab}]]) {
						                exists = true;
						                animate($(this).parent().parent());
						            }
						        });
						        if (!exists) {
						        	sendNotifyStatic([[#{message.warning}]], [[#{message.compilare_altre_tab}]], "warning");

						        }
						        return false;
							}
							else return true;
						}
					});
				});
			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>