<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>

		<!-- modale conferma chiusura procedimento -->
<!-- 	<div id="conclusione-conferma" class="modal fade modal-confirm-conclusione" -->
<!-- 		data-model-index="1" role="dialog"> -->
<!-- 		<div class="modal-dialog modal-sm"> -->
<!-- 			<div class="modal-content"> -->
<!-- 				<div class="modal-header"> -->
<!-- 					<h3 class="modal-title" id="myModalLabel" -->
<!-- 						th:text="#{label.attenzione}">Attenzione!</h3> -->
<!-- 				</div> -->
<!-- 				<div class="modal-body"> -->

<!-- 					<div class="panel-title" th:text="#{label.conferma_conclusione_del_procedimento}"></div> -->

<!-- 				</div> -->
<!-- 				<div class="modal-footer"> -->
<!-- 					<a th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/provider/${accreditamentoWrapper.provider.id}/conclusioneProcedimento|}" class="btn btn-success pull-right" th:text="#{label.Ok}">Ok</a> -->
<!-- 					<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->


	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="${label == null} ? #{label.accreditamenti_lista} : #{__${label}__}">Lista degli
							accreditamenti</h2>
						<div class="pull-right buttons-header">
<!-- 							<a class="btn btn-primary pull-right" -->
<!-- 									th:if="${((#authentication.principal.account.isProvider() AND canProviderCreateAccreditamentoProvvisorio) OR #authentication.principal.account.isSegreteria()) AND providerId != null}" -->
<!-- 									th:href="@{|/provider/${providerId}/accreditamento/${T(it.tredi.ecm.dao.enumlist.AccreditamentoTipoEnum).PROVVISORIO}/new|}" -->
<!-- 									th:text="#{label.nuova_domanda_provvisoria}">label.nuova_domanda_provvisoria</a> -->
<!-- 							<a class="btn btn-primary pull-right" -->
<!-- 									th:if="${((#authentication.principal.account.isProvider() AND canProviderCreateAccreditamentoStandard) OR #authentication.principal.account.isSegreteria()) AND providerId != null}" -->
<!-- 									th:href="@{|/provider/${providerId}/accreditamento/${T(it.tredi.ecm.dao.enumlist.AccreditamentoTipoEnum).STANDARD}/new|}" -->
<!-- 									th:text="#{label.nuova_domanda_standard}">label.nuova_domanda_standard</a> -->
							<div class="dropdown pull-right">
  								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" th:if="${((#authentication.principal.account.isProvider()
  									AND (canProviderCreateAccreditamentoProvvisorio OR canProviderCreateAccreditamentoStandard))
  									OR #authentication.principal.account.isSegreteria()) AND providerId != null}">
									<span th:text="#{label.nuova_domanda}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a th:if="${((#authentication.principal.account.isProvider() AND canProviderCreateAccreditamentoProvvisorio) OR #authentication.principal.account.isSegreteria()) AND providerId != null}"
										th:href="@{|/provider/${providerId}/accreditamento/${T(it.tredi.ecm.dao.enumlist.AccreditamentoTipoEnum).PROVVISORIO}/new|}"
										th:text="#{label.nuova_domanda_provvisoria}">label.nuova_domanda_provvisoria</a></li>
									<li><a th:if="${((#authentication.principal.account.isProvider() AND canProviderCreateAccreditamentoStandard) OR #authentication.principal.account.isSegreteria()) AND providerId != null}"
										th:href="@{|/provider/${providerId}/accreditamento/${T(it.tredi.ecm.dao.enumlist.AccreditamentoTipoEnum).STANDARD}/new|}"
										th:text="#{label.nuova_domanda_standard}">label.nuova_domanda_standard</a></li>
								</ul>
							</div>
							<a class="btn btn-primary pull-right"
								th:href="${providerId != null and !#authentication.principal.account.isProviderVisualizzatore()} ? @{|/provider/list|} : @{/home}"
								th:text="#{label.indietro}">Indietro</a>
<!-- 							<a class="btn btn-danger pull-right" -->
<!-- 								th:if="${#authentication.principal.account.isSegreteria()}" -->
<!-- 								th:text="#{label.conclusione_del_procedimento}" data-toggle="modal" data-target=".modal-confirm-conclusione"></a> -->
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table th:unless="${#lists.isEmpty(accreditamentoList)}" id="datatable-accreditamento"
							class="table table-striped table-bordered dt-responsive nowrap datatable-responsive-list-accreditamento"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th th:text="#{label.accreditamento_tipo}">Tipo</th>
									<th th:text="#{label.inserito_da}">inserito_da</th>
									<th th:text="#{label.codiceFiscaleOrIVAProvider}">cf/piva</th>
									<th th:text="#{label.gruppo}">Gruppo di appartenenza</th>
									<th th:text="#{label.accreditamento_stato}">Stato</th>

									<th th:text="#{label.accreditamento_validazione}">Data invio</th>
									<th th:text="#{label.accreditamento_scadenza}">Scadenza</th>
									<th th:text="#{label.accreditamento_data_inizio}">Scadenza</th>
									<th th:text="#{label.accreditamento_fine}">Fine accreditamento</th>

									<th th:if="${mappaCarica != null}" th:text="#{label.lista_valutatori}">Lista Valutatori</th>
									<th th:if="${#authentication.principal.isReferee() and mappaScadenze != null}" th:text="#{label.data_ora_scadenza_valutazione}">scadenza</th>
								</tr>
							</thead>
							<tbody th:unless="${#lists.isEmpty(accreditamentoList)}" th:remove="all-but-first">
								<tr th:each="accreditamento : ${accreditamentoList}">
									<td><a th:href="@{|/accreditamento/${accreditamento.id}/show|}" th:text="${accreditamento.tipoDomanda.nome}">Provvisorio/Standard</a></td>
									<td th:text="${accreditamento.provider.denominazioneLegale}">Provvisorio/Standard</td>
									<td>
										<span th:if="${accreditamento.provider.codiceFiscale != null and !#strings.isEmpty(accreditamento.provider.codiceFiscale)}" th:text="${accreditamento.provider.codiceFiscale}"></span>
										<span th:if="${accreditamento.provider.partitaIva != null and !#strings.isEmpty(accreditamento.provider.partitaIva)}" th:text="${'(' + accreditamento.provider.partitaIva + ')'}"></span>
									</td>
									<td th:text="${accreditamento.provider.gruppo}">informatica</td>
									<td>
										<div th:text="${accreditamento.stato.nome}">Accettata</div>
										<div th:if="${accreditamento.stato == T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).INTEGRAZIONE}" th:text="${'entro il ' + #temporals.format(accreditamento.dataIntegrazioneInizio.plusDays(accreditamento.giorniIntegrazione), 'dd/MM/yyyy')}"></div>
										<div th:if="${accreditamento.stato == T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).PREAVVISO_RIGETTO}" th:text="${'entro il ' + #temporals.format(accreditamento.dataPreavvisoRigettoInizio.plusDays(accreditamento.giorniPreavvisoRigetto), 'dd/MM/yyyy')}"></div>
									</td>

									<td th:text="${accreditamento.dataInvio == null} ? '' : ${#temporals.format(accreditamento.dataInvio, 'dd/MM/yyyy')}">22/05/2014</td>
									<td th:text="${accreditamento.dataScadenza  == null} ? '' : ${#temporals.format(accreditamento.dataScadenza, 'dd/MM/yyyy')}">24/05/2016</td>
									<td th:text="${accreditamento.dataInizioAccreditamento == null} ? '' : ${#temporals.format(accreditamento.dataInizioAccreditamento, 'dd/MM/yyyy')}"></td>
									<td th:text="${accreditamento.dataFineAccreditamento == null} ? '' : ${#temporals.format(accreditamento.dataFineAccreditamento, 'dd/MM/yyyy')}"></td>

									<td th:if="${mappaCarica != null}">
										<div th:unless="${#sets.isEmpty(mappaCarica.get(accreditamento.id))}" th:each="valutatore, row : ${mappaCarica.get(accreditamento.id)}" class="valutatore" th:text="${valutatore.isSegreteria() ? 'Segreteria ECM - ' : 'Referee - '} + ${valutatore.getFullName()}"></div>
										<div th:if="${#sets.isEmpty(mappaCarica.get(accreditamento.id))}" th:text="#{label.da_prendere_in_carica}" class="danger"></div>
									</td>
									<td th:if="${#authentication.principal.isReferee() and mappaScadenze != null}" th:text="${mappaScadenze.get(accreditamento.id) != null ? #temporals.format(mappaScadenze.get(accreditamento.id), 'dd/MM/yyyy - HH:mm') : 'N/D'}"></td>
								</tr>
							</tbody>
						</table>
						<div th:if="${#lists.isEmpty(accreditamentoList)}">
							<h2 class="col-xs-12 text-center">
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span> <i th:text="#{label.nessuna_domanda_accreditamento}">Non ci sono domande di accreditamento!</i>
							</h2>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

			    $(document).ready(function() {
			    	$('.datatable-responsive-list-accreditamento').DataTable({
						"bFilter" : false,
						"bInfo" : false,
						"bPaginate" : false,
					});
			    });

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>