<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">

				<!-- modale modifica verbale  -->
				<th:block th:if="${#authentication.principal.hasProfile('SEGRETERIA')
					and accreditamentoWrapper.accreditamento.isValutazioneSulCampo()
					and accreditamentoWrapper.accreditamento.isStandard()}">
					<div id="verbale-edit-modal" class="modal fade modal-verbale-edit"
						data-model-index="1" role="dialog">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">×</span>
									</button>
									<h4 class="modal-title" id="myModalLabel"
										th:text="#{label.modifica_verbale_valutazione_sul_campo}"></h4>
								</div>
								<div class="modal-body">
									<form id="formVerbaleEdit" class="form-horizontal"
										th:action="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/verbale/edit|}"
										method="post" enctype="multipart/form-data"
										novalidate="novalidate">

										<!-- GIORNO -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.giorno')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="dataVerifica">
												<span th:text="#{label.data_verifica_loco}">Data della verifica in loco</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group datapick">
												<input type="text" id="dataVerifica" class="form-control"
													name="data" th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.giorno}" />
												<span class="input-group-addon" id="dataInizio" onclick="$('#dataVerifica').click()">
						 							<i class="glyphicon glyphicon-calendar"></i>
												</span>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.giorno')}" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.giorno}"></div>
										</div>

										<div class="divider"></div>

										<!-- BLOCCO SELEZIONE VALUTATORI -->
										<!-- componente crecm -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="valutatoreCRECM">
												<span th:text="#{label.componente_crec_team_leader}">Componente CRECM - Team Leader</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="valutatoreCRECM"
													class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader}"
													data-width="100%" data-style="btn-primary"
													data-size="10"
													data-hide-disabled="false"
													title="Seleziona il Team Leader...">
													<option
														th:each="componente, row: ${accreditamentoWrapper.componentiCRECM}"
														th:value="${componente.id}"
														th:text="${componente.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader}"></div>
										</div>
										<!-- osservatore regionale -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="osservatoreRegionale">
												<span th:text="#{label.osservatore_regionale}">Osservatore Regionale</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="osservatoreRegionale"
													class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale}"
													data-width="100%" data-style="btn-primary"
													data-size="10"
													data-hide-disabled="false"
													title="Seleziona l'Osservatore Regionale...">
													<option
														th:each="osservatore, row: ${accreditamentoWrapper.osservatoriRegionali}"
														th:value="${osservatore.id}"
														th:text="${osservatore.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale}"></div>
										</div>
										<!-- componenti segreteria -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="componentiSegreteria">
												<span th:text="#{label.componenti_segreteria}">Componenti Segreteria</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="componentiSegreteria" class="selectpicker multi"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria}"
													multiple="multiple" data-width="100%"
													data-style="btn-primary" data-actions-box="true"
													data-size="10" title="Seleziona i Componenti della Segreteria..."
													th:remove="all-but-first">
													<option th:each="segretario, row: ${accreditamentoWrapper.componentiSegreteria}"
														th:value="${segretario.id}" th:text="${segretario.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria}"></div>
										</div>
										<!-- referente informatico -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="referenteInformatico">
												<span th:text="#{label.referente_informatico}">Referente Informatico</span>
												<span class="required" th:if="${#sets.contains(accreditamentoWrapper.accreditamento.datiAccreditamento.procedureFormative, T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FAD)}">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="referenteInformatico" class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico}"
													data-width="100%"
													data-style="btn-primary"
													data-size="10" title="Seleziona il Referente Informatico..."
													th:remove="all-but-first">
													<option th:each="referente, row: ${accreditamentoWrapper.referentiInformatici}"
														th:value="${referente.id}" th:text="${referente.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico}"></div>
										</div>
										<!-- SEDE PROVIDER (scelta tra le sedi del provider) -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.sede')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="sede">
												<span th:text="#{label.sede_valutazione}">Sede della Valutazione</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="sede" class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.sede}"
													data-width="100%"
													data-style="btn-primary"
													data-size="10" title="Seleziona la sede..."
													th:remove="all-but-first">
													<option th:each="sede, row: ${accreditamentoWrapper.sediProvider}"
														th:value="${sede.id}" th:text="${sede.getAddressName()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.sede')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.sede}"></div>
										</div>

										<input id="submitButtonModalVerbale" type="submit" style="display: none;" />
										<input type="hidden" th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.accreditamento}" />

									</form>
								</div>
								<div class="modal-footer">
	          						<label for="submitButtonModalVerbale" class="btn btn-success pull-right" th:text="#{label.salva}">Salva</label>
	          						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
	        					</div>
							</div>
						</div>
					</div>
				</th:block>

				<!-- modale showPianoFormativoAll -->
				<div id="showPianoAll-modal" class="modal fade modal-showPianoAll"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riepilogo_piano_formativo}">Riepilogo piano formativo</h4>
							</div>
							<div class="modal-body">

								<!-- fragment show all -->
								<th:block th:include="pianoFormativo/pianoFormativoShowAll :: showAll"></th:block>

							</div>
						</div>
					</div>
				</div>

				<!-- modale showAll -->
				<div id="showAll-modal" class="modal fade modal-showAll"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riepilogo_accreditamento(${accreditamentoWrapper.accreditamento.tipoDomanda}, ${accreditamentoWrapper.accreditamento.stato.nome})}">Riepilogo
									di tutto l'accreditamento</h4>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" th:text="#{label.apri_tutte}" onclick="openAll()"></button>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" style="display: none" th:text="#{label.chiudi_tutte}" onclick="closeAll()"></button>
							</div>
							<div class="modal-body">

								<!-- fragment show all -->
								<th:block th:include="accreditamento/accreditamentoShowAll :: showAll"></th:block>

							</div>
						</div>
					</div>
				</div>

				<!-- modale reassign -->
				<div th:if="${accreditamentoWrapper.canAssegnaNuovoGruppo}" id="reassign-modal" class="modal fade modal-reassign"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riassegna_domanda_accreditamento}">Riassegna la domanda di accreditamento</h4>
							</div>
							<div class="modal-body">
								<form id="formRiassegnaGruppoCrecm" class="form-horizontal"
									th:action="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/reassignEvaluation|}"
									method="post" enctype="multipart/form-data"
									novalidate="novalidate">

									<!-- input hidden per preservare il numero dei referee da riassegnare -->
									<input type="hidden" th:field="${accreditamentoWrapper.refereeDaRiassegnare}" />

									<div>
										<h4 th:text="#{label.seleziona_referee_necessari(${accreditamentoWrapper.refereeDaRiassegnare})}"></h4>
										<div class="item modalAlert" th:classappend="${#fields.hasErrors('accreditamentoWrapper.refereeGroup')} ? 'bad'">
											<select id="referee"
												class="selectpicker required"
												data-width="100%" data-style="btn-primary"
												th:attr="data-max-options=${accreditamentoWrapper.refereeDaRiassegnare}"
												multiple="multiple"
												th:field="${accreditamentoWrapper.refereeGroup}"
												data-actions-box="false" data-size="10"
												data-hide-disabled="false"
												title="Seleziona i referee..."
												th:remove="all-but-first">
												<option
													th:each="referee, row: ${refereeList}"
													th:value="${referee.id}"
													th:text="${referee.nome + ' ' + referee.cognome}">
												</option>
											</select>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.refereeGroup')}" class="alert" th:errors="${accreditamentoWrapper.refereeGroup}"></div>
										</div>
									</div>

									<input id="submitButtonModal" type="submit" style="display: none;" />

								</form>
							</div>
							<div class="modal-footer">
          						<label for="submitButtonModal" class="btn btn-success pull-right" th:text="#{label.salva}">Salva</label>
          						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
        					</div>
						</div>
					</div>
				</div>

				<!-- Modale per riepilogo valutazione -->
				<th:block th:if="${accreditamentoWrapper.canShowValutazioneRiepilogo}" th:include="fragments/modaleRiepilogoValutazioni :: modaleRiepilogoValutazioni"></th:block>

				<div class="x_panel">
					<div class="x_title x_menu">
						<h2 th:text="${#messages.msg('label.provider_accreditamento') + ' ' + accreditamentoWrapper.provider.denominazioneLegale + ' (' + accreditamentoWrapper.provider.id + ') ' + #messages.msg('label.tipo_provider') + ' ' + accreditamentoWrapper.provider.tipoOrganizzatore.gruppo}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
  								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" th:if="${#authentication.principal.isSegreteria()}">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<!-- <li><a th:if="${accreditamentoWrapper.canShowValutazioneRiepilogo}" type="button" class="ajaxCallShowAllValutazioni" th:text="#{label.mostra_riepilogo_valutazioni}" data-toggle="modal" data-target=".modal-showAllValutazioni"></a></li> -->
									<li><a th:text="#{label.modifica}" onclick="switchMode('edit')"></a></li>
									<li><a th:if="${accreditamentoWrapper.canShowValutazione and !accreditamentoWrapper.canValutaDomanda}" th:text="#{label.mostra_valutazione}" onclick="switchMode('validate')"></a></li>
									<li><a th:if="${accreditamentoWrapper.canValutaDomanda}" th:text="#{label.valuta_domanda}" onclick="switchMode('validate')"></a></li>
									<li class="divider actions" th:if="${accreditamentoWrapper.canEnableField or accreditamentoWrapper.canPrendiInCarica or accreditamentoWrapper.canPresaVisione or accreditamentoWrapper.canAssegnaNuovoGruppo}"></li>
									<li><a th:if="${accreditamentoWrapper.canEnableField}" th:text="#{label.abilita_id_editabili}" onclick="switchMode('enableField')"></a></li>
									<li><a th:if="${accreditamentoWrapper.canPrendiInCarica}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/takeCharge|}" th:text="#{label.prendi_in_carica}"></a></li>
									<li><a th:if="${accreditamentoWrapper.canPresaVisione}" th:text="#{label.presa_visione}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/presaVisione|}"></a></li>
									<li><a th:if="${accreditamentoWrapper.canAssegnaNuovoGruppo}" th:text="#{label.assegna_nuovo_gruppo}" data-toggle="modal" data-target=".modal-reassign"></a></li>
								</ul>
							</div>

							<div class="dropdown pull-right">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
									<span th:text="#{label.menu_riepiloghi}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a class="ajaxCallShowAll" th:text="#{label.mostra_riepilogo}" data-toggle="modal" data-target=".modal-showAll"></a></li>
  									<li><a class="ajaxCallShowAllValutazioni" th:text="#{label.mostra_riepilogo_valutazioni}" data-toggle="modal" data-target=".modal-showAllValutazioni" th:if="${accreditamentoWrapper.canShowValutazioneRiepilogo}" type="button"></a></li>
  									<li><a class="ajaxCallShowAllPiano" th:text="#{label.mostra_riepilogo_piano_formativo}" data-toggle="modal" data-target=".modal-showPianoAll"></a></li>
								</ul>
							</div>

							<!-- menù a pulsanti separati per il provider -->
							<th:block th:if="${#authentication.principal.isProvider()}">
								<a th:if="${accreditamentoWrapper.accreditamento.isBozza() or
									accreditamentoWrapper.accreditamento.isIntegrazione() or
									accreditamentoWrapper.accreditamento.isPreavvisoRigetto()}" class="btn btn-success" th:text="#{label.modifica}" onclick="switchMode('edit')"></a>
							</th:block>
							<!-- menù a pulsanti separati per il referee -->
							<th:block th:if="${#authentication.principal.isReferee()}">
								<a th:if="${accreditamentoWrapper.canValutaDomanda}" class="btn btn-success" th:text="#{label.valuta_domanda}" onclick="switchMode('validate')"></a>
								<a th:if="${accreditamentoWrapper.canShowValutazione and !accreditamentoWrapper.canValutaDomanda}" class="btn btn-success" th:text="#{label.mostra_valutazione}" onclick="switchMode('validate')"></a>
							</th:block>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="x_panel">
					<div class="x_title">
						<h2
							th:text="#{label.accreditamento_titolo(#{label.visualizzazione}, ${accreditamentoWrapper.accreditamento.tipoDomanda.nome},${accreditamentoWrapper.accreditamento.stato.nome})}">Provvisorio
							- bozza</h2>
						<div class="clearfix"></div>
					</div>
					<th:block
						th:include="accreditamento/accreditamentoFragment :: accreditamento('show')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				var days;
				var months;
				var date;

			    $(document).ready(function() {
			    	if([[${reassignErrors}]]) {
						$("#reassign-modal").modal("show");
					}

			    	if([[${verbaleErrors}]]) {
			    		$("#verbale-edit-modal").modal("show");
			    	}

			    	$('#componentiSegreteria').selectpicker({
						selectAllText : 'Seleziona tutti',
						deselectAllText : 'Deseleziona tutti',
					});

			    	//setta i nomi dei giorni e dei mesi a seconda delle label i18n anche per le date intermedie
					days = getDayNamesShort();
					months = getMonthNames();

			    	date = $('#dataVerifica').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        parentEl: $("#verbale-edit-modal"),
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })

			    });

			  	var tabSelected = "tab1";
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					tabSelected = e.target.id;
					console.log(tabSelected);
				});

				function switchMode(mode) {
					var param = "?tab=" + tabSelected;
					var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/|}]] + mode + param;
					location.href = url;
				}

				function showModalVerificaIntegrazioni(){
					var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/|}]] + 'approvaIntegrazione';
					location.href = url;
				}

				$('.ajaxCallShowAll').one("click", populateShowAll);
				if([[${accreditamentoWrapper.canShowValutazioneRiepilogo == true}]]) {
				 	$('.ajaxCallShowAllValutazioni').one("click", populateShowAllValutazioni);
			    }
				$('.ajaxCallShowAllPiano').one("click", populateShowAllPiano);

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>