<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">

				<!-- modale riepilogo  -->
				<div id="showAll-modal" class="modal fade modal-showAll"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riepilogo_accreditamento(${accreditamentoWrapper.accreditamento.tipoDomanda}, ${accreditamentoWrapper.accreditamento.stato.nome})}">Riepilogo
									di tutto l'accreditamento</h4>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" th:text="#{label.apri_tutte}" onclick="openAll()"></button>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" style="display: none" th:text="#{label.chiudi_tutte}" onclick="closeAll()"></button>
							</div>
							<div class="modal-body">

								<!-- fragment show all -->
								<th:block th:include="accreditamento/accreditamentoShowAll :: showAll"></th:block>

							</div>


						</div>
					</div>
				</div>

				<!-- modale riepilogo valutazione -->
				<th:block th:include="fragments/modaleRiepilogoValutazioni :: modaleRiepilogoValutazioni"></th:block>

				<!-- modale storico -->
				<th:block th:include="fragments/modaleStoricoValutazioni :: modaleStoricoValutazioni"></th:block>

				<!-- modale conferma valutazione  -->
				<div id="confirm-modal" class="modal fade modal-confirm"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.conferma_valutazione}"></h4>
							</div>
							<div class="modal-body">
								<form id="formValutazioneComplessiva" class="form-horizontal"
									th:action="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/confirmEvaluation|}"
									method="post" enctype="multipart/form-data"
									novalidate="novalidate">

									<h4 th:text="#{label.inserisci_valutazione_complessiva}"></h4>
									<div class="item modalAlert form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.valutazioneComplessiva')} ? 'bad'">
										<textarea th:field="${accreditamentoWrapper.valutazioneComplessiva}"></textarea>
										<div th:if="${#fields.hasErrors('accreditamentoWrapper.valutazioneComplessiva')}" class="alert" th:errors="${accreditamentoWrapper.valutazioneComplessiva}"></div>
									</div>

									<th:block th:if="${#authentication.principal.hasProfile('SEGRETERIA')
										and accreditamentoWrapper.accreditamento.isValutazioneSegreteriaAssegnamento()
										and accreditamentoWrapper.accreditamento.isProvvisorio()}">

										<div class="divider"></div>

										<div>
											<h4 th:text="#{label.seleziona_referee(${numeroReferee})}"></h4>
											<div class="item modalAlert" th:classappend="${#fields.hasErrors('accreditamentoWrapper.refereeGroup')} ? 'bad'">
												<select id="referee"
													class="selectpicker required"
													data-width="100%" data-style="btn-primary"
													th:attr="data-max-options=${numeroReferee}"
													multiple="multiple"
													th:field="${accreditamentoWrapper.refereeGroup}"
													data-actions-box="false" data-size="10"
													data-hide-disabled="false"
													title="Seleziona i referee..."
													th:remove="all-but-first">
													<option
														th:each="referee, row: ${refereeList}"
														th:value="${referee.id}"
														th:text="${referee.getFullNameBase()}">
													</option>
												</select>
												<div th:if="${#fields.hasErrors('accreditamentoWrapper.refereeGroup')}" class="alert" th:errors="${accreditamentoWrapper.refereeGroup}"></div>
											</div>
										</div>

									</th:block>

									<th:block th:if="${#authentication.principal.hasProfile('SEGRETERIA')
										and accreditamentoWrapper.accreditamento.isValutazioneSegreteriaAssegnamento()
										and accreditamentoWrapper.accreditamento.isStandard()}">

										<div class="divider"></div>

										<h2 th:text="#{label.compilazione_verbale_valutazione_loco}"></h2>

										<!-- GIORNO -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.giorno')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="dataVerifica">
												<span th:text="#{label.data_verifica_loco}">Data della verifica in loco</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 input-group datapick">
												<input type="text" id="dataVerifica" class="form-control"
													name="data" th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.giorno}" />
												<span class="input-group-addon" id="dataInizio" onclick="$('#dataVerifica').click()">
						 							<i class="glyphicon glyphicon-calendar"></i>
												</span>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.giorno')}" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.giorno}"></div>
										</div>

										<div class="divider"></div>

										<!-- BLOCCO SELEZIONE VALUTATORI -->
										<!-- componente crecm -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="valutatoreCRECM">
												<span th:text="#{label.componente_crec_team_leader}">Componente CRECM - Team Leader</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="valutatoreCRECM"
													class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader}"
													data-width="100%" data-style="btn-primary"
													data-size="10"
													data-hide-disabled="false"
													title="Seleziona il Team Leader...">
													<option
														th:each="componente, row: ${accreditamentoWrapper.componentiCRECM}"
														th:value="${componente.id}"
														th:text="${componente.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.teamLeader}"></div>
										</div>
										<!-- osservatore regionale -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="osservatoreRegionale">
												<span th:text="#{label.osservatore_regionale}">Osservatore Regionale</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="osservatoreRegionale"
													class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale}"
													data-width="100%" data-style="btn-primary"
													data-size="10"
													data-hide-disabled="false"
													title="Seleziona l'Osservatore Regionale...">
													<option
														th:each="osservatore, row: ${accreditamentoWrapper.osservatoriRegionali}"
														th:value="${osservatore.id}"
														th:text="${osservatore.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.osservatoreRegionale}"></div>
										</div>
										<!-- componenti segreteria -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="componentiSegreteria">
												<span th:text="#{label.componenti_segreteria}">Componenti Segreteria</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="componentiSegreteria" class="selectpicker multi"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria}"
													multiple="multiple" data-width="100%"
													data-style="btn-primary" data-actions-box="true"
													data-size="10" title="Seleziona i Componenti della Segreteria..."
													th:remove="all-but-first">
													<option th:each="segretario, row: ${accreditamentoWrapper.componentiSegreteria}"
														th:value="${segretario.id}" th:text="${segretario.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.componentiSegreteria}"></div>
										</div>
										<!-- referente informatico -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="referenteInformatico">
												<span th:text="#{label.referente_informatico}">Referente Informatico</span>
												<span class="required" th:if="${#sets.contains(accreditamentoWrapper.datiAccreditamento.procedureFormative, T(it.tredi.ecm.dao.enumlist.ProceduraFormativa).FAD)}">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="referenteInformatico" class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico}"
													data-width="100%"
													data-style="btn-primary"
													data-size="10" title="Seleziona il Referente Informatico..."
													th:remove="all-but-first">
													<option th:each="referente, row: ${accreditamentoWrapper.referentiInformatici}"
														th:value="${referente.id}" th:text="${referente.getFullNameBase()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.referenteInformatico}"></div>
										</div>

										<div class="divider"></div>

										<!-- NOME PROVIDER (autocompilato) -->
										<div class="item form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="provider">
												<span th:text="#{label.nome_provider}">Nome del Provider</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<div class="value-edit" th:text="${accreditamentoWrapper.provider.denominazioneLegale}"></div>
											</div>
										</div>

										<div class="divider"></div>

										<!-- SEDE PROVIDER (scelta tra le sedi del provider) -->
										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.sede')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12" for="sede">
												<span th:text="#{label.sede_valutazione}">Sede della Valutazione</span>
												<span class="required">*</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<select id="sede" class="selectpicker"
													th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.sede}"
													data-width="100%"
													data-style="btn-primary"
													data-size="10" title="Seleziona la sede..."
													th:remove="all-but-first">
													<option th:each="sede, row: ${accreditamentoWrapper.sediProvider}"
														th:value="${sede.id}" th:text="${sede.getAddressName()}">
													</option>
												</select>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.verbaleValutazioneSulCampo.sede')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.verbaleValutazioneSulCampo.sede}"></div>
										</div>

									</th:block>
									<th:block th:if="${#authentication.principal.hasProfile('SEGRETERIA')
										and accreditamentoWrapper.accreditamento.isValutazioneSulCampo()
										and accreditamentoWrapper.accreditamento.isStandard()}">

<!-- 										<div class="item form-group"> -->
<!-- 											<div class="col-lg-1 col-xs-12"></div> -->
<!-- 											<label class="control-label col-lg-3 col-md-4 col-sm-4 col-xs-7"> -->
<!-- 												<span th:text="#{label.scarica_pdf_verbale}"></span> -->
<!-- 											</label> -->
<!-- 											<a class="btn btn-primary" th:text="#{label.genera_file}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/verbale/pdf|}"></a> -->
<!-- 										</div> -->

<!-- 										<div class="divider"></div> -->

										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.accreditamento.verbaleValutazioneSulCampoPdf')} ? 'bad'">
											<div class="col-lg-1 col-xs-12"></div>
											<th:block th:include="fragments/allegatiext :: allegatiext(accreditamentoWrapper, false, '*{T(it.tredi.ecm.dao.enumlist.FileEnum).FILE_PDF_VERBALE_VALUTAZIONE_SUL_CAMPO}', verbalePdfFirmato, null, null, null, false, 'edit', false)" ></th:block>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.accreditamento.verbaleValutazioneSulCampoPdf')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.accreditamento.verbaleValutazioneSulCampoPdf}"></div>
										</div>

										<div class="divider"></div>

										<div class="item form-group" th:classappend="${#fields.hasErrors('accreditamentoWrapper.destinazioneStatoDomandaStandard')} ? 'bad'">
											<label class="control-label col-md-4 col-sm-4 col-xs-12">
												<span th:text="#{label.esito_della_valutazione_sul_campo}">Esito della Valutazione sul Campo</span>
											</label>
											<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
												<div class="radio">
													<label>
														<input type="radio" class="flat" th:field="${accreditamentoWrapper.destinazioneStatoDomandaStandard}" th:value="${T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).ACCREDITATO}" />
														<span th:text="${(T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).ACCREDITATO).getNome()}">Accreditato</span>
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" class="flat" th:field="${accreditamentoWrapper.destinazioneStatoDomandaStandard}" th:value="${T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).RICHIESTA_INTEGRAZIONE}" />
														<span th:text="${(T(it.tredi.ecm.dao.enumlist.AccreditamentoStatoEnum).RICHIESTA_INTEGRAZIONE).getNome()}">Richiesta Integrazione</span>
													</label>
												</div>
											</div>
											<div th:if="${#fields.hasErrors('accreditamentoWrapper.destinazioneStatoDomandaStandard')} ? 'bad'" class="alert" th:errors="${accreditamentoWrapper.destinazioneStatoDomandaStandard}"></div>
										</div>

									</th:block>

									<input id="submitButtonModal" type="submit" style="display: none;" />
									<input type="hidden" th:field="${accreditamentoWrapper.verbaleValutazioneSulCampo.accreditamento}" />

								</form>
							</div>
							<div class="modal-footer">
          						<label for="submitButtonModal" class="btn btn-success pull-right" th:text="#{label.salva}">Salva</label>
          						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
        					</div>
						</div>
					</div>
				</div>

				<div class="x_panel">
					<div class="x_title x_menu">
						<h2 th:text="${#messages.msg('label.provider_accreditamento') + ' ' + accreditamentoWrapper.provider.denominazioneLegale + ' (' + accreditamentoWrapper.provider.id + ') ' + #messages.msg('label.tipo_provider') + ' ' + accreditamentoWrapper.provider.tipoOrganizzatore.gruppo}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
								<a th:if="${@ecmProperties.debugTestMode}" class="btn btn-warning" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/valuta/tutti|}" th:text="'Valuta Tutto Sì'"></a>
								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"  th:if="${#authentication.principal.hasProfile('SEGRETERIA') or #authentication.principal.hasProfile('REFEREE')}">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a th:if="${accreditamentoWrapper.canConfermaValutazione}"
										th:text="#{label.conferma_valutazione}" data-toggle="modal" data-target=".modal-confirm"></a></li>
									<th:block th:if="${accreditamentoWrapper.canPresaVisione}">
										<li><a th:text="#{label.presa_visione}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/presaVisione|}"></a></li>
									</th:block>
									<li class="divider actions" th:if="${accreditamentoWrapper.canConfermaValutazione or accreditamentoWrapper.canPresaVisione}"></li>
									<li><a th:text="#{label.torna_in_visualizzazione}" onclick="switchMode('show')"></a></li>
									<th:block th:if="${accreditamentoWrapper.accreditamento.isValutazioneSulCampo()}">
										<li><a th:text="#{label.scarica_pdf_verbale}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/verbale/pdf|}"></a></li>
									</th:block>
								</ul>
							</div>
							<div class="dropdown pull-right">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
									<span th:text="#{label.menu_riepiloghi}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a class="ajaxCallShowAll" th:text="#{label.mostra_riepilogo}" data-toggle="modal" data-target=".modal-showAll"></a></li>
  									<li><a class="ajaxCallShowAllValutazioni" th:text="#{label.mostra_riepilogo_valutazioni}" data-toggle="modal" data-target=".modal-showAllValutazioni" type="button"></a></li>
  									<li><a th:text="#{label.mostra_storico_valutazioni}" onclick="showStorico()"></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="x_panel">

					<div class="x_title">
						<h2 th:text="#{label.accreditamento_titolo(Valutazione, ${accreditamentoWrapper.accreditamento.tipoDomanda.nome},${accreditamentoWrapper.accreditamento.stato.nome})}"></h2>
						<div class="clearfix"></div>
					</div>

					<th:block th:include="accreditamento/accreditamentoFragment :: accreditamento('validate')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

				var days;
				var months;
				var date;

			    $(document).ready(function() {
					$('#referee').selectpicker({
						maxOptionsText: function (numAll, numGroup) {
							return [
								(numAll == 1) ? 'Limite raggiunto (selezionare massimo {n} referee)' : 'Limite raggiunto (selezionare massimo {n} referee)',
								(numGroup == 1) ? 'Limite raggiunto (selezionare massimo {n} referee)' : 'Limite raggiunto (selezionare massimo {n} referee)'
							];
						}
					});

					if([[${confirmErrors}]]) {
						$("#confirm-modal").modal("show");
					}

					//setta i nomi dei giorni e dei mesi a seconda delle label i18n anche per le date intermedie
					days = getDayNamesShort();
					months = getMonthNames();

					date = $('#dataVerifica').daterangepicker({
				        singleDatePicker: true,
				        autoApply: true,
				        autoUpdateInput: true,
				        parentEl: $("#confirm-modal"),
				        format: "DD/MM/YYYY",
				        locale: {
					        daysOfWeek: days,
			                monthNames: months,
				        }
				    })

				    mostraNascondiLegaleDelegato($(".radioLegale:checked").val());

					$(".radioLegale").on("ifChecked", function() {
						mostraNascondiLegaleDelegato($(this).val());
					});

					$('#componentiSegreteria').selectpicker({
						selectAllText : 'Seleziona tutti',
						deselectAllText : 'Deseleziona tutti',
					});

			    });

			    var tabSelected = "tab1";
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					tabSelected = e.target.id;
					console.log(tabSelected);
				});

				function switchMode(mode) {
					var param = "?tab=" + tabSelected;
					var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/|}]] + mode + param;
					location.href = url;
				}

				$('.ajaxCallShowAll').one("click", populateShowAll);
				$('.ajaxCallShowAllValutazioni').one("click", populateShowAllValutazioni);

				function mostraNascondiLegaleDelegato(value) {
					if(value != undefined) {
						$('.showCarta').slideDown("slow");
					}
					if(value == 'true') {
						$('.showLegale').slideDown("slow");
						$('.showDelegato').slideUp("fast");
					}
					else if(value == 'false') {
						$('.showDelegato').slideDown("slow");
						$('.showLegale').slideUp("fast");
					}
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>