<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- fragment interno del accreditamentoAllegati, la parte di paginazione è gestita dai file accreditamentoAllegatiShow, accreditamentoAllegatiValidate e accreditamentoAllegatiEdit -->
	<!-- parametri del fragment: String passata come parametro che definisce la modalità e prende accreditamentoAllegatiWrapper dal module del chiamante -->
	<th:block th:fragment="accreditamentoAllegati(mode)">
		<th:block th:with="editabile=${mode == 'edit'},
			valutabile=${mode == 'validate'},
			showOnly=${mode == 'show'}">

			<!-- ogni parte non in comune tra le due sarà gestito in maniera appropriata -->
			<div class="x_content">
				<!-- rimove il tag form se il accreditamentoAllegati NON è editabile -->
				<div class="form-horizontal form-label-left" th:remove="${showOnly} ? none : tag">
					<form th:remove="${!showOnly} ? none : tag"
						id="formAccreditamentoAllegati" class="form-horizontal form-label-left"
						th:action="@{|/accreditamento/${accreditamentoId}/allegati/|} + ${valutabile ? 'validate' : 'save'}"
						method="post" enctype="multipart/form-data"
						novalidate="novalidate">

						<!-- gli input hidden non sono necessari se NON editabile -->
						<th:block th:unless="${showOnly}">
							<input type="hidden" name="editId" th:value="${accreditamentoAllegatiWrapper.accreditamentoId}" />
							<input type="hidden" th:field="${accreditamentoAllegatiWrapper.idEditabili}" />
						</th:block>

						<!-- allegato 1 (atto costitutivo e statuto) -->
						<div th:if="${editabile}" class="model-link" id="esempio_attoCostitutivo">
							<i class="fa fa-file-text"></i>
							<a id="attoCostitutivo_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.attoCostitutivoModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, attoCostitutivo,  ${!showOnly ? 'attoCostitutivo' : null}, null, null, true, ${mode}, true)" ></th:block>

						<!-- allegato 2 (esperienza formazione in ambito sanitario) -->
						<div th:class="${valutabile ? 'divider' : 'divider-dashed'}"></div>
						<div th:if="${editabile}" class="model-link" id="esempio_esperienzaFormazione">
							<i class="fa fa-file-text"></i>
							<a id="esperienzaFormazione_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.esperienzaFormazioneModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, esperienzaFormazione,  ${!showOnly ? 'esperienzaFormazione' : null}, null, null, true, ${mode}, true)" ></th:block>

						<!-- allegato 3 (utilizzo di sedi, strutture ed attrezzature di altro soggetto) -->
						<div th:class="${valutabile ? 'divider' : 'divider-dashed'}"></div>
						<div th:if="${editabile}" class="model-link" id="esempio_utilizzo">
							<i class="fa fa-file-text"></i>
							<a id="utilizzo_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.utilizzoModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, utilizzo,  ${!showOnly ? 'utilizzo' : null}, null, null, true, ${mode}, true)" ></th:block>

						<!-- allegato 4 (sistema informatico dedicato alla formazione in ambito sanitario) -->
						<div th:class="${valutabile ? 'divider' : 'divider-dashed'}"></div>
						<div th:if="${editabile}" class="model-link" id="esempio_sistemaInformatico">
							<i class="fa fa-file-text"></i>
							<a id="sistemaInformatico_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.sistemaInformaticoModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, sistemaInformatico,  ${!showOnly ? 'sistemaInformatico' : null}, null, null, true, ${mode}, true)" ></th:block>

						<!-- allegato 5 (piano di qualità) -->
						<div th:class="${valutabile ? 'divider' : 'divider-dashed'}"></div>
						<div th:if="${editabile}" class="model-link" id="esempio_pianoQualita">
							<i class="fa fa-file-text"></i>
							<a id="pianoQualita_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.pianoQualitaModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, pianoQualita,  ${!showOnly ? 'pianoQualita' : null}, null, null, true, ${mode}, true)" ></th:block>

						<!-- allegato 6 (dichiarazione del legale rappresentante) -->
						<div th:class="${valutabile ? 'divider' : 'divider-dashed'}"></div>
						<div th:if="${editabile}" class="model-link" id="esempio_dichiarazioneLegale">
							<i class="fa fa-file-text"></i>
							<a id="dichiarazioneLegale_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.dichiarazioneLegaleModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, dichiarazioneLegale,  ${!showOnly ? 'dichiarazioneLegale' : null}, null, null, true, ${mode}, true)" ></th:block>

						<!-- allegato 7 (dichiarazione esclusione) -->
						<div th:class="${valutabile ? 'divider' : 'divider-dashed'}"></div>
						<div th:if="${editabile}" class="model-link" id="esempio_dichiarazioneEsclusione">
							<i class="fa fa-file-text"></i>
							<a id="dichiarazioneEsclusione_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.dichiarazioneEsclusioneModel}|}"></a>
						</div>
						<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, true, dichiarazioneEsclusione,  ${!showOnly ? 'dichiarazioneEsclusione' : null}, null, null, true, ${mode}, false)" ></th:block>

					</form>
				</div>
			</div>
		</th:block>
	</th:block>
</body>
</html>
