<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">

				<!-- modale showAll -->
				<div id="showAll-modal" class="modal fade modal-showAll"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riepilogo_accreditamento(${accreditamentoWrapper.accreditamento.tipoDomanda}, ${accreditamentoWrapper.accreditamento.stato.nome})}">Riepilogo
									di tutto l'accreditamento</h4>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" th:text="#{label.apri_tutte}" onclick="toggleAll()"></button>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" style="display: none" th:text="#{label.chiudi_tutte}" onclick="toggleAll()"></button>
							</div>
							<div class="modal-body">

								<!-- fragment show all -->
								<th:block th:include="accreditamento/accreditamentoShowAll :: showAll"></th:block>

							</div>
						</div>
					</div>
				</div>

				<div class="x_panel">
					<div class="x_title x_menu">
						<h2 th:text="${#messages.msg('label.provider_accreditamento') + ' ' + accreditamentoWrapper.provider.denominazioneLegale + ' (' + accreditamentoWrapper.provider.codiceFiscale + ') ' + #messages.msg('label.tipo_provider') + ' ' + accreditamentoWrapper.provider.tipoOrganizzatore.gruppo}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
								<a class="btn btn-primary ajaxCallShowAll" th:text="#{label.mostra_riepilogo}" data-toggle="modal" data-target=".modal-showAll"></a>
  								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"  th:if="${#authentication.principal.hasProfile('SEGRETERIA')}">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a th:text="#{label.modifica}" onclick="switchMode('edit')"></a></li>
									<li><a th:if="${accreditamentoWrapper.canShowValutazione}" th:text="#{label.mostra_valutazione}" onclick="switchMode('validate')"></a></li>
									<li><a th:if="${accreditamentoWrapper.canValutaDomanda}" th:text="#{label.valuta_domanda}" onclick="switchMode('validate')"></a></li>
									<li class="divider actions"></li>
									<li><a th:text="#{label.abilita_id_editabili}" onclick="alert('TODO')"></a></li>
									<li><a th:if="${accreditamentoWrapper.canPrendiInCarica}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/takeCharge|}" th:text="#{label.prendi_in_carica}"></a></li>
									<li><a th:if="${accreditamentoWrapper.canAssegnaNuovoGruppo}" th:text="#{label.assegna_nuovo_gruppo}" onclick="alert('TODO')"></a></li>
								</ul>
								<!-- menù a pulsanti separati per il provider -->
								<th:block th:if="${#authentication.principal.hasProfile('PROVIDER')}">
									<a th:if="${accreditamentoWrapper.accreditamento.bozza}" class="btn btn-success" th:text="#{label.modifica}" onclick="switchMode('edit')"></a>
								</th:block>
								<!-- menù a pulsanti separati per il referee -->
								<th:block th:if="${#authentication.principal.hasProfile('REFEREE')}">
									<a th:if="${accreditamentoWrapper.canValutaDomanda}" class="btn btn-success" th:text="#{label.valuta_domanda}" onclick="switchMode('validate')"></a>
									<a th:if="${accreditamentoWrapper.canShowValutazione}" class="btn btn-success" th:text="#{label.mostra_valutazione}" onclick="switchMode('validate')"></a>
								</th:block>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="x_panel">
					<div class="x_title">
						<h2
							th:text="#{label.accreditamento_titolo(Visualizzazione, ${accreditamentoWrapper.accreditamento.tipoDomanda.nome},${accreditamentoWrapper.accreditamento.stato.nome})}">Provvisorio
							- bozza</h2>
						<div class="clearfix"></div>
					</div>
					<th:block
						th:include="accreditamento/accreditamentoFragment :: accreditamento('show')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

			    $('.ajaxCallShowAll').one("click", populateShowAll());

			  	var tabSelected = "tab1";
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					tabSelected = e.target.id;
					console.log(tabSelected);
				});

				function switchMode(mode) {
					var param = "?tab=" + tabSelected;
					var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/|}]] + mode + param;
					location.href = url;
				}

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>