<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">

				<!-- modale riepilogo  -->
				<div id="showAll-modal" class="modal fade modal-showAll"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riepilogo_accreditamento(${accreditamentoWrapper.accreditamento.tipoDomanda}, ${accreditamentoWrapper.accreditamento.stato.nome})}">Riepilogo
									di tutto l'accreditamento</h4>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" th:text="#{label.apri_tutte}" onclick="openAll()"></button>
								<button type="button" class="btn btn-primary pull-right with-margin-top toggleButtons" style="display: none" th:text="#{label.chiudi_tutte}" onclick="closeAll()"></button>
							</div>
							<div class="modal-body">

								<!-- fragment show all -->
								<th:block th:include="accreditamento/accreditamentoShowAll :: showAll"></th:block>

							</div>


						</div>
					</div>
				</div>

				<!-- modale conferma valutazione  -->
				<div id="confirm-modal" class="modal fade modal-confirm"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.conferma_valutazione}"></h4>
							</div>
							<div class="modal-body">
								<form id="formValutazioneComplessiva" class="form-horizontal"
									th:action="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/confirmEvaluation|}"
									method="post" enctype="multipart/form-data"
									novalidate="novalidate">

									<div class="item modalAlert" th:classappend="${#fields.hasErrors('accreditamentoWrapper.valutazioneComplessiva')} ? 'bad'">
										<h4 th:text="#{label.inserisci_valutazione_complessiva}"></h4>
										<textarea th:field="${accreditamentoWrapper.valutazioneComplessiva}"></textarea>
										<div th:if="${#fields.hasErrors('accreditamentoWrapper.valutazioneComplessiva')}" class="alert" th:errors="${accreditamentoWrapper.valutazioneComplessiva}"></div>
									</div>

									<th:block th:if="${#authentication.principal.hasProfile('SEGRETERIA') and accreditamentoWrapper.accreditamento.isValutazioneSegreteriaAssegnamento()}">

										<div class="divider"></div>

										<div>
											<h4 th:text="#{label.seleziona_referee}"></h4>
											<div class="item modalAlert" th:classappend="${#fields.hasErrors('accreditamentoWrapper.refereeGroup')} ? 'bad'">
												<select id="referee"
													class="selectpicker required"
													data-width="100%" data-style="btn-primary"
													data-max-options="3"
													multiple="multiple"
													th:field="${accreditamentoWrapper.refereeGroup}"
													data-actions-box="false" data-size="10"
													data-hide-disabled="false"
													title="Seleziona i referee..."
													th:remove="all-but-first">
													<option
														th:each="referee, row: ${refereeList}"
														th:value="${referee.id}"
														th:text="${referee.nome + ' ' + referee.cognome}">
													</option>
												</select>
												<div th:if="${#fields.hasErrors('accreditamentoWrapper.refereeGroup')}" class="alert" th:errors="${accreditamentoWrapper.refereeGroup}"></div>
											</div>
										</div>

									</th:block>

									<input id="submitButtonModal" type="submit" style="display: none;" />

								</form>
							</div>
							<div class="modal-footer">
          						<label for="submitButtonModal" class="btn btn-success pull-right" th:text="#{label.salva}">Salva</label>
          						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" th:text="#{label.chiudi}">Chiudi</button>
        					</div>
						</div>
					</div>
				</div>

				<!-- modale showAllValutazioni -->
				<!-- <div id="showAllValutazioni-modal" class="modal fade modal-showAllValutazioni"
					data-model-index="1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title" id="myModalLabel"
									th:text="#{label.riepilogo_valutazione_accreditamento(${accreditamentoWrapper.accreditamento.tipoDomanda}, ${accreditamentoWrapper.accreditamento.stato.nome})}">Riepilogo
									di tutto l'accreditamento</h4>
							</div>
							<div class="modal-body">

								<div class="row">
									<div class="x_panel">
					              		<div class="x_title">
											<h2 style="display: inline" th:text="#{label.valutazioni_complessive}">label.valutazioni_complessive</h2>
											<h2 style="display: inline" th:if="${#sets.isEmpty(accreditamentoWrapper.valutazioniList)}" class="red-italic" th:text="#{label.dati_non_inseriti}">label.dati_non_inseriti</h2>
											<div class="clearfix"></div>
										</div>

										<table class="datatable-responsive-search-validation-full table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
											<thead>
												<tr>
													<th:block th:each="valutazione, row : ${accreditamentoWrapper.valutazioniList}">
														<th th:text="#{label.valutazione} + ' ' + ${valutazione.account.isSegreteria() ? 'Segreteria ECM' : 'Referee ' + valutazione.account.nome + ' ' + valutazione.account.cognome}">Nome</th>
													</th:block>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th:block th:each="valutazione, row : ${accreditamentoWrapper.valutazioniList}">
														<td class="otherValidationCheck">
															<div th:text="${valutazione.valutazioneComplessiva}"></div>
														</td>
													</th:block>
												</tr>
											</tbody>
										</table>

									</div>
								</div>

								fragment show all
								<th:block th:include="valutazione/valutazioneShowAll :: showAllValutazioni"></th:block>

							</div>
						</div>
					</div>
				</div> -->

				<th:block th:include="fragments/modaleRiepilogoValutazioni :: modaleRiepilogoValutazioni"></th:block>

				<div class="x_panel">
					<div class="x_title x_menu">
						<h2 th:text="${#messages.msg('label.provider_accreditamento') + ' ' + accreditamentoWrapper.provider.denominazioneLegale + ' (' + accreditamentoWrapper.provider.codiceFiscale + ') ' + #messages.msg('label.tipo_provider') + ' ' + accreditamentoWrapper.provider.tipoOrganizzatore.gruppo}"></h2>
						<div class="pull-right buttons-header">
							<div class="dropdown pull-right">
								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"  th:if="${#authentication.principal.hasProfile('SEGRETERIA') or #authentication.principal.hasProfile('REFEREE')}">
									<span th:text="#{label.menu_azioni}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a th:if="${accreditamentoWrapper.canConfermaValutazione}"
										th:text="#{label.conferma_valutazione}" data-toggle="modal" data-target=".modal-confirm"></a></li>
									<th:block th:if="${accreditamentoWrapper.canPresaVisione}">
										<li><a th:text="#{label.presa_visione}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/presaVisione|}"></a></li>
										<li><a th:text="#{label.rivaluta}" th:href="@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/rivaluta|}"></a></li>
									</th:block>
									<li class="divider actions" th:if="${accreditamentoWrapper.canConfermaValutazione or accreditamentoWrapper.canPresaVisione}"></li>
									<li><a th:text="#{label.torna_in_visualizzazione}" onclick="switchMode('show')"></a></li>
								</ul>
							</div>
							<div class="dropdown pull-right">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
									<span th:text="#{label.menu_riepiloghi}"></span>
									<span class="caret"></span>
								</button>
								<!-- menù raggruppato per segreteria -->
								<ul class="dropdown-menu actions">
									<li><a class="ajaxCallShowAll" th:text="#{label.mostra_riepilogo}" data-toggle="modal" data-target=".modal-showAll"></a></li>
  									<li><a class="ajaxCallShowAllValutazioni" th:text="#{label.mostra_riepilogo_valutazioni}" data-toggle="modal" data-target=".modal-showAllValutazioni" type="button"></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="x_panel">

					<div class="x_title">
						<h2 th:text="#{label.accreditamento_titolo(Valutazione, ${accreditamentoWrapper.accreditamento.tipoDomanda.nome},${accreditamentoWrapper.accreditamento.stato.nome})}"></h2>
						<div class="clearfix"></div>
					</div>
					<th:block th:include="accreditamento/accreditamentoFragment :: accreditamento('validate')"></th:block>

				</div>
			</div>
			<script th:inline="javascript">
			/*<![CDATA[*/

			    $(document).ready(function() {
					$('select').selectpicker({
						maxOptionsText: function (numAll, numGroup) {
							return [
								(numAll == 1) ? 'Limite raggiunto (selezionare massimo {n} referee)' : 'Limite raggiunto (selezionare massimo {n} referee)',
								(numGroup == 1) ? 'Limite raggiunto (selezionare massimo {n} referee)' : 'Limite raggiunto (selezionare massimo {n} referee)'
							];
						}
					});

					if([[${confirmErrors}]]) {
						$("#confirm-modal").modal("show");
					}

			    });

			    var tabSelected = "tab1";
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					tabSelected = e.target.id;
					console.log(tabSelected);
				});

				function switchMode(mode) {
					var param = "?tab=" + tabSelected;
					var url = [[@{|/accreditamento/${accreditamentoWrapper.accreditamento.id}/|}]] + mode + param;
					location.href = url;
				}

				$('.ajaxCallShowAll').one("click", populateShowAll);
				$('.ajaxCallShowAllValutazioni').one("click", populateShowAllValutazioni);

			/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>