<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" th:with="counter=${accreditamentoAllegatiWrapper.idOffset - 1}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.allegati}">allegati</h2>
						<a class="btn btn-primary pull-right" th:text="#{label.annulla}" th:href="@{|/accreditamento/${accreditamentoAllegatiWrapper.accreditamentoId}|}"></a>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form id="formAccreditamento" class="form-horizontal form-label-left" th:action="@{|/accreditamento/${accreditamentoId}/allegati/save|}"
								method="post" enctype="multipart/form-data" novalidate="novalidate">
							
							<input type="hidden" name="editId" th:value="${accreditamentoAllegatiWrapper.accreditamentoId}" /> 
							<input type="hidden" th:field="${accreditamentoAllegatiWrapper.idEditabili}" />
							<input type="hidden" th:field="${accreditamentoAllegatiWrapper.idOffset}" />	
							
							<!-- allegato 1 (atto costitutivo e statuto) -->
							<div class="col-md-3 col-sm-3 col-xs-4 model-link" id="esempio_attoCostitutivo">
								<i class="fa fa-file-text"></i>
								<a id="attoCostitutivo_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.attoCostitutivoModel}|}"></a>
							</div>
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, attoCostitutivo, ${++counter}, null)" ></th:block>
														
							<!-- allegato 2 (esperienza formazione in ambito sanitario) -->
							<div class="col-md-3 col-sm-3 col-xs-4 model-link" id="esempio_esperienzaFormazione">
								<i class="fa fa-file-text"></i>
								<a id="esperienzaFormazione_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.esperienzaFormazioneModel}|}"></a>
							</div>
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, esperienzaFormazione, ${++counter}, null)" ></th:block>
							
							<!-- allegato 3 (utilizzo di sedi, strutture ed attrezzature di altro soggetto) -->
							<div class="col-md-3 col-sm-3 col-xs-4 model-link" id="esempio_utilizzo">
								<i class="fa fa-file-text"></i>
								<a id="utilizzo_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.utilizzoModel}|}"></a>
							</div>
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, utilizzo, ${++counter}, null)" ></th:block>
							
							<!-- allegato 4 (sistema informatico dedicato alla formazione in ambito sanitario) -->
							<div class="col-md-3 col-sm-3 col-xs-4 model-link" id="esempio_sistemaInformatico">
								<i class="fa fa-file-text"></i>
								<a id="sistemaInformatico_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.sistemaInformaticoModel}|}"></a>
							</div>
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, sistemaInformatico, ${++counter}, null)" ></th:block>
							
							<!-- allegato 5 (piano di qualità) -->
							<div class="col-md-3 col-sm-3 col-xs-4 model-link" id="esempio_pianoQualita">
								<i class="fa fa-file-text"></i>
								<a id="pianoQualita_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.pianoQualitaModel}|}"></a>
							</div>
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, pianoQualita, ${++counter}, null)" ></th:block>
								
							<!-- allegato 6 (dichiarazione del legale rappresentante) -->
							<div class="col-md-3 col-sm-3 col-xs-4 model-link" id="esempio_dichiarazioneLegale">
								<i class="fa fa-file-text"></i>
								<a id="dichiarazioneLegale_esempio_link" th:text="#{label.esempio_modello}" th:href="@{|files/${accreditamentoAllegatiWrapper.dichiarazioneLegaleModel}|}"></a>
							</div>
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, dichiarazioneLegale, ${++counter}, null)" ></th:block>
								
							<!-- Registra allegati -->
							<div class="item form-group text-right">
								<input class="btn btn-primary right" name="save_persona" type="submit" th:value="#{label.salva}"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
							