<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" th:with="counter=${accreditamentoAllegatiWrapper.idOffset - 1}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.allegati}">allegati</h2>
						<a class="btn btn-primary pull-right" th:text="#{label.annulla}" th:href="@{|/accreditamento/${accreditamentoAllegatiWrapper.accreditamentoId}|}"></a>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form id="formAccreditamento" class="form-horizontal form-label-left" th:action="@{|/accreditamento/${accreditamentoId}/allegati/save|}"
								method="post" enctype="multipart/form-data" novalidate="novalidate">
							
							<input type="hidden" name="editId" th:value="${accreditamentoAllegatiWrapper.accreditamentoId}" /> 
							<input type="hidden" th:field="${accreditamentoAllegatiWrapper.idEditabili}" />
							<input type="hidden" th:field="${accreditamentoAllegatiWrapper.idOffset}" />	
							
							<!-- allegato 1 (atto costitutivo e statuto) -->
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, attoCostitutivo, ${++counter}, null)" ></th:block>
							<div class="row">
								<label th:text="#{label.esempio}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="esempio_attoCostitutivo">esempio attoCostitutivo</label>
								<div class="col-md-4 col-sm-4 col-xs-12" id="esempio_attoCostitutivo">
									<a id="attoCostitutivo_esempio_link" th:text="#{label.attoCostitutivo}" th:href="@{files/${accreditamentoWrapper.attoCostitutivoModel}}"></a>
								</div>
							</div>
														
							<!-- allegato 2 (esperienza formazione in ambito sanitario) -->
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, esperienzaFormazione, ${++counter}, null)" ></th:block>
							<div class="row">
								<label th:text="#{label.esempio}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="esempio_esperienzaFormazione">esempio esperienzaFormazione</label>
								<div class="col-md-4 col-sm-4 col-xs-12" id="esempio_esperienzaFormazione">
									<a id="esperienzaFormazione_esempio_link" th:text="#{label.esperienzaFormazione}" th:href="@{files/${accreditamentoWrapper.esperienzaFormazioneModel}}"></a>
								</div>
							</div>
							
							<!-- allegato 3 (utilizzo di sedi, strutture ed attrezzature di altro soggetto) -->
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, utilizzo, ${++counter}, null)" ></th:block>
							<div class="row">
								<label th:text="#{label.esempio}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="esempio_utilizzo">esempio utilizzo</label>
								<div class="col-md-4 col-sm-4 col-xs-12" id="esempio_utilizzo">
									<a id="utilizzo_esempio_link" th:text="#{label.utilizzo}" th:href="@{files/${accreditamentoWrapper.utilizzoModel}}"></a>
								</div>
							</div>
							
							<!-- allegato 4 (sistema informatico dedicato alla formazione in ambito sanitario) -->
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, sistemaInformatico, ${++counter}, null)" ></th:block>
							<div class="row">
								<label th:text="#{label.esempio}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="esempio_sistemaInformatico">esempio sistemaInformatico</label>
								<div class="col-md-4 col-sm-4 col-xs-12" id="esempio_sistemaInformatico">
									<a id="sistemaInformatico_esempio_link" th:text="#{label.sistemaInformatico}" th:href="@{files/${accreditamentoWrapper.sistemaInformaticoModel}}"></a>
								</div>
							</div>
							
							<!-- allegato 5 (piano di qualità) -->
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, pianoQualita, ${++counter}, null)" ></th:block>
							<div class="row">
								<label th:text="#{label.esempio}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="esempio_pianoQualita">esempio pianoQualità</label>
								<div class="col-md-4 col-sm-4 col-xs-12" id="esempio_pianoQualita">
									<a id="pianoQualita_esempio_link" th:text="#{label.pianoQualita}" th:href="@{files/${accreditamentoWrapper.pianoQualitaModel}}"></a>
								</div>
							</div>
							
							<!-- allegato 6 (dichiarazione del legale rappresentante) -->
							<th:block th:include="fragments/allegati :: allegati(accreditamentoAllegatiWrapper, dichiarazioneLegale, ${++counter}, null)" ></th:block>
							<div class="row">
								<label th:text="#{label.esempio}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="esempio_dichiarazioneLegale">esempio dichiarazioneLegale</label>
								<div class="col-md-4 col-sm-4 col-xs-12" id="esempio_dichiarazioneLegale">
									<a id="dichiarazioneLegale_esempio_link" th:text="#{label.dichiarazioneLegale}" th:href="@{files/${accreditamentoWrapper.dichiarazioneLegaleModel}}"></a>
								</div>
							</div>
							
							<!-- Registra allegati -->
							<div class="item form-group text-right">
								<input class="btn btn-primary right" name="save_persona" type="submit" th:value="#{label.salva}"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
							