<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<div layout:fragment="content" th:with="counter=${datiAccreditamentoWrapper.idOffset - 1}">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.dati_attività}">Dati relativi all’attività</h2>
						<th:block th:unless="${#lists.isEmpty(datiAccreditamentoWrapper.idEditabili)}">
							<button class="btn btn-success pull-right" th:text="#{label.salva}" form="formAccreditamento" type="submit"></button>
						</th:block>
						<a class="btn btn-primary pull-right" th:text="#{label.indietro}" th:href="@{|/accreditamento/${datiAccreditamentoWrapper.accreditamentoId}|}"></a>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form id="formAccreditamento" class="form-horizontal form-label-left" th:action="@{|/accreditamento/${accreditamentoId}/dati/save|}"
								method="post" enctype="multipart/form-data" novalidate="novalidate">
							
							<input type="hidden" name="editId" th:value="${datiAccreditamentoWrapper.datiAccreditamento.id}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.accreditamentoId}" /> 
							<input type="hidden" th:field="${datiAccreditamentoWrapper.idEditabili}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.idOffset}" />	
							
							<!-- tipologia accreditamento -->	
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento')} ? 'bad'">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">1</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="accreditamento_tipologia"><span th:text="#{label.accreditamento_tipologia}">Accreditamento per tipologia</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_tipologia">
										<div class="radio">
											<label>
												<input type="radio" class="flat"
													id="generaleTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
													<span th:text="#{label.generale}">Generale </span>
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" class="flat"
													id="settorialeTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Settoriale" />
												<span th:text="#{label.settoriale}">Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_tipologia">
										<div class="radio">
											<label class="label-disabled">
												<input type="radio" class="flat" disabled="disabled"
													id="generaleTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
													<span th:text="#{label.generale}">Generale </span>
											</label>
											<input type="hidden" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
										</div>
										<div class="radio">
											<label class="label-disabled">
												<input type="radio" class="flat" disabled="disabled"
													id="settorialeTipologia" name="tipologiaAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Settoriale" />
												<span th:text="#{label.settoriale}">Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}"></div>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- procedure formative -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.procedureFormative')} ? 'bad'">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">2</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="procedure_formative_checkbox"><span th:text="#{label.procedure_formative}">Procedure formative</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">	
									<div class="col-md-4 col-sm-4 col-xs-12" id="procedure_formative_checkbox">
										<div class="checkbox" th:each="proceduraFormativa, row : ${proceduraFormativaList}">
											<label>
												<input type="checkbox" class="flat" th:field="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}" th:value="${proceduraFormativa}"
													th:disabled="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Generale'  or
																	(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null)}" /> 
												<span th:text="${proceduraFormativa.nome}">formazione residenziale (RES)</span>
												<input type="hidden" name="datiAccreditamento.procedureFormative" th:value="${proceduraFormativa}"
													th:disabled="${(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Settoriale') or
																	(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null)}"/>
											</label> 
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12" id="procedure_formative_checkbox">
										<div class="checkbox" th:each="proceduraFormativa, row : ${proceduraFormativaList}">
											<label class="label-disabled">
												<input type="checkbox" class="flat" th:field="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}"
												th:value="${proceduraFormativa}"
												disabled="disabled" /> <span th:text="${proceduraFormativa.nome}">formazione
													residenziale (RES)</span>
											</label> 
										</div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.procedureFormative')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}"></div>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- professioni accreditamento -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento')} ? 'bad'">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">3</label>
								<label class="control-label col-md-3 col-sm-3 col-xs-11"
									for="accreditamento_professioni"><span th:text="#{label.accreditamento_professioni}">Accreditamento per professioni</span><span class="required">*</span></label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_professioni">
										<div class="radio">
											<label> <input type="radio" class="flat" id="generaleProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" th:value="Generale" /> <span
												th:text="#{label.generale}">
													Generale </span>
											</label>
										</div>
										<div class="radio">
											<label> <input type="radio" class="flat" id="settorialeProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" th:value="Settoriale" /> <span
												th:text="#{label.settoriale}">
													Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_professioni">
										<div class="radio">
											<label class="label-disabled"> <input type="radio" class="flat" id="generaleProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" value="Generale" disabled="disabled" /> <span
												th:text="#{label.generale}">
													Generale </span>
											</label>
										</div>
										<div class="radio">
											<label class="label-disabled"> <input type="radio" class="flat" id="settorialeProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}" value="Settoriale" disabled="disabled" /> <span
												th:text="#{label.settoriale}">
													Settoriale </span>
											</label>
										</div>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}"></div>								
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- professioni -->
							<div class="item form-group">
								<label class="control-label col-xs-1 text-right" th:text="${++counter}">4</label>
								<label th:text="#{label.professioni}"
									class="control-label col-md-3 col-sm-3 col-xs-11"
									for="accreditamento_professioni">Professioni</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="accreditamento_professioni">
										<div class="col-xs-12">
											<select id="professioni" class="selectpicker"
												multiple="multiple" data-width="100%"
												data-style="btn-primary" data-actions-box="true"
												data-size="10" title="Seleziona una professione..."
												onchange="abilitaDiscipline(this)" data-selected-text-format="count"
												th:remove="all-but-first">
												<option th:each="professione, row: ${professioneList}"
													th:value="${professione.id}" th:text="${professione.nome}" 
													th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniSelezionate}">Professione selezionata</option>
											</select>
										</div>
										<div class="col-xs-12">
											<select id="discipline" class="selectpicker" th:field="${datiAccreditamentoWrapper.datiAccreditamento.discipline}"
												multiple="multiple" data-width="100%"
												data-style="btn-success" data-actions-box="true"
												data-size="10" data-hide-disabled="true"
												title="Seleziona una disciplina..." disabled="disabled"
												data-selected-text-format="count"
												th:remove="all-but-first">
												<optgroup disabled="disabled"
													th:each="professione, row: ${professioneList}"
													th:label="${professione.nome}"
													th:remove="all-but-first">
													<option th:each="disciplina, row: ${disciplinaList}"
													th:if="${disciplina.professione == professione}"
													th:value="${disciplina.id}" th:text="${disciplina.nome}">Disciplina selezionata</option>
												</optgroup>
											</select>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="row" style="clear:both; padding:2px;"></div>
									<div class="row" style="clear:both">
										<div class="col-md-3 col-sm-3 col-xs-12"></div>
										<div class="col-md-6 col-sm-6 col-xs-12"
											id="accreditamento_professioni">
											<table id="professioni-discipline"
												class="table table-striped table-bordered dt-responsive nowrap datatable-responsive-form"
												cellspacing="0" width="100%">
												<thead>
													<tr>
														<th th:text="#{label.professione}">Professione</th>
														<th th:text="#{label.disciplina}">Disciplina</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="disciplina, row: ${datiAccreditamentoWrapper.datiAccreditamento.discipline}">
														<td th:text="${disciplina.professione.nome}"></td>
														<td th:text="${disciplina.nome}"></td>
													</tr>
												</tbody>
											</table>										
										</div>
									</div>
								</th:block>
							</div>
							
							<div class="divider-dashed"></div>
							
							<!-- fatturato complessivo -->
							<div class="item">
								<label class="col-xs-1 text-right" th:text="${++counter}">5</label>
								<label class="col-xs-11"><span th:text="#{label.fatturato_complessivo_title}">Fatturato o Costi complessivi degli
									ultimi 3 anni (in migliaia di euro)</span></label>
							</div>
							<!-- anno 1 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno1_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoUno}">2016</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_complessivi_anno1_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_complessivi_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}"></div>
							</div>
							<!-- anno 2 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno2_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoDue}">2015</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_complessivi_anno2_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_complessivi_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}"></div>
							</div>
							<!-- anno 3 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno3_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoTre}">2014</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_complessivi_anno3_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_complessivi_anno3_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}"></div>
							</div>

							<!-- allegato 1 (etratto bilancio relativo formazione) -->
							<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, estrattoBilancioFormazione, ${++counter}, #{label.required_fatturato})" ></th:block>
							
							<div class="divider-dashed"></div>
							
							<!-- fatturato formazione -->
							<div class="item">
								<label class="col-xs-1 text-right" th:text="${++counter}">6</label>
								<label class="col-xs-11"><span th:text="#{label.fatturato_formazione_title}">Fatturato o Costi dedicati alla formazione del personale
									sanitario degli ultimi 3 anni (in migliaia di euro)</span></label>
							</div>
							<!-- anno 1 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno1_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoUno}">2016</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_formazione_anno1_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_formazione_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}"></div>
							</div>
							<!-- anno 2 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno2_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoDue}">2015</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_formazione_anno2_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_formazione_anno1_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}"></div>
							</div>
							<!-- anno 3 -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre')} ? 'bad'">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno3_value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoTre}">2014</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input id="costi_formazione_anno3_value"
											th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}" required="required"
											class="form-control col-md-7 col-xs-12" type="text"
											pattern="^\d+\.\d$"/>
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="costi_formazione_anno3_value_disabled" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}"></div>
							</div>
							
							<!-- allegato 2 (budget previsionale) -->
							<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, budgetPrevisionale, ${++counter}, #{label.required_fatturato})" ></th:block>
							
							<div class="divider-dashed"></div>
							
							<!-- numero dipendenti -->
							<div class="item">
								<label class="col-xs-1 text-right" th:text="${++counter}">7</label>
								<label class="col-xs-11"><span  th:text="#{label.numero_dipendenti_title}">Numero dipendenti dedicati alla
									formazione</span><span class="required">*</span></label> 
							</div>
							<!-- tempo indeterminato -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato')} ? 'bad'">
								<label th:text="#{label.tempo_indeterminato}"
										class="control-label col-md-4 col-sm-4 col-xs-12"
										for="tempo_indeterminato">Tempo indeterminato</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12"
										id="tempo_indeterminato">
										<input id="tempo_indeterminato_value" th:field="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}" 
											required="required"	class="form-control col-md-7 col-xs-12" type="text"
											pattern="numeric" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="tempo_indeterminato_value" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"></div>
							</div>
							<!-- altro personale -->
							<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro')} ? 'bad'">
								<label th:text="#{label.altro_personale}"
									class="control-label col-md-4 col-sm-4 col-xs-12"
									for="altro_personale">Altro personale</label>
								<th:block th:if="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12" id="altro_personale">
										<input id="altro_personale_value" th:field="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}" 
											required="required"	class="form-control col-md-7 col-xs-12" type="text"
											pattern="numeric" />
									</div>
								</th:block>
								<th:block th:unless="${#lists.contains(datiAccreditamentoWrapper.idEditabili, counter)}">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<label id="altro_personale_value" class="form-control form-disabled-text left-align col-md-7 col-xs-12"
											 th:text="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"></label>
									</div>
								</th:block>
								<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"></div>
							</div>
							
							<!-- allegato 3 (organigramma) -->
							<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, organigramma, ${++counter}, null)" ></th:block>
							
							<!-- allegato 4 (funzionigramma) -->
							<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, funzionigramma, ${++counter}, null)" ></th:block>
						</form>
					</div>
				</div>
			</div>
			<script>
				//cambia la stringa per i pulsanti e il contatore
				$(document).ready(function() {
					$('select').selectpicker({
						selectAllText : 'Seleziona tutti',
						deselectAllText : 'Deseleziona tutti',
						countSelectedText : '{0} selezionate'						
					});
					
					if($("#professioni")[0]) {
						abilitaDiscipline($("#professioni")[0]);
					}
			
					if($('#generaleProf').is(':checked')) {
						$('button[data-id="professioni"]').prop('disabled', true);
						$('button[data-id="discipline"]').prop('disabled', true);
					}		
				});
				
				function abilitaDiscipline(professioni) {
					//flag per capire se c'è almeno una professione
					var almenoUna = false;
					$.each(professioni.options, function(index, item) {
						//toglie la parte relativa al codice della professione
						prof = item.text;
						//abilita/disabilita tutte le discipline delle professioni selezionate/deselezionate
						if (item.selected) {
							$('optgroup[label="' + prof + '"]').prop(
									'disabled', false);
							almenoUna = true;
						} else {
							$('optgroup[label="' + prof + '"]').prop(
									'disabled', true);
						}
					});
					//decide se disabilitare/abilitare tutta la select
					if (almenoUna) {
						$('#discipline').prop('disabled', false);
					} else {
						$('#discipline').prop('disabled', true);
					}
					//refresh della view
					$('#discipline').selectpicker('refresh');
				}
				
				//gestione generale/settoriale delle procedure formative 
				$('#generaleTipologia').on('ifChecked', function(event){
					$('input[name="datiAccreditamento.procedureFormative"]').iCheck("disable");
					$('input[name="datiAccreditamento.procedureFormative"]').iCheck("check");
					$('input[type="hidden"][name="datiAccreditamento.procedureFormative"]').prop('disabled', false);
					
				});
				
				$('#settorialeTipologia').on('ifChecked', function(event){
					$('input[name="datiAccreditamento.procedureFormative"]').iCheck("enable");
					$('input[type="hidden"][name="datiAccreditamento.procedureFormative"]').prop('disabled', true);
				});
				
				//gestione generale/settoriale delle professioni
				$('#generaleProf').on('ifChecked', function(event){
					$('.selectpicker').selectpicker('selectAll');
					$('button[data-id="professioni"]').prop('disabled', true);
					$('button[data-id="discipline"]').prop('disabled', true);
				});
				
				$('#settorialeProf').on('ifChecked', function(event){
					$('.selectpicker').selectpicker('deselectAll');
					$('button[data-id="professioni"]').prop('disabled', false);
					$('button[data-id="discipline"]').prop('disabled', false);
				});
			</script>
		</div>
	</div>
</body>
</html>
