<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- fragment interno dei datiAccreditamento, la parte di paginazione è gestita dai file datiAccreditamentoShow e datiAccreditamentoEdit -->
	<!-- parametri del fragment: boolean passato come parametro e prende datiAccreditamentoWrapper dal module del chiamante -->
	<th:block th:fragment="datiAccreditamento(editabile)">

		<!-- ogni parte non in comune tra le due sarà gestito in maniera appropriata -->
			<div class="x_content">
				<!-- rimove il tag form se il datiAccreditamento NON è editabile -->
				<div class="form-horizontal form-label-left" th:remove="${!editabile} ? none : tag">
					<form th:remove="${editabile} ? none : tag"
						id="formDatiAccreditamento" class="form-horizontal form-label-left"
						th:action="@{|/accreditamento/${accreditamentoId}/dati/save|}"
						method="post" enctype="multipart/form-data"
						novalidate="novalidate">

						<!-- gli input hidden non sono necessari se NON editabile -->
						<th:block th:if="${editabile}">
							<input type="hidden" name="editId" th:value="${datiAccreditamentoWrapper.datiAccreditamento.id}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.accreditamentoId}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.provider.id}" />
							<input type="hidden" th:field="${datiAccreditamentoWrapper.idEditabili}" />
						</th:block>

						<!-- TIPOLOGIA ACCREDITAMENTO -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento')} ? 'bad'">
							<label class="control-label col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.tipologiaAccreditamento') : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="accreditamento_tipologia">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.tipologiaAccreditamento}">Accreditamento per tipologia</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="accreditamento_tipologia">
									<div class="radio">
										<label th:class="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.tipologiaAccreditamento')) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" id="generaleTipologia"
												name="tipologiaAccr" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.tipologiaAccreditamento'))}"
												th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Generale" />
											<span th:text="#{label.generale}">Generale </span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.tipologiaAccreditamento')) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" id="settorialeTipologia"
												name="tipologiaAccr" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.tipologiaAccreditamento'))}"
												th:field="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" th:value="Settoriale" />
											<span th:text="#{label.settoriale}">Settoriale </span>
										</label>
									</div>
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="accreditamento_tipologia">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}" ></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento}"></div>
						</div>

						<div class="divider-dashed"></div>

						<!-- PROCEDURE FORMATIVE -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.procedureFormative')} ? 'bad'">
							<label class="control-label col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.procedureFormative') : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="procedure_formative_checkbox">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.procedure_formative}">Procedure formative</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="procedure_formative_checkbox">
									<div class="checkbox" th:each="proceduraFormativa, row : ${proceduraFormativaList}">
										<label th:class="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Generale'  or
																(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null) or
																!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.procedureFormative')) ? 'label-disabled' : ''}">
											<input type="checkbox" class="flat" th:field="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}" th:value="${proceduraFormativa}"
												th:disabled="${datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Generale'  or
																(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null) or
																!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.procedureFormative'))}" />
											<span th:text="${proceduraFormativa.nome}">formazione residenziale (RES)</span>
											<input type="hidden" name="datiAccreditamento.procedureFormative" th:value="${proceduraFormativa}"
												th:disabled="${(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == 'Settoriale') or
																(datiAccreditamentoWrapper.datiAccreditamento.tipologiaAccreditamento == null) or
																!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.procedureFormative'))}"/>
										</label>
									</div>
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="procedure_formative_checkbox">
									<div th:each="proceduraFormativa, row : ${proceduraFormativaList}">
										<div class="value" th:if="${#lists.contains(datiAccreditamentoWrapper.datiAccreditamento.procedureFormative, proceduraFormativa)}" th:text="${proceduraFormativa.nome}"></div>
									</div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.procedureFormative')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.procedureFormative}"></div>
						</div>

						<div class="divider-dashed"></div>

						<!-- PROFESSIONI ACCREDITAMENTO -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento')} ? 'bad'">
							<label class="control-label col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.professioniAccreditamento') : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="accreditamento_professioni">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.professioniAccreditamento}">Accreditamento per professioni</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="accreditamento_professioni">
									<div class="radio">
										<label th:class="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.professioniAccreditamento')) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" id="generaleProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}"
												th:value="Generale" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.professioniAccreditamento'))}" />
											<span th:text="#{label.generale}">Generale </span>
										</label>
									</div>
									<div class="radio">
										<label th:class="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.professioniAccreditamento')) ? 'label-disabled' : ''}">
											<input type="radio" class="flat" id="settorialeProf"
												name="professioneAccr" th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}"
												th:value="Settoriale" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.professioniAccreditamento'))}" />
											<span th:text="#{label.settoriale}">Settoriale </span>
										</label>
									</div>
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="accreditamento_professioni">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.professioniAccreditamento}"></div>
						</div>

						<div class="divider-dashed"></div>


						<!-- PROFESSIONI/DISCIPLINE -->
						<div class="item form-group">
							<label class="control-label col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.discipline') : ''}"></label>
							<label class="control-label col-md-3 col-sm-3 col-xs-11" for="accreditamento_professioni">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.professioni_discipline}">Professioni</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="accreditamento_professioni">
									<div class="col-xs-12 select-with-margin-container">
										<select id="professioni" class="selectpicker required"
											multiple="multiple" data-width="100%"
											data-style="btn-primary" data-actions-box="true"
											data-size="10" title="Seleziona una professione..."
											onchange="abilitaDiscipline(this)" data-selected-text-format="count"
											th:remove="all-but-first"
											th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.discipline'))}">
											<option th:each="professione, row: ${professioneList}"
												th:value="${professione.id}" th:text="${professione.nome}"
												th:field="${datiAccreditamentoWrapper.datiAccreditamento.professioniSelezionate}">Professione selezionata</option>
										</select>
									</div>
									<select id="discipline" class="selectpicker required" th:field="${datiAccreditamentoWrapper.datiAccreditamento.discipline}"
										multiple="multiple" data-width="100%"
										data-style="btn-success" data-actions-box="true"
										data-size="10" data-hide-disabled="true" th:attr="data-editabile=${#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.discipline'))}"
										title="Seleziona una disciplina..." disabled="disabled"
										th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.discipline'))}"
										data-selected-text-format="count"
										th:remove="all-but-first">
										<optgroup class="optgroup-success" disabled="disabled"
											th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.discipline'))}"
											th:each="professione, row: ${professioneList}"
											th:label="${professione.nome}"
											th:remove="all-but-first">
											<option th:each="disciplina, row: ${disciplinaList}"
											th:if="${disciplina.professione == professione}"
											th:value="${disciplina.id}" th:text="${disciplina.nome}">Disciplina selezionata</option>
										</optgroup>
									</select>
								</div>
							</th:block>
							<th:block th:if="${!editabile}">
								<div class="row" style="clear:both; padding:2px;"></div>
								<div class="row" style="clear:both">
									<div class="col-md-3 col-sm-3 col-xs-12"></div>
									<div class="col-md-6 col-sm-6 col-xs-12" id="accreditamento_professioni">
										<table class="professioni-discipline table table-striped table-bordered dt-responsive nowrap datatable-responsive-discipline"
											cellspacing="0" width="100%">
											<thead>
												<tr>
													<th th:text="#{label.professione}">Professione</th>
													<th th:text="#{label.disciplina}">Disciplina</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="disciplina, row: ${datiAccreditamentoWrapper.datiAccreditamento.discipline}">
													<td th:text="${disciplina.professione.nome}"></td>
													<td th:text="${disciplina.nome}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</th:block>
						</div>

						<div class="divider-dashed"></div>

						<!-- FATTURATO COMPLESSIVO -->
						<div class="item">
							<label class="col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.datiEconomici.fatturatoComplessivo') : ''}"></label>
							<label class="col-xs-11">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.fatturato_complessivo_title}">Fatturato o Costi complessivi degli
								ultimi 3 anni</span>
							</label>
						</div>
						<!-- ANNO 1 -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno1_value">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoUno}">2016</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input
										th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}" required="required"
										class="form-control col-md-7 col-xs-12" type="text" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.datiEconomici.fatturatoComplessivo'))}"
										pattern="^\d+\.\d$" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="costi_complessivi_anno1_value">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreUno}"></div>
						</div>
						<!-- ANNO 2 -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno2_value">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoDue}">2015</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="costi_complessivi_anno2_value"
										th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}" required="required"
										class="form-control col-md-7 col-xs-12" type="text"
										pattern="^\d+\.\d$" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.datiEconomici.fatturatoComplessivo'))}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreDue}"></div>
						</div>
						<!-- ANNO 3 -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_complessivi_anno3_value">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoAnnoTre}">2014</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="costi_complessivi_anno3_value"
										th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}" required="required"
										class="form-control col-md-7 col-xs-12" type="text"
										pattern="^\d+\.\d$" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.datiEconomici.fatturatoComplessivo'))}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoComplessivoValoreTre}"></div>
						</div>

						<div class="divider-dashed"></div>

						<!-- ALLEGATO 1 (ESTRATTO DEL BILANCIO COMPLESSIVO) -->
						<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, estrattoBilancioComplessivo, ${editabile ? 'datiAccreditamento.file.estrattoBilancioComplessivo' : null}, null, #{label.required_fatturato}, true, ${editabile}, false)" ></th:block>

						<div class="divider-dashed"></div>

						<!-- FATTURATO FORMAZIONE -->
						<div class="item">
							<label class="col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.datiEconomici.fatturatoFormazione') : ''}"></label>
							<label class="col-xs-11">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.fatturato_formazione_title}">Fatturato o Costi dedicati alla formazione del personale
								sanitario degli ultimi 3 anni (in migliaia di euro)</span>
							</label>
						</div>
						<!-- ANNO 1 -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno1_value">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoUno}">2016</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="costi_formazione_anno1_value"
										th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}" required="required"
										class="form-control col-md-7 col-xs-12" type="text"
										pattern="^\d+\.\d$" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.datiEconomici.fatturatoFormazione'))}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreUno}"></div>
						</div>
						<!-- ANNO 2 -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno2_value">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoDue}">2015</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="costi_formazione_anno2_value"
										th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}" required="required"
										class="form-control col-md-7 col-xs-12" type="text"
										pattern="^\d+\.\d$" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.datiEconomici.fatturatoFormazione'))}"/>
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreDue}"></div>
						</div>
						<!-- ANNO 3 -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="costi_formazione_anno3_value">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneAnnoTre}">2014</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<input id="costi_formazione_anno3_value"
										th:field="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}" required="required"
										class="form-control col-md-7 col-xs-12" type="text"
										pattern="^\d+\.\d$" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.datiEconomici.fatturatoFormazione'))}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.datiEconomici.fatturatoFormazioneValoreTre}"></div>
						</div>

						<div class="divider-dashed"></div>

						<!-- ALLEGATO 2 (ETRATTO BILANCIO RELATIVO FORMAZIONE + BUDGET PREVISIONALE) -->
						<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, estrattoBilancioFormazione, ${editabile ? 'datiAccreditamento.file.estrattoBilancioFormazione' : null}, null, null, true, ${editabile}, true)" ></th:block>

						<div class="divider-dashed"></div>

						<!-- NUMERO DIPENDENTI -->
						<div class="item">
							<label class="col-xs-1 text-right" th:text="${editabile ? T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdEcm('datiAccreditamento.numeroDipendenti') : ''}"></label>
							<label th:class="${editabile ? '' : 'label-show'}" class="col-xs-11">
								<span  th:text="#{label.numero_dipendenti_title}">Numero dipendenti dedicati alla formazione</span>
								<span th:if="${editabile}" class="required">*</span>
							</label>
						</div>
						<!-- TEMPO INDETERMINATO -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="tempo_indeterminato">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.tempo_indeterminato}">Tempo indeterminato</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="tempo_indeterminato">
									<input id="tempo_indeterminato_value" th:field="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"
										required="required"	class="form-control col-md-7 col-xs-12" type="text"
										pattern="numeric" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.numeroDipendenti'))}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneTempoIndeterminato}"></div>
						</div>
						<!-- ALTRO PERSONALE -->
						<div class="item form-group" th:classappend="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro')} ? 'bad'">
							<label class="control-label col-md-4 col-sm-4 col-xs-12" for="altro_personale">
								<span th:class="${editabile ? '' : 'label-show'}" th:text="#{label.altro_personale}">Altro personale</span>
							</label>
							<th:block th:with="counter=${counter}" th:if="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12" id="altro_personale">
									<input id="altro_personale_value" th:field="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"
										required="required"	class="form-control col-md-7 col-xs-12" type="text"
										pattern="numeric" th:disabled="${!#lists.contains(datiAccreditamentoWrapper.idEditabili, T(it.tredi.ecm.dao.enumlist.IdFieldEnum).getIdField('datiAccreditamento.numeroDipendenti'))}" />
								</div>
							</th:block>
							<th:block th:unless="${editabile}">
								<div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
									<div class="value" th:text="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"></div>
								</div>
							</th:block>
							<div th:if="${#fields.hasErrors('datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro')}" class="alert" th:errors="${datiAccreditamentoWrapper.datiAccreditamento.numeroDipendentiFormazioneAltro}"></div>
						</div>

						<div class="divider-dashed"></div>

						<!-- ALLEGATO 3 (ORGANIGRAMMA) -->
						<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, organigramma,  ${editabile ? 'datiAccreditamento.file.organigramma' : null}, null, null, true, ${editabile}, true)" ></th:block>

						<!-- ALLEGATO 4 (FUNZIONIGRAMMA) -->
						<th:block th:include="fragments/allegati :: allegati(datiAccreditamentoWrapper, true, funzionigramma,  ${editabile ? 'datiAccreditamento.file.funzionigramma' : null}, null, null, true, ${editabile}, true)" ></th:block>
					</form>
				</div>
			</div>
	</th:block>
</body>
</html>

