<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="fragments/template">
<head lang="it">
</head>
<body>
	<!-- coincide settato a false perchè non importante -->
	<div layout:fragment="content" th:with="coincide=false">
		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:text="#{label.visualizzazione_withParam(${visualizzazione})}">label.info_sede</h2>
						<div class="pull-right buttons-header">
							<a th:if="${returnLink}" class="btn btn-primary pull-right"
									th:href="@{__${returnLink}__}"
									th:text="#{label.indietro}">Indietro</a>

							<a th:unless="${returnLink}" class="btn btn-primary pull-right"
									href="javascript: history.back()"
									th:text="#{label.indietro}">Indietro</a>

							<th:block th:switch="${auditArg}">
								<th:block th:case="provider">
									<button type="button" onclick="createFilter('Inserimento Relazione Annuale', [3], false);" class="btn btn-primary pull-right" th:text="#{label.filtra_relazione_annuale}"></button>
									<button type="button" onclick="createFilter('Scadenza Inserimento Piano Formativo', [3], false);" class="btn btn-primary pull-right" th:text="#{label.filtra_piano_formativo}"></button>
									<button type="button" onclick="ripristinaTable()" class="btn btn-success pull-right" th:text="#{label.ripristina_tabella}"></button>
								</th:block>
								<th:block th:case="evento">
									<button type="button" onclick="createFilter('File', [4,5], false);" class="btn btn-primary pull-right" th:text="#{label.filtra_audit_allegati}"></button>
									<button type="button" onclick="createFilter('Stato', [3], true);" class="btn btn-primary pull-right" th:text="#{label.filtra_audit_stato_evento}"></button>
									<button type="button" onclick="createFilter('Pagamento', [3], false);" class="btn btn-primary pull-right" th:text="#{label.filtra_audit_pagamento}"></button>
									<button type="button" onclick="createFilter('Data scadenza rendicontazione', [3], true);" class="btn btn-primary pull-right" th:text="#{label.filtra_audit_rendicontazione}"></button>
									<button type="button" onclick="ripristinaTable()" class="btn btn-success pull-right" th:text="#{label.ripristina_tabella}"></button>
								</th:block>
								<th:block th:case="accreditamento">

								</th:block>
							</th:block>

						</div>
						<div class="clearfix"></div>
					</div>

					<div id="toModal">
						<th:block th:include="audit/auditFragment :: audit('show')"></th:block>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>